body        { margin-left       : 1.5cm;
              margin-right      : 3cm;
              margin-top        : 1cm;
              margin-bottom     : 2cm; 
              background-color  : white; }

p, ol       { margin-left       : 0px;
              margin-right      : 0px;
              margin-top        : 0px;
              margin-bottom     : 8px; 
              text-align        : justify;            
              text-indent       : 1cm;
              font-family       : 'Times New Roman'; 
              font-size         : 11pt;
              line-height       : 1.2em;}

ol          { text-align        : left;
              text-indent       : 0cm; 
              font-size         : 11pt; }
p.anmerkung { font-size         : 8pt; }

p.lit        { font-size        : 10pt;
               line-height      : 1.2em; 
               text-indent      : 0cm;
             }

sup         { font              : normal 8pt 'Times New Roman'; }
sup.small   { font              : normal 5pt 'Times New Roman'; }

h1,h2,h3,h4 { font-family       : 'Times New Roman'; 
              font-weight       : bold; }

h1          { font-size         : 18pt; }

h2          { font-size         : 16pt; }

h3          { font-size         : 14pt; }

h4          { font-size         : 12pt; }

blockquote  { font-family       : 'Times New Roman'; 
              font-size         : 10pt;
              line-height       : 0.9em; }  

td          { font-family       : 'Times New Roman';  
              font-size         : 11pt;
              line-height       : 1.2em;}  

td.number { font-size           : 12px;
             font-family        : Verdana, Sans-Serif;
             text-align         : right;
             line-height        : 21px;
             vertical-align     : bottom; }    

s           { letter-spacing    : 0.3em; 
              text-decoration   : none; }     

span.s      { text-decoration   : line-through; }
a:link,
a:active,
a:visited     { text-decoration : none}

ul        { font-size      : 10pt;
            line-height    : 1.1em;
            font-family    : 'Times New Roman'; }
.kap_link { font-size      : 81%; }

div#insidenav {
            border         : 0;
            height         : auto;
            width          : 100%;
            margin         : 2em 0 3em 0;
            padding        : 0 1me 1em 1em;
}
div#insidenav p {
	         display        : none;
	         margin         : 1em 0 0 0;
	         padding        : 0;
	         text-indent    : 0;
	         text-align     : left;
}
div#insidenav ul {
	         display        : none;
	         margin-top     : 2em;
	         margin-left    : -30px;
            margin-bottom  : 0;
}
ul.quer li {
            display        : inline;
            list-style-type: none;
            margin         : 2px 0px 2px 0px;
            padding        : 0px 0px 0px 0px;
}
ul.quer li a {
	         background-color: transparent;
            border          : solid 1px transparent;
            padding         : 2px 5px 2px 5px;
            margin          : 0px 0px 0px 0px;
}
ul.quer li:first-child a {
            padding         : 2px 5px 2px 5px;
            margin          : 0px 0px 0px -5px;
}
ul.quer li a:hover {
	         background-color: #efefaa;
            border         : solid 1px #888;
            box-shadow     : 2px 2px 4px #404040;
}
span.wechsel {
	         display        : block;
            margin         : 1em 0 0.5em 0;
            width          : 100px;
            height         : 20px;
            min-height     : 20px;
}
span.wechsel a.text {
            font-size      : 13px;
            font-weight    : bold;
            width          : 100px !important;
            text-decoration: none;
            padding        : 0 0 2px 0;
            border         : 0;
}
span.wechsel a.zurueck {
	         display        : none;
            font-size      : 13px;
            font-weight    : normal;
            width          : 15px;
            text-decoration: none;
            padding        : 0 0 2px 0;
            border         : 0;
            text-align     : left;
}
