body        { margin-left       : 180px;
              margin-right      : 180px;
              margin-top        : 20px;
              margin-bottom     : 20px;
              background-color  : #ffffbb; }

p, ol       { margin-left       : 0px;
              margin-right      : 0px;
              margin-top        : 0px;
              margin-bottom     : 8px; 
              text-indent       : 1cm; 
              text-align        : justify;
              font-family       : Verdana, Sans-Serif;
              font-size         : 16px;
              line-height       : 1.3em;}
ol          { text-align        : left;
              text-indent       : 0cm; }

p.anmerkung { font-size         : 10px; }

p.lit       { font-size         : 12px;
              text-indent       : 0cm; 
            }
sup         { font              : normal 11px Verdana, Sans-Serif; }
sup.small   { font              : normal 9px Verdana, Sans-Serif; }

h1,h2,h3,h4 { font-family       : Verdana, Sans-Serif;  
              font-weight       : bold; }
h1          { font-size         : 16px; }

h2          { font-size         : 14px; }

h3          { font-size         : 12px; }

h4          { font-size         : 10px; }

blockquote  { font-family       : Verdana, Sans-Serif;
              font-size         : 13px; 
              line-height       : 1.1em;}

td          { font-family       : Verdana, Sans-Serif; 
              font-size         : 16px;
              line-height       : 1.3em;}

td.number { font-size           : 12px;
             font-family        : Verdana, Sans-Serif;
             text-align         : right;
             line-height        : 21px;
             vertical-align     : bottom; }      

s           { letter-spacing    : 0.3em; 
              text-decoration   : none;
            }
span.s      { text-decoration   : line-through; }

a:link,
a:active,
a:visited   { text-decoration: none}

ul        { font-size      : 12px;
            line-height    : 1.4em; 
            font-family    : Verdana, Sans-Serif; }
.kap_link { font-size      : 81% }

div#insidenav {
            border         : 0;
            height         : auto;
            width          : 100%;
            margin         : 2em 0 3em 0;
            padding        : 0 1me 1em 1em;
}
div#insidenav p {
	         margin         : 1em 0 0 0;
	         padding        : 0;
	         text-indent    : 0;
	         text-align     : left;
}
div#insidenav ul {
	         margin-top     : 0.5em;
	         margin-left    : -30px;
            margin-bottom  : 0;
}
ul.quer li {
            display        : inline;
            list-style-type: none;
            margin         : 2px 0px 2px 0px;
            padding        : 0px 0px 0px 0px;
}
ul.quer li a {
	         background-color: transparent;
            border          : solid 1px transparent;
            padding         : 2px 5px 2px 5px;
            margin          : 0px 0px 0px 0px;
}
ul.quer li:first-child a {
            padding         : 2px 5px 2px 5px;
            margin          : 0px 0px 0px -5px;
}
ul.quer li a:hover {
	         background-color: #efefaa;
            border         : solid 1px #888;
            box-shadow     : 2px 2px 4px #404040;
}

span.wechsel {
	         display        : block;
            margin         : 1em 0 0.5em 0;
            width          : 100px;
            height         : 20px;
            min-height     : 20px;
}
span.wechsel a.text {
            font-size      : 13px;
            font-weight    : bold;
            width          : 100px !important;
            text-decoration: none;
            padding        : 0 0 2px 0;
            border         : 0;
}
span.wechsel a.zurueck {
            font-size      : 13px;
            font-weight    : normal;
            width          : 15px;
            text-decoration: none;
            padding        : 0 0 2px 0;
            border         : 0;
            text-align     : left;
}
