@charset "UTF-8";
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

.row, .row__colspaced {
  *zoom: 1;
}
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

body {
  margin: 0px;
  padding-bottom: 36px;
}
.lt-ie9 body {
  margin: 18px;
}
@media screen and (min-width: 600px) {
  body {
    margin: 18px;
  }
}

h1 {
  margin-bottom: 0.55em;
  margin-top: 0.275em;
  line-height: 1em;
}

.general-title {
  color: #c64f24;
}

h2 {
  margin-bottom: 0.275em;
  margin-top: 0.275em;
}

h3 {
  margin-bottom: 0.275em;
  margin-top: 0.275em;
}

h4 {
  margin-bottom: 0.275em;
  margin-top: 0.275em;
}

h5 {
  margin-bottom: 0.275em;
  margin-top: 0.275em;
}

small {
  font-size: 12px;
}

figcaption {
  font-family: monospace;
  padding: 4px;
  outline: 1px dotted grey;
  line-height: 18px;
  margin-top: 0.275em;
  margin-bottom: 0.275em;
}
figcaption span {
  color: black;
}

sup {
  vertical-align: super;
}
sup a {
  font-family: monospace;
  font-size: 10px;
  color: red;
}

.lt-ie9 .page-container {
  margin-top: 36px;
  width: 60%;
  margin-left: 20%;
}

@media screen and (min-width: 600px) {
  .page-container {
    margin-top: 36px;
    width: 60%;
    margin-left: 20%;
  }
}
/* ::Base styles */
/* ------------------------------------------------------------ */
html {
  font-size: 100%;
  font-family: 'hk_groteskregular';
}

@media screen and (max-width: 767px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
}
body {
  background: #fff;
  color: #777;
}

a {
  color: #c64f24;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #67b2b1;
}

ol#post-list h2 {
  font-family: 'hk_groteskbold';
  font-size: 42px;
}
ol#post-list li blockquote {
  border-left: 2px solid lightgrey;
}
ol#post-list li div.entry-content-home h1, ol#post-list li div.entry-content-home h2, ol#post-list li div.entry-content-home h3, ol#post-list li div.entry-content-home h4, ol#post-list li div.entry-content-home h5 {
  font-size: 15px;
  font-family: "hk_groteskbold";
}

footer#contentinfo {
  width: 100%;
  float: left;
  border-top: 1px solid black;
  margin-top: 5.5em;
  padding-top: 1.1em;
  font-family: monospace;
  background-color: white;
}

ol#post-list li.iter-article {
  margin-top: 18px;
  margin-bottom: 18px;
}

img.home_hero {
  width: 60%;
  margin-left: 20%;
}

div.entry-content-home {
  max-height: 100px;
  min-height: 100px;
  overflow: hidden;
}

div.entry-content-home h1, div.entry-content-home h2, div.entry-content-home h3, div.entry-content-home h4, div.entry-content-home h5, div.entry-content-home h6, div.entry-content-home p, div.entry-content-home li, div.entry-content-home blockquote {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-family: 'hk_groteskregular';
  color: lightgrey;
}

div.entry-content-home a {
  color: grey;
}

header#banner.body h1 {
  margin-bottom: 0;
}

a.more-category-link {
  font-family: 'hk_groteskregular';
}

div.homepage-lisiting {
  max-height: 800px;
  overflow: hidden;
  margin-bottom: 30px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #ffffff);
}
div.homepage-lisiting a {
  color: grey;
}
div.homepage-lisiting a:hover {
  color: #c64f24;
}
div.homepage-lisiting ul {
  list-style-type: square;
}
div.homepage-lisiting li.homepage-li {
  margin-bottom: 15px;
}
div.homepage-lisiting li.homepage-li div.hp-article-summary {
  font-family: 'hk_groteskregular';
}
div.homepage-lisiting li.homepage-li div.hp-article-summary h1, div.homepage-lisiting li.homepage-li div.hp-article-summary h2, div.homepage-lisiting li.homepage-li div.hp-article-summary h3, div.homepage-lisiting li.homepage-li div.hp-article-summary h4, div.homepage-lisiting li.homepage-li div.hp-article-summary h5, div.homepage-lisiting li.homepage-li div.hp-article-summary h6 {
  font-size: 15px;
  margin: none;
  padding: none;
  line-height: 15px;
}
div.homepage-lisiting date {
  font-family: 'hk_groteskregular';
}
div.homepage-lisiting h2.category-title {
  color: #c64f24;
  font-size: 48px;
  word-break: break-all;
  font-family: 'hk_groteskbold';
  position: sticky;
  top: 15px;
  background-color: white;
}
.lt-ie9 div.homepage-lisiting h2.category-title {
  min-height: 120px;
}
@media screen and (min-width: 600px) {
  div.homepage-lisiting h2.category-title {
    min-height: 120px;
  }
}
div.homepage-lisiting h3.article-title {
  color: #c64f24;
  font-size: 36px;
  font-family: 'hk_groteskbold';
  line-height: 40px;
}
div.homepage-lisiting div.side-info {
  position: sticky;
  top: 15px;
}

nav {
  font-family: 'hk_groteskregular', sans-serif, sans-serif;
}
nav a {
  color: black;
}
nav a.menu-category {
  text-transform: lowercase;
  color: #c64f24;
}
nav a.menu-page {
  text-transform: lowercase;
  color: black;
}
nav li.active a {
  border-bottom: 1px solid grey;
}

header#banner.body h1 a {
  color: black;
}

nav#menu {
  width: 100%;
  margin-bottom: 18px;
  margin-top: 15px;
  display: block;
  float: left;
}

nav#menu ul li {
  display: inline;
  padding-right: 18px;
}

.lt-ie9 nav#menu {
  float: left;
}

@media screen and (min-width: 600px) {
  nav#menu {
    float: left;
  }
}
section#content, div.entry-content {
  font-family: 'hk_groteskregular', sans-serif, sans-serif;
}
section#content p, div.entry-content p {
  padding-bottom: 1.65em;
}
section#content img, div.entry-content img {
  border: 1px solid grey;
  padding: 4px;
  width: 100%;
  margin-top: 0.275em;
  margin-bottom: 0.275em;
}
.lt-ie9 section#content img, .lt-ie9 div.entry-content img {
  width: 140%;
}
@media screen and (min-width: 600px) {
  section#content img, div.entry-content img {
    width: 140%;
  }
}
section#content blockquote p, div.entry-content blockquote p {
  padding-bottom: 0em;
  font-family: 'hk_groteskitalic';
  border-left: 1px solid black;
  padding-left: 15px;
  margin-top: 0.275em;
  margin-bottom: 1.1em;
}
section#content ul, div.entry-content ul {
  margin-left: 15px;
  margin-top: 0.825em;
  margin-bottom: 0.825em;
}
section#content li ul, div.entry-content li ul {
  margin-left: 15px;
  margin-top: 0em;
}

footer.post-info pre.sourcelink {
  font-family: monospace;
  margin-top: 0.55em;
}

p code {
  display: block;
  padding: 7px;
  background: lightgrey;
  font-family: monospace;
}

.lt-ie9 div.data-info {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 15px;
}
@media screen and (min-width: 900px) {
  div.data-info {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 15px;
  }
}

div.separation-rule {
  border-top: 1px solid grey;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
}
.lt-ie9 div.separation-rule .not-mobile {
  display: none;
}
@media screen and (min-width: 300px) {
  div.separation-rule .not-mobile {
    display: none;
  }
}
.lt-ie9 div.separation-rule .not-mobile {
  display: block;
}
@media screen and (min-width: 600px) {
  div.separation-rule .not-mobile {
    display: block;
  }
}

div.toc {
  margin-top: -2.2em;
}

ol.simple-footnotes {
  font-family: monospace;
  border-top: 1px dotted grey;
  padding-top: 15px;
  padding-bottom: 15px;
}

ol.simple-footnotes::before {
  content: "footnotes:";
  font-weight: bold;
}

section#content.prototype img {
  width: 100%;
}
section#content.prototype hr {
  width: 100%;
  float: left;
}
section#content.prototype h1, section#content.prototype h2, section#content.prototype h3, section#content.prototype h4, section#content.prototype h5 {
  width: 100%;
  float: left;
}
section#content.prototype figcaption {
  width: 50%;
  margin: 0 auto;
}
section#content.prototype div.expo1 {
  width: 50%;
  margin: 0 auto;
}
section#content.prototype div.expo1 .speaker {
  background-color: green;
}
section#content.prototype div.expo1 .reader {
  background-color: blue;
}
section#content.prototype div.expo1 li {
  display: none;
}
section#content.prototype .expo2 p {
  color: white;
}
section#content.prototype .expo3 p {
  color: white;
  visibility: none;
}
section#content.prototype .expo3 span {
  text-align: right;
  display: block;
  width: auto;
}
section#content.prototype .expo3 .subject {
  color: grey;
}
section#content.prototype .expo4 p {
  color: grey;
}
section#content.prototype .expo4 span {
  display: block;
  visibility: hidden;
}
section#content.prototype .expo4 .speaker {
  background-color: white;
}
section#content.prototype .expo4 .reader {
  background-color: white;
}
section#content.prototype .half-left {
  width: 15% !important;
  margin-left: 35% !important;
  float: left;
}
section#content.prototype .half-right {
  width: 15% !important;
  float: left;
}
section#content.prototype .quarter-left {
  width: 15% !important;
  margin-left: 15% !important;
  float: left;
  font-size: 10px;
}
section#content.prototype .quarter-right {
  width: 15% !important;
  float: left;
  margin-right: 1%;
  font-size: 10px;
}
section#content.prototype .dialog span {
  display: block;
}
section#content.prototype .dialog-left p {
  color: white;
}
section#content.prototype .dialog-left span.speaker {
  background-color: green;
  text-align: right;
}
section#content.prototype .dialog-center span {
  visibility: hidden;
}
section#content.prototype .dialog-right p {
  color: white;
}
section#content.prototype .dialog-right span.reader {
  background-color: blue;
}
section#content.prototype .side-by-side {
  font-size: 8px;
}

h3.animate {
  width: 46em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 15s steps(50, end);
  animation: type 15s steps(50, end);
  margin-bottom: none;
}

.animate-second {
  animation-delay: 16s;
}

.animate-third {
  animation-delay: 32s;
}

.animate-fourth {
  animation-delay: 47s;
}

@keyframes type {
  from {
    width: 0;
  }
}
@-webkit-keyframes type {
  from {
    width: 0;
  }
}
div.conversation-layout {
  outline: 1px dotted grey;
  float: left;
}
div.conversation-layout p.context {
  width: 100%;
  color: lightgrey;
}
div.conversation-layout p.speaker {
  text-align: left;
  margin-left: -15%;
  color: black;
}
div.conversation-layout p.speaker::before {
  content: "— ";
}
div.conversation-layout p.reader {
  text-align: right;
  margin-right: -15%;
  color: black;
}
div.conversation-layout p.reader::before {
  content: "— ";
}
div.conversation-layout p.binding-action {
  font-weight: bold;
  color: #c64f24;
}

em.note {
  font-family: monospace;
  color: green;
  font-size: 12px;
  line-height: 10px;
}

em.note::before {
  content: "—note: ";
}

div.thesis-longform p {
  width: 50%;
}
@media print {
  div.thesis-longform {
    margin-top: 800px;
  }
  div.thesis-longform p {
    width: 100%;
    orphans: 6;
    widows: 2;
  }
}

/* ::Import styles */
/* ------------------------------------------------------------ */
@font-face {
  font-family: 'hk_groteskbold';
  src: url("../fonts/hkgrotesk-bold-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_groteskbold_italic';
  src: url("../fonts/hkgrotesk-bolditalic-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_groteskitalic';
  src: url("../fonts/hkgrotesk-italic-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_grotesklight';
  src: url("../fonts/hkgrotesk-light-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_grotesklight_italic';
  src: url("../fonts/hkgrotesk-lightitalic-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_groteskmedium';
  src: url("../fonts/hkgrotesk-medium-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_groteskmedium_italic';
  src: url("../fonts/hkgrotesk-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_groteskregular';
  src: url("../fonts/hkgrotesk-regular-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.font-body, body, body {
  font-family: 'hk_groteskregular', sans-serif, sans-serif;
}

.font-var {
  font-family: Georgia, serif;
}

p, span, cite, ol, ul, pre, label, input, textarea {
  font-size: 16px;
  line-height: 1.4666667em;
}

li {
  line-height: inherit;
}

strong, b {
  font-weight: 700;
}

em, i, q {
  font-style: italic;
}

p em {
  font-style: normal;
  font-family: 'hk_groteskitalic';
}

h1 {
  font-size: 42px;
  font-family: "hk_groteskbold";
}

h2 {
  font-size: 32px;
  font-family: "hk_groteskmedium";
  line-height: 36px;
}

h3 {
  font-size: 24px;
  font-family: "hk_groteskmedium";
}

h4 {
  font-size: 20px;
  font-family: "hk_groteskmedium";
}

h5 {
  font-size: 16px;
  font-family: "hk_groteskmedium";
}

/* ::Base styles */
/* ------------------------------------------------------------ */
html {
  font-size: 100%;
}
@media screen and (max-width: 767px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
}

body {
  background: #fff;
  color: #777;
}

a {
  color: #c64f24;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #777;
}

/* ::Import styles */
/* ------------------------------------------------------------ */
.font-body, body {
  font-family: 'Open Sans', sans-serif, sans-serif;
}

.font-var {
  font-family: Georgia, serif;
}

p, span, cite, ol, ul, pre, label, input, textarea {
  font-size: 0.9375em;
  line-height: 1.4666667em;
}

li {
  line-height: inherit;
}

strong, b {
  font-weight: 700;
}

em, i, q {
  font-style: italic;
}

sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 0;
}

label, legend, select {
  display: block;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.row, .row__colspaced {
  *zoom: 1;
}
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

.as-heading__headline, .is-typeset .headline {
  font-size: 2.625em;
  line-height: 1.152381em;
}

.as-heading__largest, .is-typeset h1 {
  font-size: 2em;
  line-height: 1.2375em;
}

.as-heading__large, .is-typeset h2 {
  font-size: 1.75em;
  line-height: 1.2571429em;
}

.as-heading__medium, .is-typeset h3 {
  font-size: 1.625em;
  line-height: 1.1846154em;
}

.as-heading__normal, .is-typeset h4 {
  font-size: 1.5em;
  line-height: 1.2833333em;
}

.as-heading__small, .is-typeset h5 {
  font-size: 1.25em;
  line-height: 1.32em;
}

.as-heading__smallest, .is-typeset h6 {
  font-size: 1.125em;
  line-height: 1.2222222em;
}

.as-blockquote, .as-blockquote--typeset, .is-typeset blockquote {
  font-size: 2em;
  line-height: 1.2375em;
  line-height: normal;
}
.as-blockquote p, .as-blockquote--typeset p, .is-typeset blockquote p {
  margin: 0;
  font-style: italic;
}

.as-para {
  font-size: 0.9375em;
  line-height: 1.4666667em;
}

.as-heading__headline--typeset, .is-typeset .headline {
  margin: 0 0 0.3142857em 0;
}

.as-heading__largest--typeset, .is-typeset h1 {
  margin: 0 0 0.4125em 0;
}

.as-heading__large--typeset, .is-typeset h2 {
  margin: 0 0 0.4714286em 0;
}

.as-heading__medium--typeset, .is-typeset h3 {
  margin: 0 0 0.5076923em 0;
}

.as-heading__normal--typeset, .is-typeset h4 {
  margin: 0 0 0.55em 0;
}

.as-heading__small--typeset, .is-typeset h5 {
  margin: 0 0 0.66em 0;
}

.as-heading__smallest--typeset, .is-typeset h6 {
  margin: 0 0 0.7333333em 0;
}

.as-para--typeset, .is-typeset p {
  margin: 0 0 0.5866667em 0;
}

.as-list--typeset, .as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul, .is-typeset li {
  margin: 0 0 0.5866667em 0;
}

.as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul {
  margin-left: 1em;
  list-style-position: outside;
  list-style-type: disc;
}

.as-ordered-list--typeset, .is-typeset ol {
  list-style-position: outside;
  list-style-type: decimal;
}

.as-blockquote--typeset, .is-typeset blockquote {
  margin: 0.825em 0;
}

.row, .row__colspaced {
  *zoom: 1;
}
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

*[class*="colspan"] {
  width: 100%;
  display: block;
}

*[class*="as-grid"] {
  float: left;
  display: inline;
  display: inline-block;
}

.lt-ie9 *[class*="with-gutter"] {
  padding-left: 3%;
}
@media screen and (min-width: 420px) {
  *[class*="with-gutter"] {
    padding-left: 3%;
  }
}

.row {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 420px) {
  .row {
    min-width: 420px;
  }
  .row .colspan2-1 {
    width: 50%;
  }
  .row .colspan2-2 {
    width: 100%;
  }
  .row .push2-1 {
    margin-left: 50%;
  }
  .row .push2-2 {
    margin-left: 100%;
  }
  .row .pull2-1 {
    margin-right: 50%;
  }
  .row .pull2-2 {
    margin-right: 100%;
  }
  .row .push-disable2 {
    margin-left: 0;
  }
  .row .pull-disable2 {
    margin-right: 0;
  }
  .row .hide-at2 {
    display: none;
  }
  .row .block-show-at2 {
    display: block;
  }
  .row .inline-show-at2 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 600px) {
  .row {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 600px;
  }
  .row .colspan6-1 {
    width: 16.6666667%;
  }
  .row .colspan6-2 {
    width: 33.3333333%;
  }
  .row .colspan6-3 {
    width: 50%;
  }
  .row .colspan6-4 {
    width: 66.6666667%;
  }
  .row .colspan6-5 {
    width: 83.3333333%;
  }
  .row .colspan6-6 {
    width: 100%;
  }
  .row .push6-1 {
    margin-left: 16.6666667%;
  }
  .row .push6-2 {
    margin-left: 33.3333333%;
  }
  .row .push6-3 {
    margin-left: 50%;
  }
  .row .push6-4 {
    margin-left: 66.6666667%;
  }
  .row .push6-5 {
    margin-left: 83.3333333%;
  }
  .row .push6-6 {
    margin-left: 100%;
  }
  .row .pull6-1 {
    margin-right: 16.6666667%;
  }
  .row .pull6-2 {
    margin-right: 33.3333333%;
  }
  .row .pull6-3 {
    margin-right: 50%;
  }
  .row .pull6-4 {
    margin-right: 66.6666667%;
  }
  .row .pull6-5 {
    margin-right: 83.3333333%;
  }
  .row .pull6-6 {
    margin-right: 100%;
  }
  .row .push-disable6 {
    margin-left: 0;
  }
  .row .pull-disable6 {
    margin-right: 0;
  }
  .row .hide-at6 {
    display: none;
  }
  .row .block-show-at6 {
    display: block;
  }
  .row .inline-show-at6 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 900px) {
  .row {
    min-width: 900px;
  }
  .row .colspan8-1 {
    width: 12.5%;
  }
  .row .colspan8-2 {
    width: 25%;
  }
  .row .colspan8-3 {
    width: 37.5%;
  }
  .row .colspan8-4 {
    width: 50%;
  }
  .row .colspan8-5 {
    width: 62.5%;
  }
  .row .colspan8-6 {
    width: 75%;
  }
  .row .colspan8-7 {
    width: 87.5%;
  }
  .row .colspan8-8 {
    width: 100%;
  }
  .row .push8-1 {
    margin-left: 12.5%;
  }
  .row .push8-2 {
    margin-left: 25%;
  }
  .row .push8-3 {
    margin-left: 37.5%;
  }
  .row .push8-4 {
    margin-left: 50%;
  }
  .row .push8-5 {
    margin-left: 62.5%;
  }
  .row .push8-6 {
    margin-left: 75%;
  }
  .row .push8-7 {
    margin-left: 87.5%;
  }
  .row .push8-8 {
    margin-left: 100%;
  }
  .row .pull8-1 {
    margin-right: 12.5%;
  }
  .row .pull8-2 {
    margin-right: 25%;
  }
  .row .pull8-3 {
    margin-right: 37.5%;
  }
  .row .pull8-4 {
    margin-right: 50%;
  }
  .row .pull8-5 {
    margin-right: 62.5%;
  }
  .row .pull8-6 {
    margin-right: 75%;
  }
  .row .pull8-7 {
    margin-right: 87.5%;
  }
  .row .pull8-8 {
    margin-right: 100%;
  }
  .row .push-disable8 {
    margin-left: 0;
  }
  .row .pull-disable8 {
    margin-right: 0;
  }
  .row .hide-at8 {
    display: none;
  }
  .row .block-show-at8 {
    display: block;
  }
  .row .inline-show-at8 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 1100px) {
  .row {
    min-width: 1100px;
  }
  .row .colspan12-1 {
    width: 8.3333333%;
  }
  .row .colspan12-2 {
    width: 16.6666667%;
  }
  .row .colspan12-3 {
    width: 25%;
  }
  .row .colspan12-4 {
    width: 33.3333333%;
  }
  .row .colspan12-5 {
    width: 41.6666667%;
  }
  .row .colspan12-6 {
    width: 50%;
  }
  .row .colspan12-7 {
    width: 58.3333333%;
  }
  .row .colspan12-8 {
    width: 66.6666667%;
  }
  .row .colspan12-9 {
    width: 75%;
  }
  .row .colspan12-10 {
    width: 83.3333333%;
  }
  .row .colspan12-11 {
    width: 91.6666667%;
  }
  .row .colspan12-12 {
    width: 100%;
  }
  .row .push12-1 {
    margin-left: 8.3333333%;
  }
  .row .push12-2 {
    margin-left: 16.6666667%;
  }
  .row .push12-3 {
    margin-left: 25%;
  }
  .row .push12-4 {
    margin-left: 33.3333333%;
  }
  .row .push12-5 {
    margin-left: 41.6666667%;
  }
  .row .push12-6 {
    margin-left: 50%;
  }
  .row .push12-7 {
    margin-left: 58.3333333%;
  }
  .row .push12-8 {
    margin-left: 66.6666667%;
  }
  .row .push12-9 {
    margin-left: 75%;
  }
  .row .push12-10 {
    margin-left: 83.3333333%;
  }
  .row .push12-11 {
    margin-left: 91.6666667%;
  }
  .row .push12-12 {
    margin-left: 100%;
  }
  .row .pull12-1 {
    margin-right: 8.3333333%;
  }
  .row .pull12-2 {
    margin-right: 16.6666667%;
  }
  .row .pull12-3 {
    margin-right: 25%;
  }
  .row .pull12-4 {
    margin-right: 33.3333333%;
  }
  .row .pull12-5 {
    margin-right: 41.6666667%;
  }
  .row .pull12-6 {
    margin-right: 50%;
  }
  .row .pull12-7 {
    margin-right: 58.3333333%;
  }
  .row .pull12-8 {
    margin-right: 66.6666667%;
  }
  .row .pull12-9 {
    margin-right: 75%;
  }
  .row .pull12-10 {
    margin-right: 83.3333333%;
  }
  .row .pull12-11 {
    margin-right: 91.6666667%;
  }
  .row .pull12-12 {
    margin-right: 100%;
  }
  .row .push-disable12 {
    margin-left: 0;
  }
  .row .pull-disable12 {
    margin-right: 0;
  }
  .row .hide-at12 {
    display: none;
  }
  .row .block-show-at12 {
    display: block;
  }
  .row .inline-show-at12 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 1300px) {
  .row {
    width: 1300px;
  }
}
.lt-ie9 .row {
  width: 980px;
}
.lt-ie9 .row .colspan12-1 {
  width: 8.3333333%;
}
.lt-ie9 .row .colspan12-2 {
  width: 16.6666667%;
}
.lt-ie9 .row .colspan12-3 {
  width: 25%;
}
.lt-ie9 .row .colspan12-4 {
  width: 33.3333333%;
}
.lt-ie9 .row .colspan12-5 {
  width: 41.6666667%;
}
.lt-ie9 .row .colspan12-6 {
  width: 50%;
}
.lt-ie9 .row .colspan12-7 {
  width: 58.3333333%;
}
.lt-ie9 .row .colspan12-8 {
  width: 66.6666667%;
}
.lt-ie9 .row .colspan12-9 {
  width: 75%;
}
.lt-ie9 .row .colspan12-10 {
  width: 83.3333333%;
}
.lt-ie9 .row .colspan12-11 {
  width: 91.6666667%;
}
.lt-ie9 .row .colspan12-12 {
  width: 100%;
}
.lt-ie9 .row .push12-1 {
  margin-left: 8.3333333%;
}
.lt-ie9 .row .push12-2 {
  margin-left: 16.6666667%;
}
.lt-ie9 .row .push12-3 {
  margin-left: 25%;
}
.lt-ie9 .row .push12-4 {
  margin-left: 33.3333333%;
}
.lt-ie9 .row .push12-5 {
  margin-left: 41.6666667%;
}
.lt-ie9 .row .push12-6 {
  margin-left: 50%;
}
.lt-ie9 .row .push12-7 {
  margin-left: 58.3333333%;
}
.lt-ie9 .row .push12-8 {
  margin-left: 66.6666667%;
}
.lt-ie9 .row .push12-9 {
  margin-left: 75%;
}
.lt-ie9 .row .push12-10 {
  margin-left: 83.3333333%;
}
.lt-ie9 .row .push12-11 {
  margin-left: 91.6666667%;
}
.lt-ie9 .row .push12-12 {
  margin-left: 100%;
}
.lt-ie9 .row .pull12-1 {
  margin-right: 8.3333333%;
}
.lt-ie9 .row .pull12-2 {
  margin-right: 16.6666667%;
}
.lt-ie9 .row .pull12-3 {
  margin-right: 25%;
}
.lt-ie9 .row .pull12-4 {
  margin-right: 33.3333333%;
}
.lt-ie9 .row .pull12-5 {
  margin-right: 41.6666667%;
}
.lt-ie9 .row .pull12-6 {
  margin-right: 50%;
}
.lt-ie9 .row .pull12-7 {
  margin-right: 58.3333333%;
}
.lt-ie9 .row .pull12-8 {
  margin-right: 66.6666667%;
}
.lt-ie9 .row .pull12-9 {
  margin-right: 75%;
}
.lt-ie9 .row .pull12-10 {
  margin-right: 83.3333333%;
}
.lt-ie9 .row .pull12-11 {
  margin-right: 91.6666667%;
}
.lt-ie9 .row .pull12-12 {
  margin-right: 100%;
}
.lt-ie9 .row .push-disable12 {
  margin-left: 0;
}
.lt-ie9 .row .pull-disable12 {
  margin-right: 0;
}
.lt-ie9 .row .hide-at12 {
  display: none;
}
.lt-ie9 .row .block-show-at12 {
  display: block;
}
.lt-ie9 .row .inline-show-at12 {
  display: inline;
  display: inline-block;
}

.row__colspaced {
  position: relative;
}
.lt-ie9 .row__colspaced {
  min-width: 103%;
  left: -3%;
}
@media screen and (min-width: 420px) {
  .row__colspaced {
    min-width: 103%;
    left: -3%;
  }
}
.lt-ie9 .row__colspaced {
  max-width: 100%;
  min-width: auto;
  left: auto;
}

/* ::Print */
/* ------------------------------------------------------------ */
@page {
  size: A4;
  margin-top: 2cm;
  margin-right: 4cm;
  margin-left: 2cm;
  margin-bottom: 2cm;
}
@page {
  content: "Page " counter(page) " of " counter(pages);
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }

  body {
    line-height: 0.55em;
    color: black;
  }

  nav {
    display: none;
  }

  header#banner {
    display: none;
  }

  h1, h2, h3, h4, h5 {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: normal;
  }

  h3 {
    page-break-after: avoid;
  }

  img {
    width: 130%;
    height: auto;
    -webkit-column-break-inside: avoid;
  }

  p {
    font-size: 14pt;
    line-height: 18pt;
    width: 100%;
  }

  figcaption {
    font-size: 14px;
    line-height: 17px;
    width: 100%;
  }

  ol.simple-footnotes {
    width: 100%;
  }

  .no-print {
    display: none;
  }

  footer#contentinfo {
    display: none;
  }

  div.longform-chapter {
    page-break-after: always;
  }

  div.longform-chapter :last-of-type {
    page-break-after: never;
  }
}
