.newsletters .btn-file {
    position: relative;
    overflow: hidden;
}
.newsletters .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.newsletters .nopadding {
	padding: 0;
}

/* General */
ul.newsletters_nolist {
	margin: 0 0 0 0 !important;
	list-style: none;
	list-style-type: none !important;
}

/* Subscribe Form */

div.newslettername-wrapper, 
input.newslettername {
	display: none !important;
}

.newsletters .form-inline .newsletters-fieldholder {
	display: inline-block;
	vertical-align: top;
}

.newsletters .alert {
	padding: 5px 10px;
	font-size: 80%;
	margin: 10px 0 20px 0;
}

.newsletters .help-block {
	font-size: 80%;
}

.newsletters .input-group.date .input-group-addon {
	cursor: pointer;
}

.newsletters .btn, .newsletters ul.nav li a {
	text-decoration: none !important;
}

.newsletters .newsletters-dateholder {
	position: relative;
}

/* Manage Subscriptions */

.newsletters ul.nav {
	margin: 10px 0 20px 0 !important;
}

.newsletters .paybutton {
	color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
	padding: 6px 12px !important;
}

.newsletters .modal {
	z-index: 2999;
}

.newsletters .modal-dialog {
	margin: 100px auto !important;
}

/* 3rd Party Overrides */
.has-error .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #a94442;
    border-radius: 4px;
}

.newsletters .select2-container {
	display: block !important;
	width: 100% !important;
}