H1  { 
                font-size: 24pt;
                font-family: SunSerif, serif; 
                font-variant: normal;
                font-style: normal;
                color: #666699;
               }
               
H2  { 
                font-size: 18pt;
                font-family: SunSerif, serif; 
                font-variant: normal;
                font-style: normal;
                color: #666699;
               }
               
.body {
		font-size: 14pt;
		font-family: Helvetica, Arial, Geneva, Lucida-sans;
		font-variant: normal;
		font-style: normal;
		color: #000000;
		}

.localheader {
		font-family: SunSans, sans-serif;
		font-size: 15px;
		text-decoration: none;
		color: #dddddd;
		}
			
.locallink {
		font-family: SunSans, sans-serif;
		font-size: 13px;
		text-decoration: none;
		color: #dddddd;
		font-weight: normal;
		}
			
.localsublink {
		font-family: SunSans, sans-serif;
		font-size: 11px;
		text-decoration: none;
		color: #dddddd;
		font-weight: normal;
		}

.tm	      {
	        font-size: 10px;
                font-family: Helvetica, Arial, Geneva, Lucida-sans;
                font-variant: normal;
                font-style: normal;
                color: #666699;
		}

.localblue {
		font-family: SunSans, sans-serif;
		font-size: 10pt;
		text-decoration: none;
		color: #666699;
		font-weight: bold;
		}

.localred {
		font-family: SunSans, sans-serif;
		font-size: 10pt;
		text-decoration: none;
		color: #ce2082;
		font-weight: bold;
		}









/*
     FILE ARCHIVED ON 01:34:03 Jan 17, 1999 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:37:12 Oct 24, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/