@import url(https://web.archive.org/web/20140524100452cs_/http://fonts.googleapis.com/css?family=Kameron:700|Open+Sans:800,300,400);
@font-face {
  font-family: 'AvenirBold';
  src: url('/web/20140524100452im_/http://www.ux-republic.com/Fonts_Website/AvenirNextLTPro-Bold.otf');
}
@font-face {
  font-family: 'AvenirMedium';
  src: url('/web/20140524100452im_/http://www.ux-republic.com/Fonts_Website/AvenirLTStd-Medium.otf');
}
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 100%;
  position: relative;
  background-color: #000000;
}
#owl-demo .item {
  padding: 10px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
#owl-demo .item img {
  max-width: 90%;
  text-align: center;
}
.owl-theme .owl-controls {
  margin-top: 0px;
}
.owl-buttons {
  margin-top: -40px;
}
.owl-prev {
  float: left;
}
.owl-next {
  float: right;
}
@media all and (min-width: 769px) {
  .mainTitlePageTop {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
    min-width: 550px;
    display: inline-block;
    margin-left: 280px;
    vertical-align: middle;
    line-height: 120%;
    color: #FFFFFF;
  }
  .mainTitlePageTopBold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 3em;
    letter-spacing: -3px;
    min-width: 550px;
    display: inline-block;
    margin-left: 280px;
    vertical-align: middle;
    line-height: 120%;
    color: #FFFFFF;
    display: block;
  }
  #menuButton {
    position: fixed;
    display: block;
    height: 58px;
    width: 57px;
    top: 20px;
    -webkit-transition: left ease-in-out 350ms;
    z-index: 5000;
  }
  .menuButtonLeft {
    left: 10px;
  }
  .menuButtonOpened {
    left: 330px;
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/icon_home_menu_close@2x.png') no-repeat center top;
    background-size: 57px 174px;
  }
  .menuButtonOpened:hover {
    left: 330px;
    background-position: center center;
  }
  .menuButtonOpened:visited {
    left: 330px;
    background-position: center bottom;
  }
  .simpleButton {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/icon_home_menu@2x.png') transparent no-repeat top left;
    background-size: 57px 174px;
  }
  .simpleButton:hover {
    background-position: center left;
  }
  .simpleButton:visited {
    background-position: bottom left;
  }
  #nav {
    width: 300px;
    height: 100%;
    position: fixed;
    font-family: 'Open Sans', sans-serif;
    line-height: 150%;
    background: #292929;
    background: -moz-linear-gradient(left,#292929 0%,#232323 81%,#232323 89%,#191919 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,#292929),color-stop(81%,#232323),color-stop(89%,#232323),color-stop(100%,#191919));
    background: -webkit-linear-gradient(left,#292929 0%,#232323 81%,#232323 89%,#191919 100%);
    background: -o-linear-gradient(left,#292929 0%,#232323 81%,#232323 89%,#191919 100%);
    background: -ms-linear-gradient(left,#292929 0%,#232323 81%,#232323 89%,#191919 100%);
    background: linear-gradient(to right,#292929 0%,#232323 81%,#232323 89%,#191919 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929',endColorstr='#191919',GradientType=1);
  }
  #nav ul {
    list-style-type: none;
    padding-left: 0;
    -webkit-margin-before: 0;
    -o-margin-before: 0;
    -ms-margin-before: 0;
    margin-before: 0;
  }
  .menuAccueil {
    text-align: center;
    color: #FFFFFF;
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/icon_home_logo_navbar.png') #000000 no-repeat 20% center;
    background-size: 47px 47px;
    height: 50px;
    display: block;
    padding-top: 23px;
    border-bottom: 1px solid #2A2A2A;
    font-size: 1.2em;
  }
  #nav ul li a {
    text-decoration: none;
    padding-left: 30px;
    color: #555555;
    height: 60px;
    display: block;
    padding-top: 30px;
    border-top: 1px solid #2F2F2F;
    border: 1px solid rgba(47,47,47,0.5);
    font-size: 1.4em;
  }
  #nav ul li a:hover {
    color: #FFFFFF;
  }
  #UXRMenu {
    display: inline-block;
    float: left;
    height: 90px;
    width: 15px;
    background-color: #288ACF;
    border-left: 1px solid #314454;
    border-right: 1px solid #314454;
    border: 1px solid rgba(49,68,84,0.5);
    clear: both;
  }
  #UXDMenu {
    display: inline-block;
    float: left;
    height: 90px;
    width: 15px;
    background-color: #77AA00;
    border-left: 1px solid #495E19;
    border-right: 1px solid #495E19;
    border: 1px solid rgba(73,94,25,0.5);
    clear: both;
  }
  #DDMenu {
    display: inline-block;
    float: left;
    height: 90px;
    width: 15px;
    background-color: #EA9900;
    border-left: 1px solid #D69213;
    border-right: 1px solid #D69213;
    border: 1px solid rgba(214,146,19,0.5);
    clear: both;
  }
  #EMenu {
    display: inline-block;
    float: left;
    height: 90px;
    width: 15px;
    background-color: #ED2D2A;
    border-left: 1px solid #7E2C29;
    border-right: 1px solid #7E2C29;
    border: 1px solid rgba(126,44,41,0.5);
    clear: both;
  }
  #AMenu {
    display: inline-block;
    float: left;
    height: 90px;
    width: 15px;
    background-color: #980097;
    border-left: 1px solid #581256;
    border-right: 1px solid #581256;
    border: 1px solid rgba(88,18,86,0.5);
    clear: both;
  }
  #JMenu {
    display: inline-block;
    float: left;
    height: 90px;
    width: 15px;
    background-color: #AD0058;
    border-left: 1px solid #611A3C;
    border-right: 1px solid #611A3C;
    border: 1px solid rgba(97,26,60,0.5);
    clear: both;
  }
  #CMenu {
    display: inline-block;
    float: left;
    height: 90px;
    width: 15px;
    background-color: #363636;
    border-left: 1px solid #2E2E2E;
    border-right: 1px solid #2E2E2E;
    clear: both;
  }
  .hideNav {
    left: -100%;
    position: absolute;
  }
  .displayNav {
    position: fixed;
    left: 0;
    -webkit-transition: all ease-in-out 350ms;
    overflow-y: hidden;
  }
  .dislayWholeContent {
    margin-left: 0;
  }
  .hideWholeContent {
    margin-left: 300px;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  #mainLogoDocked {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/img_logo_home.png') transparent no-repeat left center;
    background-size: 200px 202px;
    position: absolute;
    vertical-align: center;
    top: 220px;
    height: 200px;
    width: 202px;
    opacity: 0.9;
    -webkit-perspective: 800;
    -o-perspective: 800;
    -ms-perspective: 800;
    perspective: 800;
    -webkit-perspective-origin: 150px 300px;
    -o-perspective-origin: 150px 300px;
    -ms-perspective-origin: 150px 300px;
    perspective-origin: 150px 300px;
    text-align: center;
    -webkit-transition: all ease-in-out 350ms;
    -o-transition: all ease-in-out 350ms;
    -moz-transition: all ease-in-out 350ms;
    -ms-transition: all ease-in-out 350ms;
    transition: all ease-in-out 350ms;
  }
  .getMoreDetails {
    font-size: 2em;
    display: inline-block;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    width: 42px;
    height: 48px;
  }
  .plusImage {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/icon_home_more.png') transparent no-repeat top left;
    background-size: 62px 144px;
  }
  .plusImage:hover {
    background-position: center left;
  }
  .plusImage:visited {
    background-position: bottom left;
  }
  .goingRight {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/btn_arrow_right.png') transparent no-repeat top left;
    background-size: 62px 144px;
  }
  .goingRight:hover {
    background-position: center left;
  }
  .goingRight:visited {
    background-position: bottom left;
  }
  .goingLeft {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/btn_arrow_left.png') transparent no-repeat top left;
    background-size: 62px 144px;
  }
  .goingLeft:hover {
    background-position: center left;
  }
  .goingLeft:visited {
    background-position: bottom left;
  }
  .hideMainSections {
    margin-left: -1050px;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  .displayMainSections {
    margin-left: 0;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  .hideGetMoreDetailsSection {
    left: 1050px;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  .displayGetMoreDetailsSection {
    left: 50px;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  .titleH1Type {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    letter-spacing: -5px;
    font-size: 6em;
    min-width: 550px;
    display: inline-block;
    margin-left: 280px;
    margin-top: 100px;
    vertical-align: middle;
    line-height: 150%;
    color: #FFFFFF;
  }
  .interSubText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-left: 280px;
    display: inline-block;
    padding-right: 30px;
    min-width: 550px;
    max-width: 600px;
    color: #FFFFFF;
  }
  .subTitleFat {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-weight: 800;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  .section1BulletTitle {
    display: block;
    margin-top: 20px;
    padding-left: 40px;
    font-weight: 800;
  }
  .subAbstractText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: inline-block;
  }
  .isVisible {
    opacity: 1;
    -webkit-transition: all ease-in-out 350ms;
    -o-transition: all ease-in-out 350ms;
    -moz-transition: all ease-in-out 350ms;
    -ms-transition: all ease-in-out 350ms;
    transition: all ease-in-out 350ms;
  }
  .isNotVisible {
    opacity: 0;
    -webkit-transition: all ease-in-out 350ms;
    -o-transition: all ease-in-out 350ms;
    -moz-transition: all ease-in-out 350ms;
    -ms-transition: all ease-in-out 350ms;
    transition: all ease-in-out 350ms;
  }
  #zeroSection,
  #firstSection,
  #secondSection,
  #thirdSection,
  #fourthSection,
  #fifthSection,
  #sixthSection {
    height: 600px;
    width: 90%;
    padding: 20px;
    overflow: hidden;
    max-width: 100%;
  }
  #firstSectionDetails,
  #secondSectionDetails,
  #thirdSectionDetails,
  #fourthSectionDetails,
  #fourthSectionDetailsBio1,
  #fourthSectionDetailsBio2,
  #fourthSectionDetailsBio3,
  #fourthSectionDetailsBio4,
  #fifthSectionDetails,
  #sixthSectionDetails,
  #sixthSectionDetailsJU1,
  #sixthSectionDetailsJU2,
  #sixthSectionDetailsJU3,
  #sixthSectionDetailsJU4 {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
  }
  #smallLogo,
  #smallLogoUXD,
  #smallLogoDV,
  #smallLogoTeam,
  #smallLogoAlliance,
  #smallLogoJU {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/btn-back.png') transparent no-repeat center top;
    float: left;
    position: absolute;
    background-size: 57px 174px;
    height: 58px;
    width: 57px;
    display: none;
  }
  #smallLogo:hover,
  #smallLogoUXD:hover,
  #smallLogoDV:hover,
  #smallLogoTeam:hover,
  #smallLogoAlliance:hover,
  #smallLogoJU:hover {
    background-position: center center;
    background-size: 57px 174px;
  }
  #smallLogo:visited,
  #smallLogoUXD:visited,
  #smallLogoDV:visited,
  #smallLogoTeam:visited,
  #smallLogoAlliance:visited,
  #smallLogoJU:visited {
    background-position: center bottom;
    background-size: 57px 174px;
  }
  .miniLogoHidden {
    margin-top: -400px;
    opacity: 0;
    -webkit-transition: margin-top ease-in-out 350ms;
    -o-transition: margin-top ease-in-out 350ms;
    -moz-transition: margin-top ease-in-out 350ms;
    -ms-transition: margin-top ease-in-out 350ms;
    transition: margin-top ease-in-out 350ms;
    z-index: -10000;
  }
  .miniLogoShown {
    opacity: 1;
    margin-top: 0px;
    -webkit-transition: margin-top ease-in-out 350ms;
    -o-transition: margin-top ease-in-out 350ms;
    -moz-transition: margin-top ease-in-out 350ms;
    -ms-transition: margin-top ease-in-out 350ms;
    transition: margin-top ease-in-out 350ms;
    z-index: 100;
  }
  .miniLogoTeamHacked {
    opacity: 1;
    margin-top: 0px;
    z-index: 100;
  }
  .myOwnTableRow {
    font-family: 'Open Sans', sans-serif;
    display: table-row;
    float: left;
    clear: both;
    vertical-align: top;
  }
  .myOwnTableCell {
    display: table-cell;
    width: 207px;
    text-align: center;
    padding: 0px 5px 0px 5px;
    vertical-align: top;
    font-size: 0.8em;
    margin: 0;
  }
  .h2DetailTitles {
    font-size: 1.5em;
  }
  #overlayWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    background-color: #000000;
    z-index: 1000;
    overflow: hidden;
  }
  #overlayContent {
    margin: 1% 10% 2% 10%;
    padding: 20px;
    background-color: #FFFFFF;
    width: 80%;
    height: 400px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    vertical-align: top;
  }
  #overlayContent input {
    font-size: 1.4em;
    width: 70%;
    padding: 10px;
  }
  .showOverlay {
    height: 100%;
    -webkit-transition: all ease-in-out 350ms;
    -o-transition: all ease-in-out 350ms;
    -moz-transition: all ease-in-out 350ms;
    -ms-transition: all ease-in-out 350ms;
    transition: all ease-in-out 350ms;
    overflow-y: hidden;
  }
  .hideOverlay {
    height: 0%;
    -webkit-transition: all ease-in-out 350ms;
    -o-transition: all ease-in-out 350ms;
    -moz-transition: all ease-in-out 350ms;
    -ms-transition: all ease-in-out 350ms;
    transition: all ease-in-out 350ms;
  }
  #closingOverlay {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    clear: bloth;
    font-size: 2em;
  }
  #partnerDescTitle {
    font-size: 2em;
    display: inline-block;
    margin-bottom: 50px;
  }
  #partnerPhoto {
    float: left;
    clear: both;
  }
  #partnerDescText {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    padding-right: 10px;
  }
  .hideField {
    height: 0;
    border: none;
    -webkit-appearence: none;
    -o-appearence: none;
    -ms-appearence: none;
    appearence: none;
  }
  .showField {
    height: auto;
  }
  .imageAsInlineBlock {
    display: inline-block;
  }
  #section0 {
    background: url("/web/20140524100452im_/http://www.ux-republic.com/img/img_background-top4.jpg") 50% 10% no-repeat fixed;
    background-size: 1600px 800px;
    overflow: hidden;
    -webkit-transition: background-size ease-out 8000ms, background-position ease-in 8000ms;
    -o-transition: background-size ease-out 8000ms, background-position ease-in 8000ms;
    -moz-transition: background-size ease-out 8000ms, background-position ease-in 8000ms;
    -ms-transition: background-size ease-out 8000ms, background-position ease-in 8000ms;
    transition: background-size ease-out 8000ms, background-position ease-in 8000ms;
    height: 600px;
  }
  #section1 {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/img_background-home_01.jpg') fixed #3282C7 no-repeat top left;
    background-size: 1200px 800px;
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
  }
  #section2 {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/img_background-home_02.jpg') fixed #7BA600 no-repeat top left;
    background-size: 1200px 800px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
  }
  #section3 {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/img_background-home_03.jpg') fixed #D87801 no-repeat top left;
    background-size: 1200px 800px;
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
  }
  #thirdSectionDetails {
    width: 800px;
    height: 500px;
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/M-logo-black.png') #FFFFFF no-repeat 50px center;
    background-size: 300px 293px;
    position: absolute;
    top: 1930px;
    border: 1px solid #F4F3F3;
    padding: 20px;
    z-index: 1;
  }
  #section4 {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/img_background-home_04.jpg') fixed #F84642 no-repeat top left;
    background-size: 1200px 800px;
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
  }
  #fourthSectionDetails {
    width: 90%;
    height: 500px;
    background-size: 300px 293px;
    position: absolute;
    top: 2570px;
    border: 1px solid #F4F3F3;
    padding: 20px;
    z-index: 1;
  }
  #section5 {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/img_background-home_05.jpg') fixed #890096 no-repeat top left;
    background-size: 1200px 800px;
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
  }
  #section6 {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/img_background-home_06.jpg') fixed #910359 no-repeat top left;
    background-size: 1200px 800px;
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
  }
  .detailedParagraph3,
  .detailedParagraph4 {
    width: 10%;
    display: inline-block;
  }
  .noDisplay {
    display: none;
  }
  .shouldDisplay {
    display: block;
    height: 0;
  }
  #arrowUp {
    position: fixed;
    height: auto;
    width: auto;
    left: 10px;
    top: 10px;
    font-size: 48px;
  }
  #arrowUp a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: serif;
  }
  #rainbow {
    background-color: #363636;
    width: 100%;
    height: 10px;
    float: left;
  }
  #rainbow1,
  #rainbow2,
  #rainbow3,
  #rainbow4,
  #rainbow5,
  #rainbow6,
  #rainbow7 {
    display: inline-block;
    height: 10px;
    width: 14%;
    padding: 0;
    margin: 0;
    float: left;
    z-index: 4000;
  }
  #rainbow1 {
    background-color: #288ACF;
  }
  #rainbow2 {
    background-color: #77AA00;
  }
  #rainbow3 {
    background-color: #EA9900;
  }
  #rainbow4 {
    background-color: #ED2D2A;
  }
  #rainbow5 {
    background-color: #980097;
  }
  #rainbow6 {
    background-color: #AD0058;
  }
  #rainbow7 {
    background-color: #363636;
  }
  .detailedParagraph1 {
    font-family: 'Open Sans';
    vertical-align: top;
    display: inline-block;
    margin-left: 35%;
    margin-top: 100px;
    width: 25%;
    padding: 5px;
    text-align: justify;
    font-weight: 300;
  }
  .detailedParagraph2 {
    font-family: 'Open Sans';
    vertical-align: top;
    display: inline-block;
    margin-top: 100px;
    width: 25%;
    padding: 5px;
    text-align: justify;
    font-weight: 300;
  }
  #firstSectionDetails,
  #secondSectionDetails,
  #thirdSectionDetails,
  #fourthSectionDetails,
  #fifthSectionDetails,
  #sixthSectionDetails {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
  }
  #firstSectionDetails {
    width: 800px;
    height: 500px;
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/Images_Content_Right/img_content_1.jpg') #FFFFFF no-repeat center top;
    background-size: 920px 221px;
    position: absolute;
    top: 650px;
    border: none;
    padding: 20px;
    z-index: 1;
  }
  #gatheringOnClicks1 {
    position: absolute;
    left: 1000px;
    top: 950px;
    -webkit-transition: left ease-in-out 350ms;
    -o-transition: left ease-in-out 350ms;
    -moz-transition: left ease-in-out 350ms;
    -ms-transition: left ease-in-out 350ms;
    transition: left ease-in-out 350ms;
  }
  #gatheringOnClicks2 {
    position: absolute;
    left: 1000px;
    top: 1550px;
    -webkit-transition: left ease-in-out 350ms;
    -o-transition: left ease-in-out 350ms;
    -ms-transition: left ease-in-out 350ms;
    -moz-transition: left ease-in-out 350ms;
    transition: left ease-in-out 350ms;
  }
  #gatheringOnClicks3 {
    position: absolute;
    left: 1000px;
    top: 2150px;
    -webkit-transition: left ease-in-out 350ms;
    -o-transition: left ease-in-out 350ms;
    -moz-transition: left ease-in-out 350ms;
    ms-transition: left ease-in-out 350ms;
    transition: left ease-in-out 350ms;
  }
  #gatheringOnClicks4 {
    position: absolute;
    top: 2800px;
    -webkit-transition: left ease-in-out 350ms;
    -o-transition: left ease-in-out 350ms;
    -moz-transition: left ease-in-out 350ms;
    -ms-transition: left ease-in-out 350ms;
    transition: left ease-in-out 350ms;
    left: 1000px;
  }
  .plusButton4State2 {
    left: 1000px;
    z-index: 6000;
  }
  #gatheringOnClicks5 {
    position: absolute;
    left: 1000px;
    top: 3450px;
    -webkit-transition: left ease-in-out 350ms;
    -o-transition: left ease-in-out 350ms;
    -moz-transition: left ease-in-out 350ms;
    -ms-transition: left ease-in-out 350ms;
    transition: left ease-in-out 350ms;
  }
  #gatheringOnClicks6 {
    position: absolute;
    left: 1000px;
    top: 4100px;
    -webkit-transition: left ease-in-out 350ms;
    -o-transition: left ease-in-out 350ms;
    -moz-transition: left ease-in-out 350ms;
    -ms-transition: left ease-in-out 350ms;
    transition: left ease-in-out 350ms;
  }
  #gatheringOnClicks1:hover,
  #gatheringOnClicks2:hover,
  #gatheringOnClicks3:hover,
  #gatheringOnClicks4:hover,
  #gatheringOnClicks5:hover,
  #gatheringOnClicks6:hover {
    position: absolute;
    left: 990px;
  }
  .detail1paraph2Space {
    padding-left: 20px !IMPORTANT;
  }
  #secondSectionDetails {
    width: 1000px;
    height: 500px;
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/Images_Content_Right/img_content_2.jpg') #FFFFFF no-repeat top left;
    background-size: 170px 561px;
    position: absolute;
    top: 1290px;
    padding: 20px;
    z-index: 1;
  }
  #thirdSectionDetails {
    width: 1000px;
    height: 500px;
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/Images_Content_Right/img_content_3.jpg') #FFFFFF no-repeat top left;
    background-size: 170px 561px;
    position: absolute;
    top: 1930px;
    border: 0;
    padding: 20px;
    z-index: 1;
  }
  #fourthSectionDetails {
    width: 880px;
    height: 560px;
    background-color: #FFFFFF;
    background-size: 300px 293px;
    position: absolute;
    top: 2535px;
    border: 1px solid #F4F3F3;
    padding: 20px;
    z-index: 1;
  }
  .peopleButton {
    display: inline-block;
    width: 195px;
    padding-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #EFEFEF;
    border-bottom: 1px solid #B4B4B4;
    border-right: 1px solid #B4B4B4;
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
  }
  #fifthSectionDetails {
    width: 880px;
    height: 500px;
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/Images_Content_Right/img_content_5.jpg') #FFFFFF no-repeat top left;
    background-size: 920px 246px;
    position: absolute;
    top: 3210px;
    padding: 20px;
    z-index: 1;
  }
  #fifthSectionDetails  .detailedParagraph1 {
    display: block;
    width: 840px;
    margin-top: 250px;
    margin-left: 0;
    padding: 10px;
    color: #702C94;
    font-weight: 700;
    padding-left: 20px;
  }
  #fifthSectionDetails  .detailedParagraph2 {
    display: block;
    width: 840px;
    margin-top: 0px;
    margin-left: 0;
    padding: 10px;
    padding-left: 20px;
  }
  #fifthSectionDetails  .detailedParagraph1 a,
  #fifthSectionDetails  .detailedParagraph2 a {
    text-decoration: none;
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    background-color: #F0E3F1;
    color: #702C94;
    font-weight: 700;
  }
  #fifthSectionDetails  .detailedParagraph1 a:hover,
  #fifthSectionDetails  .detailedParagraph2 a:hover {
    text-decoration: none;
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    background-color: #702C94;
    color: #F0E3F1;
    font-weight: 700;
  }
  .hideGetMoreDetailsSectionOnLeft {
    left: -70%;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  #fourthSectionDetailsBio1 {
    width: 880px;
    height: 560px;
    background-color: #FFFFFF;
    background-size: 300px 293px;
    position: absolute;
    top: 2535px;
    padding: 20px;
    z-index: 1;
  }
  #fourthSectionDetailsBio2 {
    width: 880px;
    height: 560px;
    background-color: #FFFFFF;
    background-size: 300px 293px;
    position: absolute;
    top: 2535px;
    padding: 20px;
    z-index: 1;
  }
  #fourthSectionDetailsBio3 {
    width: 880px;
    height: 560px;
    background-color: #FFFFFF;
    background-size: 300px 293px;
    position: absolute;
    top: 2535px;
    padding: 20px;
    z-index: 1;
  }
  #fourthSectionDetailsBio4 {
    width: 880px;
    height: 560px;
    background-color: #FFFFFF;
    background-size: 300px 293px;
    position: absolute;
    top: 2535px;
    padding: 20px;
    z-index: 1;
  }
  .hideGetMoreDetailsBio1Section {
    left: 145%;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  .hideGetMoreDetailsBio2Section {
    left: 145%;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  #gatheringOnClicks4Bio1 {
    top: 2525px;
    display: inline-block;
    z-index: 10000;
    margin-left: -60px;
    margin-top: 250px;
    float: left;
  }
  #gatheringOnClicks4Bio3 {
    top: 2525px;
    display: inline-block;
    margin-left: -60px;
    margin-top: 250px;
    float: left;
  }
  #gatheringOnClicks4Bio4 {
    top: 2525px;
    display: inline-block;
    margin-left: -60px;
    margin-top: 250px;
    float: left;
  }
  #gatheringOnClicks4Bio2Back {
    display: inline-block;
    margin-right: -60px;
    margin-top: 232px;
    float: right;
  }
  #gatheringOnClicks4Bio3Back {
    display: inline-block;
    margin-right: -60px;
    margin-top: 232px;
    float: right;
  }
  #gatheringOnClicks4Bio4Back {
    display: inline-block;
    margin-right: -60px;
    margin-top: 232px;
    float: right;
  }
  #gatheringOnClicks4Bio4Back2 {
    display: inline-block;
    margin-right: -60px;
    margin-top: 232px;
    float: right;
  }
  #gatheringOnClicks4Bio2 {
    top: 2525px;
    display: inline-block;
    margin-left: -60px;
    margin-top: 250px;
    float: left;
  }
  #fourthSectionDetailsBio1 {
    border-bottom: none;
    vertical-align: top;
    background-image: url('/web/20140524100452im_/http://www.ux-republic.com/img/team_photos/img_team_detail_romain.jpg'), url('/web/20140524100452im_/http://www.ux-republic.com/img/clients/img_team_romain_clients.jpg');
    background-size: 310px 600px, 480px 110px;
    background-repeat: no-repeat;
    background-position: top left, 85% 90%;
  }
  #fourthSectionDetailsBio2 {
    background-image: url('/web/20140524100452im_/http://www.ux-republic.com/img/team_photos/img_team_detail_sebastien.jpg'), url('/web/20140524100452im_/http://www.ux-republic.com/img/clients/img_team_seb_clients.jpg');
    border-bottom: none;
    background-size: 310px 600px, 480px 110px;
    background-repeat: no-repeat;
    background-position: top left, 85% 90%;
    vertical-align: top;
  }
  #fourthSectionDetailsBio3 {
    background-image: url('/web/20140524100452im_/http://www.ux-republic.com/img/team_photos/img_team_detail_yann.jpg'), url('/web/20140524100452im_/http://www.ux-republic.com/img/clients/img_team_yann_clients@2x.jpg');
    border-bottom: none;
    background-size: 310px 600px, 480px 110px;
    background-repeat: no-repeat;
    background-position: top left, 85% 90%;
    vertical-align: top;
  }
  #fourthSectionDetailsBio4 {
    background-image: url('/web/20140524100452im_/http://www.ux-republic.com/img/team_photos/img_team_detail_luc.jpg'), url('/web/20140524100452im_/http://www.ux-republic.com/img/clients/img_team_luc_clients.jpg');
    border-bottom: none;
    background-size: 310px 600px, 480px 110px;
    background-repeat: no-repeat;
    background-position: top left, 85% 90%;
    vertical-align: top;
  }
  .bioContent {
    padding-left: 360px;
    padding-right: 55px;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: justify;
  }
  #sixthSectionDetailsJU1 {
    width: 880px;
    height: 500px;
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/img_joinus_visuel.jpg') #FFFFFF no-repeat 20px 45px;
    background-size: 456px 304px;
    position: absolute;
    top: 3850px;
    padding: 20px;
    z-index: 1;
  }
  #sixthSectionDetailsJU2 {
    width: 880px;
    height: 500px;
    background-color: #FFFFFF;
    background-size: 300px 293px;
    position: absolute;
    top: 3850px;
    border: 1px solid #F4F3F3;
    padding: 20px;
    z-index: 1;
  }
  #sixthSectionDetailsJU3 {
    width: 880px;
    height: 500px;
    background-color: #FFFFFF;
    background-size: 300px 293px;
    position: absolute;
    top: 3850px;
    border: 1px solid #F4F3F3;
    padding: 20px;
    z-index: 1;
  }
  #sixthSectionDetailsJU4 {
    width: 880px;
    height: 500px;
    background-color: #FFFFFF;
    background-size: 300px 293px;
    position: absolute;
    top: 3850px;
    border: 1px solid #F4F3F3;
    padding: 20px;
    z-index: 1;
  }
  .hideGetMoreDetailsJU1Section {
    left: 145%;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  .hideGetMoreDetailsJU2Section {
    left: 145%;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  #gatheringOnClicks6JU1 {
    top: 4100px;
    display: inline-block;
    z-index: 10000;
    margin-left: -60px;
    margin-top: 250px;
    float: left;
  }
  #gatheringOnClicks6JU2Back {
    float: right;
    z-index: 10000;
    margin-right: -60px;
    margin-top: 228px;
  }
  #gatheringOnClicks6JU4Back {
    float: right;
    z-index: 10000;
    margin-right: -60px;
    margin-top: 230px;
  }
  #gatheringOnClicks6JU3Back {
    float: right;
    z-index: 10000;
    margin-right: -60px;
    margin-top: 228px;
  }
  #gatheringOnClicks6JU4Back2 {
    float: right;
    z-index: 10000;
    margin-right: -60px;
    margin-top: 230px;
  }
  #gatheringOnClicks6JU2 {
    top: 4100px;
    display: inline-block;
    z-index: 10000;
    margin-left: -60px;
    margin-top: 250px;
    float: left;
  }
  #gatheringOnClicks6JU3 {
    top: 4110px;
    display: inline-block;
    z-index: 10000;
    margin-left: -60px;
    margin-top: 250px;
    float: left;
  }
  #gatheringOnClicks6JU4 {
    top: 4100px;
    display: inline-block;
    z-index: 10000;
    margin-left: -60px;
    margin-top: 250px;
    float: left;
  }
  #sixthSectionDetailsJU1 {
    border-bottom: none;
    vertical-align: top;
  }
  #sixthSectionDetails {
    width: 920px;
    height: 500px;
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/Images_Content_Right/img_content_6.jpg') #FFFFFF no-repeat top left;
    background-size: 170px 561px;
    position: absolute;
    top: 3850px;
    padding: 20px;
    z-index: 1;
    overflow-x: auto;
  }
  #mainTagLine {
    margin-top: 200px;
  }
  #firstSectionDetails .detailedParagraph1,
  #firstSectionDetails .detailedParagraph2 {
    margin-left: 0;
    width: 360px;
    padding-left: 10px;
    margin-top: 215px;
    font-size: 0.8em;
  }
  .detailBoldClass {
    color: #3683C3;
    font-weight: 700;
  }
  .detailSubTitle {
    display: block;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #secondSectionDetails .detailedParagraph1 {
    font-family: 'Open Sans';
    margin-left: 180px;
    width: 370px;
    padding-left: 10px;
    margin-top: 10px;
    text-align: left;
  }
  #secondSectionDetails .detailedParagraph2 {
    font-family: 'Open Sans';
    margin-left: 0;
    width: 370px;
    padding-left: 30px;
    margin-top: 10px;
    text-align: left;
  }
  .detailBoldGreenClass {
    color: #9EB73C;
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 20px;
    padding-top: 20px;
    display: inline-block;
  }
  .thirdSectionTitle {
    display: inline-block;
    margin-left: 190px;
    font-family: 'Open Sans';
    color: #C67A2F;
    font-weight: 700;
    font-size: 2em;
    padding-top: 60px;
  }
  .thirdSectionSubTitle {
    display: inline-block;
    margin-left: 190px;
    font-family: 'Open Sans';
    width: 800px;
    color: #C67A2F;
    font-weight: 700;
    margin-bottom: 30px;
  }
  #thirdSectionDetails .detailedParagraph1 {
    font-family: 'Open Sans';
    margin-left: 180px;
    width: 360px;
    padding-left: 10px;
    margin-top: 10px;
    text-align: left;
  }
  #thirdSectionDetails .detailedParagraph2 {
    font-family: 'Open Sans';
    width: 360px;
    padding-left: 30px;
    margin-top: 10px;
    text-align: left;
  }
  .secondParagraph {
    display: inline-block;
    padding-top: 20px;
  }
  #sixthSectionDetails .detailedParagraph1 {
    font-family: 'Open Sans';
    margin-left: 260px;
    width: 300px;
    padding-left: 10px;
    margin-top: 10px;
  }
  #sixthSectionDetails .detailedParagraph2 {
    font-family: 'Open Sans';
    width: 300px;
    padding-left: 10px;
    margin-top: 10px;
  }
  .jobOffers {
    float: left;
    font-family: 'Open Sans';
    font-weight: 300;
    margin-left: 180px;
    display: inline-block;
    width: 230px;
    clear: both;
    padding-top: 30px;
  }
  .jobOffers2 {
    font-family: 'Open Sans';
    font-weight: 300;
    padding-left: 30px;
    display: inline-block;
    width: 230px;
    vertical-align: top;
    margin-top: -5px;
  }
  .jobOffers3 {
    font-family: 'Open Sans';
    font-weight: 300;
    width: 230px;
    display: inline-block;
    vertical-align: top;
    float: right;
    padding-top: 15px;
  }
  .jobTitle {
    font-size: 1.6em;
    font-weight: 700;
    color: #8C2E68;
  }
  .jobSubHeader {
    display: block;
    color: #8C2E68;
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 0.8em;
  }
  .jobBulletPoints {
    font-size: 0.8em;
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-padding-start: 0;
  }
  .leitmotiv {
    font-size: 0.8em;
    margin-top: 25px;
    width: 400px;
    display: inline-block;
    text-align: justify;
  }
  .UXCharte {
    font-size: 0.8em;
    width: 400px;
    display: inline-block;
    text-align: justify;
  }
  .floatingRight {
    float: right;
  }
  #sixthSectionDetailsJU1 {
    font-family: 'Open Sans';
    font-weight: 300;
    vertical-align: top;
  }
  .movingLogoToRight {
    margin-left: 340px;
  }
  .movingLogoToLeft {
    margin-left: 40px;
  }
  .footerOverlay {
    background-color: #CCCCCC;
    opacity: 0.7;
    width: 100%;
    height: 300px;
  }
  #myOwnFooterOverlay {
    opacity: 0.5;
    font-family: 'Open Sans', sans-serif;
    margin: 60px 50px 10px 30px;
    padding: 30px 20px 30px 20px;
    border-radius: 10px;
    background-color: #000000;
    background-color: rgba(0,0,0,0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    width: 305px;
    display: inline-block;
  }
  #myOwnFooterOverlay span {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 150px;
  }
  #myOwnFooterOverlayRight {
    opacity: 0.5;
    width: 500px;
    margin: 40px 50px 10px 0px;
    padding: 50px 20px 35px 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 400px;
    display: inline-block;
    vertical-align: top;
  }
  #myOwnFooterOverlayRight span {
    font-family: 'Open Sans', sans-serif;
    vertical-align: top;
    text-align: center;
    width: 150px;
  }
  #secondLevelTable {
    width: 400px;
    text-align: center;
    vertical-align: top;
  }
  #secondLevelTable span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: table-cell;
    width: 150px;
    padding: 0px;
  }
  #clientsStripes {
    display: block;
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/Img_trust-logos-large.png') no-repeat;
    background-size: 3300px 80px;
    height: 80px;
    width: 400px !IMPORTANT;
    -webkit-transition: all ease-in-out 2000ms;
    -o-transition: all ease-in-out 2000ms;
    -ms-transition: all ease-in-out 2000ms;
    -moz-transition: all ease-in-out 2000ms;
    transition: all ease-in-out 2000ms;
  }
  #alliance {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/img_logos_xebia_alliance.png') no-repeat;
    background-size: 150 250px;
    height: 50px;
    width: 150px !IMPORTANT;
    -webkit-transition: all ease-in-out 2000ms;
    -o-transition: all ease-in-out 2000ms;
    -ms-transition: all ease-in-out 2000ms;
    -moz-transition: all ease-in-out 2000ms;
    transition: all ease-in-out 2000ms;
  }
  .clientsStripesBgPosition {
    background-position: center 90%;
  }
  .bigFooterText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 !IMPORTANT;
    font-size: 3em;
  }
  .letsTalk {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #FFFFFF;
    opacity: 0.8;
    margin-left: 480px;
    margin-top: -85px;
  }
  #mailToHello:hover {
    background-color: #FFFFFF;
  }
  #mailToHello {
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    font-weight: 300;
    color: #000000;
    padding: 10px;
    background-color: #CCCCCC;
    border-radius: 10px;
    margin: 0px 40px 0px 10px;
  }
  #sixthSectionDetailsJU2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  #sixthSectionDetailsJU3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  #sixthSectionDetailsJU4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  #sixthSectionDetailsJU4 #colorMenu {
    width: 340px;
    padding-left: 60px;
    color: #CCC;
  }
  #sixthSectionDetailsJU4 #colorMenu span {
    text-align: center;
    width: 80px;
    display: inline-block;
  }
  #sixthSectionDetailsJU4 #colorMenu span:hover {
    color: #FFF;
  }
  #sixthSectionDetailsJU4 .visibleMenu {
    margin-left: 0px;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  #sixthSectionDetailsJU4 .invisibleMenu {
    margin-left: -450px;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  #sixthSectionDetailsJU4 .myHeader img {
    display: inline-block;
    vertical-align: middle;
  }
  #sixthSectionDetailsJU4 a {
    text-decoration: none;
    color: #CCC;
  }
  #sixthSectionDetailsJU4 #intro {
    vertical-align: middle;
    display: inline-block;
    width: 60%;
    padding: 0px 0px 10px 20px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    font-size: 2em;
  }
  #sixthSectionDetailsJU4 #navElems {
    text-align: center;
  }
  #sixthSectionDetailsJU4 #navElems li {
    float: left;
    display: inline-block;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: #FFF;
    margin: 5px 0px 5px 0px;
    -webkit-transition: all ease-in-out 250ms;
    -o-transition: all ease-in-out 250ms;
    -moz-transition: all ease-in-out 250ms;
    -ms-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
  }
  #sixthSectionDetailsJU4 #navElems li:hover {
    color: #FFF;
    -webkit-transition: all ease-in-out 250ms;
    -o-transition: all ease-in-out 250ms;
    -moz-transition: all ease-in-out 250ms;
    -ms-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
  }
  #sixthSectionDetailsJU4 .inputRight {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    float: right;
    margin-right: 0;
  }
  #sixthSectionDetailsJU4 input:focus {
    outline: 0;
  }
  #sixthSectionDetailsJU4 .label {
    font-size: 1em;
    padding: 10px 10px 10px 30px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #16B0DC;
    border-top: 2px solid #910359;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    overflow: hidden;
  }
  #sixthSectionDetailsJU4 .upperLabel {
    border-top-right-radius: 0px;
  }
  #sixthSectionDetailsJU4 .thisIsMyTable {
    display: table-row;
    width: 100%;
  }
  #sixthSectionDetailsJU4 .thisIsMyTableCell {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    padding-left: 10%;
  }
  #sixthSectionDetailsJU4 .fieldsContainer {
    margin-bottom: 15px;
  }
  #sixthSectionDetailsJU4 .submitButton {
    border: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    padding: 20px;
    margin-top: 50px;
    background: #FFF;
    font-size: 2em;
    border: 1px solid #CCCCCC;
    border-radius: 35px;
  }
  #sixthSectionDetailsJU4 .submitButton:hover {
    background-color: #16B0DC;
    color: #FFF;
  }
  #sixthSectionDetailsJU4 #whyHere {
    position: absolute;
    top: 50px;
    left: 8%;
    width: 80%;
    height: 1000px;
    background-color: #CCC;
    opacity: 1;
    color: #000;
    padding: 20px;
  }
  #sixthSectionDetailsJU4 .unDisplayed {
    margin-left: 0%;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  #sixthSectionDetailsJU4 .unDisplayed {
    margin-left: -100%;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  #sixthSectionDetailsJU4 .closingButton {
    float: right;
    margin-top: -40px;
    margin-right: -40px;
  }
  #sixthSectionDetailsJU4 .highlightedStuff {
    color: #16B0DC;
  }
  #sixthSectionDetailsJU3 .recruiting {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
  }
  .recruitmentDisclamer {
    width: 450px;
    display: inline-block;
  }
  .sendingEmail {
    float: right;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    bottom: 20px !IMPORTANT;
    border: 1px solid #910359;
  }
  #sectionMap {
    padding-top: 1px;
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/img_background-home_07.jpg') #222222 no-repeat top left;
    background-size: 900px 360px;
    opacity: 0.9;
    height: 360px;
    z-index: -1;
  }
  #blackOverlay2 {
    position: absolute;
    top: 4440px;
    width: 100%;
    height: 400px;
    z-index: 2000;
  }
  #contentOverOverlay {
    position: absolute;
    top: 4440px;
    width: 100%;
    opacity: 0.8;
    height: 400px;
    z-index: 2000;
  }
  .partnersName {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  .partnersActivity {
    font-size: 0.8em;
  }
  .peopleButton input {
    background-color: #EFEFEF;
  }
  .peopleButton:hover input {
    background-color: #DDDDDD;
  }
  .peopleButton:hover {
    background-color: #DDDDDD;
    cursor: pointer;
  }
  .imageAsInlineBlock img {
    box-shadow: 1px 1px 5px #CCCCCC;
  }
  .bioClients {
    margin-left: 400px;
  }
  .romainSmall,
  .yannSmall,
  .sebSmall,
  .lucSmall {
    width: 207px;
    height: 350px;
  }
  .romainSmall {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/team_photos/img_team_detail_romain.jpg') no-repeat center center;
    background-size: 207px 400px;
  }
  .sebSmall {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/team_photos/img_team_detail_sebastien.jpg') no-repeat center center;
    background-size: 207px 400px;
  }
  .yannSmall {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/team_photos/img_team_detail_yann.jpg') no-repeat center center;
    background-size: 207px 400px;
  }
  .lucSmall {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/team_photos/img_team_detail_luc@2x.jpg') no-repeat center top;
    background-size: 207px 400px;
  }
  .layingBioContent {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-left: 360px;
    display: block;
    font-size: 1.3em;
    line-height: 1;
  }
  .bigItUp {
    font-weight: 700;
    font-size: 0.9em;
    padding-bottom: 30px;
  }
  .exposant {
    position: relative;
    bottom: 1px;
    font-size: .7em;
    line-height: .8em;
    vertical-align: super;
    text-decoration: none;
  }
  .jobBulletPoints :first-child {
    padding-bottom: 20px;
  }
  .jobBulletPoints li {
    padding-top: 7px;
  }
  .joinUSBold {
    color: #9A2469;
    font-weight: 700;
  }
  .tenBullets {
    font-size: 0.8em;
    width: 400px;
    display: inline-block;
    padding-left: 0;
    -webkit-margin-before: 0;
    -o-margin-before: 0;
    -ms-margin-before: 0;
    margin-before: 0;
    list-style-type: none;
    -webkit-padding-start: 0px;
    -o-padding-start: 0px;
    -moz-padding-start: 0px;
    -ms-padding-start: 0px;
    margin-left: 20px;
  }
  .tenBullets li {
    padding-top: 5px;
  }
  .chocSentense {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    color: #9A2469;
    font-weight: 300;
    font-size: 2em;
    width: 430px;
    margin-top: 325px;
    margin-left: 25px;
    text-align: right;
  }
  .joinUsPoint {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-weight: 700;
    font-size: 5.1em;
    color: #9A2469;
    line-height: 0.8;
    padding-top: 20px;
  }
  .joinUsPointSecond {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-weight: 700;
    font-size: 2.5em;
    color: #9A2469;
    padding-bottom: 20px;
  }
  .joinUsValues {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-weight: 700;
    font-size: 3em;
    color: #9A2469;
    padding-bottom: 20px;
    margin-top: 50px;
  }
  .subHeaderMidText {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-weight: 700;
    padding-top: 20px;
  }
  .tenBullets ul {
    margin-top: 0;
  }
  .formSubheader {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #000000;
    padding-top: 20px;
  }
  .formSubheaderL2 {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    color: #000000;
    line-height: 2;
  }
  #sixthSectionDetailsJU3 .recruiting input {
    width: 170px;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    margin-bottom: 8px;
  }
  .employes {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.3em;
    vertical-align: top;
    margin-top: -40px !IMPORTANT;
    display: block;
  }
  #rencontronsNous {
    display: inline-block;
    text-align: center;
    font-size: 1em;
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/btn_contact@2x.png') transparent no-repeat top left;
    background-size: 300px 108px;
    width: 300px;
    height: 54px;
    vertical-align: middle;
  }
  #rencontronsNous a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    padding-top: 15px;
    font-weight: 300;
  }
  #rencontronsNous:hover {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/btn_contact@2x.png') transparent no-repeat bottom left;
    background-size: 300px 108px;
  }
  #vZero {
    position: fixed;
    float: right;
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/img-Beta@2x.png') no-repeat top left;
    background-size: 124px 124px;
    height: 124px;
    width: 124px;
    top: 0;
    right: 0;
    z-index: 100000;
  }
}
@media all and (max-width: 768px) {
  #overlayWindow {
    display: none;
  }
  .noDisplay {
    display: none;
  }
  .shouldDisplay {
    display: block;
    height: 0;
  }
  .hideOverlay {
    height: 0%;
    -webkit-transition: all ease-in-out 350ms;
    -o-transition: all ease-in-out 350ms;
    -moz-transition: all ease-in-out 350ms;
    -ms-transition: all ease-in-out 350ms;
    transition: all ease-in-out 350ms;
  }
  .dislayWholeContent {
    margin-left: 0;
  }
  .hideWholeContent {
    margin-left: 250px;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  .displayMainSections {
    margin-left: 0;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  .hideNav {
    left: -100%;
    position: absolute;
  }
  .displayNav {
    position: fixed;
    left: 0;
    -webkit-transition: all ease-in-out 350ms;
    overflow-y: hidden;
  }
  .mainTitlePageTop {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    min-width: 550px;
    display: inline-block;
    margin-left: 40px;
    vertical-align: top;
    line-height: 120%;
    color: #FFFFFF;
  }
  .mainTitlePageTopBold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.9em;
    min-width: 550px;
    display: inline-block;
    margin-left: 40px;
    vertical-align: top;
    line-height: 120%;
    color: #FFFFFF;
  }
  .titleH1Type {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    min-width: 550px;
    display: inline-block;
    margin-left: 20px;
    padding-top: 10px;
    vertical-align: middle;
    line-height: 150%;
    color: #FFFFFF;
  }
  .interSubText {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    margin-left: 20px;
    display: inline-block;
    padding-right: 30px;
    max-width: 600px;
    color: #FFFFFF;
  }
  .subAbstractText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: inline-block;
  }
  .hideGetMoreDetailsSection {
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  .displayGetMoreDetailsSection {
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  .detailedParagraph1 {
    font-family: 'Open Sans';
    vertical-align: top;
    display: inline-block;
    padding: 5px;
    font-size: 0.8em;
  }
  .detailedParagraph2 {
    font-family: 'Open Sans';
    vertical-align: top;
    display: inline-block;
    padding: 5px 5px 5px 10px;
    font-size: 0.8em;
  }
  .detailSubTitle {
    display: block;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .getMoreDetails {
    font-size: 2em;
    display: inline-block;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    width: 42px;
    height: 18px;
  }
  .plusImage {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/icon_home_more.png') transparent no-repeat top left;
    background-size: 62px 144px;
  }
  .hideGetMoreDetailsSection {
    height: 0;
    margin-left: 100%;
    opacity: 0;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  .displayGetMoreDetailsSection {
    height: auto;
    margin: 10px 10px 0px 10px;
    padding-bottom: 20px;
    opacity: 1;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  .detailBoldClass {
    color: #3683C3;
    font-weight: 700;
  }
  .detailBoldGreenClass {
    color: #9EB73C;
    font-weight: 700;
  }
  .mainTitlePageTopBold {
    font-size: 1.6em;
  }
  #overlayWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    background-color: #000000;
    z-index: 1000;
    overflow: hidden;
  }
  #mainLogoDocked {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/img_logo_home.png') transparent no-repeat left 5px;
    background-size: 250px 252px;
    position: absolute;
    vertical-align: center;
    top: 20px;
    height: 250px;
    width: 252px;
    opacity: 0.9;
    padding-left: 20px;
  }
  #menuButton {
    position: fixed;
    display: block;
    height: 58px;
    width: 57px;
    top: 24px;
    -webkit-transition: left ease-in-out 350ms;
  }
  .menuButtonLeft {
    left: 10px;
  }
  .menuButtonOpened {
    left: 330px;
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/icon_home_menu_close.png') no-repeat center top;
    background-size: 57px 174px;
  }
  .menuButtonOpened:hover {
    left: 330px;
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/icon_home_menu_close.png') no-repeat center center;
    background-size: 57px 174px;
  }
  .menuButtonOpened:visited {
    left: 330px;
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/icon_home_menu_close.png') no-repeat center bottom;
    background-size: 57px 174px;
  }
  .simpleButton {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/icon_home_menu.png') transparent no-repeat top left;
    background-size: 57px 174px;
  }
  .simpleButton:hover {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/icon_home_menu.png') transparent no-repeat center left;
    background-size: 57px 174px;
  }
  .simpleButton:visited {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/icon_home_menu.png') transparent no-repeat bottom left;
    background-size: 57px 174px;
  }
  .movingLogoToLeft {
    margin-left: 10px;
  }
  #UXRMenu {
    display: inline-block;
    float: left;
    height: 45px;
    width: 15px;
    background-color: #288ACF;
    border-left: 1px solid #314454;
    border-right: 1px solid #314454;
    border: 1px solid rgba(49,68,84,0.5);
    clear: both;
  }
  #UXDMenu {
    display: inline-block;
    float: left;
    height: 45px;
    width: 15px;
    background-color: #77AA00;
    border-left: 1px solid #495E19;
    border-right: 1px solid #495E19;
    border: 1px solid rgba(73,94,25,0.5);
    clear: both;
  }
  #DDMenu {
    display: inline-block;
    float: left;
    height: 45px;
    width: 15px;
    background-color: #EA9900;
    border-left: 1px solid #D69213;
    border-right: 1px solid #D69213;
    border: 1px solid rgba(214,146,19,0.5);
    clear: both;
  }
  #EMenu {
    display: inline-block;
    float: left;
    height: 45px;
    width: 15px;
    background-color: #ED2D2A;
    border-left: 1px solid #7E2C29;
    border-right: 1px solid #7E2C29;
    border: 1px solid rgba(126,44,41,0.5);
    clear: both;
  }
  #AMenu {
    display: inline-block;
    float: left;
    height: 45px;
    width: 15px;
    background-color: #980097;
    border-left: 1px solid #581256;
    border-right: 1px solid #581256;
    border: 1px solid rgba(88,18,86,0.5);
    clear: both;
  }
  #JMenu {
    display: inline-block;
    float: left;
    height: 45px;
    width: 15px;
    background-color: #AD0058;
    border-left: 1px solid #611A3C;
    border-right: 1px solid #611A3C;
    border: 1px solid rgba(97,26,60,0.5);
    clear: both;
  }
  #CMenu {
    display: inline-block;
    float: left;
    height: 45px;
    width: 15px;
    background-color: #363636;
    border-left: 1px solid #2E2E2E;
    border-right: 1px solid #2E2E2E;
    clear: both;
  }
  #nav {
    width: 250px;
    height: 100%;
    position: fixed;
    font-family: 'Open Sans', sans-serif;
    line-height: 150%;
    background: #292929;
    background: -moz-linear-gradient(left,#292929 0%,#232323 81%,#232323 89%,#191919 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,#292929),color-stop(81%,#232323),color-stop(89%,#232323),color-stop(100%,#191919));
    background: -webkit-linear-gradient(left,#292929 0%,#232323 81%,#232323 89%,#191919 100%);
    background: -o-linear-gradient(left,#292929 0%,#232323 81%,#232323 89%,#191919 100%);
    background: -ms-linear-gradient(left,#292929 0%,#232323 81%,#232323 89%,#191919 100%);
    background: linear-gradient(to right,#292929 0%,#232323 81%,#232323 89%,#191919 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929',endColorstr='#191919',GradientType=1);
  }
  #nav ul {
    list-style-type: none;
    padding-left: 0;
    -webkit-margin-before: 0;
    -o-margin-before: 0;
    -ms-margin-before: 0;
    margin-before: 0;
  }
  #nav ul li a {
    text-decoration: none;
    padding-left: 30px;
    color: #555555;
    height: 35px;
    display: block;
    padding-top: 10px;
    border-top: 1px solid #2F2F2F;
    border: 1px solid rgba(47,47,47,0.5);
    font-size: 1.4em;
  }
  #nav ul li a:hover {
    color: #FFFFFF;
  }
  #sixthSectionDetails {
    margin: 0px 10px 0px 10px;
    background-color: #FFFFFF;
    padding: 0px 10px 0px 10px;
  }
  #section0 {
    background: url("/web/20140524100452im_/http://www.ux-republic.com/img/img_background-top4.jpg") center top no-repeat fixed;
    background-size: 800px 400px;
    overflow: hidden;
    -webkit-transition: background-size ease-out 8000ms, background-position ease-in 8000ms;
    -o-transition: background-size ease-out 8000ms, background-position ease-in 8000ms;
    -moz-transition: background-size ease-out 8000ms, background-position ease-in 8000ms;
    -ms-transition: background-size ease-out 8000ms, background-position ease-in 8000ms;
    transition: background-size ease-out 8000ms, background-position ease-in 8000ms;
    height: 400px;
  }
  #mainTagLine {
    margin-top: 250px;
  }
  #section1 {
    background-color: #3874B2;
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
    padding-bottom: 20px;
  }
  #firstSectionDetails,
  #secondSectionDetails,
  #thirdSectionDetails,
  #fourthSectionDetails,
  #fourthSectionDetailsBio1,
  #fourthSectionDetailsBio2,
  #fourthSectionDetailsBio3,
  #fourthSectionDetailsBio4,
  #fifthSectionDetails,
  #sixthSectionDetails,
  #sixthSectionDetailsJU1,
  #sixthSectionDetailsJU2,
  #sixthSectionDetailsJU3,
  #sixthSectionDetailsJU4 {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    width: 80%;
  }
  #firstSectionDetails {
    background-color: #FFFFFF;
    background-size: 460px 111px;
    border: none;
    padding: 20px 20px 20px 20px;
    z-index: 1;
  }
  #sixthSectionDetailsJU4 {
    background-color: #FFFFFF;
  }
  #sixthSectionDetailsJU2 span,
  #sixthSectionDetailsJU3 span,
  #sixthSectionDetailsJU4 span {
    display: inline-block;
    padding: 10px;
  }
  .fieldsContainer {
    width: 90%;
  }
  #gatheringOnClicks1 {
    margin-left: 40px;
    margin-bottom: 20px;
    -webkit-transition: left ease-in-out 350ms;
    -o-transition: left ease-in-out 350ms;
    -moz-transition: left ease-in-out 350ms;
    -ms-transition: left ease-in-out 350ms;
    transition: left ease-in-out 350ms;
  }
  #section2 {
    background-color: #7BA600;
    padding-bottom: 60px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
  }
  #secondSectionDetails {
    background-color: #FFFFFF;
    background-size: 132px 281px;
    padding: 20px;
    z-index: 1;
  }
  #gatheringOnClicks2 {
    margin-left: 40px;
    margin-bottom: 20px;
    -webkit-transition: left ease-in-out 350ms;
    -o-transition: left ease-in-out 350ms;
    -ms-transition: left ease-in-out 350ms;
    -moz-transition: left ease-in-out 350ms;
    transition: left ease-in-out 350ms;
  }
  #section3 {
    background-color: #D87801;
    background-size: 600px 400px;
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
    padding-bottom: 20px;
  }
  #thirdSectionDetails {
    background-color: #FFFFFF;
    border: 1px solid #F4F3F3;
    padding: 20px;
    z-index: 1;
  }
  #gatheringOnClicks3 {
    left: 91%;
    -webkit-transition: left ease-in-out 350ms;
    -o-transition: left ease-in-out 350ms;
    -moz-transition: left ease-in-out 350ms;
    ms-transition: left ease-in-out 350ms;
    transition: left ease-in-out 350ms;
  }
  #section4 {
    background-color: #F84642;
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
    padding-bottom: 20px;
  }
  #fourthSectionDetails {
    display: none;
    background-color: #FFFFFF;
    border: 1px solid #F4F3F3;
    padding: 20px;
    z-index: 1;
  }
  #gatheringOnClicks4 {
    -webkit-transition: left ease-in-out 350ms;
    -o-transition: left ease-in-out 350ms;
    -moz-transition: left ease-in-out 350ms;
    -ms-transition: left ease-in-out 350ms;
    transition: left ease-in-out 350ms;
    left: 91%;
  }
  #section5 {
    background-color: #890096;
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
    padding-bottom: 20px;
  }
  #fifthSectionDetails {
    background-color: #FFFFFF;
    padding: 20px;
    z-index: 1;
  }
  #gatheringOnClicks5 {
    left: 91%;
    -webkit-transition: left ease-in-out 350ms;
    -o-transition: left ease-in-out 350ms;
    -moz-transition: left ease-in-out 350ms;
    -ms-transition: left ease-in-out 350ms;
    transition: left ease-in-out 350ms;
  }
  #section6 {
    background: #910359;
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #sixthSectionDetails {
    padding: 20px;
    z-index: 1;
    overflow-x: auto;
  }
  #smallLogo,
  #smallLogoUXD,
  #smallLogoDV,
  #smallLogoTeam,
  #smallLogoAlliance,
  #smallLogoJU {
    display: none;
  }
  #sectionMap {
    display: none;
  }
  #gatheringOnClicks1,
  #gatheringOnClicks2,
  #gatheringOnClicks3,
  #gatheringOnClicks4,
  #gatheringOnClicks5,
  #gatheringOnClicks6 {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  #rainbow {
    background-color: #363636;
    width: 100%;
    height: 10px;
    float: left;
  }
  #rainbow1,
  #rainbow2,
  #rainbow3,
  #rainbow4,
  #rainbow5,
  #rainbow6,
  #rainbow7 {
    display: inline-block;
    height: 10px;
    width: 14%;
    padding: 0;
    margin: 0;
    float: left;
    z-index: 4000;
  }
  #rainbow1 {
    background-color: #288ACF;
  }
  #rainbow2 {
    background-color: #77AA00;
  }
  #rainbow3 {
    background-color: #EA9900;
  }
  #rainbow4 {
    background-color: #ED2D2A;
  }
  #rainbow5 {
    background-color: #980097;
  }
  #rainbow6 {
    background-color: #AD0058;
  }
  #rainbow7 {
    background-color: #363636;
  }
  #sixthSectionDetailsJU1,
  #sixthSectionDetailsJU2,
  #sixthSectionDetailsJU3,
  #sixthSectionDetailsJU5 {
    font-family: 'Open Sans';
    background-color: #FFFFFF;
    margin: 0;
  }
  .jobTitle {
    font-size: 2em;
    font-weight: 700;
    color: #8C2E68;
    padding: 10px;
  }
  .jobSubHeader {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.8em;
    padding: 10px;
  }
  .jobBulletPoints {
    font-size: 0.8em;
    padding: 10px;
  }
  .leitmotiv {
    margin-left: 30px;
    display: inline-block;
    padding: 10px;
  }
  .jobOffers3 {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    padding: 10px;
  }
  .jobBulletPoints {
    list-style-type: none;
  }
  .swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
  }
  #overlayWindow {
    display: none;
  }
  .thirdSectionTitle {
    display: inline-block;
    font-family: 'Open Sans';
    color: #C67A2F;
    font-weight: 700;
    padding-top: 20px;
  }
  .thirdSectionSubTitle {
    display: inline-block;
    font-family: 'Open Sans';
    color: #C67A2F;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .secondParagraph {
    display: inline-block;
    padding-top: 20px;
  }
  .jobOffers {
    float: left;
    font-family: 'Open Sans';
    font-weight: 300;
    display: inline-block;
    width: 230px;
    clear: both;
    padding-top: 30px;
  }
  .jobOffers2 {
    font-family: 'Open Sans';
    font-weight: 300;
    padding-left: 30px;
    display: inline-block;
    width: 230px;
    vertical-align: top;
    margin-top: -5px;
  }
  .jobOffers3 {
    font-family: 'Open Sans';
    font-weight: 300;
    width: 230px;
    display: inline-block;
    vertical-align: top;
    float: right;
    padding-top: 15px;
  }
  .jobTitle {
    font-size: 1.6em;
    font-weight: 700;
    color: #8C2E68;
  }
  .jobSubHeader {
    display: block;
    color: #8C2E68;
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 0.8em;
  }
  .jobBulletPoints {
    font-size: 0.8em;
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-padding-start: 0;
  }
  .floatingRight {
    float: right;
  }
  #sixthSectionDetailsJU1 {
    font-family: 'Open Sans';
    font-weight: 300;
    vertical-align: top;
  }
  .footerOverlay {
    background-color: #CCCCCC;
    opacity: 0.7;
    width: 100%;
    height: 300px;
  }
  #myOwnFooterOverlay {
    opacity: 0.5;
    font-family: 'Open Sans', sans-serif;
    margin: 30px 50px 10px 50px;
    padding: 50px 20px 50px 20px;
    border-radius: 10px;
    background-color: #000000;
    background-color: rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    display: inline-block;
  }
  #myOwnFooterOverlay span {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 150px;
  }
  #myOwnFooterOverlayRight span {
    font-family: 'Open Sans', sans-serif;
    vertical-align: top;
    text-align: center;
    width: 150px;
  }
  #secondLevelTable span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: table-cell;
    width: 150px;
    padding: 0px;
  }
  #alliance {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/img_logos_xebia_alliance.png') no-repeat;
    background-size: 150px 250px;
    height: 50px;
    width: 150px !IMPORTANT;
    -webkit-transition: all ease-in-out 2000ms;
    -o-transition: all ease-in-out 2000ms;
    -ms-transition: all ease-in-out 2000ms;
    -moz-transition: all ease-in-out 2000ms;
    transition: all ease-in-out 2000ms;
  }
  .clientsStripesBgPosition {
    background-position: center 90%;
  }
  .bigFooterText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2em;
  }
  .letsTalk {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    color: #FFFFFF;
    opacity: 0.8;
    margin-left: 200px;
  }
  #mailToHello {
    display: inline-block;
    text-decoration: none;
    font-size: 0.7em;
    font-weight: 300;
    color: #000000;
    padding: 10px;
    background-color: #CCCCCC;
    border-radius: 10px;
    margin: 0px 40px 20px 40px;
  }
  #sixthSectionDetailsJU4 #colorMenu span {
    text-align: center;
    width: 80px;
    display: inline-block;
  }
  #sixthSectionDetailsJU4 #colorMenu span:hover {
    color: #FFF;
  }
  #sixthSectionDetailsJU4 .myHeader img {
    display: inline-block;
    vertical-align: middle;
  }
  #sixthSectionDetailsJU4 a {
    text-decoration: none;
    color: #CCC;
  }
  #sixthSectionDetailsJU4 #intro {
    vertical-align: middle;
    display: inline-block;
    width: 60%;
    padding: 0px 0px 10px 20px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    font-size: 2em;
  }
  #sixthSectionDetailsJU4 #navElems {
    text-align: center;
  }
  #sixthSectionDetailsJU4 #navElems li {
    float: left;
    display: inline-block;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: #FFF;
    margin: 5px 0px 5px 0px;
    -webkit-transition: all ease-in-out 250ms;
    -o-transition: all ease-in-out 250ms;
    -moz-transition: all ease-in-out 250ms;
    -ms-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
  }
  #sixthSectionDetailsJU4 #navElems li:hover {
    color: #FFF;
    -webkit-transition: all ease-in-out 250ms;
    -o-transition: all ease-in-out 250ms;
    -moz-transition: all ease-in-out 250ms;
    -ms-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
  }
  #sixthSectionDetailsJU4 .inputRight {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    float: right;
    margin-right: 0;
  }
  #sixthSectionDetailsJU4 input:focus {
    outline: 0;
  }
  #sixthSectionDetailsJU4 .label {
    font-size: 1em;
    padding: 10px 10px 10px 30px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #16B0DC;
    border-top: 2px solid #910359;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    overflow: hidden;
  }
  #sixthSectionDetailsJU4 .upperLabel {
    border-top-right-radius: 0px;
  }
  #sixthSectionDetailsJU4 .thisIsMyTable {
    display: table-row;
  }
  #sixthSectionDetailsJU4 .thisIsMyTableCell {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    padding-left: 10%;
  }
  #sixthSectionDetailsJU4 .fieldsContainer {
    margin-bottom: 15px;
  }
  #sixthSectionDetailsJU4 .submitButton {
    border: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    padding: 20px;
    margin-top: 50px;
    background: #FFF;
    font-size: 2em;
    border: 1px solid #CCCCCC;
    border-radius: 35px;
  }
  #sixthSectionDetailsJU4 .submitButton:hover {
    background-color: #16B0DC;
    color: #FFF;
  }
  #sixthSectionDetailsJU4 #whyHere {
    position: absolute;
    top: 50px;
    left: 8%;
    width: 80%;
    height: 1000px;
    background-color: #CCC;
    opacity: 1;
    color: #000;
    padding: 20px;
  }
  #sixthSectionDetailsJU4 .unDisplayed {
    margin-left: 0%;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  #sixthSectionDetailsJU4 .unDisplayed {
    margin-left: -100%;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  #sixthSectionDetailsJU4 .closingButton {
    float: right;
    margin-top: -40px;
    margin-right: -40px;
  }
  #sixthSectionDetailsJU4 .highlightedStuff {
    color: #16B0DC;
  }
  #sixthSectionDetailsJU3 .recruiting {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
  }
  .recruitmentDisclamer {
    width: 450px;
    display: inline-block;
  }
  .sendingEmail {
    float: right;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    bottom: 20px !IMPORTANT;
    border: 1px solid #910359;
  }
  #sectionMap {
    padding-top: 1px;
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/img_background-home_07.jpg') #222222 no-repeat top left;
    background-size: 900px 360px;
    opacity: 0.9;
    height: 400px;
    z-index: -1;
  }
  #contentOverOverlay {
    position: absolute;
    top: 4440px;
    width: 100%;
    opacity: 0.8;
    height: 400px;
    z-index: 2000;
  }
  .partnersName {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  .partnersActivity {
    font-size: 0.8em;
  }
  .peopleButton input {
    background-color: #EFEFEF;
  }
  .peopleButton:hover input {
    background-color: #DDDDDD;
  }
  .peopleButton:hover {
    background-color: #DDDDDD;
    cursor: pointer;
  }
  .imageAsInlineBlock img {
    box-shadow: 1px 1px 5px #CCCCCC;
  }
  .bioClients {
    margin-left: 400px;
  }
  .romainSmall,
  .yannSmall,
  .sebSmall,
  .lucSmall {
    width: 207px;
    height: 350px;
  }
  .romainSmall {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/team_photos/img_team_detail_romain.jpg') no-repeat center center;
    background-size: 207px 400px;
  }
  .sebSmall {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/team_photos/img_team_detail_sebastien.jpg') no-repeat center center;
    background-size: 207px 400px;
  }
  .yannSmall {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/team_photos/img_team_detail_yann.jpg') no-repeat center center;
    background-size: 207px 400px;
  }
  .lucSmall {
    background: url('/web/20140524100452im_/http://www.ux-republic.com/img/team_photos/img_team_detail_luc.jpg') no-repeat center top;
    background-size: 207px 400px;
  }
  .layingBioContent {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-left: 360px;
    display: block;
    font-size: 1.3em;
    line-height: 1;
  }
  .bigItUp {
    font-weight: 700;
    font-size: 0.9em;
    padding-bottom: 30px;
  }
  .exposant {
    position: relative;
    bottom: 1px;
    font-size: .7em;
    line-height: .8em;
    vertical-align: super;
    text-decoration: none;
  }
  .jobBulletPoints :first-child {
    padding-bottom: 20px;
  }
  .jobBulletPoints li {
    padding-top: 7px;
  }
  .joinUSBold {
    color: #9A2469;
    font-weight: 700;
  }
  .tenBullets {
    font-size: 0.8em;
    width: 400px;
    display: inline-block;
    padding-left: 0;
    -webkit-margin-before: 0;
    -o-margin-before: 0;
    -ms-margin-before: 0;
    margin-before: 0;
    list-style-type: none;
    -webkit-padding-start: 0px;
    -o-padding-start: 0px;
    -moz-padding-start: 0px;
    -ms-padding-start: 0px;
    margin-left: 20px;
  }
  .tenBullets li {
    padding-top: 5px;
  }
  .chocSentense {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    color: #9A2469;
    font-weight: 300;
    font-size: 2em;
    display: none;
    margin-top: 25px;
    margin-left: 25px;
    text-align: right;
  }
  .joinUsPoint {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-weight: 700;
    font-size: 5.1em;
    color: #9A2469;
    line-height: 0.8;
    padding-top: 20px;
  }
  .joinUsPointSecond {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-weight: 700;
    font-size: 2.5em;
    color: #9A2469;
    padding-bottom: 20px;
  }
  .joinUsValues {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-weight: 700;
    font-size: 3em;
    color: #9A2469;
    padding-bottom: 20px;
    margin-top: 50px;
  }
  .subHeaderMidText {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-weight: 700;
    padding-top: 20px;
  }
  .tenBullets ul {
    margin-top: 0;
  }
  .formSubheader {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #000000;
    padding-top: 20px;
  }
  .formSubheaderL2 {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    color: #000000;
    line-height: 2;
  }
  #sixthSectionDetailsJU3 .recruiting input {
    width: 170px;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    margin-bottom: 8px;
  }
  #firstSectionDetails,
  #secondSectionDetails,
  #thirdSectionDetails {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    background-color: #FFFFFF;
    margin: 10px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  #fourthSectionDetails,
  #fourthSectionDetailsBio1,
  #fourthSectionDetailsBio2,
  #fourthSectionDetailsBio3,
  #fourthSectionDetailsBio4,
  #fifthSectionDetails,
  #sixthSectionDetails,
  #sixthSectionDetailsJU1,
  #sixthSectionDetailsJU2,
  #sixthSectionDetailsJU3,
  #sixthSectionDetailsJU4 {
    display: none;
  }
  #menuButton,
  #gatheringOnClicks4 {
    display: none;
  }
}

/*
     FILE ARCHIVED ON 10:04:52 May 24, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:08:04 Sep 08, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/