/*   
Theme Name: Dorayaki Child
Theme URI:
Description: Your child theme description text...
Author: Your Name
Author URI: http://www.yourdomain.com/
Template: dorayaki
Version: 1.0
Tags: Dorayaki Child Theme
*/

/* Import the stylesheet from the Dorayaki parent theme */
@import url('../dorayaki/style.css');

/* =Page d'acceuil
----------------------------------------------- */

h1.titre-top {
	margin-top: 0 !important ;
}

.entry-thumbnail {
	line-height: 0;
	text-align: center;
	padding: 0 0 30px;
}
.entry-thumbnail img.wp-post-img {
	line-height: 0;
}

.entry-thumbnail{
	margin: 0 auto;
}

/* =note récente
----------------------------------------------- */

h1.fond {
	margin: 2.2em 0 1em;
}

#notes  a{
	color: #3f3f3f;

}

#reference a.entry-note:after, #notes a.entry-note:after, div.entry-date a.entry-note:after{
	    content: "";
	    display: inline;
	    font: 15px/1.2 'Genericons';
	    padding: 0 6px 0 3px;
}

#reference .entry-note, #notes .entry-note {
	padding: 10px 0 0;
	color: #9e9e9e;
	letter-spacing: 1px;
	overflow: hidden;
	margin-right: 0.1rem;
	width: 14rem;
}

#notes .entry-note {
display: inline-block;}

#notes .titre-note {
display: table-cell;
padding: 10px 0 0;
	}
	

#notes ul li{ border-bottom:2px solid #EAEAEA; padding:5px 0;
		list-style-type: none;
	margin-left: 0em;
}

#notes ul{
	margin-left: 0;
	padding-left: 0;
}

/* 
archives */

#reference .bloc-ref {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 0em 0em;
	line-height: 1.5;
	border-top:2px solid #EAEAEA;
}




/* =Footer
----------------------------------------------- */

footer #cms {
	font-size: 1em;
    -webkit-columns:3 12em ;
    -moz-columns:3 12em ;
    column-count:3 12em ;
-moz-column-gap:1.618em;
-webkit-column-gap:1.618em;
-o-column-gap:1.618em;
column-gap:1.618em;
	margin: 1.618em;
}



footer #cms h4 {
	margin: 0;
	font-size: 1.142em;
	line-height: 1.222em;
	margin-top: 1.222em;
}


footer #cms h4:first-child {
	margin-top: 0em;
}


footer #cms ul {
	margin: 0;
}
footer #cms li {
	margin: 0 0 0 -2rem;
	list-style-type: disc;
	list-style-position: inside;
	font-size: 0.857em;
	line-height: 1.833em;
}

footer #cms a{
	text-decoration: none;
	color: #3d3d3d;
}

footer #cms a:hover, #notes a:hover, .entry-details .entry-date a:hover, .entry-details .entry-comments a:hover{
	color: #0092eb;
	text-decoration: none;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
}


#colophon {
	clear: both;
		border-top: 1px solid #ddd;
	background-color: #f9f9f9;
}
#supplementary {
	border-top: 1px solid #ddd;
	padding: 1.625em 7.6%;
	overflow: hidden;
}


@media screen and (min-width: 1260px) {

footer #cms {
margin: 1.618em auto;
max-width: 1180px;
}
}

@media screen and (min-width: 768px) {

#notes .entry-note {
	display: table-cell;
}

#reference div.bloc-ref:nth-child(odd) {
	width: 45%;
	margin: 0em 4% 0em 0;
}

#reference div.bloc-ref:nth-child(even) {
	width: 45%;
	margin: 0em 4% 0em 0;
	}

blockquote {
	color: #717171;
	border-left: 2px solid #9e9e9e;
	padding-left: 1em;
}

blockquote::first-letter {
  font-size:3.1em;
  padding-right:0.2em;
  float:left;
  line-height: 1.3;
}
