body {
  font-family: 'nationalregular', Arial, sans-serif;
  background-color: rgb(220, 220, 220);
}

@font-face {
    font-family: 'nationalregular';
    src: url('fonts/NationalWeb-Regular.eot');
    src: url('fonts/NationalWeb-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/NationalWeb-Regular.woff') format('woff'),
         url('fonts/NationalWeb-Regular.ttf') format('truetype'),
         url('fonts/NationalWeb-Regular.svg#nationalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nationallight';
    src: url('fonts/NationalWeb-Light.eot');
    src: url('fonts/NationalWeb-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/NationalWeb-Light.woff') format('woff'),
         url('fonts/NationalWeb-Light.ttf') format('truetype'),
         url('fonts/NationalWeb-Light.svg#nationallight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nationalitalic';
    src: url('fonts/NationalWeb-Italic.eot');
    src: url('fonts/NationalWeb-Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/NationalWeb-Italic.woff') format('woff'),
         url('fonts/NationalWeb-Italic.ttf') format('truetype'),
         url('fonts/NationalWeb-Italic.svg#nationalitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nationalsemibold';
    src: url('fonts/NationalWeb-Semibold.eot');
    src: url('fonts/NationalWeb-Semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/NationalWeb-Semibold.woff') format('woff'),
         url('fonts/NationalWeb-Semibold.ttf') format('truetype'),
         url('fonts/NationalWeb-Semibold.svg#nationalsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
a {
  color: red;
}

.header {
  background-color: rgb(220, 220, 220);
  color: white;
}
.header .container {
  background-color: rgb(241, 63, 60);
  padding: 20px !important;
}
.header #brand {
  margin-top: 10px;
  margin-left: 8px;
}
.header .navbar .navbar-header {
   float: none;
}
.header .navbar .navbar-header img {
  margin-top: 27px;
}
.header .social p {
  line-height: 26px;
}
.header .social a {
  margin-left: 5px;
}
.header .lang {
  display: inline-block;
  width: 63px;
  height: 26px;
  vertical-align: bottom;
}
.header .lang a {
  font-size: 12pt;
  margin-top: 5px;
  color: white;
}
.header #fr {
  margin-right: 5px;
  margin-top: 7px;
  display: inline-block;
}
.header #en {
  margin-left: 5px;
  margin-top: 7px;
  display: inline-block;
}

@media (min-width: 768px) {
  .header .navbar .navbar-brand {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .header .navbar .navbar-brand {
    text-align: center;
    padding-left: 15px;
    margin-top: 25px;
  }
}

@media (min-width: 1200px) {
  .header #brand, .header .navbar .navbar-brand {
    margin-left: 108px;
  }
}

/* content */
.container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container,
  .container-fluid {
  color: rgb(70,70,70);
  background-color: white;
  padding: 25px;
}
@media (min-width: 1200px) {
  .container {
    padding: 80px 125px 80px 125px;
  }
}

.col-md-7 h1, .col-md-7 h1 a {
  font-family: 'nationalregular', Arial, sans-serif;
  font-size: 24pt;
  color: rgb(241, 63, 60);
  line-height: 30px;
}
h2, h3, h4, h5, h6 {
  font-family: 'nationalregular', Arial, sans-serif;
  color: rgb(241, 63, 60);
  font-weight: normal;
  font-size: 14pt;
}
h2 {
  margin-bottom: 30px;
  line-height: 22px;
  text-align: justify;
}
h4, .h4 {
    font-size: 13pt
}
h5, .h5 {
    font-size: 12pt
}
h6, .h6 {
    font-size: 11pt
}

/* hgroups */
header h1, h1 {
  font-family: 'nationalitalic', Arial, sans-serif;
  font-size: 14pt;
  font-weight: normal;
  text-transform: none;
  color: rgb(241, 63, 60);
  width: 100%;
  line-height: 22px;
  margin-top: 0;
}
#c1710 h1 {
  font-family: 'nationalitalic', Arial, sans-serif;
  font-size: 14pt;
}

/* POINTS */
#c1939 h1:after, #c982 h1:after,
#c1710 h1:after,
#c1945 h1:after,
#c1941 h1:after, #c1709 h1:after,
#c1940 h1:after,
#c1030 h1:after,
#c1304 h1:after, #c1327 h1:after, #c512 h1:after,
#c1936 h1:after,
#c1879 h1:after,
#c2445 h1:after,
#c1946 h1:after,
#c1275 h1:after,
#c1344 h1:after,
#c1696 h1:after,
#c2300 h1:after,#c2761 h1:after,#c2303 h1:after,#c2366 h1:after,#c2375 h1:after,#c2820 h1:after,#c2377 h1:after,#c2902 h1:after,#c2980 h1:after,#c2314 h1:after,#c2393 h1:after,#c2317 h1:after,#c2319 h1:after
 {
  font-size: 9pt;
  letter-spacing: 0.3em;
  overflow: hidden;
  text-align: right;
  vertical-align: bottom;
}

@media (min-width: 767px) {
  #c1939 h1:after, #c982 h1:after,
  #c1710 h1:after,
  #c1945 h1:after,
  #c1941 h1:after, #c1709 h1:after,
  #c1940 h1:after,
  #c1030 h1:after,
  #c1327 h1:after, #c512 h1:after,
  #c1936 h1:after,
  #c1879 h1:after,
  #c2445 h1:after,
  #c1946 h1:after,
  #c1275 h1:after,
  #c2300 h1:after,#c2761 h1:after,#c2303 h1:after,#c2366 h1:after,#c2375 h1:after,#c2820 h1:after,#c2377 h1:after,#c2902 h1:after,#c2980 h1:after,#c2314 h1:after,#c2393 h1:after,#c2317 h1:after,#c2319 h1:after {
    content:" ....................................................................................................";
  }
}
@media (min-width: 992px) {
  /* ci */
  /* Présentation 12 */
  #c1939 h1:after, #c982 h1:after {
    content:" ...................................................................................................................";
  }
  /* Ateliers de projets 19 */
  #c1710 h1:after {
    content:" ..........................................";
    width: 780px;
  }
  /* Cours 5 */
  #c1945 h1:after {
    content:" ........................................................";
    width: 875px;
  }
  /* Programme ouvert 16 */
  #c1941 h1:after, #c1709 h1:after {
    content:" ..............................................";
    width: 775px;
  }
  /* Séminaires 10 */
  #c1696 h1:after {
    content:" ..................................................";
    width: 775px;
  }
  /* Organisation 12 */
  #c1344 h1:after {
    content:" ................................................";
    width: 775px;
  }
  /* Stages professionnels et académiques 36 */
  #c1940 h1:after {
    content:" ........................................................................................";
    width: 625px;
  }
  /* Double cursus 13 */
  #c1030 h1:after {
    content:" ............................................................................................................................";
    width: 810px;
  }

  /* Enseignements 13 #c1304 h1:after, */
  #c1327 h1:after, #c512 h1:after {
    content:" ................................................................................................................";
    width: 800px;
  }
  /* Projets 7 */
  #c1879 h1:after {
    content:" ..........................................................................................................................";
    width: 865px;
  }
  /* Partenaires 11 */
  #c1936 h1:after {
    content:" .....................................................................................................................";
    width: 830px;
  }
  
  /* Nouveauté : Post-diplôme Design [neo] Industriel 48 */
  #c2445 h1:after {
    content:" ............................................................................";
    width: 805px;
  }
  /* Mastère Spécialisé® Création et Technologie Contemporaine 57 */
  #c1946 h1:after {
    content:" ...............................................................";
    width: 805px;
  }
  
  /* Mastère Spécialisé Innovation By Design 39 */
  #c1275 h1:after {
    content:" ....................................................................................";
    width: 805px;
  }
  
  /* Le prototypage comme outil de conception (Arduino) 50 */
  #c2300 h1:after {
    content:" ...............................................................";
  }
  /* Approfondissement au prototypage comme outil de conception (Arduino) 68 */
  #c2761 h1:after {
    content:" ...............................................................";
  }
  /* Matières programmables 22 */
  #c2303 h1:after {
    content:" ...............................................................";
  }
  /* La culture du design dans l'entreprise innovante 48 */
  #c2366 h1:after {
   content:" ................................................................";
  }
  /* Objects connectés avec la plateforme WeIO 41 */
  #c2375 h1:after {
    content:" ...............................................................";
  }
  /* L'action publique innovante : outils et pilotage */
  #c2820 h1:after {
    content:" ...............................................................";
  }
  /* Data-ville */
  #c2902 h1:after {
    content:" ...............................................................";
  }
  /* Think design */
  #c2980 h1:after {
    content:" ...............................................................";
  }
  /* Représenter la lumière 22 */
  #c2377 h1:after {
    content:" ...............................................................";
  }
  /* Représentation de projet artistique 35 */
  #c2314 h1:after {
    content:" ...............................................................";
  }
  /* Représentation sensible des données avec Processing 51 */
  #c2393 h1:after {
    content:" ...............................................................";
  }
  /* Médiation d'une exposition 26 */
  #c2317 h1:after {
    content:" ...............................................................";
  }
  /* Formation sur-mesure (intra-entreprise) 39 */
  #c2319 h1:after {
    content:" ...............................................................";
  }
}

@media (max-width: 767px) {
  #c1939 h1:after, #c982 h1:after,
  #c1710 h1:after,
  #c1945 h1:after,
  #c1941 h1:after,
  #c1940 h1:after,
  #c1030 h1:after,
  #c1327 h1:after, #c512 h1:after,
  #c1936 h1:after,
  #c1879 h1:after,
  #c2445 h1:after,
  #c1946 h1:after,
  #c1275 h1:after,
  #c1947 h1:after {
    display: block;
    width: auto;
  }
}


.csc-header .fn {
  font-size: 15px;
}

div.csc-default {
  background: white;
}

div.csc-default > header, div.captionsAsLabel > header {
  background: rgb(255,255,255);
  border: none;
  margin-bottom: 10px;
}

.row-fluid h1 {
  color: rgb(241, 63, 60);
  padding-left: 0;
}
.row-fluid h1:before {
  content: none;
}

p, ul, ol {
  font-family: 'nationalregular', Arial, sans-serif;
  color: rgb(70,70,70);
  text-align: justify;
  font-size: 12pt;
}
p strong {
  font-family: 'nationalsemibold', Arial, sans-serif;
  font-weight: normal;
}

/* breadcrumb */
.breadcrumb {
  background: none;
  border: none;
  border-bottom: 1px solid rgb(241, 63, 60);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-left: 0;
  font-family: 'nationalsemibold', Arial, sans-serif;
  font-size: 15pt;
  line-height: 24px;
  text-align: left;
}
.breadcrumb a {
  color: rgb(241, 63, 60);
  text-transform: uppercase;
}
.breadcrumb .divider {
  color: rgb(241, 63, 60);
}
.breadcrumb .active {
  color: rgb(241, 63, 60);
  text-transform: uppercase;
}
.breadcrumb > li + li::before {
  content: ">\00a0";
  color: rgb(241, 63, 60);
}

/* captions */
.captionsAsLabel .csc-textpic-image {
  position: relative;
}
.captionsAsLabel .csc-textpic-caption {
  position: absolute;
  top: 5px;
  left: 0;
  color: white;
  background: rgb(241, 63, 60);
  font-family: 'nationalregular', Arial, sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0 0.6em 0 0.6em;
}

/* Menu */
ul.csc-menu {
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  list-style: none;
}
ul.csc-menu > li {
  background-color: rgb(220, 220, 220);
  text-align: center;
  border-right: white solid 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11pt;
  margin-bottom: 2px;
}
ul.csc-menu > li a {
  color: white;
  text-transform: uppercase;
}
ul.csc-menu > li a:hover {
  color: rgb(65, 64, 66);
  text-decoration: none;
}
@media (min-width: 768px) {
  ul.csc-menu {
    margin-left: 0;
    padding-left: 0;
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  ul.csc-menu > li {
    display: table-cell;
  }
}

#c1168 ul.csc-menu > li {
  display: block !important;
  background-color: rgb(241, 63, 60);
  text-align: left;
  padding: 10px;
}
ul.csc-menu .member:before{
  content: "";
  border-color: rgb(255,255,255) rgb(241, 63, 60) rgb(0,0,0) rgb(0,0,0);
  border-style: solid;
  border-width: 15px 15px 0px 0px;
  height: 0px;
  width: 0px;
  display: block;
  margin-top:-10px;
}

/* CI > ateliers de projets */
#c1710 .csc-textpic .csc-textpic-imagewrap img {
  width: 250px;
}
@media (min-width: 768px) {
  #c1710 .csc-textpic .csc-textpic-imagewrap img {
    width: 340px;
  }
}
@media (min-width: 992px) {
  #c1710 .csc-textpic .csc-textpic-imagewrap img {
    width: 215px;
  }
}

/* Enseignements fond blanc */
#c1709 {
  background: rgb(255, 255, 255);
}

/* liste de nouvelles en grille 7/12 5/12 */
.news-list-container hr {
  border: none;
  background: url('img/reddots.png') no-repeat bottom;
  height: 20px;
}
.news-list-container .span7 {
  overflow: hidden;
  height: 270px;
  display: table-cell;
  vertical-align: middle;
}
.news-list-container .span7 img {
  max-width: none;
  max-heigth: none;
}
.news-amenu-item-year {
  list-style: none;
}

.description_interne {
  color:grey;
  font-size:12pt;
  margin-top: 2em;
}
.description_interne .glyphicon-eye-close {
  font-weight:400;
  color:red;
}
.workload {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* liste d'enseignements */
.events-list-container, .backgroundColored {
  background-color: rgb(241, 63, 60);
  list-style: none;
  margin: 0;
  padding: 20px;
}
.events-list-container a,
 .backgroundColored h1,
 .backgroundColored h2,
 .backgroundColored h3,
 .backgroundColored h4,
 .backgroundColored h5,
 .backgroundColored h6,
 .backgroundColored a {
  color: white;
}

/* vcard */
.vcard .icon-pencil {
  display: none;
}
.vcard h1 {
  margin: 0 !important;
}

/* thumbnails */
.thumbnails {
  padding-left: 0;
}
.thumbnail {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  position: relative;
  overflow: hidden;
  width: 170px;
  height: 170px;
  border: none;
  padding: 0;
  
}
.thumbnails > li {
  margin: 0 10px 10px 0;
  list-style-type: none;
  float: left;
}
.thumbnail figure {
  display: table-cell;
  vertical-align: middle;
}
.thumbnail figure img {
  max-width: none;
  max-heigth: none;
}

ul.csc-uploads img {
  padding-right: 0;
}

/**/
.social_share_privacy_area li {
  float: none;
  height: 25px;
}


/* pied de page */
footer {
  clear: both;
  padding-top: 0;
}
footer .col-md-5 {
  margin-top: 30px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  footer .col-md-5 {
    text-align:right;
  }
}
#logoMinisteres {
  background-color: white;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width:70px
}
#logoMCC {
  display: inline-block;
}
#logoMinistereEconomie {
  display: inline-block;
  margin: 3px 0;
}
#logoHesam, #logoAutres {
  display: inline-table;
  margin-left: 20px;
  vertical-align: top;
}
#logoPOINTPARIS, #logoCGE, #logoIC {
  display: inline-block;
  margin-bottom: 20px;
}
footer .container {
  background-color: rgb(64, 64, 65);
  padding-top: 0;
  padding-bottom: 0;
}
footer .socials {
  float: left;
  margin-left: 20px;
  width: 50%;
}
footer .vcard {
  font-family: 'nationalregular', Arial, sans-serif;
  font-size: 10pt;
  color: rgb(230, 230, 230);
  line-height: 10pt;
  margin-top: 32px;
}
footer .vcard #brandfooter {
  float: left;
  margin-right: 30px;
}
footer #maison {
  margin-top: -57px;
}
footer .vcard .coord .adr {
  margin-top: 6px
}
footer .vcard .coord a {
  color: rgb(230, 230, 230);
  font-size: 11pt;
}
footer fieldset {
  width: 300px;
}
footer legend {
  color: rgb(230, 230, 230);
  font-family: 'nationalregular', Arial, sans-serif;
  font-size: 11pt;
  text-transform: uppercase;
  border-bottom: none;
  margin-bottom: 0 !important;
  line-height: 25px;
}
footer .well {
  border: none;
  box-shadow: none;
  margin-top: 2em;
  background-color: rgb(64, 64, 65);
  padding: 0;
}
footer input[type="text"],
footer input[type="password"] {
  border-radius: 0;
  box-shadow: none;
  font-family: 'nationalitalic', Arial, sans-serif;
  margin: 2px;
}
footer #replacement {
  border-radius: 0;
  box-shadow: none;
  height: 26px;
  font-size: 12pt;
  padding-top: 0;
}
footer input[type="text"]:focus,
footer input[type="password"]:focus {
  border-color: rgba(255, 0, 0, 0.8);
}
footer .input-small {
  width: 104px;
}
footer #user {
  width: 180px;
}
footer #pass {
  width: 133px;
}
footer .toolbar .container {
  background-color: rgb(51, 51, 51);
}
footer .toolbar .btn-toolbar {
  text-transform: uppercase;
  margin: 0;
}
footer .toolbar .btn-link {
  color: rgb(230, 230, 230);
  text-shadow: none;
  font-family: 'nationalregular', Arial, sans-serif;
  font-size: 12pt;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  letter-spacing: 0.1em;
  border-left: 1px solid white;
}
footer .toolbar .btn:first-child {
  border-left: none;
  padding-left: 0;
}
footer .toolbar .btn-link:hover {
  color: white;
}