body {
	margin: 0;
	background: rgb(0, 0, 0);
	width: 100%;
}

header>.container, header .container, #header,
footer,#footer,
#chemin,
#publics,#menu,#left {
	display: none;
}

#content,
#section {
	margin: 0;
	border: none;
	-webkit-box-shadow: none;
}

a[href]:after {
	content: "";
}