/* --------------------------------------------------------------

   reset.css
   * Resets default browser CSS.

-------------------------------------------------------------- */

html { 
	margin:0; 
	padding:0; 
	border:0; 
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  color:#464646;
}

/* This helps to make newer HTML5 elements behave like DIVs in older browers */ 
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
    display:block;
}

/* Line-height should always be unitless! */
body {
  line-height: 1.5;
  background: white; 
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { 
	border-collapse: separate; 
	border-spacing: 0; 
}
/* float:none prevents the span-x classes from breaking table-cell display */
caption, th, td { 
	text-align: left; 
	font-weight: normal; 
	float:none !important; 
}
table, th, td { 
	vertical-align: middle; 
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

/* Remember to define your own focus styles! */
:focus { outline: 0; }/* --------------------------------------------------------------

   typography.css
   * Sets up some sensible default typography.

-------------------------------------------------------------- */

/* Default font settings.
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html { font-size:100.01%; }
body {
  font-size: 75%;
  color: #222;
  background: #fff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }



h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}


h1{

}

h3{

}



/* Text elements
-------------------------------------------------------------- */

p           { margin-bottom:16px; }
/* 
	These can be used to pull an image at the start of a paragraph, so 
	that the text flows around it (usage: <p><img class="left">Text</p>) 
*/
.left  			{ float: left !important; }
p .left			{ margin: 0.6666666666666666em 0.6666666666666666em 0.6666666666666666em 0; padding: 0; }
.right 			{ float: right !important; }
p .right 		{ margin: 0.6666666666666666em 0 0.6666666666666666em 0.6666666666666666em; padding: 0; }

a:focus,
a:hover     { color: #09f; }
a           { color: #06c; text-decoration: underline; }

blockquote  { margin: 0.6666666666666666em; color: #666; font-style: italic; }
strong,dfn	{ font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr,
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 0.6666666666666666em; font-style: italic; }
del         { color:#666; }

pre 				{ margin: 0.6666666666666666em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


/* Lists
-------------------------------------------------------------- */

li ul,
li ol       { margin:0; }
ul, ol      { margin: 0; padding-left: 0; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 0.6666666666666666em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 0.6666666666666666em;}


/* Tables
-------------------------------------------------------------- */

/* 
	Because of the need for padding on TH and TD, the vertical rhythm 
	on table cells has to be 27px, instead of the standard 18px or 36px 
	of other elements. 
*/ 

table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th 		{ background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
/*
	You can zebra-stripe your tables in outdated browsers by adding 
	the class "even" to every other table row. 
*/
tbody tr:nth-child(even) td, 
tbody tr.even td  { 
	background: #e5ecf9; 
}
tfoot       { font-style: italic; }
caption     { background: #eee; }


/* Misc classes
-------------------------------------------------------------- */

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; padding-top:0px; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }
/* --------------------------------------------------------------

   grid.css
   * Sets up an easy-to-use grid of 24 columns.

   By default, the grid is 950px wide, with 24 columns
   spanning 30px, and a 10px margin between columns.

   If you need fewer or more columns, namespaces or semantic
   element names, use the compressor script (lib/compress.rb)

-------------------------------------------------------------- */

/* A container should group all your columns. */
.container {
	position:relative;
	top: 116px;
	padding-bottom: 32px;
	left:auto;
	right:auto;
  width: 940px;
  margin: 0 auto;
}

/* Use this class on any .span / container to see the grid. */
.showgrid {
  background: url(grid.png);
}


/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12 {
  float: left;
  margin-right: 20px;
}

/* The last column in a row needs this class. */
.last { margin-right: 0; margin-top:0px; }

/* Use these classes to set the width of a column. */
.span-1  {width: 60px;}
.span-2  {width: 140px;}
.span-3  {width: 220px;}
.span-4  {width: 300px;}
.span-5  {width: 380px;}
.span-6  {width: 460px;}
.span-7  {width: 540px;}
.span-8  {width: 620px;}
.span-9  {width: 700px;}
.span-10  {width: 780px;}
.span-11  {width: 860px;}
.span-12  {width: 940px;}

/* Use these classes to set the width of an input. */
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12 {
  border-left-width: 1px;
  border-right-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

input.span-1, textarea.span-1 { width: 48px; }
input.span-2, textarea.span-2 { width: 128px; }
input.span-3, textarea.span-3 { width: 208px; }
input.span-4, textarea.span-4 { width: 288px; }
input.span-5, textarea.span-5 { width: 368px; }
input.span-6, textarea.span-6 { width: 448px; }
input.span-7, textarea.span-7 { width: 528px; }
input.span-8, textarea.span-8 { width: 608px; }
input.span-9, textarea.span-9 { width: 688px; }
input.span-10, textarea.span-10 { width: 768px; }
input.span-11, textarea.span-11 { width: 848px; }
input.span-12, textarea.span-12 { width: 928px; }

/* Add these to a column to append empty cols. */

.append-1  { padding-right: 80px; } 
.append-2  { padding-right: 160px; } 
.append-3  { padding-right: 240px; } 
.append-4  { padding-right: 320px; } 
.append-5  { padding-right: 400px; } 
.append-6  { padding-right: 480px; } 
.append-7  { padding-right: 560px; } 
.append-8  { padding-right: 640px; } 
.append-9  { padding-right: 720px; } 
.append-10  { padding-right: 800px; } 
.append-11  { padding-right: 880px; } 

/* Add these to a column to prepend empty cols. */

.prepend-1  { padding-left: 80px; } 
.prepend-2  { padding-left: 160px; } 
.prepend-3  { padding-left: 240px; } 
.prepend-4  { padding-left: 320px; } 
.prepend-5  { padding-left: 400px; } 
.prepend-6  { padding-left: 480px; } 
.prepend-7  { padding-left: 560px; } 
.prepend-8  { padding-left: 640px; } 
.prepend-9  { padding-left: 720px; } 
.prepend-10  { padding-left: 800px; } 
.prepend-11  { padding-left: 880px; } 


/* Border on right hand side of a column. */
.border {
  padding-right: 9px;
  margin-right: 10px;
  border-right: 1px solid #ddd;
}

/* Border with more whitespace, spans one column. */
div.colborder {
  padding-right: 49px;
  margin-right: 50px;
  border-right: 1px solid #eee;
}


/* Use these classes on an element to push it into the
next column, or to pull it into the previous column.  */

.pull-1 { margin-left: -80px; }
.pull-2 { margin-left: -160px; }
.pull-3 { margin-left: -240px; }
.pull-4 { margin-left: -320px; }
.pull-5 { margin-left: -400px; }
.pull-6 { margin-left: -480px; }
.pull-7 { margin-left: -560px; }
.pull-8 { margin-left: -640px; }
.pull-9 { margin-left: -720px; }
.pull-10 { margin-left: -800px; }
.pull-11 { margin-left: -880px; }
.pull-12 { margin-left: -960px; }

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12 {float: left; position:relative;}

.push-1 { margin: 0 -80px 1.5em 80px; }
.push-2 { margin: 0 -160px 1.5em 160px; }
.push-3 { margin: 0 -240px 1.5em 240px; }
.push-4 { margin: 0 -320px 1.5em 320px; }
.push-5 { margin: 0 -400px 1.5em 400px; }
.push-6 { margin: 0 -480px 1.5em 480px; }
.push-7 { margin: 0 -560px 1.5em 560px; }
.push-8 { margin: 0 -640px 1.5em 640px; }
.push-9 { margin: 0 -720px 1.5em 720px; }
.push-10 { margin: 0 -800px 1.5em 800px; }
.push-11 { margin: 0 -880px 1.5em 880px; }
.push-12 { margin: 0 -960px 1.5em 960px; }

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12 {float: left; position:relative;}


/* Misc classes and elements
-------------------------------------------------------------- */

/* In case you need to add a gutter above/below an element */
div.prepend-top, .prepend-top {
	margin-top:1.5em;
}
div.append-bottom, .append-bottom {
	margin-bottom:1.5em;
}

/* Use a .box to create a padded box inside a column.  */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5eCf9;
}


/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}
.clearfix, .container {display: block;}

/* Regular clearing
   apply to column that should drop below previous ones. */

.clear { clear:both; }
/* --------------------------------------------------------------

   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms

   Usage:
   * For text fields, use class .title or .text

   * For inline forms, use .inline (even when using columns)

-------------------------------------------------------------- */

/* 
	A special hack is included for IE8 since it does not apply padding 
	correctly on fieldsets
 */ 
label       { font-weight: bold; }
fieldset    { padding:0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; margin-top:-0.2em; margin-bottom:1em; }

fieldset, #IE8#HACK { padding-top:1.4em; } 
legend, #IE8#HACK { margin-top:0; margin-bottom:0; }

/* Form fields
-------------------------------------------------------------- */

/* 
  Attribute selectors are used to differentiate the different types 
  of input elements, but to support old browsers, you will have to 
  add classes for each one. ".title" simply creates a large text  
  field, this is purely for looks.
 */
input[type=text], input[type=password],
input.text, input.title,
textarea {
  background-color:#fff;
  border:1px solid #bbb;
}
input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus {
  border-color:#666;
}
select { background-color:#fff; border-width:1px; border-style:solid; }

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  margin:0.5em 0;
}

input.text,
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; }

/* 
  This is to be used on forms where a variety of elements are 
  placed side-by-side. Use the p tag to denote a line. 
 */
form.inline { line-height:3; }
form.inline p { margin-bottom:0; }


/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */

.error,
.alert, 
.notice,
.success, 
.info 			{ padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info 			{ background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.info a			{ color: #205791; }


/* Baseline rhythm */

body { font-size: 12px; line-height: 16px; }















/* Nouveaux styles 
----------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------- */





/* Global Styles
-------------------------------------------------------------- */

body{
margin-top:0px;
}

img{
display:block;
}

.small-char{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:16px;
}

.right{
	text-align:right;
}

.content{
border-top:solid #e6e6e6 1px;
margin-top:15px;
z-index:1;
}


.no-bottom{
	margin-bottom:0px;
}



/* Titles
-------------------------------------------------------------- */

h1, h2, h3, .titre_cig {font-style: normal;
font-weight: bold;
font-stretch: normal;}

h1{
font-family: "Plan Grotesque Bold 2", Arial, Helvetica, sans-serif;
font-size: 36px;
line-height: 40px;
font-style: normal;
font-weight: bold;
font-stretch: normal;
}

h2{
font-family: "Plan Grotesque Bold 2", Arial, Helvetica, sans-serif;
font-size: 20px;
line-height: 24px;
font-style: normal;
font-weight: bold;
font-stretch: normal;
}

h3{
font-family: "Plan Grotesque Bold 2", Arial, Helvetica, sans-serif;
font-size: 14px;
line-height: 16px;
margin-bottom:0px;
font-style: normal;
font-weight: bold;
font-stretch: normal;
}

h4{ }

h5{ }

h6{ }





/* Rules
-------------------------------------------------------------- */

.filet-1{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding-bottom:7px;
}

.filet-2{
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding-bottom:-1px;
}

.filet-3{
	border-top-style:solid;
	border-top-width:1px;
	padding-top:7px;
}





/* Colors
-------------------------------------------------------------- */

.rephlex{
	color:#0000C8;
}

.white{
	color:#FFF;
}

.light-grey{
	color:#e6e6e6;
}

.grey{
	color:#aaaaaa;
}

.middle-grey {
	color:#666;
}

.dark-grey{
	color:#464646;
}

.rephlex a:hover{
	color:#aaaaaa;
}

.white a:hover{
	color:#aaaaaa;
}






/* Links
-------------------------------------------------------------- */

.link:hover img{
	opacity:0.6;
}

a{
text-decoration:none;
color:inherit;
}

a:hover{
text-decoration:none;
color:inherit;
}

a:visited{
text-decoration:none;
}

a:active{
text-decoration:none;
color:inherit;
}

a .web-link{
	text-decoration:underline;
}




/* Vertical Spaces / Newline
-------------------------------------------------------------- */

.prepend-top-demi{
margin-top:8px;
}

.prepend-top-1{
margin-top:10px;
}

.prepend-top-1-demi{
margin-top:24px;
}

.prepend-top-2{
margin-top:32px;
}


.append-bottom-demi{
margin-bottom:8px;
}

.append-bottom-1{
margin-bottom:16px;
}

.append-bottom-1-demi{
margin-bottom:24px;
}

.append-bottom-2{
margin-bottom:32px;
}






/* Styles Header
-------------------------------------------------------------- */

.titre_cig{
font-family: "Plan Grotesque Bold 2", Arial, Helvetica, sans-serif;
font-size: 22px;
line-height: 20px;
font-style: normal;
font-weight: bold;
font-stretch: normal;
}

.header{
	z-index:100;
	background-color:#0000C8;
	margin-top:4px;
	margin-left:auto;
	margin-right:auto;
	width:940px;
}

.tete{
	margin:auto;
	width:100%;
	background-color:#0000C8;
	position:fixed;
	z-index:1000;
}

.langues{
float:left;
color:#ffffff;
width:460px;
margin-top:10px;
font-size:11px;
}

.langues a:hover{
	color:#aaaaaa;
}

.select-1{
color:#aaaaaa;
font-weight:bold;
}

.select-1 a{
color:#aaaaaa;
font-weight:bold;
}

.select-1 a:hover{
color:#aaaaaa;
font-weight:bold;
}


.header_txt{
color:#ffffff;
font-size:11px;
}

.header_txt a:hover{
	color:#aaaaaa;
}





/* Styles Menu (fix en haut de page)
-------------------------------------------------------------- */

#MenuDeroulant{
margin: 0;
padding: 0;
}
	
#MenuDeroulant li{
float: left;
list-style: none;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
line-height:14px;
}

#MenuDeroulant li a{
display: block;
padding: 6px 0px;
text-decoration: none;
color: #ffffff;
height:32px;
border-top:solid #FFF 1px;
}

#MenuDeroulant li a:hover{
color:#aaaaaa;
border-top:solid #aaaaaa 1px;
} 
	
#MenuDeroulant li ul{
margin: 0;
padding: 0;
position: absolute;
visibility: hidden;
border-bottom:#0000C8 solid 8px;
border-top:solid #FFF 1px;
}	

#MenuDeroulant li ul li{
float: none;
display: inline;
width:140px;
border-top:none;
border-bottom:solid #FFF 1px;
padding-top:4px;
padding-bottom:4px;
}	

#MenuDeroulant li ul li a{
background: #e6e6e6;
color:#0000C8;
font-weight:normal;
height:auto;
opacity:1;
width:136px;
line-height:15px;
padding-left:4px;
padding-top:4px;
padding-bottom:4px;
border-top:none;
border-bottom:solid #FFF 1px;
}

#MenuDeroulant li ul li a:hover{
background: #0000C8;
color:#FFF;
opacity:1;
border-top:none;
}

#MenuDeroulant .select-2 a {
color:#aaaaaa;
border-top-color:#aaaaaa;
font-weight:bold;
}

#MenuDeroulant .select-2 ul li a{
background: #e6e6e6;
color:#0000C8;
font-weight:normal;
height:auto;
opacity:1;
width:136px;
padding-left:4px;
border-top:none;
border-bottom:solid #FFF 1px;
}




/* Styles Footer
-------------------------------------------------------------- */

.footer{
	margin:auto;
	width:100%;
	background-color:#0000C8;
	position:fixed;
	z-index:900;
	bottom:0px;

}

.footy{
	background-color:#0000C8;
	margin-left:auto;
	margin-right:auto;
	width:940px;
	height:20px;
	padding-top:4px;
	font-size:11px;
	line-height:14px;
}


.footy a{
	color:#FFF;
}

.footy a:hover{
	color:#aaaaaa;
}





/* Styles Page Liste Rubrique et Categorie
-------------------------------------------------------------- */

.select-3{
color:#aaaaaa;
font-weight:bold;
}

.fond-liste-rubrique{
float:left;
/*background-image:url(filet_vert_rubrique_1.gif);*/
background-repeat:repeat-y;
margin-bottom:8px;
margin-top:8px;
padding-top:8px;
padding-bottom:7px;
}

.image-liste-rubrique{
padding-left:8px;
width:132px;
float:left;
margin-right:20px;
}

.categorie-liste-rubrique{
font-size:11px;
}

.date-liste-rubrique{
font-size:11px;	
}

.separateur-liste-rubrique{
border-bottom: solid #aaaaaa 1px;
}

.separateur-liste-rubrique-fin{
margin-bottom:1px;
}

.survol-liste-rubrique :hover{
	background-color:#0000C8;
	color:#FFF;
}

.survol-liste-rubrique :hover h3{
	background-color:#0000C8;
	color:#FFF;
}

.survol-liste-rubrique :hover p{
	background-color:#0000C8;
	color:#FFF;
}

.survol-liste-rubrique :hover .categorie-liste-rubrique{
	background-color:#0000C8;
	color:#FFF;
}

.survol-liste-rubrique :hover .date-liste-rubrique{
	background-color:#0000C8;
	color:#FFF;
}

.survol-liste-rubrique :hover {
	background-color:#0000C8;
	color:#FFF;
}

.special-1{
color:#0000C8;
}

.survol-liste-rubrique :hover .special-1 {
	background-color:#0000C8;
	color:#FFF;
}






/* Styles Page Single-1
-------------------------------------------------------------- */

.fond-contenu-single-1{
float:left;
background-image:url(filet_vert_single_1.gif);
background-repeat:repeat-y;
margin-bottom:8px;
margin-top:8px;
padding-top:8px;
padding-bottom:8px;
}

.icone-pdf{
	float:left;
	margin-right:10px;
}

.titre-download{
	line-height:24px;
	text-decoration:none;
}

.titre-download:hover{
	line-height:24px;
	text-decoration:none;
	color:#aaaaaa;
}

.middle-grey p{
	color:#666;
}


p a{
}

p a:hover{
	color:#aaaaaa;
}

p a:visited{
}


.menu-lat-1{
	list-style:none;
	font-family:  "Plan Grotesque Light 2", Arial, Helvetica, sans-serif;
	font-size: 36px;
	line-height: 48px;
font-style: normal;
font-weight: normal;
font-stretch: normal;
}

.menu-lat-1 a:hover{
	color:#aaaaaa;
}




/* Styles editeur WYSIWYG
-------------------------------------------------------------- */


.wysiwyg a{
	color:#0000C8;	
}

.wysiwyg ul{
	margin-bottom:18px;
	margin-left:18px;
}

.wysiwyg ul li{
	list-style:inside disc;
}

.wysiwyg h2{
font-family: "Plan Grotesque Bold 2", Arial, Helvetica, sans-serif;
font-size: 16px;
line-height: 16px;
color:#0000C8;
font-style: normal;
font-weight: bold;
font-stretch: normal;
}

hr {
margin: 0 auto;
width: 100%;
height: 1px;
border: 0px;
background-color: #e6e6e6;
margin-bottom:15px;
}






/* Styles Champ Texte Supplementaire
-------------------------------------------------------------- */

.champ-annexe a{
	text-decoration:underline;
}

.champ-annexe a:hover{
	color:#0000C8;
	text-decoration:underline;
}

.champ-annexe h2{
	font-family: "Plan Grotesque Bold 2", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 16px;
	color:#464646;
font-style: normal;
font-weight: bold;
font-stretch: normal;
}

.champ-annexe ul{
	color:#666;
	margin-bottom:18px;
	margin-left:18px;
}

.champ-annexe ul li{
	color:#666;
	list-style:inside disc;
}








/* Styles Fiche Artiste
-------------------------------------------------------------- */

.info-artriste a:hover{
	color:#0000C8;
}

.liste-ref{
	list-style:none;
	margin:0px;
}

.liste-ref li{
	margin-bottom:16px;
}

.liste-ref h2{
font-family:Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 16px;
font-weight:bold;
color:#464646;
}

.liste-ref h2 a:hover{
color:#0000C8;
}







/* Styles Liste Images et Noms
-------------------------------------------------------------- */

.liste-images{
	margin-right:16px;
	float:left;
	margin-bottom:16px;
}

.liste-artistes{
	list-style:none;
}

.liste-artistes a:hover{
	color:#0000C8;
}

select{
	margin:0px;
	line-height:16px;
	height:16px;
	color:#0000C8;
	border:none;
	padding:0px;
}



.img_msr {
	
	padding-bottom:20px;
		
}

.span-form {
	
	margin:0.5em 0;
		
}

.subtitle_ccrs, .soustitre_cig{
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;}

.subtitle_ccrs{
	list-style:none;
	font-family: "Plan Grotesque Light 2", Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 26px;
	color:#ffffff;
font-style: normal;
font-weight: normal;
font-stretch: normal;
	
}

.soustitre_cig{font-family:"Plan Grotesque Light 2";
	font-size:20px;}

.nopadding-bottom{margin-bottom:0px;}

}
