/*
* Webfonts served by Typotheque.com
*
* To make the font files as small as possible,
* most glyphs and OpenType features were removed.
* To edit the fonts, add more language support,
* log it to your Typotheque account:
* http://www.typotheque.com/my_account/webfonts
*
* The Typotheque Font Software is protected under domestic
* and international trademark and copyright law.
* Modifying, reverse engineering or otherwise copying
* of Typotheque Font Software is illegal.
* http://www.typotheque.com/licensing/
*
* (c) 2013, Typotheque
* Generated: 2011-02-28 23:17:25
*/

@font-face {
	font-family: "Plan Grotesque Light 2";
	src: url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000412-1373433219.eot");
	src: url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000412-1373433219.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000412-1373433219.woff") format("woff"), url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000412-1373433219.svg#typotheque_webfonts_service") format("svg");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	}
@font-face {
	font-family: "Plan Grotesque Light Italic 2";
	src: url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000413-1373433219.eot");
	src: url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000413-1373433219.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000413-1373433219.woff") format("woff"), url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000413-1373433219.svg#typotheque_webfonts_service") format("svg");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	}
@font-face {
	font-family: "Plan Grotesque Regular 2";
	src: url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000414-1373433219.eot");
	src: url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000414-1373433219.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000414-1373433219.woff") format("woff"), url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000414-1373433219.svg#typotheque_webfonts_service") format("svg");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	}
@font-face {
	font-family: "Plan Grotesque Bold 2";
	src: url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000418-1373433220.eot");
	src: url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000418-1373433220.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000418-1373433220.woff") format("woff"), url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000418-1373433220.svg#typotheque_webfonts_service") format("svg");
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
	}
@font-face {
	font-family: "Plan Grotesque Bold Italic 2";
	src: url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000419-1373433221.eot");
	src: url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000419-1373433221.eot?#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000419-1373433221.woff") format("woff"), url("https://s3.amazonaws.com/fonts.typotheque.com/WF-010282-000999-000419-1373433221.svg#typotheque_webfonts_service") format("svg");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	}
