/*!
 * Pics Mash CSS
 * http://www.picsmashplugin.com
 * V2.0
 *
 * Copyright 2012, Mike Stott, MYO
 *
 * Date: 02/11/2012
 */

.dilemma{
	overflow:hidden;
	width:100%;
	position:relative;
}


.dilimage{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dilimage-right{
    text-shadow: 1px 1px #8B0000;
	height:45%;
	width:49%;
	min-height:200px;
	float:right;
	vertical-align: middle;
text-align: center;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
color:white;
font-size:24px;
opacity:0.9;
border-style:solid;
border-width:1px;
  /*-moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc;*/
position:relative;
}

.dilimage-left{
    text-shadow: 1px 1px #8B0000;
	height:45%;
	width:49%;
	min-height:200px;
	float:left;
vertical-align: middle;
text-align: center;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
color:white;
font-size:24px;
opacity:0.9;
border-style:solid;
border-width:1px;
  /*-moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc; */
position:relative;
}

.dilred{
background: #f85032; /* Old browsers */
background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */

text-shadow: 1px 1px #8B0000;
height:45%;
width:49%;
min-height:200px;
float:right;
vertical-align: middle;
text-align: center;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
color:white;
font-size:24px;
opacity:0.9;
border-style:solid;
border-width:1px;
  /*-moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc; */
position:relative;
}

.dilred:hover{
background: #f85032; /* Old browsers */
background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */

opacity:1;
height:45%;
width:49%;
min-height:200px;
float:right;
text-shadow: 1px 1px #8B0000;
vertical-align: middle;
text-align: center;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
color:white;
font-size:24px;
border-style:solid;
border-width:1px;
  /*-moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc; */
position:relative;
}

.dilblue{
background: #6db3f2; /* Old browsers */
background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */

height:45%;
width:49%;
min-height:200px;
float:left;
vertical-align: middle;
text-align: center;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
color:white;
font-size:24px;
opacity:0.9;
text-shadow: 1px 1px darkblue;
border-style:solid;
border-width:1px;
  /*-moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc; */
position:relative;
}

.dilblue:hover{
background: #6db3f2; /* Old browsers */
background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */

height:45%;
width:49%;
min-height:200px;
float:left;
opacity:1;
vertical-align: middle;
text-align: center;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
color:white;
font-size:24px;
text-shadow: 1px 1px darkblue;
border-style:solid;
border-width:1px;
  /*-moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc; */
position:relative;
}


.dilgreen:hover{
background: #bfd255; /* Old browsers */
background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
height:45%;
width:49%;
min-height:200px;
float:left;
opacity:1;
vertical-align: middle;
text-align: center;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
color:white;
font-size:24px;
text-shadow: 1px 1px darkblue;
border-style:solid;
border-width:1px;
  /*-moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc; */
position:relative;
}

.dilgreen{
background: #bfd255; /* Old browsers */
background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
height:45%;
width:49%;
min-height:200px;
float:left;
opacity:0.9;
vertical-align: middle;
text-align: center;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
color:white;
font-size:24px;
text-shadow: 1px 1px darkblue;
border-style:solid;
border-width:1px;
  /*-moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc; */
position:relative;
}

.dilimage .percentage{
color: white;
font: bold 50px "Helvetica Neue", Helvetica, Arial, sans-serif;
text-shadow: 0 2px 3px black;
line-height: 100%;
}

.dilimage .agreeres{
	color: white;
	text-shadow: 0 2px 3px black;
	font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dilimage .dil{
	font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: white;	
	text-shadow: 0 2px 3px black;
}



.dilred .percentage{
color: darkred;
font: bold 50px "Helvetica Neue", Helvetica, Arial, sans-serif;
text-shadow: 0 1px 2px rgba(256, 256, 256, 0.5);
line-height: 100%;
}

.dilred .agreeres{
color: darkred;
	text-shadow:none;
	font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dilred .dil{
font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
text-align: center;
color: darkred;	
text-shadow:none;
}

.dilgreen .percentage{
color: darkgreen;
font: bold 50px "Helvetica Neue", Helvetica, Arial, sans-serif;
text-shadow: 0 1px 2px rgba(256, 256, 256, 0.5);
line-height: 100%;
}

.dilgreen .agreeres{
color: darkgreen;
	text-shadow:none;
	font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dilgreen .dil{
font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
text-align: center;
color: darkgreen;	
text-shadow:none;
}

.dilblue .percentage{
color: #267EA0;
font: bold 50px "Helvetica Neue", Helvetica, Arial, sans-serif;
text-shadow: 0 1px 2px rgba(256, 256, 256, 0.5);
line-height: 100%;
}

.dilblue .agreeres{
color: #267EA0;
text-shadow: 0 1px 2px rgba(256, 256, 256, 0.5);
font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dilblue .dil{
font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
text-align: center;
color: #267EA0;
text-shadow: 0 1px 2px rgba(256, 256, 256, 0.5);
}


.dilsilver .percentage{
font: bold 50px "Helvetica Neue", Helvetica, Arial, sans-serif;
text-align: center;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
color: grey;
line-height: 100%;
}

.dilsilver .agreeres{
	color: grey;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dilsilver .dil{
font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
text-align: center;
color: grey;	
text-shadow:none;
}



.dilsilver{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
height:45%;
width:49%;
min-height:200px;
float:left;
opacity:0.9;
vertical-align: middle;
text-align: center;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
color:white;
font-size:24px;
text-shadow: 1px 1px darkblue;
border-style:solid;
border-width:1px;
  /*-moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc;*/
position:relative;
}

.dilsilver:hover{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
height:45%;
width:49%;
min-height:200px;
float:left;
opacity:1;
vertical-align: middle;
text-align: center;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
color:white;
font-size:24px;
text-shadow: 1px 1px darkblue;
border-style:solid;
border-width:1px;
  /*-moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc;*/
position:relative;
}



.dil_option{
font: bold 22px "Helvetica Neue", Helvetica, Arial, sans-serif;
text-align: center;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
color: white;
position: absolute;
width: 80%;
padding-left: 10%;
padding-right: 10%;
word-wrap: break-word;
vertical-align: middle;
top:50%;
}

#dilor{
position: absolute;
z-index: 999999;
width: 50%;
left: 50%;
top: 60%;
padding: 0;
margin-top: -38.5px;
margin-left: -3.8%;
height:0px;
}


.dil_wrap #dilor span{
display: block;
-moz-border-radius: 50%;
border-radius: 50%;
background: #F9F9F9;
color: black;
width: 11%;
padding: 3%;
text-align:center;
}

.dil_wrap_min #dilor p{
font-size: 20px;
-moz-border-radius: 50%;
border-radius: 50%;
background: #F9F9F9;
color: black;
width: 5%;
padding: 2%;
text-align:center;
}


.dil_wrap_min .leftchoice{
background: #6db3f2; /* Old browsers */
background: -moz-linear-gradient(-45deg, #6db3f2 0%, #54a3ee 50%, #3690f0 67%, #1e69de 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(67%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #6db3f2 0%,#54a3ee 50%,#3690f0 67%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #6db3f2 0%,#54a3ee 50%,#3690f0 67%,#1e69de 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #6db3f2 0%,#54a3ee 50%,#3690f0 67%,#1e69de 100%); /* IE10+ */
background: linear-gradient(135deg, #6db3f2 0%,#54a3ee 50%,#3690f0 67%,#1e69de 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:20px;
width:49%;
float:left;
vertical-align: middle;
text-align: center;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
color:white;
font-size:24px;
opacity:0.9;
text-shadow: 1px 1px darkblue;
border-style:solid;
border-width:1px;
  /*-moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc; */
position:relative;
}

.dil_wrap_min .leftchoice:hover{
background: #6db3f2; /* Old browsers */
background: -moz-linear-gradient(-45deg, #6db3f2 0%, #54a3ee 50%, #3690f0 67%, #1e69de 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(67%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #6db3f2 0%,#54a3ee 50%,#3690f0 67%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #6db3f2 0%,#54a3ee 50%,#3690f0 67%,#1e69de 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #6db3f2 0%,#54a3ee 50%,#3690f0 67%,#1e69de 100%); /* IE10+ */
background: linear-gradient(135deg, #6db3f2 0%,#54a3ee 50%,#3690f0 67%,#1e69de 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:20px !important;
width:49%;
float:left;
opacity:1;
vertical-align: middle;
text-align: center;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
color:white;
font-size:24px;
text-shadow: 1px 1px darkblue;
border-style:solid;
border-width:1px;
    /*
  -moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc; */
position:relative;
}

.dil_wrap_min .rightchoice{
background: #ff3019; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #ff3019 0%,#cf0404 100%); /* IE10+ */
background: linear-gradient(135deg, #ff3019 0%,#cf0404 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
text-shadow: 1px 1px #8B0000;
height:45%;
width:49%;
min-height:20px;
float:right;
vertical-align: middle;
text-align: center;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
color:white;
font-size:24px;
opacity:0.9;
border-style:solid;
border-width:1px;
  /*-moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc; */
position:relative;
}

.dil_wrap_min .rightchoice:hover{
background: #ff3019; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #ff3019 0%,#cf0404 100%); /* IE10+ */
background: linear-gradient(135deg, #ff3019 0%,#cf0404 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
opacity:1;
height:45%;
width:49%;
min-height:20px;
float:right;
text-shadow: 1px 1px #8B0000;
vertical-align: middle;
text-align: center;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
color:white;
font-size:24px;
border-style:solid;
border-width:1px;
  /*-moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc; */
position:relative;
}

.dil_wrap_min .dil_form{
	height: 20px !important;
	overflow: hidden;
	position: relative;
}



#dilemma_leftform{
	vertical-align:middle;
}


.dil_wrap_min .leftchoice .percentage{
color: white;
font: bold 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
text-shadow: 0 1px 2px rgba(256, 256, 256, 0.5);
line-height: 100%;
}

.dil_wrap_min .rightchoice .percentage{
color: white;
font: bold 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
text-shadow: 0 1px 2px rgba(256, 256, 256, 0.5);
line-height: 100%;
}







.dil_wrap .dil_res{
position: absolute;
width:100%;
top:25%;
}

.dil_wrap_min .dil_res{
position: absolute;
width:100%;
}

#dilemmavote{
text-align: center;
margin-top: 2%;
text-decoration: none;
color: white;
width: 16%;
margin-left: auto;
margin-right: auto;
display:block;
}

#dilemmavote a{
	display:block;
	text-decoration:none;
	color:white;
}


.nextdil {
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	display:inline-block;
	font-family:arial;
	font-size:15px;
	font-weight:normal;
	padding:11px 28px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
	text-decoration:none;
	color:white;
}.nextdil:hover {
	text-decoration:none;
}.nextdil:active {
	position:relative;
	top:1px;
}

.dil_wrap{
	overflow:hidden;
    padding: 20px;
}

.dilformb{
	background: #6DB3F2 !important;
	border:none !important;
	color:black !important;
	text-shadow: none !important;
}
.dilformr{
	background: #ff3019 !important;
	border:none !important;
	color:white !important;
	text-shadow: none !important;
}

.dil_form{
	height: 200px;
	overflow: hidden;
	position: relative;
}

.dil_title{
	width: 100%;
	text-align: center;
	font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:black;
}



.dil_wrap_min{
	background:#F9F9F9;
	overflow:hidden;
}

.lvotes{
	color: #6db3f2;
	font-weight:bold;
}

.rvotes{
	color: #ff3019;
	font-weight:bold;
}

.dil_stats{
	padding:5px;
}

.dilwrapper{
	padding:15px;
}
