.statistiques_page_stats-article .column-post,
.statistiques_page_stats-author .column-post,
.statistiques_page_stats-tags .column-post,
.statistiques_page_stats-tags-forum .column-post {
    width: 40%;
}

.statistiques_page_stats-article .column-author,
.statistiques_page_stats-author .column-author,
.statistiques_page_stats-tags .column-author,
.statistiques_page_stats-tags-forum .column-author {
    width: 20%;
}

.statistiques_page_stats-article .column-pv,
.statistiques_page_stats-author .column-pv,
.statistiques_page_stats-tags .column-pv,
.statistiques_page_stats-tags-forum .column-pv {
    width: 9%;
}

.statistiques_page_stats-article .alignleft.actions.bulkactions,
.statistiques_page_stats-author .alignleft.actions.bulkactions,
.statistiques_page_stats-tags .alignleft.actions.bulkactions,
.statistiques_page_stats-tags-forum .alignleft.actions.bulkactions {
    display: none;
}

.statistiques_page_stats-article .alignleft.actions,
.statistiques_page_stats-author .alignleft.actions,
.statistiques_page_stats-tags .alignleft.actions,
.statistiques_page_stats-tags-forum .alignleft.actions {
    margin-bottom: 3px;
}

.statistiques_page_stats-article #post-query-submit,
.statistiques_page_stats-author #post-query-submit,
.statistiques_page_stats-tags #post-query-submit,
.statistiques_page_stats-tags-forum #post-query-submit {
    display: inline-block;
}

.statistiques_page_stats-article .hm-color-blue,
.statistiques_page_stats-author .hm-color-blue,
.statistiques_page_stats-tags .hm-color-blue,
.statistiques_page_stats-tags-forum .hm-color-blue {
    color: #0073aa;
}

.statistiques_page_stats-article .subsubsub,
.statistiques_page_stats-author .subsubsub,
.statistiques_page_stats-tags .subsubsub,
.statistiques_page_stats-tags-forum .subsubsub {
    margin-bottom: 4px;
    width: 100%;
}

.statistiques_page_stats-article .ga-requests,
.statistiques_page_stats-author .ga-requests,
.statistiques_page_stats-tags .ga-requests,
.statistiques_page_stats-tags-forum .ga-requests {
    position: relative;
    top: 8px;
}

.statistiques_page_stats-tags .tags-top-info-container,
.statistiques_page_stats-article .tags-top-info-container,
.statistiques_page_stats-author .tags-top-info-container,
.statistiques_page_stats-tags-forum .tags-top-info-container {
    display: inline-block;
    margin-right: 20px;
}

.statistiques_page_stats-tags .tags-top-info-container p,
.statistiques_page_stats-article .tags-top-info-container p,
.statistiques_page_stats-author .tags-top-info-container p,
.statistiques_page_stats-tags-forum .tags-top-info-container p {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 4px;
    margin-bottom: 8px;
}

.statistiques_page_stats-tags .tags-top-info-container p .right,
.statistiques_page_stats-article .tags-top-info-container p .right,
.statistiques_page_stats-author .tags-top-info-container p .right,
.statistiques_page_stats-tags-forum .tags-top-info-container p .right {
    float: right;
}

.statistiques_page_stats-tags .tags-top-info,
.statistiques_page_stats-article .tags-top-info,
.statistiques_page_stats-author .tags-top-info,
.statistiques_page_stats-tags-forum .tags-top-info {
    width: 100%;
    margin-top: 0
}

.statistiques_page_stats-tags .tags-top-info li,
.statistiques_page_stats-article .tags-top-info li,
.statistiques_page_stats-author .tags-top-info li,
.statistiques_page_stats-tags-forum .tags-top-info li {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 12px 18px;
    display: inline-block;
}

.statistiques_page_stats-tags .tags-top-info li .name,
.statistiques_page_stats-article .tags-top-info li .name,
.statistiques_page_stats-author .tags-top-info li .name,
.statistiques_page_stats-tags-forum .tags-top-info li .name {
    font-size: 1em;
    display: block;
    font-weight: 300;
}

.statistiques_page_stats-tags .tags-top-info li .info,
.statistiques_page_stats-article .tags-top-info li .info,
.statistiques_page_stats-author .tags-top-info li .info,
.statistiques_page_stats-tags-forum .tags-top-info li .info {
    font-size: 2.2em;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.statistiques_page_stats-tags .tags-top-info li .small-text,
.statistiques_page_stats-article .tags-top-info li .small-text,
.statistiques_page_stats-author .tags-top-info li .small-text,
.statistiques_page_stats-tags-forum .tags-top-info li .small-text {
    font-weight: 300;
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
}

.statistiques_page_stats-tags #back-link,
.statistiques_page_stats-tags-forum #back-link {
    top: 1px;
    padding: 5px 8px;
    float: left;
    left: -4px;
}

.statistiques_page_stats-tags h2.second-table,
.statistiques_page_stats-tags-forum h2.second-table {
    font-size: 23px;
    font-weight: 400;
    margin: 20px 0;
    padding: 9px 0 4px;
    line-height: 29px;
}

.statistiques_page_stats-tags .column-pv,
.statistiques_page_stats-tags-forum .column-pv {
    width: 130px;
}

.statistiques_page_stats-article #download-button,
.statistiques_page_stats-author #download-button,
.statistiques_page_stats-tags #download-button,
.statistiques_page_stats-tags-forum #download-button {
    display: inline-block;
    position: relative;
    top: -2px;
}

.statistiques_page_stats-tags .dashicons-download,
.statistiques_page_stats-article .dashicons-trash,
.statistiques_page_stats-tags-forum .dashicons-download,
.statistiques_page_stats-tags-forum .dashicons-trash{
    position: relative;
    top: 6px;
    font-size: 1.2em;
}

.column-line {
    width: 30px;
    text-align: left;
}

.column-type {
    width: 100px;
}

.statistiques_page_stats-author .column-count,
.statistiques_page_stats-author .column-pv,
.statistiques_page_stats-article .column-pv,
.statistiques_page_stats-author .column-ratio {
    width: 130px;
}

.statistiques_page_stats-tags-forum .column-pv {
    width: 200px;
}

.statistiques_page_stats-article .column-id,
.statistiques_page_stats-tags-forum .column-id {
    width: 100px;
}