<meta charset="utf-8">
<pre><code>    │ │    ┌┬────┐         │ │    ┌┬────┐         │ │    ┌┐       
  │ ├─┘   ┌┘│    └┐      │ ├─┘   ┌┘│    └┐      │ ├─┘   ┌┘│          
│ │ ├──  ┌┘┌┴┬──  └┐   │ │ ├──  ┌┘┌┴┬──  └┐   │ │ ├──  ┌┘┌┴┬──      
│ ├─┘   ┌┘ │ ├─┐   └┐  │ ├─┘   ┌┘ │ ├─┐   └┐  │ ├─┘   ┌┘ │ ├─┐      
└┬┴──  ┌┘  │ │ ├──  └┐ └┬┴──  ┌┘  │ │ ├──  └┐ └┬┴──  ┌┘  │ │ ├──     
 │    ┌┘     │ ├─┐   └┐ │    ┌┘     │ ├─┐   └┐ │    ┌┘     │ ├─┐    
 └────┘        │ │    └─┴────┘        │ │    └─┴────┘        │ │     </code></pre>
<h1 id="bibliothèque-design-non-garanti">Bibliothèque Design-non-garanti</h1>
<h2 id="external-ressources-chamber">External ressources chamber</h2>
<h3 id="retiary-link">retiary <a href="http://www.retiary.org/">link</a></h3>
<blockquote>
<p>Laurie Spiegel Magic Mouse</p>
</blockquote>
<h3 id="josephbasquin-link">josephbasquin <a href="https://josephbasquin.fr/bigpicturemobileversion">link</a></h3>
<blockquote>
<p>plenty of room</p>
</blockquote>
<h3 id="typefaces.temporarystate-link">typefaces.temporarystate <a href="http://typefaces.temporarystate.net/preview/Panama">link</a></h3>
<blockquote>
<p>The copyright eye is watching</p>
</blockquote>
<h3 id="annarchive-link">Annarchive <a href="https://annarchive.com/">link</a></h3>
<blockquote>
<p>WELCOME TO CYBERSPACE, VIDEO KIDS. YOU’VE FOUND ⒶNNARCHIVE, a permanent(?) collection of game media, archeaology, and artifacts for you to peruse.</p>
</blockquote>
<h3 id="ahwa-link">AHWA <a href="http://rd.uqam.ca/AHWA/index.html">link</a></h3>
<blockquote>
<p>En 2003 l’organisation AHWA-AWHA a été abolie. Mais ce site web survivra…!</p>
</blockquote>
<h3 id="historia-cultura-link">historia cultura <a href="http://users.skynet.be/histcult/">link</a></h3>
<blockquote>
<p>Number of links to other Websites = 632 = today. Since it is constantly updated, this Website is always under construction. From these links you have access to more than 100.000 interesting Websites. Save your time and come back visiting !</p>
</blockquote>
<h3 id="treemaps-for-space-constrained-visualization-of-hierarchies-link">Treemaps for space-constrained visualization of hierarchies <a href="https://www.cs.umd.edu/hcil/treemap/">link</a></h3>
<blockquote>
<p>Treempa history</p>
</blockquote>
<h3 id="paperrad-link">Paperrad <a href="http://www.paperrad.org/">link</a></h3>
<blockquote>
<p>stylé</p>
</blockquote>
<h3 id="woodpecker-hash-bruteforce-link">Woodpecker hash Bruteforce <a href="http://brute.zohosites.com/downloads.html">link</a></h3>
<blockquote>
<p>brute force for newbies</p>
</blockquote>
<h3 id="paulbourke.net-link">paulbourke.net <a href="http://paulbourke.net/">link</a></h3>
<blockquote>
<p>Data Formats, 3D, Audio, Image, Maths</p>
</blockquote>
<h3 id="folder-structure-conventions-for-games-link">Folder Structure Conventions for games <a href="https://github.com/Double-Fine-Game-Club/bad-golf-community-edition/wiki/folder-structure-and-naming-conventions">link</a></h3>
<h3 id="folder-structure-conventions-link">Folder Structure Conventions <a href="https://github.com/kriasoft/Folder-Structure-Conventions">link</a></h3>
<h3 id="incident.net-link">incident.net <a href="http://incident.net/">link</a></h3>
<blockquote>
<p>chatonsky, julie morelle, vadim bernard</p>
</blockquote>
<h3 id="teleferique.org-link">teleferique.org <a href="https://web.archive.org/web/20161012105853/http://www.teleferique.org/">link</a></h3>
<blockquote>
<p>collectif, démo, étienne cliquet</p>
</blockquote>
<h3 id="ordigami.net-link">ordigami.net <a href="http://www.ordigami.net/pardefaut.html">link</a></h3>
<blockquote>
<p>ésthétique par défaut, étienne cliquet</p>
</blockquote>
<h3 id="j_fenderson-link">j_fenderson <a href="https://twitter.com/j_fenderson">link</a></h3>
<blockquote>
<p>oscilloscope, music</p>
</blockquote>
<h3 id="concours-spotify-premium-generateur-comptes-voles-link">concours-spotify-premium-generateur-comptes-voles <a href="https://www.klakinoumi.com/2018/04/24/concours-spotify-premium-generateur-comptes-voles/">link</a></h3>
<blockquote>
<p>python, bot, tweeter, followers, influencers, accounts, teen, mafia, lol</p>
</blockquote>
<h3 id="zestedesavoir.com-link">zestedesavoir.com <a href="zestedesavoir.com">link</a></h3>
<blockquote>
<p>tutoriels, amateur, libre site de tutos fondé par les anciens bénévoles du site du zéro dans le but de retrouver l’esprit bonenfant de leur ancienne plateforme, design du site élaboré par la communauté</p>
</blockquote>
<h3 id="clofont.free.fr-link">clofont.free.fr <a href="http://clofont.free.fr/">link</a></h3>
<blockquote>
<p>web vernaculaire, page perso, typographie, kitsch, libre site d’une amatrice de la typo très kitsch et très fourni, très geek, [créé le 16 décembrre 1996</p>
</blockquote>
<h3 id="theartofgooglebooks.tumblr.com-link">theartofgooglebooks.tumblr.com <a href="http://theartofgooglebooks.tumblr.com/">link</a></h3>
<blockquote>
<p>Child’s autolinked writing-drawing. From the table of contents of Forget Me Not: A Gift for Sabbath School Children by Amanda M. Corey Edmond (1852). Original from Princeton University. Digitized February 15, 2008.</p>
</blockquote>
<h3 id="asciipr0n.com-link">asciipr0n.com <a href="www.asciipr0n.com">link</a></h3>
<h3 id="simplifier.neocities.org-link">simplifier.neocities.org <a href="https://simplifier.neocities.org/">link</a></h3>
<h3 id="disnovation.org-link">disnovation.org <a href="http://disnovation.org/">link</a></h3>
<h3 id="anti-theory.com-link">anti-theory.com <a href="http://www.anti-theory.com/soundart/circuitbend/">link</a></h3>
<h2 id="internal-ressources-chamber">Internal ressources chamber</h2>
<pre><code>    │ │    ┌┬────┐         │ │    ┌┬────┐         │ │    ┌┐       
  │ ├─┘   ┌┘│    └┐      │ ├─┘   ┌┘│    └┐      │ ├─┘   ┌┘│          
│ │ ├──  ┌┘┌┴┬──  └┐   │ │ ├──  ┌┘┌┴┬──  └┐   │ │ ├──  ┌┘┌┴┬──      
│ ├─┘   ┌┘ │ ├─┐   └┐  │ ├─┘   ┌┘ │ ├─┐   └┐  │ ├─┘   ┌┘ │ ├─┐      
└┬┴──  ┌┘  │ │ ├──  └┐ └┬┴──  ┌┘  │ │ ├──  └┐ └┬┴──  ┌┘  │ │ ├──     
 │    ┌┘     │ ├─┐   └┐ │    ┌┘     │ ├─┐   └┐ │    ┌┘     │ ├─┐    
 └────┘        │ │    └─┴────┘        │ │    └─┴────┘        │ │     </code></pre>
