@font-size: 19px;
@line-height: 27px;

body {
    color:#333;
    font-family: 'News Cycle', serif;
    /*font-family: 'Tex Gyre Schola', serif;*/
    font-style: normal;
    font-weight: normal;
    font-size: @font-size;
    line-height: @line-height;
    margin: 1em;
    /*background-color: azure;*/
    margin-top:0;
}
aside, nav, header{
	padding:10px;
}
div#logo {
	font-size: 1.75em;
	line-height:0.9em;
    margin-top: @line-height/5;
    margin-bottom: @line-height/4;
    text-align: center;
    
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}
nav {	
    padding: 0;
    text-align: center;
}
nav ul {
    margin: 0;
}
aside {
    padding: 0;
    padding-top: 1em;
	width: 15em;
    font-size: 0.75em;
    line-height: 1.25em;
    float: left;
    /*position: fixed;*/
}
aside#rightbar {
    position: absolute;
    bottom: 1em;
    right: 1em;
}   
p + p {
    margin-top: 16px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 0;
}
h1 {	
	font-size:2em;
	line-height:0.9em;
    margin-bottom: 15px;
    font-weight: bold;
}
h2 {	
    /*font-size:125%;*/
    font-weight: bold;
}
h3 {	
    /*font-size:110%;*/
    font-weight: bold;
}
h4 {
    font-weight: bold;
}
blockquote {
    margin: @line-height/2;
    border-left: 2px solid lightskyblue;
    padding-left: @line-height/2;
}
table {
    margin: @line-height 0;
    width: 100%;
    font-size: 13px;
    line-height: 18px;
}
em, cite {
    font-style: italic;
}
strong, b {
    font-weight: bold;
}
ol, ul {
    /*margin: 1em 0 1em 2em;*/
    margin: 0;
}
ol{
    list-style: decimal;
}
textarea {
    width: 85%;
    margin: @line-height;
    padding: @line-height/2;
}

section ul li:before {
    content: "– ";
}
section ul li {
    /*text-indent: -12px;*/
}
a {
    color: inherit;
    text-decoration: underline;
    -moz-text-decoration-color: blue;
}
a:hover {
    text-decoration: none;
}
sup {
	font-size:0.6em;
	vertical-align: 0.7em;
    line-height: 0;
    margin-left: 2px;
    
    a {
        text-decoration: none;
        color: lightskyblue;
    }
    a:hover {
        color: blue;
    }
}
pre, code { 
    font-family: monospace;
}
pre {
    white-space: pre-wrap;
    margin: @line-height;
    padding: @line-height;
    border: 1px solid blue;
}
th, td {
    border-top: 1px solid lightskyblue;
    padding-right: 1em;
}
tr:first-child th, tr:first-child td {
    border-top: none;
}
img {
    max-width: 100%;
}

figure {
    margin: @line-height 0;
    float: left;
    margin-right: @line-height/2;
    border: 1px solid lightskyblue;
}
figure img {
    display: block;
}

figcaption {
    color: lightskyblue;
    font-size: 13px;
    line-height: 18px;
}


article, .collection-list {
	margin-top: 30px;
    max-width: 630px;
    background-color: white;
    border-bottom: 4px double lightskyblue;
    border-left: 0px solid  blue;
    border-right: 0px solid blue;
    float: left;
}
article {
    margin-left: 2em;
    background: none;
    border: none;
    /*font-size: 1.5em;*/
    line-height: 1.4em;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
}
section {
    background-color: white;
    /*border-bottom: 4px double lightskyblue;*/
    border-left: 0px solid  blue;
    border-right: 0px solid blue;
    overflow: hidden;
	padding: 15px;
}
h1+section {
    height: auto;
}

.no-indent {
    margin-left: 0;
}

ul.translation-list li {
    color: inherit
}
.translations {
    display: inline;
    text-transform: uppercase;
    margin-left: @line-height;
}
.translations:after {
    clear: both;
}
div.footnote {
    font-size: 13px;
    line-height: 20px;
    font-family: News Cycle, sans-serif;

    hr {
        border: none;
        height: 1px;
        background-color: lightskyblue;
        margin: 2*@line-height 7*@line-height;
    }
    a.footnote-backref {
        color: lightskyblue;
        text-decoration: none;
    }
    a.footnote-backref:hover {
        color: blue;
    }
}


/*------------------------- toc ----*/
article div.toc {
    color: lightskyblue;
    position: absolute;
    left: 930px;
}
.toc ul {
	margin-left: 36px;
    margin-top: 0;
	display:none;
}
.toc:before {
	content:'Table of contents';
}
.toc:hover ul {
    display:block;
}

/*--------------------------text-list ---*/
section.text-list {
    /*width: 45%;*/
    /*float: left;*/
}
.text-list h2 {
    display: inline;
}
.text-list p {
    margin: 0;
}
.text-list li {
    margin-bottom: 1.25em;
}
.text-list li:before {
    content: "";
}
.text-list li {
    color: darkgray;
}
.text-list li.has-content {
    color: #333;
}
.text-list li.not-authorized {
    text-decoration: line-through;
}

.current-text:before {
    content: '> ';
}

div#current {
    text-align: center;

    .metadata {
        color: lightskyblue;
        border-top: 1px solid lightskyblue;
        padding-top: 15px;
        padding-bottom: 6px;
        margin-top: 15px;
    }
    #toc {
        color: darkgray;
        margin-top: 11px;
        border-bottom: 1px solid lightskyblue;
        margin-bottom: 18px;
        a {
            text-decoration: none;
        }
        a:hover {
            color: lightskyblue;
        }

        ul {
            margin: 0;
        }
        ul li:before {
            font-size: 0.6em;
            position: relative;
            top: -0.2em;
            margin-right: 2px;
        }
        ul.header li:before {
            content: "▪ ";
        }
        ul.sub-header>li:before {
            content: "▫ ";
        }
        .active {
            color: #333;
        }
    }
}
article {
    .metadata {
        text-align: center;
        color: lightskyblue;
        border-top: 1px solid lightskyblue;
        border-bottom: 1px solid lightskyblue;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 0;
    }
}

hr {
    height: 1px;
    background-color: lightskyblue;
    border: 0;
    width: 3em;
}


.note {
    font-size: 13px;
    line-height: 18px;
    padding-left: 33%;
    font-weight: bold;
}


#toc li.active {
    font-size: 1.5em;
    line-height: 1.3;
}




.other {
    position: relative;
    /*left: 7.5em;*/
    a {
        text-decoration: none;
    }
    a:hover {
        color: blue;
    }
}
