/* Rich Content */

.small { font-size:9px; }
.nowrap { white-space:nowrap; }

.image-left {
  margin: 0px 5px 0px 10px;
  text-align:right;
}
.image-right {
  margin: 0px 0px 5px 10px;
  text-align:right;
}
.image-inline {
  margin: 0px 10px 5px 10px;
  text-align:center;
}
div.subheader {
  font-size:82%;
  font-weight: bold;
  margin: 1.5em 0em;
}
hr {
  width: 100%;
  height: 1px;
}

/* Custom style types */
div.note {
  padding: 4px;
  border:1px solid #ddad08;
  font-size:80%;
}
span.red { color:#FF0000; }
span.green { color:#008000; }
div.code {
  border:1px solid #ccc;
  background-color:#eee;
  padding:10px;
  margin-left:20px;
  margin-right:15px;
  font-size:100%;
  width:85%;
  font-family:Monospace;
  color:#007000;
}

div.indent {
  padding-left:20px;
}


/*
     FILE ARCHIVED ON 20:42:53 Mar 14, 2008 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:51:47 Oct 28, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/