
h1 {
  font-size:1.3em;
  padding:2px 0px 2px 4px;
  margin:0px 0px 0px 8px;
  border-top:1px solid #006633;
  border-bottom:none;
  background-color:#deefe0;
  color:#000;
}

h2.intro {
 padding-top:0px;
 margin-top:0px;
}

h3 {
 font-size:100%;
 border-top:1px solid #666;
 border-bottom:1px solid #666;
 padding:8px 0px;
}

h4 {
  background-color:#efefef;
  padding:5px;
  font-weight:bold;
  font-size:100%;
}

ul.spaced li {
  margin-bottom:12px;
}

ul.history-index {
  margin-left:0px;
}

div.right-highlight-box {
  float:right;
  border:1px solid #006633;
  
  padding:10px;
  margin-left:10px;
}

/* Navigation */
div.nav ul {
  margin:0px;
  padding:0px;
  list-style-type: none;
}
li.header {
  font-weight:bold;
}
li.header li {
  font-weight:normal;
}
li.active, li.header li.active {
  color:#063;
  font-weight:bold;
  background: url('https://web.archive.org/web/20080315022250im_/http://www.google.com/images/greenarrow.gif') no-repeat 2px 4px;
}
div.nav ul li { padding-bottom:12px;}
div.nav ul.child li {
  padding-left:10px;
  padding-top:0px;
  padding-bottom:0px;
}

.sidebox {
  margin:4px 0px 14px 0px;
  padding:3px;
  border:1px solid #006633;
}
.sidebox h3 {
  font-size:100%;
  border:none;
  margin:0px;
  padding:0px;
}
  .sidebox p {
    padding:0px 0px 0px 10px;
    margin:0px;
  }

.side-search {
  border:1px solid #999;
  background-color: #efefef;
  text-align:center;
  font-size:70%;
  padding:3px;
  margin-bottom:10px;
}

.side-search form {
  display:inline;
}
.side-search p {
  padding:0px;
  margin:0px;
  display:inline;
}

/*
     FILE ARCHIVED ON 02:22:50 Mar 15, 2008 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:51:47 Oct 28, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/