@font-face {
	font-family: 'Akagi Book';
	src: url('Akagi-BK.otf');
}
@font-face {
	font-family: 'Akagi Book';
	src: url('Akagi-BKIT.otf');
	font-style: italic;
}
@font-face {
	font-family: 'Akagi Thin';
	src: url('Akagi-THIT.otf');
	font-style: italic;
}
@font-face {
	font-family: 'Akagi Thin';
	src: url('Akagi-TH.otf');
}
@font-face {
	font-family: 'Akagi Book';
	src: url('Akagi-SB.otf');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Akagi Book';
	src: url('Akagi-SBIT.otf');
	font-style: italic;
	font-weight: 600;
}
@font-face {
	font-family: 'Akagi SemiBold';
	src: url('Akagi-SB.otf');
	font-style: normal;
	font-weight: 600;
}