﻿/*
 Theme Name:     UXStudio 2
 Theme URI:      http://UXStudio.hu
 Description:    UXStudio Theme updated header
 Author:         Hurtony Péter
 Author URI:     http://semmi.hu
 Template:
 Version:        1.0.0
*/

/*@import url('bootstrap/css/bootstrap.css');*/
/*@import url('fonts/fonts.css');*/
/*@import url('css/sprites.css');*/

/* TODO: customizálni a bootstrapet ez a bekezdés alapján */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    padding-bottom: 0px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position-x: center;
	background-attachment: fixed;
	color:#424242;
	font-family:'Akagi Book';
	font-size:22px;
}

header,
.maincontent{
	clear: both;
	width: 90%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 2em 0;
	position: relative;
}

.maincontent{
	clear: both;
	width: 90%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 2em 0;
	position: relative;
}
a, a:link, a:active, a:visited{color:#59a016;/* transition:0.3s all; */}
a:hover{color:#bcbcbc;text-decoration:none;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family:'Akagi Book';}
.form-control:focus {
	border-color: #59a016 !important;
	box-shadow: 0px 0px !important;
	outline: 0 none !important;
}
ul li
{
list-style-image:url('images/icon-pointer.svg');
padding: 0px 0px 2px 2px;
vertical-align: middle;
}
.form-control{
	border-radius: 0px !important;
}
.control-label{font-weight: normal;}
.tooltip.right {
    margin-left:10px;
}
.tooltip-inner {
    padding:6px 8px;
    background-color:#8b8b8b;
    border-radius:0;
    min-height:35px;
    font-size:18px;
	font-family: 'Akagi Thin';
	min-width:205px;
}
.tooltip.right .tooltip-arrow {border-right-color: #8b8b8b;}


body.admin-bar > div.navbar.navbar-fixed-top{margin-top: 32px;}
.container{background-color:#fff;padding:0px 40px 40px 40px;}
.anim{transition:0.3s all;}

.social-icons {
margin-top: 2em;
margin-bottom:1em;}

/*
.fb-icon{width:37px;height:37px;background-image:url('images/icon-fb.png');display:inline-block;}
.fb-icon:hover{background-image:url('images/icon-fb-hover.png');}
.twitter-icon{width:37px;height:37px;background-image:url('images/icon-twitter.png');display:inline-block;}
.twitter-icon:hover{background-image:url('images/icon-twitter-hover.png');}
.in-icon{width:37px;height:37px;background-image:url('images/icon-in.png');display:inline-block;}
.in-icon:hover{background-image:url('images/icon-in-hover.png');}
.home-icon{width:37px;height:37px;background-image:url('images/icon-home.png');display:inline-block;}
.home-icon:hover{background-image:url('images/icon-home-hover.png');}
.be-icon{width:37px;height:37px;background-image:url('images/icon-be.png');display:inline-block;}
.be-icon:hover{background-image:url('images/icon-be-hover.png');}
.rss-icon{width:37px;height:37px;background-image:url('images/icon-rss.png');display:inline-block;}
.rss-icon:hover{background-image:url('images/icon-rss-hover.png');}
*/
.pinterest-icon{width:37px;height:37px;background-image:url('images/ic-pinterest.svg');display:inline-block;}
.pinterest-icon:hover{background-image:url('images/ic-pinterest-hover.svg');}
.tumblr-icon{width:37px;height:37px;background-image:url('images/ic-tumblr.svg');display:inline-block;}
.tumblr-icon:hover{background-image:url('images/ic-tumblr-hover.svg');}

.site-logo{color:#333;height:66px;display:inline-block;background-image:url('images/logo.svg');background-repeat: no-repeat;font-size: 37px;padding-left: 90px;padding-top: 14px;}
.site-logo:hover{color:#333;}
.header .top-links,.header .top-search{}
.header h1{margin:0;}

.header .search-submit {display:inline-block;width:0px;height:37px;background-color: transparent;background-image:url('images/icon-search-button.png');border:0px;padding: 0px;}
.header .search-toggle{width:37px;height:37px;background-image:url('images/icon-search.png');display: inline-block;background-position: 50%;background-repeat: no-repeat;cursor:pointer;/* position: absolute;right: 16px;top: 1px;*/}
.header .search-field{height:35px;border-radius:15px;color:#bcbcbc;width:0;border:0;padding: 0;transition:0.3s all;}
.header .search-field:focus{
	outline:none;
	border-color: #59a016 !important;
	box-shadow: 0px 0px !important;
	outline: 0 none !important;
}
.search-field-active{border:1px solid #dfdfdf !important;padding: 0px 10px !important;width:150px !important;}
.search-submit-active{width:37px !important;}
p.no-result {margin-top: 80px;text-align:center;}

/*Article: bejegyzés oldalak, .page-template-default: page típusú oldalak hasonló formázása*/

article {margin-top:30px;border-bottom:1px solid #bcbcbc;padding-bottom:40px;}
article .content-title a, article .content-title, .page-template-default h1{color:#414141; font-size:42px;font-weight:bold;padding-bottom: 15px;}
article .content-title a:hover {color:#59a016;text-decoration:none;}
article .post-content, .page-template-default .container p:first-of-type {margin-top:25px;}
article .meta{font-size:15px;margin-top:35px;color:#bcbcbc;}
article .post-date{background-image:url('images/icon-clock.svg');background-repeat: no-repeat;background-position: 0px 1px;background-size: 14px;padding-left: 20px;}
article .post-writer{background-image:url('images/icon-writer.svg');background-repeat: no-repeat;background-position: 0px 2px;background-size: 12px;padding-left:20px;}
article .post-tags{background-image:url('images/icon-tags.svg');background-repeat: no-repeat;background-position: 0px 2px;background-size:17px;padding-left:20px;}
article .post-comments{background-image:url('images/icon-comments.svg');background-repeat: no-repeat;background-position: 0px 3px;background-size:18px;padding-left:25px;}
article img, .page-template-default p img{margin-top:40px; margin-bottom:40px; max-width: 100%; height: auto; margin-left: auto; margin-right: auto;}
article h2, .page-template-default h1, .page-template-default h2{color: #414141; padding-top: 25px; padding-bottom: 5px; font-weight: bold;};
/*article .post-content p{color:red; text-decoration: underline; transition:0.3s all;}*/
article .aligncenter, .page-template-default .aligncenter{display: block; margin-left: auto; margin-right: auto;
}

.page-template-default h1{padding-top: 55px;}

.front-page b, .front-page strong{font-weight: normal;}

.content-social div div:first-child{padding-right: 30px;}

.single article{border:0px;}
.single .comments-count{height:35px;display: inline-block;padding: 5px 20px;border-radius: 4px;color:#a1a1a1;font-size:16px;position: relative;top: -13px;}

.single .comments-write{
color:#59a016;
font-size:18px
}

.single .comments-write:hover{
color:#a1a1a1;
cursor:pointer;
}

#respond,#comments {font-size:16px;}
#comments{padding:0px 20px;}
#respond #reply-title, .single .comments-title{font-size:18px;color:#59a016;}
#respond textarea{resize:none;}
#respond #single-comment-submit{float:right;height:35px;padding:5px 30px;background-color:#59a016;border:0px;color:#fff;border-radius:2px;margin-top:15px;}
#respond #single-comment-submit:hover{background-color:#f8f8f8;color:#59a016;}
#comments .comment{margin-bottom:30px;}
#comments .avatar{width: 56px;height: 56px;border-radius: 28px;display: block;overflow: hidden;}
#comments .comment-body{background-color:#f8f8f8;padding:15px 15px 5px 15px;}
#comments .comment-body .author{text-transform:uppercase;}
#comments ol{list-style-type:none;padding:0;}
#comments ul{list-style-type:none;}

.post-navigation{color:#848484;border-top:1px solid #bcbcbc;padding-top:10px;margin-top:10px;}
.post-navigation a{color:#6a6a6a;}
.post-navigation a:hover{color:#59a016;}
.post-navigation .prev{border-right:1px solid #bcbcbc;padding: 20px 30px;min-height: 130px;}
.post-navigation .next{padding: 20px 30px;}

hr.ajaxpaging-separator{display:none;}
#ajax_pagination_btn{width:80px;height:80px;margin:65px auto 0;display:block;background-image:url('images/icon-more.png');-webkit-border-radius: 5px;}
#ajax_pagination_btn:hover{background-image:url('images/icon-more-hover.png');}

.archive .panel{border: none;margin:0;}
.archive .panel .panel-heading{background-color: transparent;color:#6a6a6a;height: 80px;padding: 20px 0px;/*border-bottom: 1px solid #bcbcbc;*/}
.archive .panel .panel-heading a{color:#6a6a6a;}
.archive .panel .panel-heading .title-year{font-size:40px;font-weight:800;}
.archive .panel .panel-heading .title-count{font-size:24px;margin-top: 20px;}
.archive .panel .panel-collapse .panel-body{border:none;padding:0px;}
.archive .panel .panel-collapse .panel-body .row{height:60px;/*border-bottom:1px solid #dddddd;*/}
.archive .panel .panel-collapse .panel-body .body-count{font-size:18px;color:#bcbcbc;padding-top:17px;}
.archive .panel .panel-collapse .panel-body .body-month{padding-top:12px;}
.archive .panel .panel-collapse .panel-body .body-month a{font-size:24px;color:#59a016;text-transform:uppercase;}

#menu-bottom{margin:0;padding:0;list-style-type:none;}
#menu-bottom li{display:inline-block;}

.col-md-4 {padding-right: 1px}


.visible-sm.visible-xs {margin-top: 40px;margin-bottom: -30px;}

.more-link
{
	display: block;
}

.wp-caption-text {
font-size:80%;
text-align:center;
margin-bottom:40px;
}

.wp-caption img {
margin-top:40px;
margin-bottom:20px !important;
}

.rt-reading-time {
	display: block;
	font-size:15px;
	padding-bottom:10px;
	color: #C5C1C1
}


.ebook-block{
	margin-bottom: 50px;
}

.ebook-block img {
	width: 100%;
}

.fb-box {
	margin: 0 auto 50px;
	width: 500px;
}
.fb-box-title {
	text-align: center;
	margin-bottom: 15px;

}


/* --- NAVBAR --- */

.navbar {
	/*height:80px;*/
	padding-top:0px;
	border-radius:0px !important;
	margin-bottom:0px !important;
}

.navbar-header  {
	padding-top:0px !important;
	margin: 25px 0px;
}

.navbar-collapse {
	margin-top:27px;
}

.navbar-header button {
	margin:0px !important;
	padding:14px !important;
	border:0px solid !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color:#ffffff !important;
}

.navbar-brand {
	height:auto !important;
	padding:0px !important;
}

.navbar-default {
	background-color: rgba(255,255,255,1) !important;
	border-bottom: 1px solid #eee;
}

.navbar-collapse {
	z-index:999;
}

.navbar li {
	padding-left: 20px;
}

.navbar li a{
	color:#59a016 !important;
	padding:5px 6px !important;
	font-size: 12px;
	font-family: 'Lato';
	font-weight:400;
	text-transform:uppercase;
}

.navbar ul li a:hover, .navbar li a:active, .navbar li a:focus {
	color:#79d81d !important;
	background-color: transparent;
}

.navbar-collapse {
	max-height: 400px;
}

#searchformnav {
	display:none;
	padding:0;
}

.navbar .searchformbar {
	padding:0;
}

.screen-reader-text {
display:none;
}

a.contact {
	color:#59a016;
	border:1px solid #59a016;
}

a.contact:hover {
	/* border: 1px solid #79d81d; */
	background-color: rgba(255,255,255,0.2);
}

.post-content .col-md-12 div {
 width: 100% !important;
}

@media (min-width: 768px) { /* Hack that solves header display problem */
	.navbar-collapse.collapse {
		float:right;
	}
}



/* --- CASE STUDY LIST ---*/
.casestudy-card {
	width: 100%;
    display: table;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    font-family: Lato;
    padding: 0;
    margin-top: 30px;
}
.casestudy-list .row:first-child .casestudy-card {
	margin-top: 0;
}
.casestudy-card-content {
    height: 460px;
    color: white;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background: rgba(0,0,0,0.6);
}

.casestudy-card a {
    text-decoration: none;
}
.casestudy-card h1 {
    font-weight: normal;
    font-size: 36px;
    margin: 50px;
    color: white;
    font-family: Lato;
}
.col-md-12 .casestudy-card h1 {
    font-size: 48px;
}

.btn-casestudy {
    color: white;
    display: inline-block;
    border: 1px solid rgba(255,255,255,0.75);
    padding: 10px 25px;
    text-decoration: none;
    font-size: 18px;
}
.btn-casestudy:hover {
    background: rgba(0, 0, 0, 0.2);
    border-color: white;
}

.casestudy-nuru {
    background-image: url(images/nuru_bg.jpg);
}
.casestudy-nuru .casestudy-card-content {
    background: rgba(251, 139, 21, 0.6);
}
.casestudy-stylelike {
    background-image: url(images/stylelike_bg.jpg);
}
.casestudy-stylelike .casestudy-card-content {
    background: rgba(176, 20, 72, 0.6);
}
.casestudy-truckin {
    background-image: url(images/truckin_bg.jpg);
}
.casestudy-truckin .casestudy-card-content {
    background: rgba(77, 57, 38, 0.85);
}

@media (max-width: 991px) {
    .casestudy-card-content {
        height: auto;
        padding: 50px 0;
    }
    .casestudy-card h1, .col-md-12 .casestudy-card h1 {
        font-size: 30px;
        margin: 40px;
    }
}

/* --- THE BEST UX TEAM IN THE WORLD --- */

.members {
	width:1000px;
	margin:0px auto;
}

.member_card {
	width:168px;
	margin:15px;
	float:left;
	position:relative;
}

.member_info {
	position:absolute;
	bottom:0;
	width:168px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.02+10,0.9+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.02) 10%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 10%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 10%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000',GradientType=0 ); /* IE6-9 */

	box-sizing:border-box;
	padding:70px 10px 10px 10px;
	height:150px;
	text-shadow:0px 0px 10px rgba(0,0,0,1);
}

.name {
	font-weight:700;
	display:block;
	color:#fff;
	font-size:24px;
	margin:0px;
	padding:6px 0px 0px 0px;
	text-align:center;
}

.position, .position a {
	display:block;
	font-size:13px;
	font-weight:700;
	color:#59a016;
	text-transform:uppercase;
	margin:0px !important;
	padding:0px 0px 6px 0px;
	text-align:center;
}

.member_photo{
	background-size:cover;
	width:168px;
	height:231px;
}

div.team_picture {
	background-size:cover;
	width: 168px;
	height: 231px;
	background: url("../img/team.jpg") no-repeat;
}

/* --- FOOTER ---*/

.footer {
	background-color:#333333;
	background-image:url('https://uxstudioteam.com/img/footer.png');
	background-size:cover;
	background-position: top center;
	padding:50px 0px;
	color:#fff;
	text-align:center;
}

.footer h1 {
	font-size: 1.5em;
	line-height: normal;
	font-family: 'Lato';
	font-weight:900;
	text-transform:none;
	color:#ffffff;
	text-align:center;
	margin:0px 0px 20px 0px;
}

.footer a {
	color:#85BF4B;
}

.footer a:hover {
	color:#999;
	text-decoration:none;
}

.footerbox {
	margin:80px auto;
}

.container.footerbox {
	background: transparent;
	padding: 0;
}

.footer h1 {
	font-size: 1.5em;
	line-height: normal;
	font-family: 'Lato';
	font-weight:900;
	text-transform:none;
	color:#ffffff;
	text-align:center;
	margin:0px 0px 20px 0px;
}

.footer h2 {
	font-size: 1.4em;
	line-height: normal;
	font-family: 'Lato';
	font-weight:300;
	text-transform:none;
	color:#ffffff;
	text-align:center;
	margin:-20px 0px 40px 0px;
}

.footer-ill img {
	float: none;
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

p.zoli {
	font-size: 0.8em;
	margin-top: 26px;
}

.cta {
	margin-top:50px;
}


@media (min-width: 992px) {
.ctabtn {
	float: left;
}
.cta p {
	text-align: left;
}
}

/* --- COPYRIGHT --- */

.copyright {
	background-color:#222;
	color: rgba(255,255,255,.4);
	font-size:14px;
	text-align:center;
	padding:15px 0px 5px 0px;
}
.copyrighty {
	background-color:#222;
	color: rgba(255,255,255,.4);
	font-size:14px;
	text-align:center;
	padding:15px 0px 5px 0px;
	position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100px;
}

/* --- SOCIAL ICON SPRITES --- */
.social-icons {
	margin-top: 3em;
	margin-bottom: 2.5em;
}

.icon-fb, .icon-twitter, .icon-in, .icon-be, .icon-tu, .icon-pi, .icon-rss {
	background: url('https://uxstudioteam.com/img/sprites.svg') no-repeat;
	display: inline-block;
	transition: none;
	margin:0px 2px;
	width: 35px;
	height: 35px;
	opacity:.3;
}

.icon-fb:hover, .icon-twitter:hover, .icon-in:hover, .icon-be:hover, .icon-tu:hover, .icon-pi:hover, .icon-rss:hover {
	opacity:.5;
}

.icon-fb{
	background-position: 0px 0px;
}

.icon-in{
	background-position: -40px 0;
}

.icon-twitter{
	background-position: -80px 0;
}

.icon-be{
	background-position: -120px 0;
}

.icon-tu{
	background-position: -160px 0;
}

.icon-pi{
	background-position: -200px 0;
}


.icon-rss{
	background-position: -240px 0;
}

/* --- CTA SECTION (FORMERLY FOOTER) --- */

.ill {
	padding-bottom: 30px;
	padding-top: 15px;
}

.plus {
	float: left;
	padding-top: 169px;
	padding-left: 8px;
	padding-right: 8px;
}

.plus-p {
	font-weight: bold;
	font-size: 1.6em;
}

.mi-footer {
	height: 128px;
}

.mc-footer {
	margin: 0px;
}

.mp-footer {
	border: 3px solid white;
	box-shadow: #d2d2d2;
	border-radius: 80px;
	width: 168px;
	height: 168px;
}

.mi-footer {
	background: none;
}

.n-footer {
	padding: 70px 0px 0px 0px;
}

.bigmargin{
	text-align: center;
	margin: 0 0 100px 0;
}

@media (max-width: 480px) and (min-width: 340px){

.mc-footer {
	margin: 0px;
}


}

@media (max-width: 990px) {

.plus {
	padding-top: 169px;
	padding-left: 8px;
	padding-right: 8px;

}

.centralize {
	width: 410px;
	display: block;
	margin: 0 auto;
}

}

@media (max-width: 620px) {

.centralize {
	width: 272px;
}

.plus {
	padding-top:96px;
}

.mc-footer {
	width: 100px!important;
	height: 100px!important;
}

.mp-footer {
	width: 100px!important;
	height: 100px!important;
}

.mp-footer {
	width: 100px!important;
	height: 100px!important;
}

.mi-footer{
	width: 100px!important;

}

.mi-footer .name{
	font-size: 16px;
}

.ill {
	padding-bottom: 10px;
}


}

@media (max-width: 482px) {

.centralize {
	width: 200px;
}

.plus {
	padding-top:55px;
}

.plus-p {
	font-size:1em;
}

.mc-footer {
	width: 62px!important;
	height: 92px!important;
}

.mp-footer {
	width: 62px!important;
	height: 60px!important;
}

.mp-footer {
	width: 62px!important;
	height: 60px!important;
}

.mi-footer{
	width: 62px!important;
	height: 62px!important;
	min-height: 100px!important;
}

.mi-footer .name{
	font-size: 11px;
	padding: 0px;
}

.ctabtn {
	margin-top:20px;
	font-size: 14px!important;
}

}


/* Responsive */

@media screen and (max-width : 480px) {
	body {
		font-size: 18px;
		line-height: 1.4;
		background-image: none;
		padding-bottom: 0;
	}
	.container {
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 10px;
		margin-top: 0;
	}
	article .content-title a, article .content-title{
		font-size: 30px;
	}
}



li.cat-item {
	list-style-type: none;
	float: right;
	font-size: 15px;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 10px;
	}

ul li.cat-item {
	list-style-image: none;
	}




/* NAVBAR FROM LANDING */

.headercontaigner{
padding: 0px 40px 0px 40px;
background-color: transparent;

}

.navbar {
	/*height:80px;*/
	padding-top:0px;
	border-radius:0px !important;
	margin-bottom:0px !important;
}

.navbar-header  {
	padding-top:0px !important;
	/*margin:25px 0px;*/
}

.navbar-collapse {
	/*margin-top:28px;*/
}
.navbar-header button {
	margin:30px 15px;
	border:0px solid !important;
}
.navbar-brand {
	height:auto !important;
}

.navbar-right {

}
.navbar-brand img {
	height:30px;
	width:auto;
}

.navbar-default {
	border:0px !important;
	background-image: url('https://uxstudioteam.com/img/hero.jpg');
background-size: cover;
width: 100%;
-webkit-box-shadow: 0px 2px 3px 0px rgba(181,181,181,1);
-moz-box-shadow: 0px 2px 3px 0px rgba(181,181,181,1);
box-shadow: 0px 2px 3px 0px rgba(181,181,181,1);
}


.navbar-collapse {
	z-index:999;
}

.navbar li a{
	color:#fff!important;
	padding:5px 6px !important;
	font-size: 15px;
	font-family: 'Lato';
	font-weight:400;
	text-transform: none;
}

.navbar ul li a:hover, .navbar li a:active, .navbar li a:focus {
	color:#fff!important;
	background-color: transparent;
	border-bottom:2px solid #fff;
}



@media only screen and (max-width: 768px)  {
	.navbar-category {
	display: none;
	}

	.nav li a {
		display:inline !important;
		line-height:50px !important;
	}

  article .meta {
    margin-top: 10px;
  }

  article .post-content, .page-template-default .container p:first-of-type {
    margin-top: 0px;
  }

	#searchformnav {
	display:block;
	}
}

@media only screen and (max-width: 992px)  {
	ul li.cat-item {
    	font-size: 12px;
    	padding-left: 8px;
    	padding-top: 22px;
	}
}

@media only screen and (min-width: 768px)  {
	.search-small {
	display: none;
	}
}

.searchform-small {
	float: none;
}
.searchinput-small {
	width: 100%;
	font-size: 18px;
	padding: 8px;
}

a.contact {
	color:#fff;
	border:2px solid #fff;
}

a.contact:hover {
	background-color: rgba(255,255,255,0.2) !important;
}

ul li.cat-item a{
	color:#414141;
	cursor:pointer;
}

ul li.cat-item a:hover{
	color:#71c504;
}

h1.archive-title{
	font-size: 28px;
}

.searchform {
	float: right;
	margin-top: 17px;
	margin-left: 10px;
	font-size: 14px;
}

  #searchsubmit  {
	padding: 2px 8px;
	background-color: #fff;
	border: 1px solid #cdcdcd;
	color: grey;
	margin-left: -4px;
	height: 26px;
  }

.searchicon {
	background-image: url('images/icon-search.png');
	background-repeat: no-repeat;
	background-position: 0px 2px;
	background-size: 11px;
	padding-left: 11px;
}

.searchinput
  {
	width: 110px;
	padding-left: 6px;
	border: 1px solid #cdcdcd;
	height: 26px;
  }

.searchinput:active, .searchinput:focus
  {
	border: 1px solid #59a016;
  }

/* Transparent navbar override for case studies */
.navbar-transparent {
	background: transparent;
	background-color: transparent !important;
	position: absolute;
	z-index: 100;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
@media only screen and (max-width: 768px)  {
	.navbar-transparent .navbar-collapse {
		background: rgba(0,0,0,0.75);
	}
}

.wp-caption {
    margin-left: auto;
    margin-right: auto;
}
