* {  
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

* {margin: 0;}

body {
    padding: 24px;
    margin:0;
    color: #000;
    /*background: #fff url('grid24.png');*/
    line-height: 24px;
    font-size: 17px;
    font-family: "Times New Roman", serif;
}

header {
    width: 1000px;
}

h1 {
    font-size: 34px;
    line-height: 48px;
    padding: 12px 0 12px 0;
    text-align: center;
}

h2 {
    font-size: 25px;
    line-height: 48px;
    padding: 15px 0 9px 0;
}

img, figure {
    display: block;
}
figure {
    position: relative;
    padding-bottom: 24px;
}

p {
    padding: 7px 0 17px 0;
}

div#article {
    width: 1000px;
    padding-right: 300px;
    position: relative;
    margin: 0 auto;
}


p.epigraph {
    text-align: center;
    font-style: italic;
    padding-left: 180px;
    padding-right: 180px;
}

p.ack {
    font-size: 13px;
}

blockquote {
    padding-left: 64px;
    padding-right: 120px;
    text-align: justify;
}


div.footnotes {
    font-size: 13px;
}
    div.footnotes-side {
        width: 250px;
        position: absolute;
        top: -24px; /* to counter padding of body */
        right: 0;
    }
        div.footnotes-side li {
            padding: 7px 0 17px 0;
            position: absolute;
            
        }
            div.footnotes-side li p {
                padding: 0px 0 0 8px;
                border-left: 1px solid #333;
                text-indent: 24px;
            }

            div.footnotes-side li p:first-child {
                text-indent: 0;
            }

        div.footnotes-side li:before {
            content: '';
            overflow: hidden;
            width: 1px;
            height: 3px;
            background: #fff;
            position: absolute;
            top: 5px; left: 0px;
        }

        div.footnotes-side a.reversefootnote {
            display: none;
        }
        div.footnotes-side hr {
            display: none;
        }

a.footnote {
    font-size: 13px;
    line-height: 13px;
    vertical-align: super;
}

    .footnotes-processed a.footnote {
        color: black;
        text-decoration: none;
    }

        .footnotes-processed a.footnote:before {content:'['}
            .footnotes-processed a.footnote:after {content:']'}