#article ul {
    padding-bottom: 24px;
}
    #article ul li {
        list-style: none;
        position: relative;
    }

        #article ul li:before {
            content: "-";
            position: absolute;
            top: 5px;
            left: -2ex;
        }

p, ol, ul {
    clear: both;
}

    p.divider {
        text-align: center;
    }

figure {
    clear: both;
}

header figure {
    width: 729px;
    text-align: center;
    margin: auto;
}

figcaption {
    clear: both;
    font-size: 13px;
}

    figure.w800 {
        width: 800px;
    }

        figure.w800 img {
            float: left;
        }

        figure.w800 figcaption div {
            width: 400px;
            float: left;
        }

figure.margin-above {
    margin-top: 24px;
}

figure.margin-below {
    margin-bottom: 24px;
    float: left;
}

figure.homepages img:first-child{
    margin-bottom: 8px;
}

table {
    border-spacing: 0;
    margin-bottom: 24px;
}

th {text-align: left}

th,td {
    padding: 7px 3ex 16px;
    vertical-align: top;
}

td p:first-child {
    padding-top: 0;
}

table#users_imagined_table tr > td:first-child {
    font-weight: bold;
}

td,th {
    border-bottom: 1px solid #333;
}

    tr:last-child td {
        border-bottom: none;
    }

