/*
Theme Name: utility
Theme URI: http://utilitydemo.blitzthemes.com/
Author URI: http://www.blitzthemes.com/
Description: A Free WordPress theme designed by blitzthemes.com is stylish, customizable, simple, and readable. It has 3 widget areas, theme options, custom menu, slider, a photoblogging layout, news-ticker, dynamic header for custom logo, custom background and featured images (thumbnails for gallery posts and custom size images for posts).
Author: bzthemes
Version: 1.2.1
Tags: blue, white, two-columns, right-sidebar, fixed-width, featured-images, full-width-template, theme-options, custom-header, custom-menu, custom-background, threaded-comments, sticky-post, photoblogging, rtl-language-support, translation-ready
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}

/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	float:left;
	width:100%;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"],
textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	padding: 2px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	clear: both;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
body {
	font-family: Georgia, "Bitstream Charter", serif;
	font-size: 12px;
	line-height: 20px;
	background: #757575;
	margin:0 auto;
	padding:0;
}
h1, h2, h3, p {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
	color:#0066CC;
}
a:hover {
	text-decoration: none;
	color:#000;
}
a img {
	border:0;
}
a.clik {
	background:#005c91;
	padding:3px 8px;
	color:#fff;
}
a.clik:hover {
	background:#666;
}
.w100 {
	width:100% !important;
}
.fright {
	float: right!important;
}
.fleft {
	float: left!important;
}

.asq-logo {
	float: right;
}
.cls {
	clear: both;
}
.pad_left {
	padding-left:10px;
}
.pad_right {
	padding-right:10px;
}
.pad_bottom20 {
	padding-bottom:20px;
}
.border {
	border:1px solid #005c91;
}
.border_dot_botm {
	border-bottom:1px dotted #005c91;
}
.margin_zero {
	margin:0!important;
}
.padding_zero {
	padding:0!important;
}
.margin_not {
	margin-bottom:10px;
}
.m15 {
	margin:0 15px 0 15px;
}
/* ------------ */
.container {
	width: 975px;
	margin: 0 auto;
	background: #fff;
	position: relative;
}
.header {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.header .head_link {
	padding:5px 0;
	overflow:hidden;
	background:#4e4e4e;
	color:#fff;
	font-size:11px
}
.header .head_link p { }
.header .head_link p.best_pic {
	width:73%;
	text-align:center;
}
.header .head_link p span a {
	padding:0 7px;
	color:#fff;
}
.header .logo_cont {
	padding:5px 0;
	width:100%;
	float:left;
}
.header .logo_cont .logo {
	padding:5px 0 5px 10px;
	font-size:50px;
	font-weight:bold;
	color:#333333;
}

/*Navigation*/
.nav {
	width: 100%;
	float: left;
	background:url(design/beta/images/nav-bg.jpg) top left;
}
.nav ul {
	width: 750px;
	float: left;
	background:url(design/beta/images/nav-bg.jpg) repeat-x top left;
	list-style:none;
	margin:0px;
	line-height:30px;
	font-size:12px;
}
.nav ul li {
	float: left;
	position:relative;
}
.nav ul li a {
	color:#fff;
	padding: 5px 10px 5px 10px;
	display:block;
}
.nav ul li:hover {
	background:url(design/beta/images/nav-bg-ro.jpg) repeat-x top left;
}
.nav ul li:hover a:hover{
	color:#FFF;
	background:url(design/beta/images/nav-bg-ro.jpg) repeat-x top left;
}
.nav ul li:hover a {
	color:#FFF;
}
/*Second Level menu*/
.nav ul ul{
	display:none;
	background:#000;
	color:#FFF;
	width:188px;
	position:absolute;
	top:38px;
	left:0;
	border:0px solid red;
	z-index:10000;
}
.nav ul li:hover ul{
	display:block;
}
.nav ul li:hover ul ul{
	display:none;
}
.nav ul ul li{
	width:100%;
	float:left;
	padding: 0px;
	border-bottom:1px dotted #00273e;
	background:#80d1ff;
}
.nav ul ul a{
	background:#000;
	color:#FFF!important;
}
.nav ul ul li:hover {}
.nav ul ul li:hover a {}
/*Third Level menu*/
.nav ul ul ul {
	display:none;
	left:0;
	position:absolute;
	background:#80d1ff;
	color:#005c91;
	width:188px;
	top:0px;
	margin-left:188px;
}
.nav ul ul li:hover ul{
	display:block;
}
.nav ul ul ul li{
	width:100%;
	float:left;
	padding: 0px;

	border-bottom:1px dotted #00273e;
}
.nav ul ul li:hover ul a{
	color:#FFF!important;
}
.nav ul ul ul li:hover {
	background: #FFF;
}

.nav ul li.current_page_item > a,
.nav ul li.current-menu-item > a,
.nav ul li.current-cat > a,
.nav ul li.current-category-ancestor > a {
	font-weight:bold;
}

/*#twoColContainer { height: 700px; border: 1px solid red; }*/
.left_Main {
	width: 615px;
	float: left;
	margin-left:15px;
}
.no_sidebar {
	width: 100%;
	float: left;
}
.k_main {
	margin: 0 auto 2px 0px;
	width:610px;
	overflow: hidden;
	background:url(design/beta/images/bar.gif) no-repeat left bottom;
	padding-bottom:15px;
}
.k_main h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin:0 0 20px 0;
	line-height:normal;
}
.k_main .post-title {
  font-size: 26px;
	font-weight: normal;
	padding: 5px 0;
	color:#005c91;
	margin-bottom:0px;
	line-height:normal;
}

.k_main h3 a, .k_main h2 a, .k_main h1 a, .k_main h4 a {
	color:#005c91;
}
.k_main em {
	width:100%;
	margin-bottom:10px;
	padding-left:0px;
}
.k_main .imgarea {
	padding-top:5px;
}
.k_main .description {
	padding-top:5px;
	line-height:25px;
}
.k_main .description p {
	margin-bottom:20px;
	line-height:25px;
	float:left;
	width:100%
}
.k_main .c_link {
	font-size:12px;
	color:#005c91;
}
.k_main .description .content {
	width:592px;
	float:left;
	background:#f9fcfd;
	border:1px solid #f3f8fb;
	padding:10px;
	margin:0px 0 10px 0;
}
.k_main .description .content p {
	margin-bottom:0!important;
	color:#333;
}
.k_main .description .content .ta1 {
	float:left;
	width:120px;
}
.k_main .description .content .ta2 {
	float:left;
	width:78%;
	font-size:15px;
}
.k_main .description .content .ta2 em {
	display:block;
	font-size:11px;
	color:#666;
	font-style:normal;
}
.k_main .description .content .ta2 b, .k_main .description .content .search b {
	display:block;
	margin-bottom:2px;
	font-size:13px;
}
.k_main .description .content .ta2 em {
	display:block;
	font-size:11px;
	font-style:normal;
}
.k_main .description .content .ta2 em a {
	color:Red;
	font-style:normal;
}
.k_main ul.scroll {
	border:0px solid red;
	overflow:hidden;
}
.k_main ul.scroll li {
	float:left;
	padding:5px 6px 5px 6px;
	border:1px solid #eee;
	margin:2px;
}

.k_main .linkcontainer {
	float:left;
	width:100%;
}
.k_main .linkcontainer a {
	background:#666;
	padding:2px 7px;
	margin:1px;
	color:#fff;
}
.right_Main {
	float: right;
	text-align: left;
	width: 320px;
	margin-right:15px;
	background:#f7f8f8;
}
.right_Main .prnt_cont {
	border:1px solid #005c91;
	overflow:hidden;
	margin:10px 0px 10px 0px;
}
.right_Main .prnt_cont .subcontainer {
	padding:5px;
}
.right_Main .brd-zero {
	border:1px solid #eee;
	background:#eee;
	text-align:center;
}
.right_Main .prnt_cont h1 {
	background:#005c91;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px;
	color:#fff;
	width:94%;
}
.right_Main .prnt_cont h1 a {
	color:#fff;
}
.right_Main .prnt_cont h2 {
	background:#005c91;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px;
	color:#fff;
	width:100%;
}
.right_Main .prnt_cont .subcontainer p {
	float:left;
	width:100%;
	padding-bottom:10px;
}
.right_Main .prnt_cont .subcontainer span.thumb {
	float:left;
	display:block;
	height:136px;
	padding:10px 18px 0px 18px; ;
}
.right_Main .prnt_cont .subcontainer span.thumb a {
	display:block;
	color:#005c91;
}
.right_Main .prnt_cont .subcontainer span.thumb a img {
	border:1px solid #aaa;
	padding:2px;
}
.right_Main .prnt_cont .subcontainer span.thumb_a {
	float:left;
	width:112px;
	padding:5px;
	padding-bottom:10px;
}
.right_Main .prnt_cont .subcontainer span.thumb_a a img {
	border:1px solid #aaa;
	padding:2px;
}
.right_Main .prnt_cont .subcontainer span.thumb_detail {
	float:left;
	width:171px;
	padding:5px;
	margin-left:5px;
	font-size:14px;
	color:#005c91;
}
.right_Main .prnt_cont .subcontainer span.thumb_detail b.bold_txt {
	display:block;
	padding:0 0 5px 0;
	width:174px;
	overflow:hidden;
}
.right_Main .prnt_cont .subcontainer span.thumb_detail b.bold_txt a {
	color:#005c91;
}
.right_Main .prnt_cont .subcontainer span.thumb_detail em {
	font-style:normal;
}
.right_Main .prnt_cont .subcontainer ul li {
	list-style:disc outside none;
	color:#ffae00;
	font-size:14px;
	margin-left:-5px;
}
.right_Main .prnt_cont .subcontainer ul li em {
	font-size:12px;
	text-decoration:none;
	color:#333;
	font-style:normal;
	font-weight:bold;
}
.right_Main .prnt_cont .subcontainer ul li a{
	font-size:13px;
	text-decoration:none;
	color:#005C91;
	font-style:normal;
	font-weight:bold;
}
.comm {
	position:absolute;
	top:113px;
	height:232px;
	width:68px;
	left:-68px;
}
.star_pic {
	background:#333;
	padding:8px;
	text-align:center;
}
.star_pic span { }
.star_pic p b {
	display:block;
	margin-bottom:5px;
	font-size:14px;
}
.star_pic p b a {
	color:#FFFFFF;
}
.star_pic p {
	text-align:left;
	color:#fff;
	line-height:18px;
}
.star_pic p span.pic {
	display:block;
}
.icon_c {
	padding:15px 8px;
	float:left;
	width:96%;
}
.icon_c span {
	padding:3px;
}
.icon_c span a {
	float:left;
}
.icon_c span a.font {
	font-size:22px;
	padding:7px;
}
.icon_c .rss {
	float:left;
	width:34px;
}
.icon_c .twitter {
	float:right;
}
/*Form*/
.form_cont {
	margin:5px;
	overflow:hidden;
}
.form_cont ul {
	float:left;
	width:99%;
	background:#eee;
	padding:10px;
}
.form_cont ul li {
	padding:5px 0;
	width:99%;
	float:left;
}
.form_cont ul li span {
	float:left;
	padding-right:10px;
}
.form_cont ul li span input {
	width:120px;
}
.form_cont ul li span textarea {
	width:555px;
	height:120px;
}
.form_cont ul li div.comment {
	background:#fdea9e;
	width:97%;
	position:relative;
	padding:5px;
	font-size:11px;
	line-height:16px;
}
.form_cont ul li div.comment .c_img {
	position:absolute;
	top:5px;
	right:5px;
}
/*Footer*/
.footer {
	margin:0 auto;
	width:100%;
	float:left;
}
.footer .inner_footer {
	background:#212121;
	margin:0 auto;
	width:975px;
	padding-top:15px;
	padding-bottom:20px;
	color:#fff;
	position:relative;
}
.footer .inner_footer p {
	text-align:center;
	width:100%;
	float:left;
	padding-top:5px;
}
.footer .inner_footer ul {
	width:93%;
	float:left;
	border:0px solid red;
	text-align:center;
	padding:10px 0 0 0;
}
.footer .inner_footer ul li {
	text-align:center;
	padding:3px 10px;
	display:block;
	float:left;
	margin-bottom:5px;
}
.footer .inner_footer ul li a {
	font-size:11px;
	color:#aaa;
}
.footer .inner_footer ul.link_a {
	float:left;
	width:100%;
	margin:1px 10px;
}
.footer .inner_footer ul.link_a li {
	padding:2px 11px;
	border:1px solid #333!important;
	margin:0 2px 5px 2px;
}
.footer .inner_footer ul.link_a li:hover {
	background:#333;
}
.footer .inner_footer ul.link_a li.selected {
	background:#333;
}
.latest_news {
	background:#666;
	color:#fff;
	padding:5px 0px 5px 8px;
	clear:both;
	/*margin:0 15px;*/
	margin-bottom:5px;
}
.search {
	margin-top:8px;
}
.search label {
	float:left;
	padding-left:10px;
}
.search label input {
	width:145px;
	font-size:11px;
	border:1px solid #005C91;
	margin-top:2px;
	padding:2px 3px;
}
.search label a {
	color:#fff;
}
.search label a:hover {
	color:#000;
}
.k_main .description .content .search {
	float:left;
	width:100%;
	font-size:15px;
}
.breadcrumb {
	width:100%;
	padding:5px 0;
	font-size:15px;
	color:#666;
	border-bottom:1px dotted #999;
	margin-bottom:10px;
}
.breadcrumbs a {
	color:#000;
	font-weight:bold;
}
.article_page_tags {
	padding:10px;
	border:1px solid #eee;
	float:left;
	margin-top:10px;
	background:#eee;
	line-height:18px;
}
.readmore {
	color:#666666;
	float:left;
	width:100%;
}
.has-js {
	background:#fff;
	width:98.8%;
	padding:6px;
	height:16px;
	margin-top:0px;
	float:left;
	border-bottom:1px solid #999;
}
.news1 {
	float: left;
	color:#333;
}
.news1 a {
	color:#333;
}
.news1 em {
	color:red;
	padding:0 0 0 5px;
	font-style:normal;
}
.s-hidden {
	float: left;
	width: 700px;
}
.comment-body{
	margin:7px 0;
	padding:10px 10px
}
input.search1 {
	cursor:pointer;
	width:auto !important;
	padding:1px 3px!important;
	background:#88ccf3;
}


.submit {
	cursor:pointer;
	height:38px;
	width:119px!important;
}
#commentform {
	border-top:1px dotted #999;
	padding-top:10px;
}
#commentform p {
	padding:6px 0;
}
#commentform p input {
	width:97%;
}
#commentform p label {
	width:100%
}
#commentform p textarea {
	width:97%
}
#comments {
	clear: both;
	width:100%
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title, h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 0px 0;
	padding: 0 0 0 42px;
	position: relative;
}
#comments .comment-body ul, #comments .comment-body ol {
	margin-bottom: 18px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author { }
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 5px 0;
}
.comment-meta a:link, .comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active, .comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
	background:#F3F6FB
}
.commentlist .odd { background:#FFF }
.commentlist .bypostauthor { }
.reply { font-size: 15px; padding: 0 0 24px 0; clear:both;margin-bottom:5px;}
.reply a { color: #fff; background:#076fab; padding:1px 6px; float:right; margin:11px -10px 0 0px;}
.reply a:hover { color: #fff!important;}
a.comment-edit-link { color: #888; }
.reply a:hover, a.comment-edit-link:hover { color: #ff4b33; }
.commentlist .children { list-style: none; margin: 0; }
.commentlist .children li { border: none; margin: 0; }
.nopassword, .nocomments { display: none; }
#comments .pingback { border-bottom: 1px solid #e7e7e7; margin-bottom: 18px; margin-top:20px;padding-bottom: 18px; }
.commentlist li.comment+li.pingback { margin-top: 20px; }
#comments .pingback p { color: #888; display: block; font-size: 12px; line-height: 18px; margin: 0; }
#comments .pingback .url { font-size: 13px; font-style: italic; }
#cancel-comment-reply-link {color:red;}
#respond { margin-top:20px;}
#respond .comment-notes {
    margin-bottom: 1em;
}
#respond p {
    margin: 0;
}
#respond .form-allowed-tags {
    color: #888888;
    font-size: 12px;
    line-height: 18px;
}
#respond .required {
  color:red;
}
#respond .form-submit input {
    font-size: 14px;
    width: auto;
}

.footer .inner_footer span{
	font-size:11px;
}
.footer .inner_footer span a{
	font-weight:bold;
	color:#FFFFFF;
	font-size:12px;
}
.footer .inner_footer span a:hover{
	text-decoration:underline;
}
.footer-cone1{
	background:url(design/beta/images/footer_cone.png) no-repeat left bottom;
	width:75px;
	height:153px;
	position:absolute;
	left:-75px;
	bottom:0;
}
.footer-cone2{
	background:url(design/beta/images/footer_cone.png) no-repeat right bottom;
	width:75px;
	height:153px;
	position:absolute;
	right:-75px;
	bottom:0;
}

.descpanelfg a {
	color:white;
}
.subcontainer #searchform {
	padding-bottom:10px;
}

.subcontainer div a{
	float:left;
}
.tag_cloud {
	line-height:25px;
	float:left;
	width:100%
}
.tag_cloud a{
	padding:0 5px
}
.mt0{
	margin-top:0px !important;
}
.ml15{
	margin-left:15px;
}
.separator {
	clear:both;
	margin-top:10px;
	border-top: 1px dotted #005C91;
	padding-bottom:10px;
}