/* compact [
	local/couteau-suisse/header.css
	plugins/auto/media/v1.3.4/css/media.css
	plugins/auto/albums/v3.3.20/css/albums.css
	squelettes/styles/style.css
] 50.2% */

/* local/couteau-suisse/header.css */
q{quotes:'"' '"' "'" "'"}
:lang(fr) q{quotes:"\00AB\A0" "\A0\00BB" "\201C" "\201D" "\2018" "\2019"}
:lang(en) q{quotes:"\201C" "\201D" "\2018" "\2019"}
:lang(es) q{quotes:"\00AB" "\00BB" "\201C" "\201D"}
:lang(it) q{quotes:"\00AB\A0" "\A0\00BB" "\201C" "\201D"}
:lang(de) q{quotes:"\00BB" "\00AB" ">" "<"}
:lang(no) q{quotes:"\00AB\A0" "\A0\00BB" "<" ">"}
q:before{content:open-quote}
q:after{content:close-quote}
* html q{font-style:italic}
*+html q{font-style:italic}
sup,sup.typo_exposants{font-size:78%;font-variant:inherit;line-height:inherit;vertical-align:23%}
span.mcrypt{background:transparent url(http://strabic.fr/plugins/auto/couteau_suisse/v1.9.10/img/mailcrypt/leure.gif) no-repeat scroll .1em center;padding-left:12px;text-decoration:none;float:none;margin:0;display:inline}
.blocs_titre{background:transparent url(http://strabic.fr/prive/images/triangle-bas.gif) no-repeat scroll left center;font-weight:400;line-height:1.2em;margin-top:4px;padding:0 0 0 20px;margin-bottom:.1em;clear:left;cursor:pointer}
.blocs_replie{background:transparent url(http://strabic.fr/prive/images/triangle.gif) no-repeat scroll left center}
.blocs_title{display:none}

/* plugins/auto/media/v1.3.4/css/media.css */
.spip_doc_descriptif,.spip_doc_credits,.spip_doc_infos{clear:both;margin-right:auto;margin-left:auto;margin-top:0;margin-bottom:0;font-size:.9em}

/* plugins/auto/albums/v3.3.20/css/albums.css */
.album{margin:0 0 1.5em}
.album-caption.top{margin-bottom:1.5em}
.album-caption.bottom{text-align:center}
.album.vignettes li{display:inline-block;margin:0 10px 10px 0;text-align:center}
.album.vignettes ul li:last-child{margin-right:0}
.album.vignettes li a{display:block}
.portfolio-albums{clear:both}
.album-bootstrap:not(.center){margin-left:0;margin-right:0}
.album-foundation.vignettes li{margin:0}

/* squelettes/styles/style.css */
@charset "UTF-8";.btn{text-decoration:none;padding:0 22px;height:50px;line-height:50px;display:inline-block}
.island{padding:50px!important}
.full-bleed{margin-right:-50px!important;margin-left:-50px!important}
@media screen and (max-width:900px){.island .full-bleed{margin-right:-25px!important;margin-left:-25px!important}}
.grid{margin-left:-25px}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dd,ol,ul,form,fieldset,legend,table,th,td,caption,hr{margin:0;padding:0}
abbr[title],dfn[title]{cursor:help}
u,ins{text-decoration:none}
ins{border-bottom:1px solid}
img{font-style:italic}
label,input,textarea,button,select,option{cursor:pointer}
.text-input:active,.text-input:focus,textarea:active,textarea:focus{cursor:text;outline:none}
.cf:after,.nav:after,.media:after,.island:after,.islet:after{content:"";display:table;clear:both}
h1,h2,h3,h4,h5,h6,hgroup,ul,ol,dl,blockquote,p,address,table,fieldset,figure,pre,.form-fields > li,.media,.island,.islet{margin-bottom:25px;margin-bottom:1.5625rem}
.islet h1,.islet h2,.islet h3,.islet h4,.islet h5,.islet h6,.islet hgroup,.islet
ul,.islet ol,.islet dl,.islet
blockquote,.islet p,.islet address,.islet
table,.islet
fieldset,.islet figure,.islet
pre,.islet .form-fields > li,.islet
.media,.islet
.island,.islet
.islet{margin-bottom:12.5px;margin-bottom:0.78125rem}
.landmark{margin-bottom:50px;margin-bottom:3.125rem}
hr{margin-bottom:23px;margin-bottom:1.4375rem}
ul,ol,dd{margin-left:50px;margin-left:3.125rem}
html{font:1em/1.625 sans-serif;overflow-y:scroll;min-height:100%}
h1,.alpha{font-size:36px;font-size:2.25rem;line-height:1.44444}
h2,.beta{font-size:30px;font-size:1.875rem;line-height:1.73333}
h3,.gamma{font-size:24px;font-size:1.5rem;line-height:1.08333}
h4,.delta{font-size:20px;font-size:1.25rem;line-height:1.3}
h5,.epsilon{font-size:16px;font-size:1rem;line-height:1.625}
h6,.zeta{font-size:14px;font-size:0.875rem;line-height:1.85714}
hgroup .hN{margin-bottom:0}
.giga{font-size:100px;font-size:6.25rem;line-height:1.04}
.mega{font-size:72px;font-size:4.5rem;line-height:1.08333}
.kilo{font-size:48px;font-size:3rem;line-height:1.08333}
.lede,.lead{font-size:18px;font-size:1.125rem;line-height:1.44444}
.smallprint,.milli{font-size:11px;font-size:0.6875rem;line-height:2.36364}
.micro{font-size:10px;font-size:0.625rem;line-height:2.6}
q{quotes:"‘" "’" "" ""}
q:before{content:"\2018";content:open-quote}
q:after{content:"\2019";content:close-quote}
q q:before{content:"\201C";content:open-quote}
q q:after{content:"\201D";content:close-quote}
blockquote{quotes:"" ""}
blockquote p:before{content:"";content:open-quote}
blockquote p:after{content:"";content:no-close-quote}
blockquote p:last-of-type:after{content:"";content:close-quote}
blockquote q:before{content:"\2018";content:open-quote}
blockquote q:after{content:"\2019";content:close-quote}
blockquote{text-indent:-.41em}
blockquote p:last-of-type{margin-bottom:0}
.source{display:block;text-indent:0}
.source:before{content:"\2014"}
pre{overflow:auto}
pre mark{background:none;border-bottom:1px solid;color:inherit}
.code-comment{opacity:0.75;filter:alpha(opacity=75)}
.line-numbers{font-family:monospace,serif;list-style:decimal-leading-zero inside;white-space:nowrap;overflow:auto;margin-left:0}
.line-numbers code{white-space:pre}
img{max-width:100%}
img[width],img[height]{max-width:none}
.img--round{border-radius:4px}
.img--right{float:right;margin-bottom:25px;margin-left:25px}
.img--left{float:left;margin-right:25px;margin-bottom:25px}
.img--center{display:block;margin-right:auto;margin-bottom:25px;margin-left:auto}
.img--short{height:125px}
.img--medium{height:250px}
.img--tall{height:375px}
figure > img{display:block}
li > ul,li > ol{margin-bottom:0}
.numbered-list{list-style-type:decimal}
table{width:100%}
th,td{padding:6.25px;text-align:left}
@media screen and (min-width:480px){th,td{padding:12.5px}}
[colspan]{text-align:center}
[colspan="1"]{text-align:left}
[rowspan]{vertical-align:middle}
[rowspan="1"]{vertical-align:top}
.numerical{text-align:right}
.t5{width:5%}
.t10{width:10%}
.t12{width:12.5%}
.t15{width:15%}
.t20{width:20%}
.t25{width:25%}
.t30{width:30%}
.t33{width:33.333%}
.t35{width:35%}
.t37{width:37.5%}
.t40{width:40%}
.t45{width:45%}
.t50{width:50%}
.t55{width:55%}
.t60{width:60%}
.t62{width:62.5%}
.t65{width:65%}
.t66{width:66.666%}
.t70{width:70%}
.t75{width:75%}
.t80{width:80%}
.t85{width:85%}
.t87{width:87.5%}
.t90{width:90%}
.t95{width:95%}
.table--bordered th,.table--bordered td{border:1px solid #ccc}
.table--bordered th:empty,.table--bordered td:empty{border:none}
.table--bordered thead tr:last-child th{border-bottom-width:2px}
.table--bordered tbody tr th:last-of-type{border-right-width:2px}
.table--striped tbody tr:nth-of-type(odd){background-color:#ffc}
.table--data{font:12px/1.5 sans-serif}
fieldset{padding:25px}
.form-fields{list-style:none;margin:0}
.form-fields > li:last-child{margin-bottom:0}
label,.label{display:block}
.additional{display:block;font-weight:400}
.check-list{list-style:none;margin:0}
.check-label,.check-list label,.check-list .label{display:inline-block}
.spoken-form label{display:inline-block;font:inherit}
.extra-help{display:inline-block;visibility:hidden}
.text-input:active + .extra-help,.text-input:focus + .extra-help{visibility:visible}
.grid{margin-left:-25px;list-style:none;margin-bottom:0}
.grid > .grid{margin-left:0}
.grid__item{display:inline-block;width:100%;padding-left:25px;vertical-align:top}
.flexbox{display:table;width:100%}
html.flexbox{display:block;width:auto}
.flexbox__item{display:table-cell;vertical-align:middle}
.nav{list-style:none;margin-left:0}
.nav > li,.nav > li > a{display:inline-block;*display:inline;zoom:1}
.nav--stacked > li{display:list-item}
.nav--stacked > li > a{display:block}
.nav--banner{text-align:center}
.nav--block{line-height:1;letter-spacing:-.31em;word-spacing:-.43em;white-space:nowrap}
.nav--block > li{letter-spacing:normal;word-spacing:normal}
.nav--block > li > a{padding:12.5px}
.nav--fit{display:table;width:100%}
.nav--fit > li{display:table-cell}
.nav--fit > li > a{display:block}
.nav--keywords > li:after{content:"\002C" "\00A0"}
.nav--keywords > li:last-child:after{display:none}
.breadcrumb > li + li:before{content:"\00BB" "\00A0"}
.breadcrumb--path > li + li:before{content:"\002F" "\00A0"}
.breadcrumb > li + li[data-breadcrumb]:before{content:attr(data-breadcrumb) " "}
.breadcrumb__root{font-weight:700}
.media{display:block}
.media__img{float:left;margin-right:25px}
.media__img--rev{float:right;margin-left:25px}
.media__img img,.media__img--rev img{display:block}
.media__body{overflow:hidden}
.media__body,.media__body > :last-child{margin-bottom:0}
.islet .media__img{margin-right:12.5px}
.islet .media__img--rev{margin-left:12.5px}
.marginalia{font-size:11px;font-size:0.6875rem;line-height:2.36364}
@media (min-width:900px){.marginalia{position:relative}
.marginalia__body,.marginalia__body--right{position:absolute}
.marginalia__body{right:100%;padding-right:25px;text-align:right}
.marginalia__body--right{left:100%;padding-left:25px;text-align:left}}
.island,.islet{display:block}
.island{padding:25px}
.island > :last-child,.islet > :last-child{margin-bottom:0}
.islet{padding:12.5px}
.block-list,.block-list > li{border:0 solid #ccc}
.block-list{list-style:none;margin-left:0;border-top-width:1px}
.block-list > li{border-bottom-width:1px;padding:12.5px}
.block-list__link{display:block;padding:12.5px;margin:-12.5px}
.link-complex,.link-complex:hover,.link-complex:active,.link-complex:focus{text-decoration:none}
.link-complex:hover .link-complex__target,.link-complex:active .link-complex__target,.link-complex:focus .link-complex__target{text-decoration:underline}
.pill,.loz{display:inline-block;min-width:1.08333em;padding-right:.27083em;padding-left:.27083em;text-align:center;background-color:#ccc;color:#fff;border-radius:100px}
.loz{border-radius:4px}
.one-whole{width:100%}
.one-half,.two-quarters,.three-sixths,.four-eighths,.five-tenths,.six-twelfths{width:50%}
.one-third,.two-sixths,.four-twelfths{width:33.333%}
.two-thirds,.four-sixths,.eight-twelfths{width:66.666%}
.one-quarter,.two-eighths,.three-twelfths{width:25%}
.three-quarters,.six-eighths,.nine-twelfths{width:75%}
.one-fifth,.two-tenths{width:20%}
.two-fifths,.four-tenths{width:40%}
.three-fifths,.six-tenths{width:60%}
.four-fifths,.eight-tenths{width:80%}
.one-sixth,.two-twelfths{width:16.666%}
.five-sixths,.ten-twelfths{width:83.333%}
.one-eighth{width:12.5%}
.three-eighths{width:37.5%}
.five-eighths{width:62.5%}
.seven-eighths{width:87.5%}
.one-tenth{width:10%}
.three-tenths{width:30%}
.seven-tenths{width:70%}
.nine-tenths{width:90%}
.one-twelfth{width:8.333%}
.five-twelfths{width:41.666%}
.seven-twelfths{width:58.333%}
.eleven-twelfths{width:91.666%}
@media only screen and (max-width:480px){.palm-one-whole{width:100%}
.palm-one-half,.palm-two-quarters,.palm-three-sixths,.palm-four-eighths,.palm-five-tenths,.palm-six-twelfths{width:50%}
.palm-one-third,.palm-two-sixths,.palm-four-twelfths{width:33.333%}
.palm-two-thirds,.palm-four-sixths,.palm-eight-twelfths{width:66.666%}
.palm-one-quarter,.palm-two-eighths,.palm-three-twelfths{width:25%}
.palm-three-quarters,.palm-six-eighths,.palm-nine-twelfths{width:75%}
.palm-one-fifth,.palm-two-tenths{width:20%}
.palm-two-fifths,.palm-four-tenths{width:40%}
.palm-three-fifths,.palm-six-tenths{width:60%}
.palm-four-fifths,.palm-eight-tenths{width:80%}
.palm-one-sixth,.palm-two-twelfths{width:16.666%}
.palm-five-sixths,.palm-ten-twelfths{width:83.333%}
.palm-one-eighth{width:12.5%}
.palm-three-eighths{width:37.5%}
.palm-five-eighths{width:62.5%}
.palm-seven-eighths{width:87.5%}
.palm-one-tenth{width:10%}
.palm-three-tenths{width:30%}
.palm-seven-tenths{width:70%}
.palm-nine-tenths{width:90%}
.palm-one-twelfth{width:8.333%}
.palm-five-twelfths{width:41.666%}
.palm-seven-twelfths{width:58.333%}
.palm-eleven-twelfths{width:91.666%}}
@media only screen and (min-width:481px) and (max-width:899px){.lap-one-whole{width:100%}
.lap-one-half,.lap-two-quarters,.lap-three-sixths,.lap-four-eighths,.lap-five-tenths,.lap-six-twelfths{width:50%}
.lap-one-third,.lap-two-sixths,.lap-four-twelfths{width:33.333%}
.lap-two-thirds,.lap-four-sixths,.lap-eight-twelfths{width:66.666%}
.lap-one-quarter,.lap-two-eighths,.lap-three-twelfths{width:25%}
.lap-three-quarters,.lap-six-eighths,.lap-nine-twelfths{width:75%}
.lap-one-fifth,.lap-two-tenths{width:20%}
.lap-two-fifths,.lap-four-tenths{width:40%}
.lap-three-fifths,.lap-six-tenths{width:60%}
.lap-four-fifths,.lap-eight-tenths{width:80%}
.lap-one-sixth,.lap-two-twelfths{width:16.666%}
.lap-five-sixths,.lap-ten-twelfths{width:83.333%}
.lap-one-eighth{width:12.5%}
.lap-three-eighths{width:37.5%}
.lap-five-eighths{width:62.5%}
.lap-seven-eighths{width:87.5%}
.lap-one-tenth{width:10%}
.lap-three-tenths{width:30%}
.lap-seven-tenths{width:70%}
.lap-nine-tenths{width:90%}
.lap-one-twelfth{width:8.333%}
.lap-five-twelfths{width:41.666%}
.lap-seven-twelfths{width:58.333%}
.lap-eleven-twelfths{width:91.666%}}
@media only screen and (min-width:481px){.lap-and-up-one-whole{width:100%}
.lap-and-up-one-half,.lap-and-up-two-quarters,.lap-and-up-three-sixths,.lap-and-up-four-eighths,.lap-and-up-five-tenths,.lap-and-up-six-twelfths{width:50%}
.lap-and-up-one-third,.lap-and-up-two-sixths,.lap-and-up-four-twelfths{width:33.333%}
.lap-and-up-two-thirds,.lap-and-up-four-sixths,.lap-and-up-eight-twelfths{width:66.666%}
.lap-and-up-one-quarter,.lap-and-up-two-eighths,.lap-and-up-three-twelfths{width:25%}
.lap-and-up-three-quarters,.lap-and-up-six-eighths,.lap-and-up-nine-twelfths{width:75%}
.lap-and-up-one-fifth,.lap-and-up-two-tenths{width:20%}
.lap-and-up-two-fifths,.lap-and-up-four-tenths{width:40%}
.lap-and-up-three-fifths,.lap-and-up-six-tenths{width:60%}
.lap-and-up-four-fifths,.lap-and-up-eight-tenths{width:80%}
.lap-and-up-one-sixth,.lap-and-up-two-twelfths{width:16.666%}
.lap-and-up-five-sixths,.lap-and-up-ten-twelfths{width:83.333%}
.lap-and-up-one-eighth{width:12.5%}
.lap-and-up-three-eighths{width:37.5%}
.lap-and-up-five-eighths{width:62.5%}
.lap-and-up-seven-eighths{width:87.5%}
.lap-and-up-one-tenth{width:10%}
.lap-and-up-three-tenths{width:30%}
.lap-and-up-seven-tenths{width:70%}
.lap-and-up-nine-tenths{width:90%}
.lap-and-up-one-twelfth{width:8.333%}
.lap-and-up-five-twelfths{width:41.666%}
.lap-and-up-seven-twelfths{width:58.333%}
.lap-and-up-eleven-twelfths{width:91.666%}}
@media only screen and (max-width:899px){.portable-one-whole{width:100%}
.portable-one-half,.portable-two-quarters,.portable-three-sixths,.portable-four-eighths,.portable-five-tenths,.portable-six-twelfths{width:50%}
.portable-one-third,.portable-two-sixths,.portable-four-twelfths{width:33.333%}
.portable-two-thirds,.portable-four-sixths,.portable-eight-twelfths{width:66.666%}
.portable-one-quarter,.portable-two-eighths,.portable-three-twelfths{width:25%}
.portable-three-quarters,.portable-six-eighths,.portable-nine-twelfths{width:75%}
.portable-one-fifth,.portable-two-tenths{width:20%}
.portable-two-fifths,.portable-four-tenths{width:40%}
.portable-three-fifths,.portable-six-tenths{width:60%}
.portable-four-fifths,.portable-eight-tenths{width:80%}
.portable-one-sixth,.portable-two-twelfths{width:16.666%}
.portable-five-sixths,.portable-ten-twelfths{width:83.333%}
.portable-one-eighth{width:12.5%}
.portable-three-eighths{width:37.5%}
.portable-five-eighths{width:62.5%}
.portable-seven-eighths{width:87.5%}
.portable-one-tenth{width:10%}
.portable-three-tenths{width:30%}
.portable-seven-tenths{width:70%}
.portable-nine-tenths{width:90%}
.portable-one-twelfth{width:8.333%}
.portable-five-twelfths{width:41.666%}
.portable-seven-twelfths{width:58.333%}
.portable-eleven-twelfths{width:91.666%}}
@media only screen and (min-width:900px){.desk-one-whole{width:100%}
.desk-one-half,.desk-two-quarters,.desk-three-sixths,.desk-four-eighths,.desk-five-tenths,.desk-six-twelfths{width:50%}
.desk-one-third,.desk-two-sixths,.desk-four-twelfths{width:33.333%}
.desk-two-thirds,.desk-four-sixths,.desk-eight-twelfths{width:66.666%}
.desk-one-quarter,.desk-two-eighths,.desk-three-twelfths{width:25%}
.desk-three-quarters,.desk-six-eighths,.desk-nine-twelfths{width:75%}
.desk-one-fifth,.desk-two-tenths{width:20%}
.desk-two-fifths,.desk-four-tenths{width:40%}
.desk-three-fifths,.desk-six-tenths{width:60%}
.desk-four-fifths,.desk-eight-tenths{width:80%}
.desk-one-sixth,.desk-two-twelfths{width:16.666%}
.desk-five-sixths,.desk-ten-twelfths{width:83.333%}
.desk-one-eighth{width:12.5%}
.desk-three-eighths{width:37.5%}
.desk-five-eighths{width:62.5%}
.desk-seven-eighths{width:87.5%}
.desk-one-tenth{width:10%}
.desk-three-tenths{width:30%}
.desk-seven-tenths{width:70%}
.desk-nine-tenths{width:90%}
.desk-one-twelfth{width:8.333%}
.desk-five-twelfths{width:41.666%}
.desk-seven-twelfths{width:58.333%}
.desk-eleven-twelfths{width:91.666%}}
@media only screen and (min-width:1200px){.desk-wide-one-whole{width:100%}
.desk-wide-one-half,.desk-wide-two-quarters,.desk-wide-three-sixths,.desk-wide-four-eighths,.desk-wide-five-tenths,.desk-wide-six-twelfths{width:50%}
.desk-wide-one-third,.desk-wide-two-sixths,.desk-wide-four-twelfths{width:33.333%}
.desk-wide-two-thirds,.desk-wide-four-sixths,.desk-wide-eight-twelfths{width:66.666%}
.desk-wide-one-quarter,.desk-wide-two-eighths,.desk-wide-three-twelfths{width:25%}
.desk-wide-three-quarters,.desk-wide-six-eighths,.desk-wide-nine-twelfths{width:75%}
.desk-wide-one-fifth,.desk-wide-two-tenths{width:20%}
.desk-wide-two-fifths,.desk-wide-four-tenths{width:40%}
.desk-wide-three-fifths,.desk-wide-six-tenths{width:60%}
.desk-wide-four-fifths,.desk-wide-eight-tenths{width:80%}
.desk-wide-one-sixth,.desk-wide-two-twelfths{width:16.666%}
.desk-wide-five-sixths,.desk-wide-ten-twelfths{width:83.333%}
.desk-wide-one-eighth{width:12.5%}
.desk-wide-three-eighths{width:37.5%}
.desk-wide-five-eighths{width:62.5%}
.desk-wide-seven-eighths{width:87.5%}
.desk-wide-one-tenth{width:10%}
.desk-wide-three-tenths{width:30%}
.desk-wide-seven-tenths{width:70%}
.desk-wide-nine-tenths{width:90%}
.desk-wide-one-twelfth{width:8.333%}
.desk-wide-five-twelfths{width:41.666%}
.desk-wide-seven-twelfths{width:58.333%}
.desk-wide-eleven-twelfths{width:91.666%}}
.brand{font-family:myriad-pro,source-sans-pro,museo-sans,sans-serif!important;color:#004fff!important}
.brand-face{font-family:myriad-pro,source-sans-pro,museo-sans,sans-serif!important}
.brand-color,.brand-colour{color:#004fff!important}
.float--right{float:right!important}
.float--left{float:left!important}
.float--none{float:none!important}
.text--left{text-align:left!important}
.text--center{text-align:center!important}
.text--right{text-align:right!important}
.weight--light{font-weight:300!important}
.weight--normal{font-weight:400!important}
.weight--semibold{font-weight:600!important}
.push{margin:25px!important}
.push--top{margin-top:25px!important}
.push--right{margin-right:25px!important}
.push--bottom{margin-bottom:25px!important}
.push--left{margin-left:25px!important}
.push--ends{margin-top:25px!important;margin-bottom:25px!important}
.push--sides{margin-right:25px!important;margin-left:25px!important}
.push-half{margin:12.5px!important}
.push-half--top{margin-top:12.5px!important}
.push-half--right{margin-right:12.5px!important}
.push-half--bottom{margin-bottom:12.5px!important}
.push-half--left{margin-left:12.5px!important}
.push-half--ends{margin-top:12.5px!important;margin-bottom:12.5px!important}
.push-half--sides{margin-right:12.5px!important;margin-left:12.5px!important}
.flush{margin:0!important}
.flush--top{margin-top:0!important}
.flush--right{margin-right:0!important}
.flush--bottom{margin-bottom:0!important}
.flush--left{margin-left:0!important}
.flush--ends{margin-top:0!important;margin-bottom:0!important}
.flush--sides{margin-right:0!important;margin-left:0!important}
.soft{padding:25px!important}
.soft--top{padding-top:25px!important}
.soft--right{padding-right:25px!important}
.soft--bottom{padding-bottom:25px!important}
.soft--left{padding-left:25px!important}
.soft--ends{padding-top:25px!important;padding-bottom:25px!important}
.soft--sides{padding-right:25px!important;padding-left:25px!important}
.soft-half{padding:12.5px!important}
.soft-half--top{padding-top:12.5px!important}
.soft-half--right{padding-right:12.5px!important}
.soft-half--bottom{padding-bottom:12.5px!important}
.soft-half--left{padding-left:12.5px!important}
.soft-half--ends{padding-top:12.5px!important;padding-bottom:12.5px!important}
.soft-half--sides{padding-right:12.5px!important;padding-left:12.5px!important}
.hard{padding:0!important}
.hard--top{padding-top:0!important}
.hard--right{padding-right:0!important}
.hard--bottom{padding-bottom:0!important}
.hard--left{padding-left:0!important}
.hard--ends{padding-top:0!important;padding-bottom:0!important}
.hard--sides{padding-right:0!important;padding-left:0!important}
.full-bleed{margin-right:-50px!important;margin-left:-50px!important}
.islet .full-bleed{margin-right:-12.5px!important;margin-left:-12.5px!important}
.informative{cursor:help!important}
.muted{opacity:0.5!important;filter:alpha(opacity=50)!important}
.proceed{text-align:right!important}
.go:after{content:" " "»"!important}
.caps{text-transform:uppercase!important}
.accessibility,.visuallyhidden{border:0!important;clip:rect(0 0 0 0)!important;height:1px!important;margin:-1px!important;overflow:hidden!important;padding:0!important;position:absolute!important;width:1px!important}
@media only screen and (max-width:480px){.accessibility--palm,.visuallyhidden--palm{border:0!important;clip:rect(0 0 0 0)!important;height:1px!important;margin:-1px!important;overflow:hidden!important;padding:0!important;position:absolute!important;width:1px!important}}
@media only screen and (min-width:481px) and (max-width:899px){.accessibility--lap,.visuallyhidden--lap{border:0!important;clip:rect(0 0 0 0)!important;height:1px!important;margin:-1px!important;overflow:hidden!important;padding:0!important;position:absolute!important;width:1px!important}}
@media only screen and (min-width:481px){.accessibility--lap-and-up,.visuallyhidden--lap-and-up{border:0!important;clip:rect(0 0 0 0)!important;height:1px!important;margin:-1px!important;overflow:hidden!important;padding:0!important;position:absolute!important;width:1px!important}}
@media only screen and (max-width:899px){.accessibility--portable,.visuallyhidden--portable{border:0!important;clip:rect(0 0 0 0)!important;height:1px!important;margin:-1px!important;overflow:hidden!important;padding:0!important;position:absolute!important;width:1px!important}}
@media only screen and (min-width:900px){.accessibility--desk,.visuallyhidden--desk{border:0!important;clip:rect(0 0 0 0)!important;height:1px!important;margin:-1px!important;overflow:hidden!important;padding:0!important;position:absolute!important;width:1px!important}}
@media only screen and (min-width:1200px){.accessibility--desk-wide,.visuallyhidden--desk-wide{border:0!important;clip:rect(0 0 0 0)!important;height:1px!important;margin:-1px!important;overflow:hidden!important;padding:0!important;position:absolute!important;width:1px!important}}
html{font-family:"myriad-pro","source-sans-pro","museo-sans",sans-serif;font-weight:500;color:#000;background-color:#333}
body{margin:0 auto;padding-bottom:0}
@media only screen and (min-width:900px){body{margin:25px}}
@media only screen and (min-width:1200px){body{margin:0 auto;margin-top:40px;max-width:1150px}}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){body{margin:25px}}
@media only screen and (max-device-width:767px){body,p{font-size:16px}}
a{text-decoration:none;color:inherit}
.page{margin:auto;width:100%;text-align:center;margin-bottom:25px;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;-ms-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease}
.page .page_island{background-color:#fafaf2}
.page-rubrique .page .page_island{background-color:#fffef3}
.page-apropos .page .page_island,.page-bibli .page .page_island{background-color:#fafaf2}
.page-apropos .page_island,.page-bibli .page_island{background-color:#FAFAF2}
@media only screen and (max-width:480px){.page{width:100%}}
.page-titre-une{background-color:#fafaf2}
.page-titre-une .page_une{background-color:transparent;height:260px}
.titre_site{color:inherit;color:rgba(0,0,0,0.8);margin-bottom:-30px;font-size:116px;font-weight:700;line-height:1em;text-align:center;font-family:"museo-sans"}
@media only screen and (min-width:481px) and (max-width:899px){.titre_site{font-size:90px}}
@media only screen and (max-width:480px){.titre_site{font-size:50px}}
.soustitre_site{margin:0 auto;padding:0 20px;color:inherit;color:rgba(0,0,0,0.3);text-align:center;font-family:"museo-sans";text-transform:uppercase;max-width:760px;font-size:18px;line-height:1.3em}
@media only screen and (min-width:481px) and (max-width:899px){.soustitre_site{font-size:18px}}
@media only screen and (max-width:480px){.soustitre_site{font-size:16px}}
.soustitre_site a{text-decoration:underline}
.page_une{width:100%;background-color:#555;background-position:center center;background-size:cover;padding:0 20px;height:450px;color:#FFF}
.page_une h1,.page_une h1 span,.page_une h2,.page_une p{margin-bottom:0}
@media only screen and (min-width:481px) and (max-width:899px){.page_une{height:330px}}
@media only screen and (max-width:480px){.page_une{height:200px}}
.page_une_titre{color:inherit;line-height:1em;font-size:90px;font-weight:700;font-family:"museo-sans"}
@media only screen and (min-width:481px) and (max-width:899px){.page_une_titre{font-size:70px}}
@media only screen and (max-width:480px){.page_une_titre{font-size:40px}}
.page_une_soustitre{margin-bottom:0;font-size:20px;display:block;font-weight:400}
.page_une_titre,.page_une_soustitre,.souligne-hover{-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;-ms-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease}
a:hover .page_une_titre .souligne-hover{opacity:0.5}
.page_island{clear:left;text-align:left}
@media only screen and (min-width:481px) and (max-width:899px){.island{padding:25px!important}}
@media only screen and (max-width:480px){.island{padding:25px!important}}
.page_une_infos{width:100%;float:left;-webkit-transition:background-color 0.4s ease;-moz-transition:background-color 0.4s ease;-ms-transition:background-color 0.4s ease;-o-transition:background-color 0.4s ease;transition:background-color 0.4s ease}
.page_une_infos a:hover{background-color:#C3C3C0}
.lien-rubrique{display:block;float:right;text-align:right;margin-right:50px;-webkit-transition:background-color 0.4s ease;-moz-transition:background-color 0.4s ease;-ms-transition:background-color 0.4s ease;-o-transition:background-color 0.4s ease;transition:background-color 0.4s ease}
.lien-rubrique:hover{background-color:#C3C3C0}
.page_une_infos,.lien-rubrique{margin-top:-49px}
.titre-page{min-height:240px;padding:20px;height:320px}
.titre-page .page_une_titre,.titre-page p{margin-bottom:0}
.titre-page-saisons{min-height:240px;padding:20px;color:rgba(0,0,0,0.7);background-color:#edeee2}
.titre-page-saisons .page_une_titre,.titre-page-saisons p{margin-bottom:0}
.titre-page-breves{min-height:240px;padding:20px;color:rgba(0,0,0,0.7);background-color:#ffb}
.titre-page-breves .page_une_titre,.titre-page-breves p{margin-bottom:0}
.titre-page-bibli{min-height:240px;padding:20px;color:rgba(0,0,0,0.7);background-color:#fafaf2}
.titre-page-bibli .page_une_titre,.titre-page-bibli p{margin-bottom:0}
.titre-page-apropos{min-height:240px;padding:20px;color:rgba(0,0,0,0.7);background-color:#fafaf2;color:#000}
.titre-page-apropos .page_une_titre,.titre-page-apropos p{margin-bottom:0}
.titre-page-rubrique,.titre-page-bibli{margin-bottom:50px}
.saisons .page_menu li a:hover .surligne-hover{background-color:#edeee2}
.breves .page_menu li a:hover .surligne-hover{background-color:#ffb}
.page-bibli .page_menu li a:hover .surligne-hover{background-color:#5b21c5}
.menu-bibli{background-color:transparent;margin-top:-40px;color:rgba(0,0,0,0.5)}
.menu-bibli a{display:inline-block;width:32%;-webkit-transition:color 0.4s ease;-moz-transition:color 0.4s ease;-ms-transition:color 0.4s ease;-o-transition:color 0.4s ease;transition:color 0.4s ease}
.menu-bibli a:hover{color:#FFF}
.menu-bibli .actif{color:#FFF}
.bio-auteur{font-size:22px;line-height:1.4em;padding-left:20px}
.bio-auteur h3{font-family:"museo-sans";position:relative;margin-top:50px}
.bio-auteur h3:after{content:"__";position:absolute;bottom:-12px;left:0;margin-top:6px;font-size:40px;font-family:"myriad-pro";font-weight:700}
.contenu-article .auteur_infos ul{list-style:none;padding-left:0;margin-left:0}
.contenu-article .auteur_infos a{border-bottom:none}
.bold{font-weight:900}
.intertitre{font-size:22px;font-weight:700}
.mot-cle{color:#004fff;display:inline-block}
code.spip_code{font-size:.9em;color:blueviolet}
textarea.spip_cadre{font-size:.9em;color:blueviolet;background-color:inherit;border:none;font-family:monospace,serif}
.accueil_bloc_titre{min-height:60px;padding:20px 32px 0;margin:0;font-size:18px;background-color:#FAFAF2;font-family:"museo-sans";position:relative;text-align:left;color:rgba(0,0,0,0.8);line-height:1.1}
.titre_accueil{margin:0;font-size:30px;font-weight:700}
.soustitre_accueil{font-size:30px;font-weight:300}
@media only screen and (min-width:481px) and (max-width:899px){.soustitre_accueil{font-size:18px}}
@media only screen and (max-width:480px){.soustitre_accueil{display:none}}
.page_menu_NEW{min-height:60px;padding:16px 30px;margin:0;text-align:left;font-size:18px;font-weight:300;color:#FAFAF2;background-color:#201e1f;font-family:"museo-sans";position:relative}
@media only screen and (max-width:480px){.page_menu_NEW{font-size:14px}}
.page_menu_NEW a{display:inline-block;text-transform:uppercase;padding-right:16px}
.page_menu_NEW a:hover{color:#004fff}
.page_menu_NEW a:last-of-type{float:right;padding:0;color:#2BECC0}
@media only screen and (max-width:480px){.page_menu_NEW a:last-of-type{float:left;padding-right:16px}}
.tiroir_recherche{background-color:#2BECC0;padding:20px 32px;margin:0;color:rgba(0,0,0,0.7);font-family:"museo-sans";font-size:18px;text-align:left;width:100%;display:none;position:relative;line-height:1.6em}
.tiroir_recherche input.submit{float:right;cursor:pointer}
.tiroir_recherche input{background-color:transparent;border:none;margin-right:10px;padding:7px 4px;font-size:68px;font-weight:700;max-width:100%;text-transform:uppercase;color:rgba(0,0,0,0.8);width:auto;float:left;-webkit-transition:none;transition:none;cursor:text}
.tiroir_recherche input:focus{outline:0}
@media only screen and (min-width:481px) and (max-width:899px){.tiroir_recherche input{font-size:42px}}
@media only screen and (max-width:480px){.tiroir_recherche input{font-size:24px}}
.tiroir_recherche::-webkit-input-placeholder{color:rgba(0,0,0,0.2)}
.tiroir_recherche::-moz-placeholder{color:rgba(0,0,0,0.2)}
.tiroir_recherche:-ms-input-placeholder{color:rgba(0,0,0,0.2)}
.tiroir_recherche:-moz-placeholder{color:rgba(0,0,0,0.2)}
.tiroir_recherche .formulaire_recherche label{display:none}
.resultats{max-width:750px}
.resultats li{margin-bottom:15px;list-style:none}
@media only screen and (max-width:480px){.resultats li{margin-left:0}}
.resultats h2{font-size:18px;margin:0;line-height:1.2;font-weight:300}
.resultats h2:hover{text-decoration:underline}
.resultats .infos{color:rgba(0,79,255,0.6)}
.resultats p{font-size:14px;margin:0;line-height:1.3;color:rgba(0,0,0,0.5)}
.rubrique_menu{min-height:60px;padding:0 20px;margin:0;text-align:center;font-size:18px;font-weight:500;color:#C3C3C0;background-color:#fafaf2;font-family:"museo-sans";position:relative;border-bottom:solid 2px #C3C3C0}
.rubrique_menu li .active{color:#201e1f}
.rubrique_menu li span{text-transform:uppercase;padding:16px 30px 14px;cursor:pointer;display:inline-block}
.rubrique_menu .menu-right span{padding:16px 2px 14px 6px}
.rubrique_menu li span:hover,.rubrique_menu .menu-right span:hover{color:#201e1f}
.page_menu{min-height:60px;padding:0 20px;margin:0;text-align:center;font-size:18px;font-weight:500;color:#6f7072;background-color:#201e1f;font-family:"museo-sans";position:relative}
.page_menu li a{text-transform:uppercase;padding:16px 8px 14px}
.page_menu .menu-right span{padding:16px 2px 14px 6px}
.page_menu li a:hover,.page_menu .menu-right span:hover{color:#004fff}
.page-apropos .page_menu,.page-bibli .page_menu,.page-titre-une .page_menu{background-color:#C3C3C0;background-color:#c8c8c2;color:#6f7072;color:rgba(0,0,0,0.3)}
.page-apropos .menu_titre,.page-bibli .menu_titre,.page-titre-une .menu_titre{color:#6f7072;color:rgba(0,0,0,0.3)}
.page_menu .menu-right{position:absolute;right:20px}
.page_menu .menu-right span{padding-left:20px;display:inline-block;cursor:pointer}
.rubrique .page_menu .menu_titre{color:#C3C3C0;font-weight:500}
.menu_contenu{height:59px;background-color:#004fff;color:rgba(0,0,0,0.7);font-family:"museo-sans";font-size:18px;width:100%;display:none;position:relative;line-height:1.6em}
@media only screen and (min-width:481px) and (max-width:899px){.menu_contenu{height:80px;font-size:18px}}
@media only screen and (max-width:480px){.menu_contenu{height:80px;font-size:16px}}
.menu_contenu ul{padding:15px}
.menu_contenu ul li{padding:0 10px}
.menu_contenu a{text-transform:uppercase}
.menu_contenu a:hover{color:rgba(0,0,0,0.3)}
.menu_contenu a:active{color:#000}
.menu_contenu .fermer{padding:16px 2px 14px 6px;display:inline-block;cursor:pointer;position:absolute;right:20px}
.menu_contenu .fermer:hover{color:rgba(0,0,0,0.5)}
.edito_contenu{height:200px;background-color:#004fff;color:rgba(0,0,0,0.7);font-family:"museo-sans";font-size:18px;width:100%;display:none;position:relative;line-height:1.2em;text-align:left}
@media only screen and (min-width:481px) and (max-width:899px){.edito_contenu{height:200px;font-size:18px}}
@media only screen and (max-width:480px){.edito_contenu{height:180px;font-size:16px}}
.edito_contenu .islet{max-width:900px;margin:0 auto}
.edito_contenu .fermer{padding:16px 2px 14px 6px;display:inline-block;cursor:pointer;position:absolute;right:20px}
.edito_contenu .fermer:hover{color:rgba(0,0,0,0.5)}
@media only screen and (min-width:481px) and (max-width:899px){.page_menu{font-size:16px}}
@media only screen and (max-width:480px){.page_menu{font-size:14px}}
.bouton-large{width:100%;display:inline-block;text-align:center;padding:12px;margin-top:20px;background-color:rgba(195,195,192,0.1);color:#C3C3C0;text-decoration:none;font-size:16px;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;-ms-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease}
.bouton-large:hover{background-color:#C3C3C0;background-color:rgba(200,200,194,0.8);color:#6f7072}
.pill,.loz,.loz{background-color:#6f7072;color:#201e1f}
.page_menu .loz,.page_menu .pill,.page_menu .loz{text-transform:uppercase;color:#201e1f;font-size:14px;vertical-align:10%;letter-spacing:2px;padding:2px 6px 0 5px;margin:-2px 0 0}
.tuile_image{width:100%;height:auto}
.tuile_lien{display:block;overflow:auto;margin:-7px;padding:7px;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;-ms-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease}
.tuile_lien:hover{background-color:#FFF;background-color:rgba(200,200,194,0.8)}
.tuile_lien:active{background-color:#004fff}
.metadata{margin-top:10px;font-size:11px;line-height:1.3}
.metadata a{margin-right:5px;-webkit-transition:background-color 0.4s ease;-moz-transition:background-color 0.4s ease;-ms-transition:background-color 0.4s ease;-o-transition:background-color 0.4s ease;transition:background-color 0.4s ease}
.metadata a:hover{background-color:rgba(0,79,255,0.6);color:#000;margin:-3px 2px -3px -3px;padding:3px}
.metadata .auteur{color:#6f7072}
.breves .metadata a{color:#000}
.breves .metadata .mot-cle{color:#ffb}
.breves .metadata a:hover{background-color:#ffb;color:#000}
.tuile-saison{margin-bottom:37.5px}
.tuile-saison a{color:#000}
.tuile-saison h3{margin-top:5px;margin-bottom:0;font-weight:500}
.tuile-saison_titre{font-size:18px;line-height:1.3}
.tuile-breve{margin-bottom:37.5px}
.tuile-breve a{color:#000}
.tuile-breve h3{margin-top:5px;margin-bottom:0;font-weight:500}
.tuile-breve_titre{font-size:18px;line-height:1.3}
.une-bibli{margin-top:-20px}
.une-bibli .intertitre{margin-bottom:30px;font-family:"museo-sans";text-transform:uppercase;margin-top:25px}
.tuile-ressource{margin-bottom:37.5px}
.tuile-ressource a{color:#000}
.tuile-ressource h3{margin-top:5px;margin-bottom:0;font-weight:500}
.tuile-ressource .metadata{margin-top:5px}
.bloc-ressource{background-color:#FFF;padding:7px;min-height:126px;position:relative;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;-ms-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease}
.bloc-ressource:hover{background-color:#c8c8c2}
.bloc-ressource:active{background-color:#004fff}
.numerotation{color:#004fff;margin-bottom:0;line-height:14px}
.tuile-ressource_titre{font-size:16px;line-height:1.2}
.tuile-livre{margin-bottom:37.5px}
.tuile-livre a{color:#000}
.tuile-livre h3{margin-top:5px;margin-bottom:0;font-weight:500}
.tuile-livre .tuile_lien{overflow:visible}
.tuile-livre .tuile_lien:hover{background-color:transparent}
.tuile-livre .tuile_lien:hover .tuile-livre_titre{background-color:#FFF;background-color:rgba(200,200,194,0.8)}
.tuile-livre .tuile_lien:active .tuile-livre_titre{background-color:#004fff}
.tuile-livre_titre{font-size:18px;line-height:1.2;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;-ms-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease;margin:-5px;padding:5px;display:inline-block}
.tuile-livre_bloc-image{width:100%;height:140px;position:relative}
@media only screen and (min-width:481px) and (max-width:899px){.tuile-breve_bloc-image{max-height:126px}}
@media only screen and (max-width:480px){.tuile-breve_bloc-image{max-height:100px}}
.tuile-livre_image{width:auto;height:auto;max-width:140px;max-width:100%;max-height:140px;position:absolute;bottom:0;left:0}
.tuile-livre_contenu{padding-top:10px}
.tuile-auteur{font-size:16px}
.tuile-auteur .media__img{margin-right:14px}
.tuile-auteur .tuile-livre_titre{font-weight:700;line-height:1}
.tuile-auteur .descriptif{font-weight:400;line-height:1.2;font-size:14px}
.tuile-saisons{margin-bottom:37.5px;margin-bottom:75px}
.tuile-saisons a{color:#000}
.tuile-saisons h3{margin-top:5px;margin-bottom:0;font-weight:500}
.tuile-saisons .media__img{height:145px;width:145px;margin-right:12.5px;padding-top:17px;background-position:center center;background-size:auto;background-color:#333;font-size:74px;font-weight:300;text-align:center;color:#FFF}
.tuile-saisons .media__body{min-width:150px}
.tuile-saisons h3{margin-top:-3px;line-height:1.1;font-size:20px;font-weight:600}
.tuile-saisons p{margin:0;font-size:16px;line-height:1.3;margin-top:3px}
.tuile-saisons .mot-cle{color:rgba(0,0,0,0.5)}
@media only screen and (min-width:481px) and (max-width:899px){.tuile-saisons .media__img{margin-bottom:12.5px}}
.tuile-filtre{background-color:#C3C3C0;background-color:rgba(111,112,114,0.4);color:rgba(0,0,0,0.3);margin-left:0}
.tuile-filtre .tuile-filtre_titre{font-family:"museo-sans";font-size:20px;text-transform:uppercase}
.tuile-filtre li:nth-child(even){background-color:rgba(255,255,255,0.1)}
.tuile-filtre li{list-style:none;display:block;width:100%;padding:10px 20px 10px 12px;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;-ms-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease}
.tuile-filtre .filter{cursor:pointer}
.tuile-filtre .filter:hover{background-color:#ffb;background-color:rgba(255,255,187,0.5)}
.tuile-filtre .filter:active{background-color:#ffb;color:#000}
.tuile-filtre .active,.tuile-filtre .active:nth-child(even),.tuile-filtre .active:hover{background-color:#ffb;color:#000;position:relative}
#mixitup .mix{opacity:0;display:none}
.page-bibli .tuile-filtre .filter:hover{background-color:#004fff;background-color:rgba(0,79,255,0.5)}
.page-bibli .tuile-filtre .filter:active{background-color:#004fff}
.page-bibli .tuile-filtre .active,.page-bibli .tuile-filtre .active:nth-child(even),.page-bibli .tuile-filtre .active:hover{background-color:#004fff}
.tuile-filtre_titre{display:block;padding:12px 20px 10px 12px;background-color:#6f7072;background-color:rgba(111,112,114,0.5);color:#000;letter-spacing:1px}
.page-newsletter{background-color:#fafaf2;color:#c8c8c2}
.page-newsletter .box_texte{display:block;float:left;font-size:20px}
.page-newsletter .box_bas{float:left;clear:left}
.page-newsletter button,.page-newsletter .button{font-size:20px;background-color:#c8c8c2;color:#fafaf2;padding:8px 20px 10px;border:none;float:left;margin-right:8px;-webkit-transition:all 0.3s ease}
.page-newsletter button:hover,.page-newsletter .button:hover{background-color:#201e1f}
.page-newsletter button:active,.page-newsletter .button:active{background-color:#000}
.page-newsletter .email{background-color:#fafaf2;margin-right:10px;padding:7px 4px;width:auto;float:left;font-size:20px;font-style:italic;-webkit-transition:all 0.3s ease}
.page-newsletter .email:active{background-color:rgba(255,255,255,0.3)}
.page-newsletter .email:focus{outline:none;background-color:rgba(255,255,255,0.3)}
.page-newsletter .infos{font-size:14px;font-weight:400;clear:left;float:left;margin-top:20px}
.page-newsletter .infos a{text-decoration:underline}
.page-newsletter .infos a:hover{color:#000}
.page-newsletter img,.page-newsletter object{width:auto;height:auto;width:100%}
.page-newsletter::-webkit-input-placeholder{color:#000;color:rgba(0,0,0,0.2)}
.page-newsletter:-moz-placeholder{color:#000;color:rgba(0,0,0,0.2)}
.page-newsletter::-moz-placeholder{color:#000;color:rgba(0,0,0,0.2)}
.page-newsletter:-ms-input-placeholder{color:#000;color:rgba(0,0,0,0.2)}
.page-messages{background-color:#fafaf2;color:#c8c8c2;font-size:20px}
.page-messages a{text-decoration:underline}
.page-messages h2{font-size:60px;font-family:"museo-sans";line-height:1.2em}
.page-article{background-color:#fdfcf8;margin-bottom:80px}
.colonne-article{max-width:760px;margin:0 auto}
@media only screen and (max-width:480px){.colonne-article{margin:0 1%}}
@media only screen and (min-width:481px) and (max-width:899px){.colonne-article{margin:0 5%}}
@media only screen and (min-width:900px){.colonne-article{margin-left:18%;margin-right:2%}}
@media only screen and (min-width:1200px){.colonne-article{margin-left:19%;margin-right:0}}
.colonne-article-full{max-width:none;margin-left:0}
.contenu-article{text-align:left;line-height:1.4em}
@media only screen and (max-width:480px){.contenu-article{font-size:16px}
.contenu-article q{font-size:22px}
.contenu-article p{clear:left}}
.contenu-article strong{font-weight:700}
.contenu-article a{border-bottom:2px solid #C3C3C0;padding:0 3px;margin:0 -3px;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;-ms-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease}
.contenu-article a:hover{background-color:#C3C3C0}
.contenu-article a:active{background-color:#000;color:#FFF;border-bottom:transparent}
.contenu-article dt a{border-bottom:none}
.contenu-article q{font-size:2rem;font-style:italic;display:inline-block;line-height:1.2em;font-weight:600}
.contenu-article q::before,.contenu-article q::after{content:none}
.contenu-article .marginalia__body{color:#CCC;color:rgba(0,0,0,0.3);line-height:1.5em;letter-spacing:.04em}
@media only screen and (min-width:900px){.contenu-article .marginalia__body{width:184px;padding-top:10px}}
.contenu-article .marginalia__body a{border-bottom:none;text-decoration:underline;background-color:none}
.contenu-article .note-image a,.contenu-article .note_lien{display:inline-block;padding:10px;margin:-10px -10px 5px;cursor:-webkit-zoom-in}
.page-article .island{font-size:21px;line-height:1.4em}
.page-article .island img{max-width:100%;height:auto!important}
.page-article .island img[width],.page-article .island img[height]{max-width:100%;height:auto!important}
.chapo{font-size:26px;line-height:1.4em;font-weight:700}
@media only screen and (max-width:480px){.chapo{font-size:20px}}
.infos-article{color:rgba(0,0,0,0.3);padding-top:13px;font-size:13px;line-height:1.3em}
.infos-article a{border-bottom:none}
.marginalia .infos-article .auteurs-article{margin-bottom:20px}
.marginalia .infos-article .auteurs-article img{margin-bottom:10px}
.marginalia .infos-article .auteurs-article a{text-decoration:none}
.marginalia .infos-article .auteurs-article p{margin-bottom:0}
.partage{margin-right:20px;margin-top:25px;padding:15px 38px;border-bottom:none;background-color:#C3C3C0;color:#fdfcf8;display:inline-block}
.partage:hover{background-color:rgba(0,0,0,0.4)}
.partage:active{background-color:rgba(0,0,0,0.7);color:#FFF}
.spip_documents_right{padding-left:25px}
.spip_documents_left{padding-right:25px}
.spip_documents{font-size:14px}
.spip_doc_descriptif{margin-left:0}
.embed-container{position:relative;padding-bottom:56.25%;height:0;overflow:hidden;max-width:100%;height:auto;-webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);-moz-box-shadow:0 0 10px rgba(0,0,0,0.4);-ms-box-shadow:0 0 10px rgba(0,0,0,0.4);-o-box-shadow:0 0 10px rgba(0,0,0,0.4);box-shadow:0 0 10px rgba(0,0,0,0.4);margin-bottom:30px}
.embed-container iframe,.embed-container object,.embed-container embed{position:absolute;top:0;left:0;width:100%;height:100%}
.page-article .article_next{background-color:#C3C3C0}
.page-article .article_next a{padding:0 3px;margin:0 -3px;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;-ms-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease}
.page-article .article_next a:hover{background-color:rgba(253,252,248,0.5)}
.page-article .article_next .texte-inverse{color:#fdfcf8}
.page-article .article_next ul{list-style:none;margin-left:0}
.vertical-center{display:inline-block;vertical-align:middle}
.filet-haut{border-top:solid 2px #FFF;margin-bottom:25px}
.surligne-hover{margin:-2px -5px 0;padding:2px 5px 0;display:inline-block;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;-ms-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease}
.surligne-hover:hover{background-color:rgba(0,79,255,0.7)}
.surligne-hover:active{background-color:#004fff;color:#000}
.invisible{height:0.1px;width:0.1px;text-decoration:none;opacity:0}
@media only screen and (max-width:480px){.seulement-desk{display:none!important}}
@media only screen and (min-width:900px){.seulement-palm{display:none!important}}
@media only screen and (min-width:481px) and (max-width:899px){.seulement-palm{display:none!important}}
hr{border-color:rgba(0,0,0,0.1);margin:50px 0}
.faux-bouton{cursor:pointer}
.loz-video{background-color:#C3C3C0;color:#FAFAF2;padding:3px 6px;font-weight:700;letter-spacing:1px;margin-bottom:6px;text-decoration:none}
sup,sup.typo_exposants{font-size:70%;font-variant:inherit;line-height:inherit;vertical-align:4%}
.mfp-with-zoom .mfp-container,.mfp-with-zoom.mfp-bg{opacity:0;-webkit-backface-visibility:hidden;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out}
.mfp-with-zoom.mfp-ready .mfp-container{opacity:1}
.mfp-with-zoom.mfp-ready.mfp-bg{opacity:0.8}
.mfp-with-zoom.mfp-removing .mfp-container,.mfp-with-zoom.mfp-removing.mfp-bg{opacity:0}
.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:1042;overflow:hidden;position:fixed;background:#0b0b0b;opacity:0.8;filter:alpha(opacity=80)}
.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:1043;position:fixed;outline:none!important;-webkit-backface-visibility:hidden}
.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.mfp-container:before{content:'';display:inline-block;height:100%;vertical-align:middle}
.mfp-align-top .mfp-container:before{display:none}
.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045}
.mfp-inline-holder .mfp-content,.mfp-ajax-holder .mfp-content{width:100%;cursor:auto}
.mfp-ajax-cur{cursor:progress}
.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}
.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}
.mfp-auto-cursor .mfp-content{cursor:auto}
.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter{-webkit-user-select:none;-moz-user-select:none;user-select:none}
.mfp-loading.mfp-figure{display:none}
.mfp-hide{display:none!important}
.mfp-preloader{color:#CCC;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:1044}
.mfp-preloader a{color:#CCC}
.mfp-preloader a:hover{color:#FFF}
.mfp-s-ready .mfp-preloader{display:none}
.mfp-s-error .mfp-content{display:none}
button.mfp-close,button.mfp-arrow{overflow:visible;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;display:block;outline:none;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none}
button::-moz-focus-inner{padding:0;border:0}
.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:0.65;padding:0 0 18px 10px;color:#FFF;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}
.mfp-close:hover,.mfp-close:focus{opacity:1}
.mfp-close:active{top:1px}
.mfp-close-btn-in .mfp-close{color:#333}
.mfp-image-holder .mfp-close,.mfp-iframe-holder .mfp-close{color:#FFF;right:-6px;text-align:right;padding-right:6px;width:100%}
.mfp-counter{position:absolute;top:0;right:0;color:#CCC;font-size:12px;line-height:18px}
.mfp-arrow{position:absolute;opacity:0.65;margin:0;top:50%;margin-top:-55px;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:transparent}
.mfp-arrow:active{margin-top:-54px}
.mfp-arrow:hover,.mfp-arrow:focus{opacity:1}
.mfp-arrow:before,.mfp-arrow:after,.mfp-arrow .mfp-b,.mfp-arrow .mfp-a{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:medium inset transparent}
.mfp-arrow:after,.mfp-arrow .mfp-a{border-top-width:13px;border-bottom-width:13px;top:8px}
.mfp-arrow:before,.mfp-arrow .mfp-b{border-top-width:21px;border-bottom-width:21px}
.mfp-arrow-left{left:0}
.mfp-arrow-left:after,.mfp-arrow-left .mfp-a{border-right:17px solid #FFF;margin-left:31px}
.mfp-arrow-left:before,.mfp-arrow-left .mfp-b{margin-left:25px;border-right:27px solid #3f3f3f}
.mfp-arrow-right{right:0}
.mfp-arrow-right:after,.mfp-arrow-right .mfp-a{border-left:17px solid #FFF;margin-left:39px}
.mfp-arrow-right:before,.mfp-arrow-right .mfp-b{border-left:27px solid #3f3f3f}
.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}
.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}
.mfp-iframe-holder .mfp-close{top:-40px}
.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}
.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0,0,0,0.6);background:#000}
img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0;margin:0 auto}
.mfp-figure{line-height:0}
.mfp-figure:after{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,0.6);background:#444}
.mfp-figure small{color:#BDBDBD;display:block;font-size:12px;line-height:14px}
.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}
.mfp-title{text-align:left;line-height:18px;color:#F3F3F3;word-wrap:break-word;padding-right:36px}
.mfp-image-holder .mfp-content{max-width:100%}
.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}
@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}
.mfp-img-mobile img.mfp-img{padding:0}
.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}
.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}
.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,0.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}
.mfp-img-mobile .mfp-counter{right:5px;top:3px}
.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,0.6);position:fixed;text-align:center;padding:0}}
@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(0.75);transform:scale(0.75)}
.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}
.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}
.mfp-container{padding-left:6px;padding-right:6px}}
.mfp-ie7 .mfp-img{padding:0}
.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}
.mfp-ie7 .mfp-container{padding:0}
.mfp-ie7 .mfp-content{padding-top:44px}
.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}
.royalSlider{width:100%;height:550px}
.rsBig{width:100%}
.rsBig .rsSlide div{opacity:0.45;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;transition:all 0.3s ease-out}
.rsBig .rsActiveSlide div{opacity:1}
.rsDefault,.rsDefault .rsOverflow,.rsDefault .rsSlide,.rsDefault .rsVideoFrameHolder,.rsDefault .rsThumbs{background:transparent;color:#FFF}
.rsDefault .rsArrow{height:100%;width:44px;position:absolute;display:block;cursor:pointer;z-index:21}
.rsDefault.rsVer .rsArrow{width:100%;height:44px}
.rsDefault.rsVer .rsArrowLeft{top:0;left:0}
.rsDefault.rsVer .rsArrowRight{bottom:0;left:0}
.rsDefault.rsHor .rsArrowLeft{left:0;top:0}
.rsDefault.rsHor .rsArrowRight{right:0;top:0}
.rsDefault .rsArrowIcn{width:32px;height:32px;top:50%;left:50%;margin-top:-16px;margin-left:-16px;position:absolute;cursor:pointer;background:url("//strabic.fr/squelettes/styles/rs-default.png");background-color:#000;background-color:rgba(0,0,0,0.75);*background-color:#000;border-radius:2px}
.rsDefault .rsArrowIcn:hover{background-color:rgba(0,0,0,0.9)}
.rsDefault.rsHor .rsArrowLeft .rsArrowIcn{background-position:-64px -32px}
.rsDefault.rsHor .rsArrowRight .rsArrowIcn{background-position:-64px -64px}
.rsDefault.rsVer .rsArrowLeft .rsArrowIcn{background-position:-96px -32px}
.rsDefault.rsVer .rsArrowRight .rsArrowIcn{background-position:-96px -64px}
.rsDefault .rsArrowDisabled .rsArrowIcn{opacity:.2;filter:alpha(opacity=20);*display:none}
.rsDefault .rsBullets{width:100%;height:50px;margin:0 auto;margin-top:16px;text-align:center;line-height:8px;overflow:hidden}
.rsDefault .rsBullet{width:8px;height:8px;display:inline-block;*display:inline;*zoom:1;padding:10px 12px}
.rsDefault .rsBullet span{display:block;width:16px;height:16px;border-radius:50%;background:#777;background:rgba(0,0,0,0.3)}
.rsDefault .rsBullet.rsNavSelected span{background-color:rgba(0,0,0,0.1)}
.rsDefault .rsThumbsHor{width:100%;height:72px}
.rsDefault .rsThumbsVer{width:96px;height:100%;position:absolute;top:0;right:0}
.rsDefault.rsWithThumbsHor .rsThumbsContainer{position:relative;height:100%}
.rsDefault.rsWithThumbsVer .rsThumbsContainer{position:relative;width:100%}
.rsDefault .rsThumb{float:left;overflow:hidden;width:96px;height:72px}
.rsDefault .rsThumb img{width:100%;height:100%}
.rsDefault .rsThumb.rsNavSelected{background:#02874a}
.rsDefault .rsThumb.rsNavSelected img{opacity:0.3;filter:alpha(opacity=30)}
.rsDefault .rsTmb{display:block}
.rsDefault .rsTmb h5{font-size:16px;margin:0;padding:0;line-height:20px;color:#FFF}
.rsDefault .rsTmb span{color:#DDD;margin:0;padding:0;font-size:13px;line-height:18px}
.rsDefault .rsThumbsArrow{height:100%;width:20px;position:absolute;display:block;cursor:pointer;z-index:21;background:#000;background:rgba(0,0,0,0.75)}
.rsDefault .rsThumbsArrow:hover{background:rgba(0,0,0,0.9)}
.rsDefault.rsWithThumbsVer .rsThumbsArrow{width:100%;height:20px}
.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft{top:0;left:0}
.rsDefault.rsWithThumbsVer .rsThumbsArrowRight{bottom:0;left:0}
.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft{left:0;top:0}
.rsDefault.rsWithThumbsHor .rsThumbsArrowRight{right:0;top:0}
.rsDefault .rsThumbsArrowIcn{width:16px;height:16px;top:50%;left:50%;margin-top:-8px;margin-left:-8px;position:absolute;cursor:pointer;background:url("http://strabic.fr/squelettes/styles/rs-default.png")}
.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn{background-position:-128px -32px}
.rsDefault.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn{background-position:-128px -48px}
.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn{background-position:-144px -32px}
.rsDefault.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn{background-position:-144px -48px}
.rsDefault .rsThumbsArrowDisabled{display:none!important}
@media screen and (min-width:0) and (max-width:800px){.rsDefault .rsThumb{width:59px;height:44px}
.rsDefault .rsThumbsHor{height:44px}
.rsDefault .rsThumbsVer{width:59px}}
.rsDefault .rsTabs{width:100%;height:auto;margin:0 auto;text-align:center;overflow:hidden;padding-top:12px;position:relative}
.rsDefault .rsTab{display:inline-block;cursor:pointer;text-align:center;height:auto;width:auto;color:#333;padding:5px 13px 6px;min-width:72px;border:1px solid #D9D9DD;border-right:1px solid #f5f5f5;text-decoration:none;background-color:#FFF;background-image:-webkit-linear-gradient(top,#fefefe,#f4f4f4);background-image:-moz-linear-gradient(top,#fefefe,#f4f4f4);background-image:linear-gradient(to bottom,#fefefe,#f4f4f4);-webkit-box-shadow:inset 1px 0 0 #fff;box-shadow:inset 1px 0 0 #fff;*display:inline;*zoom:1}
.rsDefault .rsTab:first-child{-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px}
.rsDefault .rsTab:last-child{-webkit-border-top-right-radius:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;border-right:1px solid #cfcfcf}
.rsDefault .rsTab:active{border:1px solid #D9D9DD;background-color:#f4f4f4;box-shadow:0 1px 4px rgba(0,0,0,0.2) inset}
.rsDefault .rsTab.rsNavSelected{color:#FFF;border:1px solid #999;text-shadow:1px 1px #838383;box-shadow:0 1px 9px rgba(102,102,102,0.65) inset;background:#ACACAC;background-image:-webkit-linear-gradient(top,#ACACAC,#BBB);background-image:-moz-llinear-gradient(top,#ACACAC,#BBB);background-image:linear-gradient(to bottom,#ACACAC,#BBB)}
.rsDefault .rsFullscreenBtn{right:0;top:0;width:44px;height:44px;z-index:22;display:block;position:absolute;cursor:pointer}
.rsDefault .rsFullscreenIcn{display:block;margin:6px;width:32px;height:32px;background:url("http://strabic.fr/squelettes/styles/rs-default.png") 0 0;background-color:#000;background-color:rgba(0,0,0,0.75);*background-color:#000;border-radius:2px}
.rsDefault .rsFullscreenIcn:hover{background-color:rgba(0,0,0,0.9)}
.rsDefault.rsFullscreen .rsFullscreenIcn{background-position:-32px 0}
.rsDefault .rsPlayBtn{-webkit-tap-highlight-color:rgba(0,0,0,0.3);width:64px;height:64px;margin-left:-32px;margin-top:-32px;cursor:pointer}
.rsDefault .rsPlayBtnIcon{width:64px;display:block;height:64px;-webkit-border-radius:4px;border-radius:4px;-webkit-transition:.3s;-moz-transition:.3s;transition:.3s;background:url("http://strabic.fr/squelettes/styles/rs-default.png") no-repeat 0 -32px;background-color:#000;background-color:rgba(0,0,0,0.75);*background-color:#000}
.rsDefault .rsPlayBtn:hover .rsPlayBtnIcon{background-color:rgba(0,0,0,0.9)}
.rsDefault .rsBtnCenterer{position:absolute;left:50%;top:50%}
.rsDefault .rsCloseVideoBtn{right:0;top:0;width:44px;height:44px;z-index:500;position:absolute;cursor:pointer;-webkit-backface-visibility:hidden;-webkit-transform:translateZ(0)}
.rsDefault .rsCloseVideoBtn.rsiOSBtn{top:-38px;right:-6px}
.rsDefault .rsCloseVideoIcn{margin:6px;width:32px;height:32px;background:url("http://strabic.fr/squelettes/styles/rs-default.png") -64px 0;background-color:#000;background-color:rgba(0,0,0,0.75);*background-color:#000}
.rsDefault .rsCloseVideoIcn:hover{background-color:rgba(0,0,0,0.9)}
.rsDefault .rsPreloader{width:20px;height:20px;background-image:url("//strabic.fr/squelettes/preloaders/preloader-white.gif");left:50%;top:50%;margin-left:-10px;margin-top:-10px}
.rsDefault .rsGCaption{text-align:left;color:#CCC;color:rgba(0,0,0,0.3);width:auto;font-size:14px;margin-top:-66px}
.rsBig .rsGCaption{text-align:center;width:100%;color:#000;font-size:16px;margin-top:0}
.rsBig .rsGCaption figure{margin-bottom:10px}

