@charset "utf-8";
/* CSS Document */

.wmle_container .wmle_item {
    margin: 19px 0;
}
.home .wmle_container .wmle_item {
    margin: 19px 8%;
}
.wmle_container .wmle_item .wpme_image{ text-align:center;}
.wmle_container .wmle_item .wpme_image img{border-radius:0px !important; box-shadow:none !important;}
.wmle_container .wmle_item .wmle_post_meta{  padding-bottom:6px;}
.wmle_container .wmle_item .wmle_post_meta a{ color:inherit; text-decoration:none;}
.wmle_container .wmle_item .wmle_post_meta a:hover{ text-decoration:underline;}
.wmle_container .wmle_item .wmle_post_title{  }
.wmle_container .wmle_item .wmle_post_title h3 {
    -moz-hyphens: none;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.3em;
    margin: 0.1em 0 0;
}
.wmle_container .wmle_item .wmle_post_title a {
    color: inherit;
    font-size: 1.1em;
    font-weight: normal;
    text-decoration: none;
}
.wmle_container .wmle_item .wmle_post_title a:hover {
    color: #5096DE;
}
.wmle_container .wmle_item .wmle_post_excerpt{ padding-top:5px; padding-bottom:5px;}
.wmle_container .wmle_item .wmle_post_excerpt p {
    color: #444444;
    font-size: 1em;
    font-style: normal;
    line-height: 1.4em;
	text-align:justify;
}
.wmle_container .wmle_item .wmle_post_excerpt p:last-child{ padding-bottom:0px; margin-bottom:0px;}

.wmle_loadmore .wmle_loadmore_btn{ 
display:block; 
background:#f7f7f8;
margin:5px;
 color:#454545;
  text-decoration:none;
    font-family: "Asap",sans-serif;
    font-size: 1.28571rem;
    font-style: italic;
    font-weight: bold;
    line-height: 3.18182;
  }
  .wmle_loadmore .wmle_loadmore_btn:hover { 

background:#5096DE;
 color:#f7f7f8;
   
  }


.wmle_container .wmle_item_holder.col5{width:20%}
.wmle_container .wmle_item_holder.col4{width:25%}
.wmle_container .wmle_item_holder.col3 {
    width:100%;
}.wmle_container .wmle_item_holder.col2{width:50%}
.wmle_container .wmle_item_holder.col1{width:100%}

.wmle_container .wmle_item_holder .wpme_image img{max-width:100%;    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
.wmle_container .wmle_item_holder .wpme_image img:hover { opacity: 0.8;}





.wmle_loadmore .loading_icon{ box-shadow:none; border-radius:none;}
.wmle_loadmore{ text-align:center; padding-top:10px; padding-bottom:10px;}


.date-masonery {
    border-top: 5px solid #ddd;
    clear: both !important;
    float: left;
    width: 100% !important;
	    margin: 25px 0;
		}
.date-masonery time {
    background: none repeat scroll 0 0 #515159;
    color: #fff;
    font-family: "Asap",sans-serif;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    left: 31px;
    margin: -17px 0;
    padding: 4px 14px;
    position: absolute;
}


 /* Tablets, iPads (portrait and landscape) ----------- */
 @media screen and (min-width: 600px) {
	 
.wmle_container .wmle_item {
    margin: 19px 8%;
}
.wmle_container .wmle_item_holder.col3 {
    width: 45%;	
}

.category .wmle_container .wmle_item_holder.col3, .tag .wmle_container .wmle_item_holder.col3, .author .wmle_container .wmle_item_holder.col3, .archive .wmle_container .wmle_item_holder.col3 {    width: 45%;	
}

@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) {
    /* Styles */
		.wmle_container .wmle_item_holder.col3 {
    width: 45%;
	}
	
	.category .wmle_container .wmle_item_holder.col3, .tag .wmle_container .wmle_item_holder.col3, .author .wmle_container .wmle_item_holder.col3, .archive .wmle_container .wmle_item_holder.col3 {   width: 45%;	
}

	}


	
@media screen and (min-width: 960px) {
	.wmle_container .wmle_item_holder.col3 {
    width: 33.333%;
	
}
.category .wmle_container .wmle_item_holder.col3, .tag .wmle_container .wmle_item_holder.col3, .author .wmle_container .wmle_item_holder.col3, .archive .wmle_container .wmle_item_holder.col3   {   width: 50%;	
}
.category .wmle_container .wmle_item, .tag .wmle_container .wmle_item, .author .wmle_container .wmle_item, .archive .wmle_container .wmle_item {
    margin: 20px 8% 35px;
}
.home .wmle_container .wmle_item {
    margin: 20px 8% 30px;
}