/*
Theme Name: Services Mobiles
Theme URI: 
Author: Ekoti
Author URI: http://mon-ekoti.com/
Description: Thème dédié au site Services Mobiles.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: servicesmobiles
*/

/* =Notes
--------------------------------------------------------------
This stylesheet uses rem values with a pixel fallback. The rem
values (and line heights) are calculated using two variables:

$rembase:     14;
$line-height: 24;

---------- Examples

* Use a pixel value with a rem fallback for font-size, padding, margins, etc.
        padding: 5px 0;
        padding: 0.357142857rem 0; (5 / $rembase)

* Set a font-size and then set a line-height based on the font-size
        font-size: 16px
        font-size: 1.142857143rem; (16 / $rembase)
        line-height: 1.5; ($line-height / 16)

---------- Vertical spacing

Vertical spacing between most elements should use 24px or 48px
to maintain vertical rhythm:

.my-new-div {
        margin: 24px 0;
        margin: 1.714285714rem 0; ( 24 / $rembase )
}

---------- Further reading

http://snook.ca/archives/html_and_css/font-size-with-rem
http://blog.typekit.com/2011/11/09/type-study-sizing-the-legible-letter/


/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    cursor: default;
    color: #747474;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Asap', sans-serif;
    position: relative;
}


html, body {
    height: 100%;
    margin: 0;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-family: 'Archivo Narrow', sans-serif;
}
html {
    overflow-y: scroll;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a:focus {
    outline: thin dotted;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
}
del {
    color: #333;
}
ins {
    background: #fff9c0;
    text-decoration: none;
}
hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin: 24px;
    margin-bottom: 1.714285714rem;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
small {
    font-size: smaller;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.asset-img-link {
    width: 100%;
    clear: both;
}
/* Clearing floats */
.clear:after, .wrapper:after, .format-status .entry-header:after {
    clear: both;
}
.clear:before, .clear:after, .wrapper:before, .wrapper:after, .format-status .entry-header:before, .format-status .entry-header:after {
    display: table;
    content: "";
}
/* =Repeatable patterns
-------------------------------------------------------------- */

/* Small headers */
.archive-title, .page-title, .widget-title, .entry-content th, .comment-content th {
    font-size: 11px;
    font-size: 0.785714286rem;
    line-height: 2.181818182;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.87143rem;
    margin: 0;
}
.archive-title, .page-title {
    font-size: 2.4rem;
    line-height: 2.5rem;
    margin: 0 0 21px;
}
.archive-title a, .page-title a {
    color: #444;
    text-decoration: none;
}
/* Shared Post Format styling */
article.format-quote footer.entry-meta, article.format-link footer.entry-meta, article.format-status footer.entry-meta {
    font-size: 11px;
    font-size: 0.785714286rem;
    line-height: 2.181818182;
}
/* Form fields, general styles first */
button, input, select, textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: inherit;
    padding: 6px;
    padding: 0.428571429rem;
}
button, input {
    line-height: normal;
}
textarea {
    font-size: 100%;
    overflow: auto;
    vertical-align: top;
}
/* Reset non-text input types */
input[type="checkbox"], input[type="radio"], input[type="file"], input[type="hidden"], input[type="image"], input[type="color"] {
    border: 0;
    border-radius: 0;
    padding: 0;
}
/* Buttons */
.menu-toggle, input[type="submit"], input[type="button"], input[type="reset"], article.post-password-required input[type="submit"], .bypostauthor cite span {
    background-color: #14528d;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    font-family: Arial;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.42857;
    padding: 0.528571rem 0.814286rem;
    transition: all 0.5s ease 0s;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.menu-toggle, button, input[type="submit"], input[type="button"], input[type="reset"] {
    cursor: pointer;
}
button[disabled], input[disabled] {
    cursor: default;
}
.menu-toggle:hover, .menu-toggle:focus, button:hover, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, article.post-password-required input[type=submit]:hover {
    background-color: #5096de;
}
.menu-toggle:active, .menu-toggle.toggled-on, button:active, input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active {
    background-color: #5096DE;
    color: #fff;
}
.bypostauthor cite span {
    color: #fff;
    background-color: #21759b;
    background-image: none;
    border: 1px solid #1f6f93;
    border-radius: 2px;
    box-shadow: none;
    padding: 0;
}
/* Responsive images */
.entry-content img, .comment-content img, .widget img {
    max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"] {
    height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full, img.size-large, img.header-image, img.wp-post-image {
    max-width: 100%;
    height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
/* Make sure videos and embeds fit their containers */
embed, iframe, object, video {
    max-width: 100%;
}
.entry-content .twitter-tweet-rendered {
    max-width: 100% !important; /* Override the Twitter embed fixed width */
}
/* Images */
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.entry-content img, .comment-content img, .widget img, img.header-image, .author-avatar img, img.wp-post-image {
    /* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.author-image img {
    border-radius: 50%;
    margin-top: 15px;
}
.wp-caption {
    max-width: 100%; /* Keep wide captions from overflowing their container. */
    padding: 4px;
}
.wp-caption .wp-caption-text, .gallery-caption, .entry-caption {
    font-style: italic;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 2;
    color: #757575;
}
img.wp-smiley, .rsswidget img {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
.entry-content dl.gallery-item {
    margin: 0;
}
.gallery-item a, .gallery-caption {
    width: 90%;
}
.gallery-item a {
    display: block;
}
.gallery-caption a {
    display: inline;
}
.gallery-columns-1 .gallery-item a {
    max-width: 100%;
    width: auto;
}
.gallery .gallery-icon img {
    height: auto;
    max-width: 90%;
    padding: 5%;
}
.gallery-columns-1 .gallery-icon img {
    padding: 3%;
}
/* Navigation */
.site-content nav {
    clear: both;
    line-height: 2;
    overflow: hidden;
}
#nav-above {
    padding: 24px 0;
    padding: 1.714285714rem 0;
}
#nav-above {
    display: none;
}
.paged #nav-above {
    display: block;
}
.nav-previous, .previous-image {
    float: left;
    width: 50%;
}
.nav-next, .next-image {
    float: right;
    text-align: right;
    width: 50%;
}
.nav-single + .comments-area, #comment-nav-above {
    margin: 48px 0;
    margin: 3.428571429rem 0;
}
/* Author profiles */
.author .archive-header {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
.author-info {
    background: none repeat scroll 0 0 #5096de;
    margin: 55px 0 13px;
    overflow: hidden;
    padding: 2rem;
}
.title-auteur {
    background: none repeat scroll 0 0 #3a3942;
    color: #fff;
    font-family: "Asap", sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    left: 26px;
    margin: -45px 0;
    padding: 2px 14px;
    position: absolute;
}
.author-description h2 {
    color: #fff;
    font-family: "Asap", sans-serif;
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
}
.author-description p {
    color: #f7f7f7;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.34615;
}
.author.archive .author-info {
    border-top: 0;
    margin: 0 0 48px;
    margin: 0 0 3.428571429rem;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.author.archive .author-avatar {
    float: left;
    margin-top: 4px;
    width: 15%;
}
.author-avatar .avatar {
    margin: 0 0 10px 0;
}
.author-description a[rel=author] {
    font-family: "Asap", sans-serif;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.author.archive .author-description h2 {
    color: #fff;
    font-family: "Asap", sans-serif;
    font-size: 29px;
    font-style: italic;
    font-weight: bold;
}
/* =Basic structure
-------------------------------------------------------------- */

/* Body, links, basics */
html {
    font-size: 87.5%;
}
body {
    font-size: 14px;
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    color: #444;
}
body.custom-font-enabled {
}
a {
    color: #5096de;
    outline: medium none;
}
a:hover {
    color: #0f3647;
}
/* Assistive text */
.assistive-text, .site .screen-reader-text {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}
.main-navigation .assistive-text:focus {
    background: #fff;
    border: 2px solid #333;
    border-radius: 3px;
    clip: auto !important;
    color: #000;
    display: block;
    font-size: 12px;
    padding: 12px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 100000; /* Above WP toolbar */
}
/* Page structure */
.site {
    /*background-color: #fff;*/
}
.site-content {
    margin: 24px 1rem 0;
    margin: 1.714285714rem 1rem 0;
}
.widget-area {
    margin: 24px 0 0;
    margin: 1.714285714rem 0 0;
}
/* Header */
.site-header {
    padding: 24px 0;
    padding: 1.714285714rem 0;
    display: block;
    position: relative;
    z-index: 801;
}
.site-header h1, .site-header h2 {
    text-align: center;
}
.site-header h1 a, .site-header h2 a {
    color: #515151;
    display: inline-block;
    text-decoration: none;
}
.site-header h1 a:hover, .site-header h2 a:hover {
    color: #21759b;
}
.site-header h1 {
    font-size: 24px;
    font-size: 1.714285714rem;
    line-height: 1.285714286;
    margin: 0.5rem 2rem 0;
}
.site-header h2 {
    font-weight: normal;
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
    color: #757575;
}
.header-image {
    margin-top: 24px;
    margin-top: 1.714285714rem;
}
p.baseline {
    color: #bbb;
    display: inline-block;
    font-family: asap;
    font-size: 0.9em;
    margin: 0 0 15px;
    text-align: center;
    width: 100%;
}
/* Widget header */
#sfmsb_settings-2 {
    border-top: 1px solid #ddd;
    clear: both;
    margin: 0 0 11px;
    text-align: center;
    width: auto;
    padding: 12px 0 0 0;
}
#sfmsb_settings-2 .widget-title {
    display: none;
}
#mc4wp_widget-5 {
    clear: both;
    float: right;
    margin: 0 10px 0 0;
    width: auto;
    display: none
}
.widget-header .widget-title {
    color: #000;
    display: inline-box;
    display: -moz-inline-box;
    display: -webkit-inline-box;
    -moz-box-align: start;
    -webkit-box-align: start;
    box-align: start;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 14px;
    margin: 0 15px 0 0;
    padding: 0;
}
.widget-header .mc4wp-form {
    display: inline-block;
    margin: 0;
    width: auto;
}
#mc4wp_email {
    border-radius: 0;
    box-shadow: 1px 1px 1px #ddd;
    float: left;
    line-height: 1.5rem;
    margin: 0 10px 0 0;
    width: 200px;
}
#mc4wp_widget-5 .widget-title {
    float: left;
}
#mc4wp_widget-5 input[type="submit"] {
    box-shadow: 1px 1px 1px #ddd;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#text-8 {
    background: none repeat scroll 0 0 #5096de;
    float: right;
    height: 52px;
    width: 30%;
}
#text-8 a {
    color: #fff;
    display: block;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 18px;
    line-height: 19px;
    padding: 7px 12px;
    text-decoration: none;
    width: auto;
}
.wpme_image a {
    display: block;
    margin: 0 0 3px;
    max-height: 325px;
    overflow: hidden;
}
.wpme_image img {
    overflow: hidden;
    white-space: nowrap;
}
/* Navigation Menu */

.main-navigation {
    background: none repeat scroll 0 0 #3a3942;
    height: 52px;
    text-align: center;
    width: 70%;
}
.main-navigation li {
}
.main-navigation a {
    border-bottom: 1px solid #444;
    color: #fff;
    display: block;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 1.3rem;
    padding: 0.5em 0;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}
.menu-menu-1-container {
    position: absolute;
    width: 100%;
    z-index: 800;
}
.menu-menu-1-container ul {
    margin: 0 !important;
    padding: 0 !important;
}
.main-navigation a:hover, .main-navigation a:focus {
    color: #ffffff;
    background: #5096de;
}
.main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul {
    display: none;
}
.main-navigation ul.nav-menu.toggled-on, .menu-toggle {
    background: none repeat scroll 0 0 #3a3942;
    display: inline-block;
    margin: 0;
    padding: 17px 0;
    position: relative;
    width: 100%;
}
/* Bouton de recherche dans le menu */
.main-navigation .menu-item-search {
    line-height: 5rem;
    border-right: none;
    padding-left: 10px;
}

.main-navigation .search-field {
    background-color: transparent;
    background-image: url(img/searchicon_white.png);
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 17px 17px;
    border: none;
    cursor: pointer;
    height: 37px;
    margin: 3px 0;
    padding: 0 0 0 34px;
    position: relative;
    -webkit-transition: width 400ms ease, background 400ms ease;
    transition:         width 400ms ease, background 400ms ease;
    width: 0;
}

.main-navigation .search-field:focus {
    background-color: #fff;
    background-image: url(img/searchicon.png);
    border: 1px solid #c3c0ab;
    cursor: text;
    outline: 0;
    width: 180px;
}
.search-form
.search-submit { 
    display:none;
}
/* News Experts */
#news-experts-content {
    display: none;
    width: 100%;
    clear: both;
}
#news-experts-content.toggled-on {
    background: none repeat scroll 0 0 #fff;
    display: inline-block;
    margin: 0;
    padding: 17px 0;
    position: relative;
    width: 100%;
}
#news-experts-content {
    border-top: 4px solid #5096dd;
    border-bottom: 4px solid #5096dd;
}
#news-experts-content .wmle_item_holder {
    margin: 10px 2%;
    width: 89%;
}
#news-experts-content .avatar {
    width: 50px;
    float: left;
    height: auto;
    margin: 0 6px 0 0;
}
#news-experts-content .wmle_item_holder .author a {
    color: #5096de;
    font-family: "Asap", Arial;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}
/* Banner */
section[role="banner"] {
    margin-bottom: 48px;
    margin-bottom: 3.428571429rem;
}
/* Sidebar */

#secondary .widget-title {
    background: none repeat scroll 0 0 #3a3942;
    color: #fff;
    display: block;
    font-family: "Asap", sans-serif;
    font-size: 1.28571rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2;
    padding: 0 0 0 13px;
    text-transform: none;
}
.widget-area .widget {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    margin-bottom: 48px;
    margin-bottom: 3.428571429rem;
    word-wrap: break-word;
}
.widget-area .widget h3 {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
.widget-area .widget p, .widget-area .widget li, .widget-area .widget .textwidget {
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
}
.widget-area .widget p {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
.widget-area .textwidget ul {
    list-style: disc outside;
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
}
.widget-area .textwidget li {
    margin-left: 36px;
    margin-left: 2.571428571rem;
}
.widget-area .widget a {
    color: #757575;
}
.widget-area .widget a:hover {
    color: #5096DE;
}
.widget-area .widget a:visited {
    color: #9f9f9f;
}
.widget-area #s {
    width: 53.66666666666%; /* define a width to avoid dropping a wider submit button */
}
/* PAGE D'ACCUEIL --------------- */

.misenavant {
    background: none repeat scroll 0 0 #f7f7f8;
    display: inline-block;
    padding: 2.2em 1rem;
}
.home .site-header {
    display: block;
   /* padding: 1.71429rem 0 0;*/
    padding:0 0;

    position: relative;
}
.home #primary {
    margin: 0;
}
.misenavant .sticky {
    float: left;
    width: auto;
}
.misenavant .sticky .entry-header {
    margin-bottom: 0;
}
.misenavant .sticky header {
    border-bottom: 0 none;
    padding: 0;
}
.site-content .misenavant article {
    -moz-hyphens: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    word-wrap: break-word;
}
.misenavant .entry-summary p {
    line-height: 1.4;
    margin: 0 0 2rem;
}
.misenavant .entry-header .entry-title {
    font-size: 1.53rem;
    line-height: 1.2em;
    margin: 2px 0 3px;
}
.misenavant .category-a-la-une .entry-header .entry-title {
    font-size: 2.1rem;
    line-height: 1.1em;
}
.misenavant .article-content {
    float: none;
    left: 0;
    margin: 0;
    position: relative;
    width: 100%;
}
.misenavant .category-a-la-une {
    float: left;
    margin: 0;
    width: auto;
}
.misenavant .category-a-la-une img.wp-post-image {
    height: auto;
    width: 100%;
}
.misenavant a[rel="category tag"] {
    background: url("img/bg-cat-over.png") no-repeat scroll left bottom #5096de;
}
.misenavant a[rel="category tag"]:hover {
    background: url("img/bg-cat-over.png") no-repeat scroll left bottom #3a3942;
}
.title-alaune {
    border-top: 5px solid #ddd;
    clear: both;
    margin: 0 0 9px;
    position: relative;
}
.title-alaune span {
    background: none repeat scroll 0 0 #f7f7f8;
    color: #444;
    display: block;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 22px;
    left: 31px;
    margin: -29px 0 0;
    padding: 4px 14px;
    position: absolute;
    text-align: center;
    width: 80px;
}
.title-alaune b {
    color: #5096de;
}
.dossier {
    background: url("img/filet-dossier.jpg") repeat-x scroll left top #515159;
    display: inline-block;
    padding: 2.2em 0 0;
    position: relative;
}
.dossier h2 {
    background: none repeat scroll 0 0 #3a3942;
    color: #fff;
    font-family: "Asap", sans-serif;
    font-size: 1.3em;
    font-style: italic;
    font-weight: bold;
    left: 0;
    margin: -25px 0 0;
    padding: 4px 0 4px 11px;
    position: relative;
}
.site-content .dossier article {
    float: left;
    margin: 0 2% 0 0;
    width: 23%;
    padding: 1em 0 1em;
}
.dossier .entry-header .entry-title a {
    color: #fff;
}
.dossier .entry-header .entry-title {
    line-height: 1.3rem;
    margin: 0;
    padding: 0;
    font-size: 1.17143rem;
}
.dossier .wpme_image a {
    display: block;
    overflow: hidden;
    height: 120px;
}
.dossier .wpme_image img {
    overflow: hidden;
    white-space: nowrap;
}
.dossier article header {
    border-bottom: 0 none;
    padding: 0;
}
/* widget Newsletter */
#secondary .widget_mc4wp_widget {
    background: none repeat scroll 0 0 #f7f7f8;
    border-top: 5px solid #dddddd;
    padding: 0 15px 11px;
    position: relative;
}
#secondary .widget_mc4wp_widget form:before {
    -moz-hyphens: none;
    clear: both;
    color: #5e5e5e;
    content: "Recevez chaque semaine le meilleur de servicesmobiles.fr ! ";
    display: block;
    font-size: 14px;
    padding: 14px 0;
}
#secondary .widget_mc4wp_widget .widget-title {
    background: none repeat scroll 0 0 #5096de;
    color: #fff;
    font-family: "Archivo Narrow", sans-serif;
    font-style: normal;
    font-weight: normal;
    left: 16px;
    margin: -22px 0;
    padding: 1px 11px;
    position: absolute;
}
#secondary .widget_mc4wp_widget #mc4wp_email {
    border-radius: 0;
    box-shadow: 1px 1px 1px #ddd;
    float: left;
    line-height: 1.5rem;
    margin: 0 10px 0 0;
    width: 62%;
}
/* Footer */
footer[role="contentinfo"] {
    margin-top: 2.714285714rem;
    background: #3a3942 url(img/filetbleu.png) repeat-x top left;
    clear: both;
}
.content-footer {
    max-width: 1080px;
    margin: 0 5%
}
footer[role="contentinfo"] a {
    color: #fff;
    text-decoration: none;
}
footer[role="contentinfo"] a:hover {
    color: #5096DE;
}
footer .widget-area {
    float: left;
    box-sizing: content-box;
    box-sizing: border-box;
}
footer .widget-area .widget a {
    color: #fff;
    text-decoration: none;
}
footer .widget-area .widget a:visited {
    color: #fff;
}
footer .widget-title {
    color: #fff;
    font-family: "Asap", sans-serif;
    font-size: 1.28571rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2.18182;
    text-transform: none;
}
footer #mc4wp_email {
    box-shadow: none;
}
footer #text-3 a {
    color: #5096de;
}
#sfmsb_settings-3 {
    margin-bottom: 1.6rem;
    margin-top: 0.9em;
}
footer .mc4wp-form form, footer form.mc4wp-form {
    margin: 0;
    width: auto;
}
#menu-footer-pagesinfos li {
    border-left: 1px solid #fff;
    float: left;
    line-height: 13px;
    margin: 0 1px 30px;
    padding: 0 13px;
}
.footer-copy {
    background: none repeat scroll 0 0 #515159;
    clear: both;
    margin-top: 40px;
    padding: 15px 0 2em;
    width: 100%;
    color: #fff;
}
.scroll-top {
    float: right;
    height: 47px;
    width: 128px;
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
.footer-copy-content {
    text-align: center;
}
.widget.mobile ul#menu-footer-pagesinfos {
    padding: 0 0 15px;
    display: block;
    clear: both;
}
.widget.mobile ul.menuf {
    margin: 0;
    padding: 0;
}
.widget.mobile .menuf li {
    list-style: none;
    padding: 0;
    margin: 0
}
.widget.mobile .menuf li a {
    display: block;
    border-bottom: 1px solid #515159;
    background: url(img/flechebas.png) no-repeat center right;
    padding: 5px 0;
    color: #fff !important;
    font-family: "Asap", sans-serif;
    font-size: 1.28571rem;
    font-style: italic;
    font-weight: bold;
    text-transform: none;
}
.page-id-6532 #secondary, .page-id-6535 #secondary, .page-id-6537 #secondary {
    display: none;
}
.page-id-6532.page-template-default .site-content, .page-id-6535.page-template-default .site-content, .page-id-6537.page-template-default .site-content {
    width: 89%;
}
/* =Main content and comment content
-------------------------------------------------------------- */



/* tags */



a[rel="tag"]:before {
    content: "#";
}
a[rel="tag"] {
    border-radius: 3px;

    font-family: "Asap", Arial;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    padding: 3px 5px;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    background: #f54b67;
    color: #fff;
}
a[rel="tag"]:hover {
    color: #f54b67;
    background:#fff;
}
/*  plugin Share */

div.ssba {
    clear: both;
    display: inline-block;
    margin: 0 0 25px;
    width: 100%;
}
.ssba, .ssba a {
    border-radius: 3px;
    display: block;
    float: left;
    font-size: 20px;
    line-height: 30px;
    margin: 0 3px;
    text-decoration: none;
}
.ssba_facebook_share {
    background: #3B5998 !important;
    font-family: "Asap", Arial !important;
}
.ssba_facebook_share img, .ssba_twitter_share img {
    margin: 6px 2px 0 !important;
}
.ssba_facebook_share:after {
    content: "Partager sur Facebook";
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    padding: 0 9px 0 0px;
}
.ssba_twitter_share {
    background: #39A9E0!important;
    font-family: "Asap", Arial !important;
    margin: 0 5px !important;
}
.ssba_twitter_share:after {
    content: "Partager sur Twitter";
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    padding: 0 9px 0 0px;
}
.ssba_google_share img, .ssba_linkedin_share img, .ssba_pinterest_share img {
    width: 30px !important;
}
.ssba img {
    border-radius: 3px;
    padding: 0 !important;
    margin: 0 2px 0 0;
    box-shadow: none;
}
.ssba a, .share-toggle, .secondary-share-toggle {
    height: 31px;
}
.share-toggle {
    background: none repeat scroll 0 0 #ddd;
    border-radius: 3px;
    color: #fff;
    display: block;
    float: left;
    font-size: 23px;
    padding: 0 10px 0px;
    cursor: pointer;
}
.secondary-share-toggle {
    background: none repeat scroll 0 0 #ddd;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: none;
    float: left;
    font-size: 23px;
    margin: 0 0 0 5px;
    padding: 0 11px;
}
.by-author .author a {
    color: #5096de;
    font-family: "Asap", Arial;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    margin: 0 15px 0 0
}
.entry-header a[rel="bookmark"] {
    color: #515159;
    text-decoration: none;
}
.entry-meta {
    clear: both;
}
.entry-header {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
article header {
    border-bottom: 5px solid #dddddd;
    padding: 0 10px 18px;
}
a[rel="category tag"] {
    background: url("img/bg-cat.png") no-repeat scroll left bottom #5096de;
    color: #fff !important;
    display: inline-block;
    font-family: Archivo Narrow;
    font-size: 15px;
    font-style: normal;
    padding: 1px 7px 8px;
    text-decoration: none;
}
a[rel="category tag"]:hover {
    background: url("img/bg-cat.png") no-repeat scroll left bottom #3a3942;
}
.entry-header a[rel="category tag"],
.wmle_item a[rel="category tag"] {
    margin: 0 5px 0 0;
    position: relative;
}
.entry-header img.wp-post-image {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
    position: relative;
}
.entry-header .entry-title {
    font-size: 20px;
    font-size: 1.828571429rem;
    font-weight: normal;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -o-hyphens: none;
    hyphens: none;
    line-height: 2rem;
    margin: 15px 0;
    position: relative;
}
.entry-header .entry-title a {
    text-decoration: none;
}
.entry-header .entry-title a:hover {
    color: #5096DE;
}
.entry-header .entry-format {
    margin-top: 24px;
    margin-top: 1.714285714rem;
    font-weight: normal;
}
.entry-header .comments-link {
    margin-top: 24px;
    margin-top: 1.714285714rem;
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
    color: #757575;
}
.comments-link a:hover, .entry-meta a:hover {
    color: #fff;
}
article.sticky .featured-post {
    border-top: 4px double #ededed;
    border-bottom: 4px double #ededed;
    color: #757575;
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 3.692307692;
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
    text-align: center;
}
.entry-content, .entry-summary, .mu_register {
    line-height: 1.714285714;
}
.entry-content h1, .comment-content h1, .entry-content h2, .comment-content h2, .entry-content h3, .comment-content h3, .entry-content h4, .comment-content h4, .entry-content h5, .comment-content h5, .entry-content h6, .comment-content h6 {
    margin: 24px 0;
    margin: 1.714285714rem 0;
    line-height: 1.714285714;
}
.entry-content h1, .comment-content h1 {
    font-size: 21px;
    font-size: 1.5rem;
    line-height: 1.5;
}
.entry-content h2, .comment-content h2, .mu_register h2 {
    font-size: 18px;
    font-size: 1.285714286rem;
    line-height: 1.6;
}
.entry-content h3, .comment-content h3 {
    font-size: 16px;
    font-size: 1.142857143rem;
    line-height: 1.846153846;
}
.entry-content h4, .comment-content h4 {
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.846153846;
}
.entry-content h5, .comment-content h5 {
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
}
.entry-content h6, .comment-content h6 {
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 1.846153846;
}
.entry-content p, .entry-summary p, .comment-content p, .mu_register p {
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
    line-height: 1.714285714;
    float: left
}
.entry-content a:visited, .comment-content a:visited {
    color: #5096de;
}
.entry-content ol, .comment-content ol, .entry-content ul, .comment-content ul, .mu_register ul {
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
    line-height: 1.714285714;
}
.entry-content ul ul, .comment-content ul ul, .entry-content ol ol, .comment-content ol ol, .entry-content ul ol, .comment-content ul ol, .entry-content ol ul, .comment-content ol ul {
    margin-bottom: 0;
}
.entry-content ul, .comment-content ul, .mu_register ul {
    list-style: disc outside;
}
.entry-content ol, .comment-content ol {
    list-style: decimal outside;
}
.entry-content li, .comment-content li, .mu_register li {
    margin: 0 0 0 36px;
    margin: 0 0 0 2.571428571rem;
}
.entry-content blockquote, .comment-content blockquote {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
    padding: 24px;
    padding: 1.714285714rem;
    font-style: italic;
}
.entry-content blockquote p:last-child, .comment-content blockquote p:last-child {
    margin-bottom: 0;
}
.entry-content code, .comment-content code {
    font-family: Consolas, Monaco, Lucida Console, monospace;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 2;
}
.entry-content pre, .comment-content pre {
    border: 1px solid #ededed;
    color: #666;
    font-family: Consolas, Monaco, Lucida Console, monospace;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 1.714285714;
    margin: 24px 0;
    margin: 1.714285714rem 0;
    overflow: auto;
    padding: 24px;
    padding: 1.714285714rem;
}
.entry-content pre code, .comment-content pre code {
    display: block;
}
.entry-content abbr, .comment-content abbr, .entry-content dfn, .comment-content dfn, .entry-content acronym, .comment-content acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}
.entry-content address, .comment-content address {
    display: block;
    line-height: 1.714285714;
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
}
img.alignleft, .wp-caption.alignleft {
    margin: 12px 24px 12px 0;
    margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}
img.alignright, .wp-caption.alignright {
    margin: 12px 0 12px 24px;
    margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}
img.aligncenter, .wp-caption.aligncenter {
    clear: both;
    margin-top: 12px;
    margin-top: 0.857142857rem;
    margin-bottom: 12px;
    margin-bottom: 0.857142857rem;
}
.entry-content embed, .entry-content iframe, .entry-content object, .entry-content video {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
.entry-content dl, .comment-content dl {
    margin: 0 24px;
    margin: 0 1.714285714rem;
}
.entry-content dt, .comment-content dt {
    font-weight: bold;
    line-height: 1.714285714;
}
.entry-content dd, .comment-content dd {
    line-height: 1.714285714;
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
.entry-content table, .comment-content table {
    border-bottom: 1px solid #ededed;
    color: #757575;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 2;
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
    width: 100%;
}
.entry-content table caption, .comment-content table caption {
    font-size: 16px;
    font-size: 1.142857143rem;
    margin: 24px 0;
    margin: 1.714285714rem 0;
}
.entry-content td, .comment-content td {
    border-top: 1px solid #ededed;
    padding: 6px 10px 6px 0;
}
.site-content article {
    margin-bottom: 72px;
    margin-bottom: 5.142857143rem;
    padding-bottom: 24px;
    padding-bottom: 1.714285714rem;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.page-links {
    clear: both;
    line-height: 1.714285714;
}
footer.entry-meta {
    margin-top: 24px;
    margin-top: 1.714285714rem;
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
    color: #757575;
}
.single-author .entry-meta .by-author {
    display: none;
}
.mu_register h2 {
    color: #757575;
    font-weight: normal;
}
/* RELATEDS POSTS */

.relatedposts {
    background: none repeat scroll 0 0 #f7f7f7;
    border-top: 5px solid #ddd;
    clear: both;
    display: inline-block;
    margin: 58px 0 0;
    padding: 0 22px 18px;
    position: relative;
    width: 85%;
}
.relatedposts .title-similarpost {
    background: none repeat scroll 0 0 #515159;
    color: #fff;
    font-family: "Asap", sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    left: 20px;
    margin: -21px 0;
    padding: 2px 14px;
    position: absolute;
}
.relatedthumb {
    margin: 25px 10px 0 0;
    width: 100%;
}
.relatedthumb .wpme_image a {
    display: block;
    max-height: 120px;
    overflow: hidden;
}
.relatedthumb .wpme_image img {
    overflow: hidden;
    white-space: nowrap;
}
.relatedthumb h3 {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 1.17143rem;
    line-height: 1.3rem;
    margin: 0;
    padding: 0;
}
.relatedthumb a {
    text-decoration: none;
    color: #444;
}
.relatedthumb a:hover {
    color: #5096de;
}
/* Pages normales */

.page-template-default .site-content {
    float: none;
    width: 100%;
}
/* =Archives
-------------------------------------------------------------- */


.archive-header, .page-header {
    border-bottom: 5px solid #dddddd;
    margin-bottom: 2.42857rem;
    padding-bottom: 0;
    position: relative;
}
.archive-meta {
    color: #757575;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 2;
    margin-top: 22px;
    margin-top: 1.571428571rem;
}
/* =Single audio/video attachment view
-------------------------------------------------------------- */

.attachment .entry-content .mejs-audio {
    max-width: 400px;
}
.attachment .entry-content .mejs-container {
    margin-bottom: 24px;
}
/* =Single image attachment view
-------------------------------------------------------------- */

.article.attachment {
    overflow: hidden;
}
.image-attachment div.attachment {
    text-align: center;
}
.image-attachment div.attachment p {
    text-align: center;
}
.image-attachment div.attachment img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}
.image-attachment .entry-caption {
    margin-top: 8px;
    margin-top: 0.571428571rem;
}
/* =Aside post format
-------------------------------------------------------------- */

article.format-aside h1 {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
article.format-aside h1 a {
    text-decoration: none;
    color: #4d525a;
}
article.format-aside h1 a:hover {
    color: #2e3542;
}
article.format-aside .aside {
    padding: 24px 24px 0;
    padding: 1.714285714rem;
    background: #d2e0f9;
    border-left: 22px solid #a8bfe8;
}
article.format-aside p {
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
    color: #4a5466;
}
article.format-aside blockquote:last-child, article.format-aside p:last-child {
    margin-bottom: 0;
}
/* =Post formats
-------------------------------------------------------------- */

/* Image posts */
article.format-image footer h1 {
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
    font-weight: normal;
}
article.format-image footer h2 {
    font-size: 11px;
    font-size: 0.785714286rem;
    line-height: 2.181818182;
}
article.format-image footer a h2 {
    font-weight: normal;
}
/* Link posts */
article.format-link header {
    padding: 0 10px;
    padding: 0 0.714285714rem;
    float: right;
    font-size: 11px;
    font-size: 0.785714286rem;
    line-height: 2.181818182;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    color: #848484;
    background-color: #ebebeb;
    border-radius: 3px;
}
article.format-link .entry-content {
    max-width: 80%;
    float: left;
}
article.format-link .entry-content a {
    font-size: 22px;
    font-size: 1.571428571rem;
    line-height: 1.090909091;
    text-decoration: none;
}
/* Quote posts */
article.format-quote .entry-content p {
    margin: 0;
    padding-bottom: 24px;
    padding-bottom: 1.714285714rem;
}
article.format-quote .entry-content blockquote {
    display: block;
    padding: 24px 24px 0;
    padding: 1.714285714rem 1.714285714rem 0;
    font-size: 15px;
    font-size: 1.071428571rem;
    line-height: 1.6;
    font-style: normal;
    color: #6a6a6a;
    background: #efefef;
}
/* Status posts */
.format-status .entry-header {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
.format-status .entry-header header {
    display: inline-block;
}
.format-status .entry-header h1 {
    font-size: 15px;
    font-size: 1.071428571rem;
    font-weight: normal;
    line-height: 1.6;
    margin: 0;
}
.format-status .entry-header h2 {
    font-size: 12px;
    font-size: 0.857142857rem;
    font-weight: normal;
    line-height: 2;
    margin: 0;
}
.format-status .entry-header header a {
    color: #757575;
}
.format-status .entry-header header a:hover {
    color: #21759b;
}
.format-status .entry-header img {
    float: left;
    margin-right: 21px;
    margin-right: 1.5rem;
}
/* =Comments
-------------------------------------------------------------- */

.comments-title {
    margin-bottom: 48px;
    margin-bottom: 3.428571429rem;
    font-size: 16px;
    font-size: 1.142857143rem;
    line-height: 1.5;
    font-weight: normal;
}
.comments-area article {
    margin: 24px 0;
    margin: 1.714285714rem 0;
}
.comments-area article header {
    margin: 0 0 48px;
    margin: 0 0 3.428571429rem;
    overflow: hidden;
    position: relative;
}
.comments-area article header img {
    float: left;
    padding: 0;
    line-height: 0;
}
.comments-area article header cite, .comments-area article header time {
    display: block;
    margin-left: 85px;
    margin-left: 6.071428571rem;
}
.comments-area article header cite {
    font-style: normal;
    font-size: 15px;
    font-size: 1.071428571rem;
    line-height: 1.42857143;
}
.comments-area cite b {
    font-weight: normal;
}
.comments-area article header time {
    line-height: 1.714285714;
    text-decoration: none;
    font-size: 12px;
    font-size: 0.857142857rem;
    color: #5e5e5e;
}
.comments-area article header a {
    text-decoration: none;
    color: #5e5e5e;
}
.comments-area article header a:hover {
    color: #21759b;
}
.comments-area article header cite a {
    color: #444;
}
.comments-area article header cite a:hover {
    text-decoration: underline;
}
.comments-area article header h4 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 12px;
    padding: 0.428571429rem 0.857142857rem;
    font-size: 12px;
    font-size: 0.857142857rem;
    font-weight: normal;
    color: #fff;
    background-color: #0088d0;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #009cee, #0088d0);
    background-image: -ms-linear-gradient(top, #009cee, #0088d0);
    background-image: -webkit-linear-gradient(top, #009cee, #0088d0);
    background-image: -o-linear-gradient(top, #009cee, #0088d0);
    background-image: linear-gradient(top, #009cee, #0088d0);
    border-radius: 3px;
    border: 1px solid #007cbd;
}
.comments-area .bypostauthor cite span {
    position: absolute;
    margin-left: 5px;
    margin-left: 0.357142857rem;
    padding: 2px 5px;
    padding: 0.142857143rem 0.357142857rem;
    font-size: 10px;
    font-size: 0.714285714rem;
}
.comments-area .bypostauthor cite b {
    font-weight: bold;
}
a.comment-reply-link, a.comment-edit-link {
    color: #686868;
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
}
a.comment-reply-link:hover, a.comment-edit-link:hover {
    color: #21759b;
}
.commentlist .pingback {
    line-height: 1.714285714;
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
/* Comment form */
#respond {
    margin-top: 48px;
    margin-top: 3.428571429rem;
}
#respond h3#reply-title {
    font-size: 16px;
    font-size: 1.142857143rem;
    line-height: 1.5;
}
#respond h3#reply-title #cancel-comment-reply-link {
    margin-left: 10px;
    margin-left: 0.714285714rem;
    font-weight: normal;
    font-size: 12px;
    font-size: 0.857142857rem;
}
#respond form {
    margin: 24px 0;
    margin: 1.714285714rem 0;
}
#respond form p {
    margin: 11px 0;
    margin: 0.785714286rem 0;
}
#respond form p.logged-in-as {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
#respond form label {
    display: block;
    line-height: 1.714285714;
}
#respond form input[type="text"], #respond form textarea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 1.714285714;
    padding: 10px;
    padding: 0.714285714rem;
    width: 100%;
}
#respond form p.form-allowed-tags {
    margin: 0;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 2;
    color: #5e5e5e;
}
.required {
    color: red;
}
/* =Front page template
-------------------------------------------------------------- */


/* =Widgets
-------------------------------------------------------------- */

.widget-area .widget ul ul {
    margin-left: 12px;
    margin-left: 0.857142857rem;
}
.widget_rss li {
    margin: 12px 0;
    margin: 0.857142857rem 0;
}
.widget_recent_entries .post-date, .widget_rss .rss-date {
    color: #aaa;
    font-size: 11px;
    font-size: 0.785714286rem;
    margin-left: 12px;
    margin-left: 0.857142857rem;
}
.widget-area .widget_recent_entries li {
    line-height: normal;
}
.widget-area .widget_recent_entries li a, .widget-area .widget_recent_entries li a:visited {
    -moz-hyphens: none;
    color: #444;
    display: block;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0.8em 0.3em;
    text-decoration: none;
}
.widget-area .widget_recent_entries li a:hover {
    color: #5096de;
}
#wp-calendar {
    margin: 0;
    width: 100%;
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
    color: #686868;
}
#wp-calendar th, #wp-calendar td, #wp-calendar caption {
    text-align: left;
}
#wp-calendar #next {
    padding-right: 24px;
    padding-right: 1.714285714rem;
    text-align: right;
}
.widget_search {
    background: none repeat scroll 0 0 #f7f7f8;
    margin-bottom: 2em !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 10px;
}
.widget_search input {
    border-radius: 0;
    color: #666;
    font-family: asap;
    font-size: 15px;
    padding: 8px;
    width: 79.667% !important;
}
.widget_search input#searchsubmit, .search-no-results #searchform input#searchsubmit, .error404 #searchform input#searchsubmit {
    display: block;
    float: right;
    margin: 0 3%;
    padding: 10px 0 0;
    width: 20px !important;
}
.widget_search label {
    display: block;
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
}
.widget_twitter li {
    list-style-type: none;
}
.widget_twitter .timesince {
    display: block;
    text-align: right;
}
.search-no-results #secondary {
    display: none;
}
.search-no-results #searchform input {
    padding: 8px;
    width: 80%;
    margin: 5px 0 0 0;
}
.search-no-results #searchform {
    width: 50%;
}
.error404 #searchform input {
    padding: 8px;
    width: 82%;
    margin: 5px 0 0 0;
}
.error404 #searchform {
    width: 40%;
}
footer .slideshare a {
    color: #fff;
    margin: 0;
    width: auto;
}
footer .slideshare a:hover {
    color: #fff;
}
footer .slideshare a img {
    float: left;
}
footer .slideshare a span {
    color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 17px !important;
    margin: 3px 0;
    max-width: 100%;
    text-shadow: none;
}
footer .slideshare a img {
    float: left;
    width: 280px;
}
.widget-area .widget.widget_flickr {
    margin-bottom: 1em;
    clear: both;
}
.Annual_Archive_Widget select {
    width: 100%;
    margin: 2em 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
}
.Annual_Archive_Widget select {
    -moz-appearance: none;
    margin: 1em 0;
    padding: 11px;
    width: 100%;
}
/* HOVER RESEAUX SOCIAUX */


.sfmsb-icon-googleplus.square:hover:before {
    color: #D93E2D;
}
.sfmsb-icon-googleplus.circle:hover:before {
    color: #D93E2D;
}
.sfmsb-icon-facebook.square:hover:before {
    color: #3E5B98;
}
.sfmsb-icon-facebook.circle:hover:before {
    color: #3E5B98;
}
.sfmsb-icon-twitter.square:hover:before {
    color: #4DA7DE;
}
.sfmsb-icon-twitter.circle:hover:before {
    color: #4DA7DE;
}
.sfmsb-icon-feed.square:hover:before {
    color: #F26109
}
.sfmsb-icon-feed.circle:hover:before {
    color: #F26109
}
.sfmsb-icon-vimeo.square:hover:before {
    color: #00D9A3
}
.sfmsb-icon-vimeo.circle:hover:before {
    color: #00D9A3
}
.sfmsb-icon-github.circle:hover:before {
    color: #717272
}
.sfmsb-icon-github.square:hover:before {
    color: #717272
}
.sfmsb-icon-wordpress.circle:hover:before {
    color: #6b96be
}
.sfmsb-icon-wordpress.square:hover:before {
    color: #6b96be
}
.sfmsb-icon-pinterest.square:hover:before {
    color: #d68678
}
.sfmsb-icon-pinterest.circle:hover:before {
    color: #d68678
}
.sfmsb-icon-linkedin.square:hover:before {
    color: #3371B7
}
.sfmsb-icon-linkedin.circle:hover:before {
    color: #3371B7
}
.sfmsb-icon-youtube.square:hover:before {
    color: #E02A20;
}
.sfmsb-icon-youtube.circle:hover:before {
    color: #E02A20;
}
.sfmsb-icon-instagram.square:hover:before {
    color: #b9a38c
}
.sfmsb-icon-instagram.circle:hover:before {
    color: #b9a38c
}
.sfmsb-icon-email.square:hover:before {
    color: #84b3dc
}
.sfmsb-icon-email.circle:hover:before {
    color: #84b3dc
}
.sfmsb-icon-soundcloud.square:hover:before {
    color: #f6a46a
}
.sfmsb-icon-soundcloud.circle:hover:before {
    color: #f6a46a
}
.sfmsb-icon-itunes.square:hover:before {
    color: #cf95f5
}
.sfmsb-icon-itunes.circle:hover:before {
    color: #cf95f5
}
.sfmsb-icon-bloglovin.square:hover:before {
    color: #5ed3f5
}
.sfmsb-icon-bloglovin.circle:hover:before {
    color: #5ed3f5
}
.sfmsb-icon-flickr.square:hover:before {
    color: #f66db4
}
.sfmsb-icon-flickr.circle:hover:before {
    color: #f66db4
}
.sfmsb-icon-slideshare.square:hover:before {
    color: #1D8F90;
}
.sfmsb-icon-slideshare.circle:hover:before {
    color: #1D8F90;
}
.sfmsb-icon-vine.square:hover:before {
    color: #00BF8F;
}
.sfmsb-icon-vine.circle:hover:before {
    color: #00BF8F;
}
.sfmsb-follow-social-buttons.sfmsb-under a {
    margin-right: 5px;
}
.author-avatar .sfmsb-icon-linkedin.square:hover:before, .author-avatar .sfmsb-icon-googleplus.square:hover:before, .author-avatar .sfmsb-icon-facebook.square:hover:before, .author-avatar .sfmsb-icon-twitter.square:hover:before {
    color: #3a3942;
}
/* =Plugins
----------------------------------------------- */

img#wpstats {
    display: block;
    margin: 0 auto 24px;
    margin: 0 auto 1.714285714rem;
}
/* Contact */
#FSContact1 textarea {
    max-width: none !important;
}
/* POPUP */

.wdpu-container {
    background: none repeat scroll 0 0 rgba(250, 250, 250, 0.7)!important;
}
.wdpu-msg {
    background-color: rgba(255, 255, 255, 1)!important;
}
.wdpu-msg-inner .wdpu-text {
    background: #fff!important;
    padding: 10px 2% 30px !important;
}
.wdpu-container span.title {
    font-size: 13px;
    margin: 2% 5% 5%;
    font-family: "Archivo Narrow", sans-serif;
    display: block;
    text-align: center;
}
.wdpu-container .wdpu-inner a img {
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    width: 46px;
}
.wdpu-container .wdpu-inner a {
    color: #444 !important;
    display: block;
    float: left;
    text-align: center;
    text-decoration: none !important;
    width: 40%;
    margin: 0 2% 5px;
    font-size: 10px;
    font-family: "ASAP", sans-serif;
}
.wdpu-inner .title img {
    width: 60%;
}
.wdpu-container a img, .wdpu-container a span {
    clear: both;
    display: block;
    float: none;
    margin: 0 auto 2px;
    font-size: 10px;
    font-family: "Archivo Narrow", sans-serif;
}


/* APPLICATIONS */
.single-application .article-content a {
    color: #444;
    font-family: "Archivo Narrow", sans-serif;
    text-decoration: none;
}
.single-application .article-content a:hover {
    color: #5096de;
}
/* masque les boutons de partage */
.single-application .entry-content .ssba {
    display: none;
}
/* SLIDER */
.single-application .slider-content {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 3em;
    clear: both;
}
.single-application .slider-navigation {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}
.single-application .slider-navigation span#slider-prev {
    position: absolute;
    left: 40px;
    bottom: 0;
}
.single-application .slider-navigation span#slider-next {
    position: absolute;
    right: 40px;
    bottom: 0;
}
.single-application .slider-navigation .bx-prev,
.single-application .slider-navigation .bx-next {
    background-color: #3a3942;
    border: solid 1px #fff;
    padding: 0.4em 0.6em;
    /*font-size: 1.5em;*/
    color: #fff;
    transition: all 0.3s ease;
}
.single-application .slider-navigation .bx-prev:hover,
.single-application .slider-navigation .bx-next:hover {
    background-color: #fff;
    border: solid 1px #5096de;
    color: #5096de!important;
}
.single-application .bx-wrapper {
    padding: 0;
}
/* CONTENU */
.single-application .entry-plateforme {
    margin-top: 2em;
}
.single-application .entry-plateforme .entry-meta-title {
    display: none;
}
.single-application .entry-plateforme li:not(:last-child){
    margin-right: .5em;
    margin-bottom: .5em;
}
.single-application .entry-plateforme li {
    display: inline-block;
    border: solid 1px #3a3942;
    padding: .2em;
}
.single-application .entry-urlTelechargement {
    margin-top: 1em;
    text-transform: uppercase;
}
.single-application .entry-content {
    margin-top: 2em;
}
/* ASIDE */
.single-application aside.application-secondary {
    float: left;
    margin-bottom:2em;
	background:#eaeaea;
	padding:10px 5px;
}
.single-application aside.application-secondary img {
    width: auto;
	border:2px solid #ccc;
    max-width: 90%;
}
.single-application .article-content .entry-urlTelechargement a {
	background-color: #14528d;
    color:#ffffff;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.42857;
    padding: 0.528571rem 0.814286rem;
	display:inline-block;
   }
.single-application .article-content .entry-urlTelechargement a:hover { background:#5096DE;}

.single-application aside.application-secondary .entry-logo-societe,
.single-application aside.application-secondary .entry-societe,
.single-application aside.application-secondary .entry-web,
.single-application aside.application-secondary .entry-network,
.single-application aside.application-secondary .entry-video {
    text-align: center;
}
.single-application aside.application-secondary .entry-web,
.single-application aside.application-secondary .entry-network,
.single-application aside.application-secondary .entry-video {
    margin-top: 1em;
}

.single-application aside.application-secondary .entry-network li:not(:first-child) {
    margin-left: 0.5em;
}
.single-application aside.application-secondary .entry-network li {
    display: inline-block;
}
.single-application aside.application-secondary .entry-network li a span {
    font-size: 30px;
}
.single-application aside.application-secondary .entry-video a {
    background-color: #14528d;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    font-family: Arial;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.42857;
    padding: 0.528571rem 0.814286rem;
    transition: all 0.5s ease 0s;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.single-application aside.application-secondary .entry-video a:hover {
    background-color: #5096de;
}
.modal {
    display: none;
}
body.modalOpen .modal {
    display: block;
}
.modal:before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
}
.modal-dialog {
    background: #fefefe;
    border: #333 solid 1px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10001;
    width: 100%;
    max-width: 500px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btn-close {
    color: #aaa;
    font-size: 3em;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
    line-height: .7;
}
.modal-body {
  padding: 20px;
}
.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eee solid 1px;
  height: 0;
}
.modal-footer {
  border-top: #eee solid 1px;
  text-align: right;
}
.containerVideo {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
}
.containerVideo iframe {
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
}


/* SM PAYANT */

.pmpro_checkout thead th {
    font-size: 1em;
}
.pmpro_checkout tr.odd td {
    background: #5096de;
    color: #fff;
    font-size: 1.5em;
    vertical-align: middle;
}
.pmpro_btn, .pmpro_btn:link, .pmpro_content_message a, .pmpro_content_message a:link {
    text-transform: uppercase;
}

.pmpro-checkout #content .entry-content form {
    background: #fafafa;
    padding: 2em;
}
.pmpro-checkout table { font-size:1.1em;}

.pmpro_thead-msg {
    font-size: .7em;
}

form.pmpro_form .input, form.pmpro_form textarea, form.pmpro_form select {
    padding: 6px;
    font-size: 1em;
}

form.pmpro_form .pmpro_submit span { 
float:none;
}

.pmpro_content_message { margin:0 0 1em 0; font-size:0.8em;}

.pmpro_btn, .pmpro_btn:link, .pmpro_content_message a, .pmpro_content_message a:link {
	border: 1px solid #ccc;
    color: #aaa;
    font-size: 11px;
    font-weight: 300;
    margin: 0;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    text-transform: none; 
}

.pmpro-checkout .pmpro_thead-name {
    display: none;
}


/* =Media queries
-------------------------------------------------------------- */

/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See http://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}
.bannierebottom {
    display: none;
}
.bannieretop {
    display: none;
}
#habillage {
    display: none;
}
#habillage div {
    display: none;
}

/* HABILLAGE */
a[rel="category tag"] {
background: url("img/bg-cat.png") no-repeat scroll left bottom #5096de !important;
}
.misenavant a[rel="category tag"] {
background: url("img/bg-cat-over.png") no-repeat scroll left bottom  #5096de !important;
}
/*.page-id-26061 .dossier {
    background: url("img/filet-dossier-mwc.png") repeat-x scroll left top #515159 !important;
}
.page-id-26061 footer[role="contentinfo"] {
        background:#3a3942 url(img/filetbleu-mwc.png) repeat-x top left !important;
        }*/
.site-header {
padding: 0 0 !important;
} 
/* fin de l'habillage */



/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
    .page-id-6532 #secondary, .page-id-6535 #secondary, .page-id-6537 #secondary {
        display: block;
    }
    .page-id-6532.page-template-default .site-content, .page-id-6535.page-template-default .site-content, .page-id-6537.page-template-default .site-content {
        width: 69%;
    }
    /* POPUP */


    .wdpu-inner .title img {
        width: auto;
    }
    .wdpu-msg-inner .wdpu-text {
        background: #fff!important;
        padding: 20px 6% 50px !important;
    }
    .wdpu-container span.title {
        font-size: 23px;
        margin: 2% 5% 5%;
        font-family: "Archivo Narrow", sans-serif;
        display: block;
        text-align: center;
    }
    .wdpu-container .wdpu-inner a img {
        border-radius: 3px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        width: 40px;
    }
    .wdpu-container .wdpu-inner a {
        color: #444 !important;
        display: block;
        float: left;
        text-align: center;
        text-decoration: none !important;
        width: 20%;
        margin: 0 2%;
        font-size: 15px;
        font-family: "ASAP", sans-serif;
    }
    .wdpu-container a img, .wdpu-container a span {
        clear: both;
        display: block;
        float: none;
        margin: 0 auto 15px;
        font-size: 15px;
        font-family: "Archivo Narrow", sans-serif;
    }
    /* -- */

    #text-12, #text-16 {
        margin: 0 auto 3em;
        width: 728px;
        clear: both;
    }
    #text-16 {
        margin: 15px auto 0;
        width: 728px;
        clear: both;
    }
    p.baseline {
        font-size: 0.7em;
        margin: 0 auto 0 15px;
        text-align: center;
        width: 215px;
    }
    .entry-content p, .entry-summary p, .comment-content p, .mu_register p {
        float: none;
    }
    header hgroup {
        float: left;
        width: 30%;
    }
    #mc4wp_widget-5 {
        display: block;
    }
    #sfmsb_settings-2 {
        border-top: 0;
        text-align: left;
        float: right;
        padding: 0;
    }
    #sfmsb_settings-2 .widget-title {
        display: inline;
    }
    .widget-header {
        float: right;
        margin: 20px 0 0;
        width: 58%;
    }
    .author-avatar {
        float: left;
        margin-top: 8px;
        margin-top: 0.571428571rem;
    }
    .author-description {
        float: right;
        width: 84%;
    }
    .site {
        /*	margin: 0 auto;
                max-width: 960px;
                max-width: 68.571428571rem;*/
        overflow: hidden;
    }
    .site-content {
        float: left;/*width: 65.104166667%;*/
    }
    body.template-front-page .site-content,  body.attachment .site-content,  body.full-width .site-content {
        width: 100%;
    }
    /*.widget-area {
                    float: right;
                    width: 26.041666667%;
            }*/
    .site-header h1,  .site-header h2 {
        text-align: left;
    }
    .menu-menu-1-container {
        position: relative;
        width: 100%;
    }
    .main-navigation {
        background: none repeat scroll 0 0 #3a3942;
        border-top: 4px solid #5096dd;
        clear: both;
        height: auto;
        margin-top: 0;
        text-align: center;
        width: 100%;
    }
    .main-navigation ul.nav-menu,  .main-navigation div.nav-menu > ul {
        display: inline-block !important;
        text-align: left;
        width: 96%;
    }
    .main-navigation ul {
        margin: 0;
        text-indent: 0;
    }
    .main-navigation li a,  .main-navigation li {
        display: inline-block;
        text-decoration: none;
    }
    .main-navigation li a {
        border-bottom: 0 none;
        color: #fff;
        font-family: "Archivo Narrow", sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 2.8em;
        padding: 0 12px;
        text-transform: uppercase;
        white-space: nowrap;
    }
    .main-navigation li {
        margin: 0;
        position: relative;
    }
    .main-navigation li ul {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        z-index: 1;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
    }
    .main-navigation .menu-item-has-children > a:after {
        content: " +";
        font-family: "Asap", sans-serif;
        font-size: 16px;
        font-weight: 100;
        vertical-align: baseline;
    }
    .main-navigation li ul ul {
        top: 0;
        left: 100%;
    }
    .main-navigation ul li:hover > ul,  .main-navigation ul li:focus > ul,  .main-navigation .focus > ul {
        border-left: 0;
        clip: inherit;
        overflow: inherit;
        height: inherit;
        width: inherit;
    }
    .main-navigation li ul li a {
        background: none repeat scroll 0 0 #3a3942;
        border-bottom: 1px solid #777;
        display: block;
        font-size: 0.985714rem;
        line-height: 2.18182;
        padding: 0.571429rem 0.914286rem;
        white-space: normal;
        width: 12.8571rem;
    }
    .main-navigation li ul li a:hover,  .main-navigation li ul li a:focus {
        background: #5096de;
        color: #fff;
    }
    .main-navigation .current-menu-item > a,  .main-navigation .current-menu-ancestor > a,  .main-navigation .current_page_item > a,  .main-navigation .current_page_ancestor > a {
        color: #5096DE;
        font-weight: bold;
    }
    .main-navigation .current-menu-item > a:hover,  .main-navigation .current-menu-ancestor > a:hover,  .main-navigation .current_page_item > a:hover,  .main-navigation .current_page_ancestor > a:hover {
        color: #FFF;
    }
    .menu-toggle {
        display: none;
    }
    .entry-header .entry-title {
        font-size: 2.87143rem;
        line-height: 3rem;
        margin: 15px 0;
    }
    #respond form input[type="text"] {
        width: 46.333333333%;
    }
    #respond form textarea.blog-textarea {
        width: 79.666666667%;
    }
    .template-front-page .site-content,  .template-front-page article {
        overflow: hidden;
    }
    .template-front-page.has-post-thumbnail article {
        float: left;
        width: 47.916666667%;
    }
    .entry-page-image {
        float: right;
        margin-bottom: 0;
        width: 47.916666667%;
    }
    #text-8 {
        background: url("img/flechebas.png") no-repeat scroll 112px center #5096de;
        clear: both;
        float: right;
        margin: 36px 0 0;
        width: 154px;
    }
    .misenavant {
        background: none repeat scroll 0 0 #f7f7f8;
        display: inline-block;
        padding: 2.2em 4rem;
    }
    .misenavant .sticky {
        float: left;
        margin-left: 2%;
        margin-right: 2%;
        width: 29%;
    }
    .misenavant .category-a-la-une {
        float: left;
        margin: 0 5% 0 0;
        width: auto;
    }
    .misenavant .category-a-la-une {
        float: left;
        margin: 0 0;
        width: auto;
    }
    .dossier {
        background: url("img/filet-dossier.jpg") repeat-x scroll left top #515159;
        display: inline-block;
        padding: 2.2em 0.2em 0;
        position: relative;
    }
    .dossier h2 {
        background: none repeat scroll 0 0 #3a3942;
        color: #fff;
        font-family: "Asap", sans-serif;
        font-size: 21px;
        font-style: italic;
        font-weight: bold;
        left: 31px;
        margin: -43px 0;
        padding: 4px 14px;
        position: absolute;
    }
    .bx-wrapper {
        max-width: auto;
    }
    .category #content, .tag #content, .author #content, .archive #content, .search #content {
        float: left;
        margin: 0 2% 0 0;
        width: 70%;
    }
    .category .site-content, .tag .site-content, .author .site-content, .archive .site-content, .search .site-content {
        float: left;
        width: 100%;
    }
    .category #secondary, .tag #secondary, .author #secondary, .archive #secondary, .search #secondary {
        box-sizing: border-box;
        float: left;
        left: 0;
        margin: 0;
        padding: 0;
        position: relative;
        width: 28%;
    }
    /* pages articles */

    .page-template-default .site-content,
    .page-template-template-application .site-content{
        float: left;
        margin: 0 3% 0 0;
        width: 69%;
    }
    /* PAGE CATEGORIE */


    .relatedthumb {
        float: left;
        margin: 25px 13px 0 0;
        width: 23%;
    }
    /*	.template-front-page .widget-area .widget,
            .template-front-page.two-sidebars .widget-area .front-widgets {
                    float: left;
                    width: 51.875%;
                    margin-bottom: 24px;
                    margin-bottom: 1.714285714rem;
            }
            .template-front-page .widget-area .widget:nth-child(odd) {
                    clear: right;
            }
            .template-front-page .widget-area .widget:nth-child(even),
            .template-front-page.two-sidebars .widget-area .front-widgets + .front-widgets {
                    float: right;
                    width: 39.0625%;
                    margin: 0 0 24px;
                    margin: 0 0 1.714285714rem;
            }
            .template-front-page.two-sidebars .widget,
            .template-front-page.two-sidebars .widget:nth-child(even) {
                    float: none;
                    width: auto;
            }*/
    .commentlist .children {
        margin-left: 48px;
        margin-left: 3.428571429rem;
    }
    /* 5 news d'experts */
    #news-experts-content {
        background: none repeat scroll 0 0 #ffffff;
        border-top: 4px solid #5096dd;
        margin: 0;
        width: 100%;
    }
    #news-experts-content .wmle_item_holder {
        float: left;
        margin: 0 0 0 0;
        width: 20%;
        background: none repeat scroll 0 0 #ffffff;
    }
    #news-experts-content .wmle_item_holder .avatar {
        float: left;
        height: auto;
        margin: 0 6px 0 0;
        width: 33px;
    }
    #news-experts-content .wmle_item_holder .author {
        padding: 15px 0 0;
    }
    #news-experts-content .wmle_item_holder .author a {
        color: #5096de;
        font-family: "Asap", Arial;
        font-size: 1em;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
    }
    #news-experts-content .wmle_item_holder a[rel="tag"] {
        display: none;
    }
    #wmle_container {
        background: #fff;
    }
    #habillage {
        display: none;
    }
    #habillage div {
        display: none;
    }
}

/* Tablets, iPads (portrait and landscape) ----------- */
@media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px) {
    /* Styles */

    .bannierebottom {
        display: block;
    }
    .bannieretop {
        display: block;
    }
    .misenavant .sticky {
        float: left;
        margin: 0 1%;
        width: 30%;
    }
    .misenavant .category-a-la-une {
        float: left;
        margin: 0 5% 0 0;
        width: auto;
    }
    .misenavant .category-a-la-une {
        float: left;
        margin: 0 5% 0 0;
        width: 60%;
    }
    .category #content, .tag #content, .author #content, .archive #content, .search #content {
        float: left;
        margin: 0 0 0 0;
        width: 100%;
    }
    .category .site-content, .tag .site-content, .author .site-content, .archive .site-content, .search .site-content {
        float: left;
        width: 100%;
    }
    #secondary {
        float: none;
        width: 98%;
    }
    #habillage {
        display: none;
    }
    #habillage div {
        display: none;
    }
}
@media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px)  and (orientation: landscape) {
    .article-content, .site-content nav {
        float: left;
        width: 65%;
        margin: 0 5% 0 0;
    }
    #secondary {
        float: left;
        width: 30%;
    }
    .category #content, .tag #content, .author #content, .archive #content, .search #content {
        float: left;
        margin: 0 2% 0 0;
        width: 66%;
    }
    #secondary .widget_text div {
        width: 100% !important;
        height: auto !important;
    }
    #secondary .widget_text img {
        width: 100% !important;
    }
    .relatedthumb {
        float: left;
        margin: 25px 13px 0 0;
        width: 45%;
    }
    .author.archive .author-avatar {
        float: left;
        margin-top: 4px;
        width: 25%;
    }
    .author-avatar {
        float: left;
        margin-top: 4px;
        width: 25%;
    }
    .author-avatar .avatar {
        margin: 0 0 10px;
        width: 80%;
    }
    .author-description {
        float: right;
        width: 74%;
    }
    #secondary .widget_mc4wp_widget form:before {
        font-size: 12px;
    }
    #secondary .widget_mc4wp_widget #mc4wp_email {
        width: 100%;
    }
    #habillage {
        display: none;
    }
    #habillage div {
        display: none;
    }
}



/* Minimum width of 960 pixels. */
@media screen and (min-width: 960px) {
    .bannierebottom {
        display: block;
    }
    .bannieretop {
        display: block;
    }
    .asset-img-link {
        width: auto;
        clear: none;
    }
    .site {
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        max-width: 100%;



    }

    .site { background:none;}
    #page { background:none;}


    .site-header h1 {
        margin: 0;
    }
    header {
        max-width: 1080px;
        margin: 0 auto
    }
    p.baseline {
        font-size: 0.9em;
        margin: 0 0 15px;
        text-align: center;
        width: 215px;
    }
    .site-content {
        margin: 24px 0 0;
        margin: 1.714285714rem 0 0;
        background: none repeat scroll 0 0 #fff;
    }
    #mc4wp_widget-5 {
        float: left;
        margin: 0;
        width: 75%;
    }
    .widget-header .mc4wp-form {
        display: inline-block;
        margin: 0;
        width: 78%;
    }
    #mc4wp_email {
        border-radius: 0;
        box-shadow: 1px 1px 1px #ddd;
        float: left;
        line-height: 1.5rem;
        margin: 0 10px 0 0;
        width: 69%;
    }
    #mc4wp_widget-5 input[type="submit"] {
        box-shadow: 1px 1px 1px #ddd;
    }
    #text-8 {
        background: url("img/flechebas.png") no-repeat scroll 112px center #5096de;
        float: right;
        width: 25%;
        clear: none;
        margin: 0;
    }
    .title-alaune {
        border-top: 5px solid #ddd;
        clear: both;
        margin: 0 0 9px;
        position: relative;
    }
    .title-alaune span {
        background: none repeat scroll 0 0 #f7f7f8;
        color: #444;
        display: block;
        font-family: "Archivo Narrow", sans-serif;
        font-size: 22px;
        left: 31px;
        margin: -29px 0 0;
        padding: 4px 14px;
        position: absolute;
        text-align: center;
        width: 80px;
    }
    .title-alaune b {
        color: #5096de;
    }
    #main {
        display: block;
        margin: 0 auto;
        max-width: 1080px;
        position: relative;
        z-index: 800;
    }
    .main-navigation li a {
        border-bottom: 0 none;
        color: #fff;
        font-family: "Archivo Narrow", sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 2.8em;
        padding: 0 21px;
        text-transform: uppercase;
        white-space: nowrap;
    }
    .article-content, .site-content nav {
        float: left;
        left: 0;
        margin: 0 21px 0 18px;
        position: relative;
        width: 67%;
    }
    .home #primary {
        width: 100%;
    }
    .misenavant {
        padding: 3em 2.2em 2.2em;
    }
    .misenavant .sticky {
        float: left;
        width: 35%;
        margin: 0;
    }
    .misenavant .category-a-la-une {
        float: left;
        margin: 0 5% 0 0;
        width: 60%;
    }
    /* footer */

    .content-footer {
        max-width: 1080px;
        margin: 0 auto
    }
    footer .widget-area {
        box-sizing: border-box;
        float: left;
        margin: 41px 33px 30px 0;
        width: 30%;
    }
    #secondary {
        box-sizing: border-box;
        float: left;
        left: 0;
        padding: 0;
        position: relative;
        width: 28%;
        margin: 0;
    }
    .imagealaune {
        margin: 18px 0 12px;
        max-height: 370px;
        overflow: hidden;
    }
    .misenavant .category-a-la-une img.wp-post-image {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
    }
    .relatedposts {
        width: 94%;
    }
    .category #content, .tag #content, .author #content, .archive #content, .search #content {
        float: left;
        margin: 0 2% 0 10px;
        width: 68%;
    }
    .category .site-content, .tag .site-content, .author .site-content, .archive .site-content, .search .site-content {
        float: left;
        width: 100%;
    }
    /* Application */
    .single-application .application-content {
        float: right;
        width: 75%;
    }
    .single-application aside.application-secondary {
        width: 20%;
    }
    /* habillage */


    #habillage div {
        visibility: visible;
    }
    #habillage {
        background-color: transparent;
        background-position: center top;
        background-repeat: no-repeat;
        border: 0 none;
        font-size: 100%;
        margin: 0;
        padding-bottom: 0;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 0;
        vertical-align: baseline;
        width: 100% !important;
        display: block;
    }
    .habcontent {
        background-position: center top;
        background-repeat: no-repeat;
        cursor: pointer;
        display: block !important;
        height: 1550px;
        overflow: hidden;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    #habillage a {
        background-color: transparent;
        background-position: center top;
        background-repeat: no-repeat;
        border: 0 none;
        cursor: pointer;
        display: block;
        font-size: 100%;
        left: 50%;
        margin-left: -826px;
        padding: 0;
        position: relative;
        vertical-align: baseline;
        width: 1600px;
    }
    /* page test habillage 
    
    .site-header {
            margin: 149px auto 0;
            padding: 1px 0px 0;
            
    }
    body {	background:url(img/habillage-mwc2016.png) no-repeat top center;}
    
    
    .page-id-26061 .site-header {
       margin: 170px auto 0;
        padding: 1px 11px 0;
        background-color: #fff;
      }
    .page-id-26061 #main {   
     background-color: #fff;
        padding: 0 11px 0;
            }
    .page-id-26061 #page {  
    background-color: #B26E31;
    }	
    
    #main {
            background-color: #fff;
            padding: 0 0px 0;
    }
    #page {
            background-color: #fff;
    }*/
}


/* =Print
----------------------------------------------- */

@media print {
    body {
        background: none !important;
        color: #000;
        font-size: 10pt;
    }
    footer a[rel=bookmark]:link:after,  footer a[rel=bookmark]:visited:after {
        content: " [" attr(href) "] "; /* Show URLs */
    }
    a {
        text-decoration: none;
    }
    .entry-content img,  .comment-content img,  .author-avatar img,  img.wp-post-image {
        border-radius: 0;
        box-shadow: none;
    }
    .site {
        clear: both !important;
        display: block !important;
        float: none !important;
        max-width: 100%;
        position: relative !important;
    }
    .site-header {
        margin-bottom: 72px;
        margin-bottom: 5.142857143rem;
        text-align: left;
    }
    .site-header h1 {
        font-size: 21pt;
        line-height: 1;
        text-align: left;
    }
    .site-header h2 {
        color: #000;
        font-size: 10pt;
        text-align: left;
    }
    .site-header h1 a,  .site-header h2 a {
        color: #000;
    }
    .author-avatar,  #colophon,  #respond,  .commentlist .comment-edit-link,  .commentlist .reply,  .entry-header .comments-link,  .entry-meta .edit-link a,  .page-link,  .site-content nav,  .widget-area,  img.header-image,  .main-navigation {
        display: none;
    }
    .wrapper {
        border-top: none;
        box-shadow: none;
    }
    .site-content {
        margin: 0;
        width: auto;
    }
    p.baseline {
        width: auto;
        margin: 0 2rem 15px;
        font-size: 0.9em;
    }
    .entry-header .entry-title,  .entry-title {
        font-size: 21pt;
    }
    footer.entry-meta,  footer.entry-meta a {
        color: #444;
        font-size: 10pt;
    }
    .author-description {
        float: none;
        width: auto;
    }
    /* Comments */
    .commentlist > li.comment {
        background: none;
        position: relative;
        width: auto;
    }
    .commentlist .avatar {
        height: 39px;
        left: 2.2em;
        top: 2.2em;
        width: 39px;
    }
    .comments-area article header cite,  .comments-area article header time {
        margin-left: 50px;
        margin-left: 3.57142857rem;
    }
}





/* HABILLAGE MWC  */


.main-navigation {
border-top: 4px solid #5096de  !important;
}

#text-8 {
background: url("img/flechebas.png") no-repeat scroll 112px center #5096de !important;
}

input[type="submit"], .bypostauthor cite span {
background-color: #5096de  !important;
}

a[rel="category tag"] {
background: url("img/bg-cat.png") no-repeat scroll left bottom #5096de  !important;
}
.misenavant a[rel="category tag"] {
background: url("img/bg-cat-over.png") no-repeat scroll left bottom  #5096de  !important;
}
.title-alaune b {
color:#5096de  !important;
}
/*.dossier {
    background: url("img/filet-dossier-mwc.png") repeat-x scroll left top #5096de  !important;
}
footer[role="contentinfo"] {
        background:#5096de  url(img/filetbleu-mwc.png) repeat-x top left !important;
        }
footer #text-3 a {
color:#5096de  !important;
}*/
a {
color:#5096de ;

}
#secondary .widget_mc4wp_widget .widget-title {
background: none repeat scroll 0 0 #5096de  !important;
}

#news-experts-content {
border-top: 4px solid  #5096de !important;

}
#news-experts-content .wmle_item_holder .author a {
color:  #5096de  !important;

}
.wmle_loadmore .wmle_loadmore_btn:hover { 
background:#5096de  !important;
}
.site-header {
padding:  0 !important;

}*/
