/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles at the end of this file instead 
of style.css so it is easier to update the theme. 
Simply copy an existing style from style.css to this file, 
and modify it to your liking.
*/

/* All other custom code is in daughter, myCanvasChildTheme style.css file */


/* Stuff for nng logo in main menu.  (Didn't work when it was in the child css file.) */

#menu-item-465 { /* found by opening a page that uses the menu in browser, then examining code for menu to see what number has been assigned by WordPress */
	margin-left: 10px !important;

	width: 43px !important; /* width of image */
}
#menu-item-465 a {
	background: url(http://asktog.com/atc/wp-content/uploads/NNgLogo.gif) no-repeat scroll 0pt 0pt transparent !important; /* location of image */
	text-indent: -99em !important; /* this is a hack to move the original text label off-screen */
}

/* Fix to force illustrations & text to both show up at top of tables. Didn't work when added to daughter css */
td
{
vertical-align:top !important;
}

/*Code for styling standard data tables so that there's spacing between cells */
/*To use:, start table HTML with <table class="data"> */
/*From http://www.somacon.com/p141.php */
table.data {
	border-width: 0px;
	border-spacing: 2px;
	border-style: none;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}
table.data th {
	border-width: 0px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
table.data td {
	border-width: 0px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}

#box { 
margin: 4; 
padding 4; 
float: center; 
width: 100%; 
background-color: #e8e8e8; 
}