/*
Theme Name: askTog Canvas Child
Theme URI: http:www.asktog.com/atc/
Version: 1.0
Description: Child Theme for askTog.com
Author: Bruce Tognazzini
Author URI: http://www.asktog.com
Template: canvas
*/
/* Default styles */
@import "../canvas/css/reset.css";
@import url("../canvas/style.css");
/*-------------------------------------------------------------------------------------------*/

/* Hyperlinks */
a:link {
	font-weight:900;
	color: #604530 !important;
	text-decoration: none;
} /* unvisited link */

 a:visited {
  color:#402510 !important;
  text-decoration: none;
}/* visited link */

a:hover {
	font-weight:900;
	color:#af4026 !important;
	text-decoration: underline;
} /* mouse over link */

a:active {
	font-weight:900;
	color:#5f85ff;
	text-decoration: underline;
} /* selected link */
/* End Hyperlinks */

/* Top Nav */
#top-nav {
    float: right;
} /* Align top menu to the right

/* Breadcrumbs */
.trail-end {
	font-weight:bold;
	color:#333333;
} /* Last element in the bread-crumbing chain.  Changed to make it congruent with link style */

.breadcrumb-title {
    display: none;
} /* Suppress the "you are here" message. From "30 Tweaks" found at http://www.pootlepress.co.uk/2012/05/woothemes-canvas-css-tweaks/ */
/* End Breadcrumbs */

/* Code to style the widget-within-header found at http://wpu.me/widgetize-woo-canvas-header */
#woo-canvas-header-widget {
 float: right;
 width: 250px;
 margin-top: 10px;
 }
#woo-canvas-header-widget h4{
 color: #069;
 }
 
 /* suppress the site title & description (from http://www.mayne.net/woothemes-canvas-css-tweaks/) */
 #logo .site-title {display: none !important;}
 #logo .site-description  {display: none !important;}
 
 /* hide the RSS icon at right end of main menu (adapted from http://www.mayne.net/woothemes-canvas-css-tweaks/ + woothemes FAQ general help) */
 /* #navigation ul.rss li a:after { display: none !important;} (I later commented this out so the RSS icon will show. Code still here in case I change my mind.)

 /* Next two segments were sent to me by Matthias Mueller-Prove, my friend in Germany */
 
.title{margin-bottom:0 !important;} /*remove gap between blog title and meta info */
 
.post-meta span:nth-child(1),
.post-meta span:nth-child(2),
.post-meta span:nth-child(3) {display:none;} /* hide author */

.post-more span.post-comments {color:transparent ;} /* hide "Comments are closed" Could become a problem when I'm actually accepting comments */

/* end Matthias's stuff */

/*  This is the code that keeps the Prairie Dog screen shots from sliding apart.  The important line
is the padding: 0px !important ; . I also had to go into each of the images in the table, get into their
parameters in the editor, into the Advanced tab and set borders and margins all to zero. */

.entry img,
img.thumbnail {
  height: auto;
  padding: 0px !important ;
  border: 1px solid #e6e6e6;
  background: #F8F8F8;
  
/* End code to eliminate padding around images */

/* nn/g icon embedded in primary navigation menu 
First step in process is to click Screen Options when Appearance|Menus is opened on WordPress's Dashboard page. 
Second step is to check CSS Classes if it is turned off. Step three is to enter the name of the following routine in the CSS Classes (optional)
box within the entry form for the particular menu you want to have show an icon. (Beware spell-checker.) Step four is to set up the CSS, below, and
the final step, if you didn't do it already, is to import the icon into the Media set.    

.nng-link-icon a{
   padding-left: 30px !important;
   background-image: url(images/nnglogo.png) !important;
   background-position: left !important;
   background-repeat: no-repeat !important;
} */

#menu-item-465 { /* found by opening a page that uses the menu in browser, then examining code for menu to see what number has been assigned by WordPress */
	margin-left: 10px !important;
	width: 43px !important; /* width of image */
}
#menu-item-465 a {
	background: url(http://asktog.com/atc/wp-content/uploads/NNgLogo.gif) no-repeat scroll 0pt 0pt transparent !important; /* location of image */
	text-indent: -99em !important; /* this is a hack to move the original text label off-screen */
}

/*Code eventually added to Canvas Custom CSS because it didn't work here. Fixes problem where pix and text don't show up in tables valigned with each other */
td
{
vertical-align:top !important;
}

/*Code for styling standard data tables so that there's spacing between cells */
/*To use:, start table HTML with <table class="data"> */
/*From http://www.somacon.com/p141.php */
table.data {
	border-width: 0px;
	border-spacing: 2px;
	border-style: none;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}
table.data th {
	border-width: 0px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
table.data td {
	border-width: 0px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
