h1{
	font-size: 14px;
	padding-top: 10px;
	text-transform:uppercase;
	font-style:normal;}

h0{font-size: 18px; 
	font-weight: bold; 
	text-transform: uppercase; 
	text-align: center;}	
	
.mainheadingtitle{
	font-size: 18px; 
	font-weight: bold; 
	text-transform: uppercase; 
	text-align: center;}

.mainheading{
	font-size: 18px; 
	text-align:center;}

.mainheadingdetails{
	font-size: 14px; 
	font-weight: bold; 
	text-align: center;}

.mainheadingpubnote{
	font-size: 10px; 
	font-weight: normal; 
	font-style: oblique; 
	text-align: center;}

.mainheadingmore{
	font-size: 12px;
	font-weight: normal;
	text-align: left;}
	
.docinfo{display: none;}

h2{
	font-size: 14px;
	text-transform:normal;}

h3{
	font-size: 12px;
	text-transform:capitalize;
	font-style: oblique;}
	
h4{
	font-size: 11px;
	font-style: normal;
	padding-left: inherit;}
	
h5{font-size: 12px;
	font-style: oblique;}

table.figure{
	text-align: center;
	font-style: oblique;
	margin:15px auto;
	width:100px; 
	padding: 2px;}
	

.marginTRB{margin: 15px 15px 15px 0px;}
.marginTBL{margin: 15px 0px 15px 15px;}
.marginBL{margin: 0px 0px 15px 15px;}
.marginRB{margin: 0px 15px 15px 0px;}
.marginTL{margin: 15px 15px 0px 0px;}
.marginTRBL{margin: 15px;}


.small{font-size:-.75em;}


.figureImageCell{text-align: center;}	
.figureImageCell img {
	max-width:400px;
	max-height: 400px;}
.figureCaptionCell{font-style: oblique; line-height: 1.25em;}

hr{width: 98%}

/***********************************
NOTE ON LEVELS! 
In a content item, elements that 
have a single character purple number
are considered "level0". Two characters
are considered "level1", three characters
are considered "level2" etc. Typically
"level0" elements are headings and do not
call on a class to define the level.
***********************************/
.level0{}
.level1{}
.level2{}
.level3{padding-left: 25px; /*background: red;*/}
.level4{padding-left: 25px; /*background: yellow;*/}
.level5{padding-left: 75px;}
.level6{padding-left: 100px;}
.level7{padding-left: 125px;}
.level8{padding-left: 150px;}
.level9{padding-left: 175px;}
.level10{padding-left: 200px;}
.level11{padding-left: 225px;}

/*#donate{
	width: 123px;
	height: 22px;
	text-align: left;
	margin-top: 0px;}
#donate img { margin-top: 150px;}*/
#donate{margin-bottom:5px;}

#Body #LeftPanel .module div div div h3{
	display: block; 
	position: relative;
	top: 16px;
	
	width: 122px;
	padding-top: 2px;
	padding-bottom: 3px;
	
	text-align: left;

	color: white;
	background: #427cac;
	border-top: 1px solid #d5d5d6;
	border-right: 1px solid #d5d5d6;
	border-bottom: 0px;
	border-left: 1px solid #d5d5d6;}
