body{ 
  margin      :  0px;  
  background  :  #e3e3e3;
	line-height : 1.4em;
	font-size	 : 12px;
	font-family: verdana, arial, sans-serif;}

div{
	margin:0px;
	padding:0px;
	position:relative;
	left:0px;
	top:0px;
	text-align:left;
	font-family:verdana, arial, sans-serif;
  font-size:11px;
  color:#000000;}

h1{
  font-family:verdana, arial, sans-serif;
  font-style:italic;
  font-size:14px;
  font-weight:bold;
  color:#000000;
	margin:5px 0px 15px 0px;}

h1.mainheading {
  font-family:verdana, arial, sans-serif;
  font-size:18px;
  color:#446898;
	margin:5px 0px 15px 0px;
}

form{margin:0px;}

a{
  font-family      :  verdana, arial, sans-serif;
  font-size        :  inherit;
  color            :  #000000;
  text-decoration  :  underline;}
  
a:hover{
  font-family      :  verdana, arial, sans-serif;
  font-size        :  inherit;
  color            :  #000000;
	text-decoration  :  none;}
  
#LeftBorder{
  margin-left  :  10px;
  background   :  url('../images/page-border-left.jpg') repeat-y;}

#RightBorder{
  margin-right         :  10px;
  background           :  url('../images/page-border-right.jpg') repeat-y;
  background-position  :  right top;}

#ContentArea{
  margin      :  0px 10px 0px 10px;
  background  :  #ffffff;
  overflow    :  hidden;}

#TopNav{
  height       :  25px;
  line-height  :  25px;
  background   :  #5698cc url('../images/top-nav-bg.jpg') repeat-x;}

#TopNav #BootStrap{
  float    :  left;
  display  :  none;
  margin   :  1px 0px 0px 3px;}

#TopNav ul{
  padding     :  0px;
  margin      :  0px;
  list-style  :  none;}

#TopNav ul li{
  padding  :  0px;
  float    :  right;
  margin   :  0px 15px 0px 0px;}

#TopNav #mainlevel li img{
  float    :  left;
  border   :  none;
  padding  :  5px 5px 0px 0px;}

#TopNav a{
  font-family      :  verdana, arial, sans-serif;
  font-size        :  11px;
  color            :  #bad6ee;
  text-decoration  :  none;}
  
#TopNav a:hover{
  font-family      :  verdana, arial, sans-serif;
  font-size        :  11px;
  color            :  #ffffff;
  text-decoration  :  none;}

#Header{
  display     :  block;
  height      :  106px;
  background  : #446898 url(../images/bootstrap-alliance-blank.jpg) no-repeat top left;
}

#quotes{
	float:left;
	margin-left:239px;
	margin-top:45px;
	height:61px;
	text-align:left;
	font-family:"Times New Roman";
	font-style: italic;
	font-size:16px;
	color:#ffffff;
}
#quotes-name {
	float:left;
	font-family:"Times New Roman";
	font-style: italic;
	font-size:16px;
	color:#ffffff;
	margin-left:300px
}

#SearchBar{
  height               :  25px;
  line-height          :  25px;
  background           :  #e0eaf6 url('../images/search-bar-bg.jpg') repeat-y;
  background-position  :  right top;}

#Button{float  :  right; margin-right: 10px;}

#Button a img{
  border  :  none;
  float   :  left;
  margin  :  5px 3px 0px 10px;}

#Button a{
  font-family      :  verdana, arial, sans-serif;
  font-size        :  11px;
  color            :  #b2c4d8;
  text-decoration  :  none;}
  
#Button a:hover{
  font-family      :  verdana, arial, sans-serif;
  font-size        :  11px;
  color            :  #b2c4d8;
  text-decoration  :  underline;}

.searchForm{
  float         :  right;
  margin-right  :  10px;
  line-height   :  25px;}

.searchForm input{
  font-family    :  verdana, arial, sans-serif;
  font-size      :  10px;
  color          :  #000000;
  width          :  101px;
  height         :  12px;
  border         :  solid 1px #588bb6;  
  background     :  #ffffff url('../images/search-box-bg.jpg');
  margin-bottom  :  1px;}

.buttonForm{
	height:15px !important;
	width:60px !important;}

* html .searchForm input, * > .searchForm input{
	margin-bottom  :  0px;}

.searchForm a{
  font-family      :  verdana, arial, sans-serif;
  font-size        :  11px;
  color            :  #ffffff;
  text-decoration  :  underline;}
  
.searchForm a:hover{
  font-family      :  verdana, arial, sans-serif;
  font-size        :  11px;
  color            :  #bad6ee;
  text-decoration  :  none;}

#Body{
  padding     :  10px 0px 20px 0px;
  min-height  :  440px;}

#LeftPanel{
  position  :  absolute;
  z-index   :  200;
  width     :  100px;}

/*********NAVIGATE HEADING*********/

#Body #LeftPanel .module div div div h3{
	display: block; 
	position: relative;
	top: 16px;
	
	width: 98px;
	padding-top: 2px;
	padding-bottom: 3px;
	
	text-align: left;

	color: white;
	background: #427cac;
	border-top: 1px solid #d5d5d6;
	border-right: 1px solid #d5d5d6;
	border-bottom: 0px;
	border-left: 1px solid #d5d5d6;}


#mainmenu_menu{
  border      :  0px solid black;
  border-top : 5px solid #427cac;
  margin-top  :  20px;
	position		 :		relative; 
	bottom 		 :		60px; 
	width 			 : 	125px;
	left 			 : 	0px;
	height			 :		145px;
	margin-bottom: 1px;}

/*       #mainmenu_menu h3{
  font-family    :  verdana, arial, sans-serif;
  font-size      :  11px;
  color          :  #ffffff;
   
  line-height    :  17px;
  background     :  #427cac;
  display        :  block;
  padding-left   :  19px;
  border-bottom  :  solid 1px #d5d5d5;
  
  margin         :  0px 5px 0px 0px;
  padding-bottom :  0px;
  width          :  107px;}    */

#mainmenu_menu a{
  font-family          :  verdana, arial, sans-serif;
  font-weight          :  bold;  
  font-size            :  11px;
  color                :  #555555;

  text-decoration      :  none;
  display              :  block;
  line-height          :  19px;
  height               :  19px;
  background           :  #e2ebf4 url('../images/nav-arrow.gif') no-repeat !important;
  background-position  :  4px 5px !important;
  padding-left         :  18px;
  
  border-bottom        :  solid 1px #d5d5d5;
  border-top           :  solid 1px #e2e2e2;}

#mainmenu_menu a:hover{
  font-family          :  verdana, arial, sans-serif;
  font-weight          :  bold;  
  font-size            :  11px;
  color                :  #000000;

  text-decoration      :  none;
  display              :  block;
  line-height          :  19px;
  height               :  19px;
  background           :  #d2dfec url('../images/nav-arrow.gif') no-repeat !important;
  background-position  :  4px 5px !important;
  padding-left         :  18px;
/*      border-bottom        :  solid 1px #d5d5d5;
  border-top           :  solid 1px #e2e2e2    */;}

#mainmenu_menu div.subNav{
  display   :  none;
  position  :  absolute;
  left      :  115px;
  top       :  5px;
  border    :  solid 1px #d5d5d5;
  width     :  125px;
  z-index   :  1000;}

#donate{
	width: 123px;
	height: 22px;
	text-align: left;
	margin-top: 0px;}

#LeftPanel #Links{
  padding      :  10px 0px 0px 6px;
  line-height  :  22px;}

#Links a img{
  border         :  none;
  margin-bottom  :  10px;}

#Links img{
  margin-right  :  2px;}

#Links a{
  font-family      :  verdana, arial, sans-serif;
  font-size        :  11px;
  color            :  #7e7e7e;
  text-decoration  :  none;}
  
#Links a:hover{
  font-family      :  verdana, arial, sans-serif;
  font-size        :  11px;
  color            :  #000000;
  text-decoration  :  underline;}

#Links a.donate{color  :  #001f84;}

/*************************************************
    Class added by Drew on 3/6/08    
**************************************************/
.contentheading{
	text-align: center;
	font-size: 18px;
	font-weight: bold;}
/* END */	


.contentpaneopen{padding: 0px 10px 0px 10px;}

#Contents
{margin-left: 140px;
 /*    margin  :  0px 240px 0px 140px;      */
  /* z-index :  199;
     width   :  87%;    */
}

/*    #RightPanel
{
  position  :  absolute;
  z-index   :  10;
  float        :  right;
  left:80%;
}    */

#RightPanel #Data{
  z-index      :  300;
  width        :  175px;
  margin-top   :  15px;
  padding      :  0px 10px 0px 20px;
  border-left  :  solid 1px #d5d5d5;}

#RightPanel #Data i{
  font-family  :  verdana, arial, sans-serif;
  font-weight  :  bold;
  font-size    :  11px;
  color        :  #000000;}

#Footer{
  clear        :  both;
  padding      :  3px 0px 5px 0px;
  background   :  #5698cc url('../images/footer-bg.jpg') repeat-x;  
  font-family  :  verdana, arial, sans-serif;
  font-size    :  11px;
  color        :  #ffffff;  
  text-align   :  center;}

#Footer a{
  font-family      :  verdana, arial, sans-serif;
  font-size        :  11px;
  color            :  #ffffff;
  text-decoration  :  none;}
  
#Footer a:hover{
  font-family      :  verdana, arial, sans-serif;
  font-size        :  11px;
  color            :  #bad6ee;
  text-decoration  :  underline;}
/*Begin stylesheet consolidation*/

p{
	font-size:12px; 
	font-family: verdana, arial, sans-serif; 
	line-height: 1.4em;}
	
p a{}
p a:link{}
p a:hover{color: #446898; text-decoration: underline;}


 	

/* CLASSES FOR SETTING MARGINS BLOCK ELEMENTS */
.marginTRB{margin: 15px 15px 15px 0px;}
.marginTBL{margin: 15px 0px 15px 15px;}
.marginBL{margin: 0px 0px 15px 15px;}
.marginRB{margin: 0px 15px 15px 0px;}
.marginTL{margin: 15px 15px 0px 0px;}
.marginTRBL{margin: 15px;}
.marginR{margin: 0px 15px 0px 0px;}

/*End stylesheet consolidation*/
/*************************************************************    
	PURPLE NUMBERS   
*************************************************************/
.purplenumber{
	color: #C8A8FF;
	font-size: 9px;
	font-weight: bold;
	font-style: normal;
	text-transform: lowercase;
	text-decoration: none;
	float:right;
	position:relative; bottom: 1.85em; 
	display: block;} 
	
	
/* purple number a:psuedo classes cannot use inherit for text decoration or display values*/
.purplenumber a:link{color:inherit;text-decoration:none;display:block;}
.purplenumber a:hover{color:inherit;text-decoration:none;display:block;}	
.purplenumber a:active{color:inherit;text-decoration:none;display:block;}
.purplenumber a:visited{color:inherit;text-decoration:none;display:block;}		

.purplenumberH0{
	color: #C8A8FF;
	font-size: xx-small; 
	font-size: 9px;
	font-weight: bold;
	font-style: normal;
	text-transform: lowercase;
	float: right;
	position:relative; top: -1.25em;}
.purplenumberH0 a:link{color:inherit;text-decoration:none;}
.purplenumberH0 a:hover{color:inherit;text-decoration:none;}	
.purplenumberH0 a:active{color:inherit;text-decoration:none;}
.purplenumberH0 a:visited{color: inherit;text-decoration:none;}	

.purplenumberH1{
	color: #C8A8FF;
	font-size: xx-small; 
	font-size: 9px;
	font-weight: bold;
	font-style: normal;
	text-transform: lowercase;
	float: right;
	position:relative; top: -1.25em;}
.purplenumberH1 a:link{color:inherit;text-decoration:none;}
.purplenumberH1 a:hover{color:inherit;text-decoration:none;}	
.purplenumberH1 a:active{color:inherit;text-decoration:none;}
.purplenumberH1 a:visited{color: inherit;text-decoration:none;}


.purplenumberH2{
	color: #C8A8FF;
	font-size: xx-small; 
	font-size: 9px;
	font-weight: bold;
	font-style: normal;
	text-transform: lowercase;
	float: right;
	position:relative; top: -1.25em;}
.purplenumberH2 a:link{color:inherit;text-decoration:none;}
.purplenumberH2 a:hover{color:inherit;text-decoration:none;}
.purplenumberH2 a:active{color:inherit;text-decoration:none;}
.purplenumberH2 a:visited{color:inherit;text-decoration:none;}
	
.purplenumberH3{
	color: #C8A8FF;
	font-size: xx-small; 
	font-size: 9px;
	font-weight: bold;
	font-style: normal;
	text-transform: lowercase;
	float: right;
	position:relative; top: -1.25em;}
.purplenumberH3 a:link{color:inherit;text-decoration:none;}
.purplenumberH3 a:hover{color:inherit;text-decoration:none;}
.purplenumberH3 a:active{color:inherit;text-decoration:none;}
.purplenumberH3 a:visited{color:inherit;text-decoration:none;}	

.purplenumberH4{
	color: #C8A8FF;
	font-size: xx-small; 
	font-size: 9px;
	font-weight: bold;
	font-style: normal;
	text-transform: lowercase;
	float: right;
	position:relative; top: -1.25em;}
.purplenumberH4 a:link{color:inherit;text-decoration:none;}
.purplenumberH4 a:hover{color:inherit;text-decoration:none;}
.purplenumberH4 a:active{color:inherit;text-decoration:none;}
.purplenumberH4 a:visited{color:inherit;text-decoration:none;}	

.purplenumberH5{
	color: #C8A8FF;
	font-size: xx-small; 
	font-size: 9px;
	font-weight: bold;
	font-style: normal;
	text-transform: lowercase;
	float: right;
	position:relative; top: -1.25em;}
.purplenumberH5 a:link{color:inherit;text-decoration:none;}
.purplenumberH5 a:hover{color:inherit;text-decoration:none;}
.purplenumberH5 a:active{color:inherit;text-decoration:none;}
.purplenumberH5 a:visited{color:inherit;text-decoration:none;}	


.purplenumberH6{
	color: #C8A8FF;
	font-size: xx-small; 
	font-size: 9px;
	font-weight: bold;
	font-style: normal;
	text-transform: lowercase;
	float: right;
	position:relative; top: -1.25em;}
.purplenumberH6 a:link{color:inherit;text-decoration:none;}
.purplenumberH6 a:hover{color:inherit;text-decoration:none;}
.purplenumberH6 a:active{color:inherit;text-decoration:none;}
.purplenumberH6 a:visited{color:inherit;text-decoration:none;}	
/***************** END PURPLE NUMBERS STYLING *****************/

.level0{}
.level1{}
.level2{}
.level3{padding-left: 25px;}
.level4{padding-left: 50px;}
.level5{padding-left: 75px;}
.level6{padding-left: 100px;}
.level7{padding-left: 125px;}
.level8{padding-left: 150px;}
.level9{padding-left: 175px;}
.level10{padding-left: 200px;}
.level11{padding-left: 225px;}

/*************************************************************    
TABLE OF CONTENTS STYLING    
*************************************************************/
#floatdiv{
	width:118px;
	position:absolute;  
	left:-138px;
	top:175px;
	padding:3px 3px 3px 0px;
	background:#FFFFFF;  
	border:2px solid #e0eaf4;
	}
	
.toc-title{
	color:#666666;
	font-size: 9px; 
	font-weight: bold; 
	text-transform:uppercase;
	text-align:center;
	margin-bottom: -4px;}

.toc-top{
	color:#666666;
	font-size: 8px;
	float: right;
	margin-bottom: -10px;
	text-decoration: none;
	/*reduce whitespace*/}

.toc-mainheading{font-weight:bold;}

/*    .toc-mainheading{margin-bottom: 5px; line-height: 10px;}

.toc-mainheading, .toc-mainheading a:link{
	color:#666666;
	font-size: 8px;
	font-weight: bold;
	line-height: 10px; 
	margin-bottom: 7px; 
	text-decoration: none;}
	

.toc-mainheading a:hover{text-decoration: none;}

.toc-mainheadingtitle{
	color:#666666;
	font-weight: bold;
	line-height: 12px; 
	margin-bottom: 7px; 
	text-decoration: none;
	text-align:center;}    */
	
.toc-mainheadingtitle a:hover{text-decoration: none;}

/*For all titles and headings SIZE and COLOR */
.toc-mainheadingtitle, .toc-mainheading, .toc-h0, .toc-h1, .toc-h2, .toc-h3,.toc-h4 
	{font-size: 9px;
	color: #666666;}

/*For <H> tag LINE-HEIGHT and MARGIN-BOTTOM*/
.toc-mainheadingtitle, .toc-mainheading, .toc-h0, .toc-h1, .toc-h2, .toc-h3, .toc-h4
	{line-height: 10px; 
	margin-bottom: 5px;}

/*For <H> tag INDENTING*/	
.toc-h2{padding-left: 7px;}
	
.toc-h3{padding-left: 14px;}

/* For all links COLOR and TEXT-DECORATION*/
.toc-top:link,.toc-mainheadingtitle:link, .toc-mainheading a:link, .toc-h0 a:link, .toc-h1 a:link, .toc-h2 a:link, .toc-h3 a:link
	{text-decoration:none; 
	color:#666666;}

.toc-top:hover{font-size:8px;}

.toc-top:hover, .toc-mainheadingtitle:hover, .toc-mainheading a:hover, .toc-h1 a:hover, .toc-h2 a:hover, .toc-h3 a:hover{text-decoration:underline; color:#6699cc;}	

.toc-mainheadingtitle:visited, .toc-mainheading a:visited, .toc-h1 a:visited, .toc-h2 a:visited, .toc-h3 a:visited{text-decoration:none; color:#666666;}	

/*For toc-mainheadingtitle BASICS  */ 
.toc-mainheadingtitle{
	color:#446898;
	text-decoration: none;
	text-align:center;} 

#toc-listContainer{margin:0px 0px 0px 0px;padding-left:1px;}	
#toc-listContainer a:hover {font-weight: bold; text-decoration: none;}
.toc-purplenumber, .toc-purplenumberH1, .toc-purplenumberH2, .toc-purplenumberH3, .toc-purplenumberH4, .toc-purplenumberH5
	{color: #C8A8FF; 

	font-size: 8px;
	/*    font-weight: bold;    */
	font-style: normal;
	text-transform: lowercase;
	text-decoration: none !important;
	display: block;
	float: right;
	position: relative;
	bottom: 9px   ;}
	

/********************* END TOC STYLING *********************/

.contentItemTable{border:0px;}

.contentItemTableLeft{
	vertical-align: top;
	padding: 0px 10px 0px 0px;}

.contentItemTableRight{
	width: 180px; 
	vertical-align: top;}
	
.contentItemTableRight div{
	border:3px outset #007297;
	padding:10px;
	text-align: center;}
.contentItemTableRight div p{font-size:10px;}





#mailList {padding: 18px 12px; }










