@page {
 size:12cm 38cm;
/*   margin: 1mm 1mm 1mm 1mm; */
 position:relative;
}

/* @page :left{
  margin:0mm 15mm 0mm 0mm;
}
@page :right{
  margin: 0mm 0mm 0mm 15mm;
} */

body{
  width:100%;
  height:100%;
  }

/* Ne pas imprimer les popups */
.mfp-wrap, .mfp-bg {
  display:none !important;
}

/*   #Ch1, #Ch2, #Ch3, #Ch6, #Ch7, #Ch8, #Ch9, #Ch10, #Ch11, #Ch12, #Ch13{
display:none;
} */

.right, .left{
  float:none;
  display:inline-block;
}

.top{
  display: none;
}


a.menu{
  display: none;
}

#index-print{
  display:block;
  width: 100%;
}

.index-part{
  display: inline-block;
  vertical-align: top;
  float:none;
  margin-top: 0.5cm;
}

#index-print .index-part{
  width:7cm;
  height:100%;
  font-size:10px;
}

#index-print .part-img{
  width:80%;
  height:100%;
}

#index-print h1{
  font-size:17px;
  letter-spacing:4px;
  text-decoration: none;
  font-family:'autopia';
  text-align:left;
  border:none;
  margin:0 0 0 0;
  padding:0px;
  display:block;
  line-height:100%;
}
#index-print p{
  font-size:17px;
  display:block;
  float:none;
  padding:0px;
}

#index-print a{
  color:black;
  text-decoration: none;
  font-family:'autopia';
  border:none;
  margin:0;
  padding:0px;
}

#about-print p{
  margin-bottom: 0.3cm;
}

/* #index-print .index-colonne h1{
  font-size:12px;
}

#index-print .index-colonne p{
  font-size:12px;
}
 */
body{
  width:100%;
  height:100%;
}

a.accueil{
  display: none;
}

.titreCouv{
  padding-top:18%;
  display:block;
  width:100%;
  height:100%;
  break-after: always;
  page-break-after: always;
}

.titreCouv p{
  width:100%;
  font-size: 1cm;
  letter-spacing:10px;
  color:black;
  text-align: left;
  line-height: 110%;
  margin-top:-0.7cm;
}

.titreCouv h1{
  width:100%;
  text-align: left;
  letter-spacing: -2px;
  font-size: 2.7cm;
  padding:0;
  line-height: 90%;
}

.dos{
  display:block;
  height:100%;
  width:100%;
  text-align: center;
  margin-top: 1cm;
}

.dos p{
  letter-spacing: normal;
  font-size: 18px;
  text-align: center;
  margin-bottom: 0.3cm;
  display:block;
}

.saut-page{
  width:100%;
  height:15cm;
  display:block;
  overflow:hidden;
  break-before: always;
  page-break-before: always;
}

aside{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

.titre-print{
  display:block;
  font-family:'autopia';
  width:100%;
  height:100%;
  letter-spacing: -1px;
  line-height: 94%;
  font-size: 80px;
  padding-top: 30px;
}

.video-img{
  display:inline-block !important;
}

html, body, aside, .colimg, .colimg figure, .colimg figure img, .titre-print{
  height:100%;
}

main{
  padding-top:0px;
  width:100%;
  margin:0;
}

.d1{
  margin:0;
}

section{
  page-break-inside:avoid;
  vertical-align: top;
  display:inline-block;
  overflow: hidden;
  margin-left:0;
}

figure{
  margin:0px;
  height:100%;
  page-break-inside:avoid;
  margin:0 0 0.3cm 0;
}

img{
  display:block;
  width:100%;
  height:auto;
}

.box-phrase{
  background-color: white;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  page-break-inside:avoid;
}

video{
  display:block;
  width:100%;
  height:auto;
}

.intro{
  display:inline-block;
}

.no-print{
  display:none;
}

.shown{
  display:inline-block;
  height:100%;
}

.fiche{
  position:static;
  display:block;
  background:transparent;
  width:100%;
  height:100%;
}

.break-after{
  float:none !important;
  clear:both;
  display:block !important;
  page-break-after:always;
  break-after:always;
}

.break-2{
  float:none !important;
  clear:both;
  display:block !important;
  page-break-before:always;
  break-before:always;
  page-break-after:always;
  break-after:always;
}

aside .col12{
  width:50%;
  display:block;
  height:auto;
  margin:0;
  padding:0;
}

aside .col12 p{
  width:100%;
}

aside .col1{
  width:100%;
  display:block;
  height:auto;
  margin:0;
  padding:0;
}

aside .colimg{
  width:50%;
  height:100%;
  display:block;
  margin:0;
  padding:0;
}

figure img.img-fiche{
  width:100%;
}


.w113{
  width:auto;
  height:100%;
}

.b1,.b2,.b3,.b4,.b5,.b6, .border, .b7, .b8, .capVideo{
  background-color: transparent;
  border:none;
  padding:0;
}

.pb1{
  background-image: linear-gradient(white, rgba(240, 240, 240, 0.81));
  padding:0.6cm;
}

.pb2{
  border:1px solid rgb(0, 173, 121);
  padding:0.3cm;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.pb3{
  background-image: linear-gradient(white, rgb(0, 173, 121));
  padding:0.6cm;
}

.b8{
  background-image: linear-gradient(white, rgba(240, 240, 240, 0.48));
  padding:20px;
  border:none;
}

.m{
  margin:0px;
  display: block;
}

/*Position Thumbnail */

.t1{
  width:16%;
  position:absolute;
  top:0;
  left:0;

}


.t2{
  width:16%;
  position:absolute;
  top:0;
  right:0;

}

.t3{
  width:16%;
  position:absolute;
  bottom:0;
  right:0;

}

.t4{
  width:16%;
  position:absolute;
  bottom:0;
  left:0;
}


.vig-img img{
  width:100%;
  display: inline-block;
}

figcaption{
/*   margin-top: 0.3cm; */
}

.quote-en{
  margin-top: 0.5cm;
}



/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
/*DE 2.6cm à 6.65cm */
@media print and (min-width: 2cm) and (max-width: 5cm)
{
    aside .col12{
      width:100%;
      display:block;
      height:auto;
      margin:0;
      padding:0;
      float:none !important;
      clear:both;
      display:block !important;
      page-break-after:always;
      break-after:always;
    }

    aside .colimg{
      width:100%;
      height:100%;
      display:block;
      margin:0;
      padding:0;
    }

    aside p{
      font-size:7px;
      width:100%;
    }

    aside h1{
      font-size:5px;
      letter-spacing: 3px;
      width:100%;
    }

    main{
      clear:both;
      display:block !important;
      page-break-before:always;
      break-before:always;
    }

    .w10{
      width:4cm;
    }

    .w89{
      width:4cm;
    }

    .w78{
      width:4cm;
    }

    .w45{
      width:4cm;
    }

    .w34{
      width:3cm;
    }

    .w23{
      width:3cm;
    }

    .w36{
      width:3cm;
    }

    .w12{
      width:2cm;
    }

    .w14{
      width:2cm;
    }

    .quote{
      font-family:'TGL 0-16', arial, sans-serif;
      letter-spacing: 0.5px;
      font-size:17px;
      padding:10px;
    }
    h3{
      font-family:'autopia', times, serif;
      text-transform: uppercase;
      font-size:17px;
      text-align: right;
    }

    section a{
      font-family:'autopia', times, serif;
      font-size:17px;
      color:black;
    }
    section a p{
      text-align: right;
      display: block !important;
      float: none;
    }

    section a:hover{
      font-family:'autopia', times, serif;
      text-transform: uppercase;
      font-size:8px;
      color:black;
    }

    ul{
      display: block;
    }

    li{
      font-family:'TGL 0-16', arial, sans-serif;
      letter-spacing: 0.5px;
      font-size:8px;
    }

    figcaption{
      font-family:'TGL 0-17', arial, sans-serif;
      font-size:15px;
    /* text-align:left; */
    }


}

/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
/*DE 6.65cm à 15*/
@media print and (min-width: 5cm) and (max-width: 10cm)
{

  #index-print .index-part{
    width:100%;
    height:100%;
    font-size:10px;
    display:inline-block;
  }

  #index-print .part-txt{
    width:100%;
    width:50%;
    height:100%;
    display:inline-block;
  }

  #index-print .part-img{
    width:100%;
    width:50%;
    height:100%;
    display:inline-block;
  }

  aside .col12{
    width:100%;
    height:auto;
    margin:0;
    padding:0;
    float:none !important;
    clear:both;
    display:block !important;
    page-break-after:always;
    break-after:always;
  }

  .large-col .col12{
    width:100%;
  }

  aside .colimg{
    width:100%;
  }

  .intro p, #about-print p{
    font-size:15px;
  }

  aside p{
    font-size:15px;
    width:100%;
    display:block !important;
    float:none !important;
  }

    aside em{
      letter-spacing: 2px;
    }

    aside h1{
      font-size:14px;
      letter-spacing: 10px;
      width:100%;
      text-align:left;
    }

    main{
      clear:both;
      display:block !important;
      page-break-before:always;
      break-before:always;
    }

    .w10{
      width:100%;
    }

    .w89{
      width:100%;
    }

    .w78{
      width:100%;
    }

    .w45{
      width:100%;
    }

    .w34{
      width:100%;
    }

    .w23{
      width:100%;
    }

    .w36{
      width:100%;
    }

    .w12{
      width:100%;
    }

    .w14{
      width:100%;
    }

    .wP12{
      width:100%;
    }

    .wp2{
      width:80% !important;
    }

    .quote{
      font-family:'TGL 0-16', arial, sans-serif;
      letter-spacing:0.5px;
      font-size:14px;
    }
    .quote-en{
      font-size:14px;
    }

    .phrase{
      font-size: 40px;
      margin:0;
      padding:0;
    }

    .box-phrase{
      margin:0;
      padding:0;
    }

    .smaller{
      width:48% !important;
      display: inline-block;
    }

    .smaller2{
      width:70% !important;
      display: inline-block;
    }

    section a{
      font-family:'autopia', times, serif;
      font-size:12px;
      color:black;
    }
    section a p{
      text-align: right;
      display: block !important;
      float: none;
    }

    section a:hover{
      font-family:'autopia', times, serif;
      text-transform: uppercase;
      font-size:12px;
      color:black;
    }

    ul{
      display: block;
    }

    li{
      font-family:'TGL 0-16', arial, sans-serif;
      letter-spacing: 0.5px;
      font-size:12px;
    }

    figcaption{
      font-family:'TGL 0-17', arial, sans-serif;
      font-size:14px;
    }


    .titre-print{
      font-size: 60px !important; /* pour eviter les décalages avec les titres trop grand */
      display:none;
    }

    .titreCouv h1{
      font-size: 80px !important;
    }

    .break-before{
      clear:both;
      display:block !important;
      page-break-before:always;
      break-before:always;
    }
}

/*De 15 cm à 18.2   ===== 000000000000000000000000000000000000000000000000000000000000000000000>15*/
@media print and (min-width: 10cm) and (max-width: 12.5cm)
{

  aside .col12{
    width:60%;
  }

  aside .colimg{
    width:40%;
  }

  .intro p{
    font-size:17px;
  }

    aside p{
      font-size:17px;
      width:50%;
      float:none;
      display:block;
    }

    .titre-print p, #about-print p{
      font-size:15px;
      margin:0 0 0 0;
      padding:0;
    }

    #about-print p{
      padding-top:0.3cm;
    }

    #about-print h1{
      font-size:20px;
      margin:0.5cm 0 0 0;
      padding:0;
      text-align: left;
      letter-spacing: 6px;
    }

    aside h1{
      font-size:17px;
      letter-spacing: 6px;
      width:100%;
      text-align:left;
      padding: 0.2cm !important;
    }

  /*section, .border, .d1, .m, .b1, .b4, .b5, .b6, .b7, .b8, figure, .col, .col12, a, a img{
    margin:0px !important;
    padding:0px !important;
  }*/

    /* Taille des images AVANT A4*/

    .w1{
      width:8cm;
    }
    .w10{
      width:16cm;
    }

    .w89{
      width:10cm;
    }

    .w78{
      width:8cm;
    }

    .w45{
      width:10cm;
    }

    .w34{
      width:8cm;
    }

    .w23{
      width:8cm;
    }

    .w36{
      width:8cm;
    }

    .w12{
      width:8cm;
    }

    .wP12{
      width:8;
    }

    .w14{
      width:4cm;
    }

    .wp1{
      width:17cm;
    }

    .wp1-2{
      width:15cm;
    }

    .wp2{
      width:80%;
    }

    .smaller-carre{
      width:7cm;
    }

    .quote{
      font-family:'TGL 0-16', arial, sans-serif;
      letter-spacing: 0.5px;
      font-size:17px;
    }
    h3{
      font-family:'autopia', times, serif;
      text-transform: uppercase;
      font-size:17px;
      text-align: right;
    }

    section a{
      font-family:'autopia', times, serif;
      font-size:14px;
      color:black;
    }
    section a p{
      text-align: right;
      display: block !important;
      float: none;
    }

    section a:hover{
      font-family:'autopia', times, serif;
      text-transform: uppercase;
      font-size:14px;
      color:black;
    }

    ul{
      display: block;
    }

    li{
      font-family:'TGL 0-16', arial, sans-serif;
      letter-spacing: 0.5px;
      font-size:14px;
    }

    figcaption{
      font-family:'TGL 0-17', arial, sans-serif;
      font-size:17px;
    }

    .c4{
      page-break-before:always !important;
      break-before:always !important;
      float:none !important;
    }

    .titre-print{
      font-size: 80px;
    }

    .break-before{
      clear:both;
      display:block !important;
      page-break-before:always;
      break-before:always;
    }



}

/*De 18.3 à 21.9   ===== 000000000000000000000000000000000000000000000000000000000000000000000*/
@media print and (min-width: 12.5cm) and (max-width: 15cm)
{

    aside p{
      font-size:26px;
      width:50%;
      display:block;
      float:none;
    }

    aside h1{
      font-size:24px;
      letter-spacing: 6px;
      width:100%;
      text-align:left;
    }

  /*section, .border, .d1, .m, .b1, .b4, .b5, .b6, .b7, .b8, figure, .col, .col12, a, a img{
    margin:0px !important;
    padding:0px !important;
  }*/

    /* Taille des images AVANT A4*/

    /* .w10{
      width:15cm;
    }
    .w10{
      width:15cm;
    }

    .w89{
      width:21cm;
    }

    .w78{
      width:12cm;
    }

    .w45{
      width:21cm;
    }

    .w34{
      width:10cm;
    }

    .w23{
      width:13cm;
    }

    .w36{
      width:13cm;
    }

    .w12{
      width:12cm;
    }

    .wP12{
      width:10cm;
    }

    .w14{
      width:10cm;
    }

    .wp1{
      width:21cm;
    }

    .wp-bigger2{
      width:19cm;
    } */

    .quote{
      font-family:'TGL 0-16', arial, sans-serif;
      letter-spacing: 0.5px;
      font-size:14px;
    }
    h3{
      font-family:'autopia', times, serif;
      text-transform: uppercase;
      font-size:14px;
      text-align: right;
    }

    section a{
      font-family:'autopia', times, serif;
      font-size:14px;
      color:black;
    }
    section a p{
      text-align: right;
      display: block !important;
      float: none;
    }

    section a:hover{
      font-family:'autopia', times, serif;
      text-transform: uppercase;
      font-size:14px;
      color:black;
    }

    ul{
      display: block;
    }

    li{
      font-family:'TGL 0-16', arial, sans-serif;
      letter-spacing: 0.5px;
      font-size:14px;
    }

    figcaption{
      font-family:'TGL 0-17', arial, sans-serif;
      font-size:17px;
  /*       text-align:left; */
    }

    .c4{
      page-break-before:always !important;
      break-before:always !important;
      float:none !important;
    }

    .titre-print{
      font-size: 150px;
    }

    .break-before{

      clear:both;
      display:block !important;
      page-break-before:always;
      break-before:always;
    }



}

/*De 21.9 à 26.6   ===== 000000000000000000000000000000000000000000000000000000000000000000>15*/
@media print and (min-width: 15cm) and (max-width: 20cm)
{

    aside p{
      font-size:24px;
      width:50%;
    }

    aside h1{
      font-size:22px;
      letter-spacing: 3px;
      width:100%;
      text-align:left;
    }

    /* Taille des images AVANT A4*/
    .w10{
      width:49%;
    }

    .w89{
      width:49%;
    }

    .w78{
      width:49%;
    }

    .w45{
      width:49%;
    }

    .w34{
      width:49%;
    }

    .w23{
      width:75%;
    }

    .w36{
      width:25%;
    }

    .w12{
      width:8cm;
    }

    .wP12{
      width:50%;
    }

    .w14{
      width:7cm;
    }

    .wp2{
      width:90%;
    }

    .smaller-carre{
      width:30%;
    }

    .quote{
      font-family:'TGL 0-16', arial, sans-serif;
      letter-spacing: 0.5px;
      font-size:19px;
    }
    h3{
      font-family:'autopia', times, serif;
      text-transform: uppercase;
      font-size:14px;
      text-align: right;
    }

    section a{
      font-family:'autopia', times, serif;
      font-size:14px;
      color:black;
    }
    section a p{
      text-align: right;
      display: block !important;
      float: none;
    }

    section a:hover{
      font-family:'autopia', times, serif;
      text-transform: uppercase;
      font-size:14px;
      color:black;
    }

    ul{
      display: block;
    }

    li{
      font-family:'TGL 0-16', arial, sans-serif;
      letter-spacing: 0.5px;
      font-size:14px;
    }

    figcaption{
      font-family:'TGL 0-17', arial, sans-serif;
      font-size:19px;
  /*       text-align:left; */
    }

    #about-print h1{
      font-size:19px;
      margin:0.5cm 0 0 0;
      padding:0;
      text-align: left;
      letter-spacing: 6px;
    }

    .c4{
      page-break-after:always !important;
      break-after:always !important;
      border:1px solid red;
      height:100%;
      width:100%;
    }

    .break-before{
      clear:both;
      display:block !important;
      page-break-before:always;
      break-before:always;
    }

}

/*De 26.6 à 40.005*/
@media print and (min-width: 20cm) and (max-width: 30cm) and (min-height: 10cm) and (max-height: 28cm)
{

  aside .col12{
    width:59%;
  }

  aside .colimg{
    width:40%;
    border-right:1%;
  }

  aside p{
    font-size:24px;
    width:50%;
    color:red;
  }

  aside h1{
    font-size:20px;
    letter-spacing: 3px;
    width:100%;
    text-align:left;
  }

  .w1{
    width:60%;
  }

  .w10{
    width:60%;
  }

  .w89{
    width:30%;
  }

  .w78{
    width:30%;
  }

  .w45{
    width:30%;
  }

  .w34{
    width:30%;
  }

  .w23{
    width:30%;
  }

  .w36{
    width:30%;
  }

  .w12{
    width:30%;
  }

  .wP12{
    width:30%;
  }

  .w14{
    width:30%;
  }

  .wp1{
    width:30%;
  }

  .colimg-small{
    width:80% !important;
  }

  .wp2{
    width:25%;
  }

  .smaller{
    width:25%;
  }

  .smaller2{
    width:25%;
  }

  .smaller-carre{
    width:20%;
  }

  .wp-bigger3{
    width:100%;
  }

  .quote{
    font-family:'TGL 0-16', arial, sans-serif;
    letter-spacing: 0.5px;
    font-size:17px;
  }
  h3{
    font-family:'autopia', times, serif;
    text-transform: uppercase;
    font-size:17px;
    text-align: right;
  }

  section a{
    font-family:'autopia', times, serif;
    font-size:17px;
    color:black;
  }
  section a p{
    text-align: right;
    display: block !important;
    float: none;
  }

  section a:hover{
    font-family:'autopia', times, serif;
    text-transform: uppercase;
    font-size:17px;
    color:black;
  }

  ul{
    display: block;
  }

  li{
    font-family:'TGL 0-16', arial, sans-serif;
    letter-spacing: 0.5px;
    font-size:17px;
  }

  figcaption{
    font-family:'TGL 0-17', arial, sans-serif;
    font-size:17px;
  }

  .break-before{

    clear:both;
    display:block !important;
    page-break-before:always;
    break-before:always;
  }

}


/*De 26.6 à 40.005*/
/* @media print and (min-width: 20cm) and (max-width: 30cm)
{
  aside p{
    font-size:24px;
    width:50%;
    color:purple;
  }

  aside h1{
    font-size:24px;
    letter-spacing: 3px;
    width:100%;
    text-align:left;
  }

  .w1{
    width:10cm;
  }

  .w10{
    width:12cm;
  }

  .w89{
    width:12cm;
  }

  .w78{
    width:50%;
  }

  .w45{
    width:50%;
  }

  .w34{
    width:50%;
  }

  .w23{
    width:7cm;
  }

  .w36{
    width:10cm;
  }

  .w12{
    width:10cm;
  }

  .wP12{
    width:10cm;
  }

  .w14{
    width:7cm;
  }


  .quote{
    font-family:'TGL 0-16', arial, sans-serif;
    letter-spacing: 0.5px;
    font-size:17px;
  }
  h3{
    font-family:'autopia', times, serif;
    text-transform: uppercase;
    font-size:17px;
    text-align: right;
  }

  section a{
    font-family:'autopia', times, serif;
    font-size:17px;
    color:black;
  }
  section a p{
    text-align: right;
    display: block !important;
    float: none;
  }

  section a:hover{
    font-family:'autopia', times, serif;
    text-transform: uppercase;
    font-size:17px;
    color:black;
  }

  ul{
    display: block;
  }

  li{
    font-family:'TGL 0-16', arial, sans-serif;
    letter-spacing: 0.5px;
    font-size:17px;
  }

  figcaption{
    font-family:'TGL 0-17', arial, sans-serif;
    font-size:17px;
  }


} */

/*De +++ à 66.5*/
@media print and (min-width: 27cm) and (max-width: 50cm)
{


  .t1, .t2, .t3, .t4 {
    display:none;
  }

  .no-poster{
    display:none;
  }

  #index-print{
    display:none !important;
  }

  .titreCouv{
    display:none !important;
  }

  .titre-print{
    display:none !important;
  }

  .chapitre, .fiche{
    clear: none;
  }
  .chapitre{
    width:70%;
    margin-left:0;
    float: right;
  }
   .fiche{
    width:30%;
    margin-left:0;
    float:left !important;
  }

  aside .col12{
    width:100%;
  }

  aside .colimg{
    width:100%;
    height:auto;
  }

  aside .colimg figure{
    width:100%;
    height:auto;
  }

  .hypothese{
    width:100%;
    height:100%;
    overflow:hidden;
    vertical-align: top;
    page-break-before: always;
    break-before: always;
    float:none;
  }

  .hyp1{
    display:none;
  }

  aside .col12 p{
    font-size:25px;
    width:100%;
  }

  aside h1{
    font-size:40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    width:100%;
    text-align:left;
  }

  .w1{
    width:50%;
  }

  .w11{
    width:30%;
  }

  .w10{
    width:30%;
  }

  .w89{
    width:30%;
  }

  .w78{
    width:30%;
  }

  .w45{
    width:30%;
  }

  .w34{
    width:48%;
  }

  .w23{
    width:48%;
  }

  .w36{
    width:25%;
  }

  .w12{
    width:60%;
  }

  .w14{
    width:60%;
  }

  .wP12{
    width:100%;
  }

  .wp1{
    width:100%;
  }

  .wp-small{
    width:5cm;
  }

  .wp-small2{
    width:10cm;
  }

  .wp-bigger{
    width:30%;
  }
  .wp-bigger2{
    width:60%;
  }

  .quote{
    font-family:'TGL 0-16', arial, sans-serif;
    letter-spacing: 0.5px;
    font-size:15px;

  }
  h3{
    font-family:'autopia', times, serif;
    text-transform: uppercase;
    font-size:15px;
    text-align: right;
  }

  section a{
    font-family:'autopia', times, serif;
    font-size:15px;
    color:black;
  }
  section a p{
    text-align: right;
    display: block !important;
    float: none;
  }

  ul{
    display: block;
  }

  li{
    font-family:'TGL 0-16', arial, sans-serif;
    letter-spacing: 0.5px;
    font-size:15px;
  }

  figcaption{
    font-family:'TGL 0-17', arial, sans-serif;
    font-size:15px;
  text-align:left;
  }

}

/* De 18.3 à ??   ===== 000000000000000000000000000000000000000000000000000000000000000000000 */
/* @media print and (min-height: 10cm) and (max-height: 20cm)
{

  aside .col12{
    width:69%;
  }

  aside .colimg{
    width:30%;
    border-right:1%;
  }

  aside p{
    font-size:18px;
    width:100%;
    display:block !important;
    float:none !important;
  }

  aside h1{
    margin-top:30px;
    font-size:17px;
  }

  .wp1{
    width:30%;
  }

  .wp1-2{
    width:30%;
  }

  .w10{
    width:30%;
  }

  .w45{
    width:30%;
  }

  .w36{
    width:30%;
  }

  .w23{
    width:30%;
  }

  .smaller{
    width:30%;
  }

  .smaller2{
    width:20%;
  }

  .wp-bigger2{
    width:30%
  }

  .wp-bigger3{
    width:30%
  }

  .wp-bigger{
    width:30%
  }

  .no-play{
    display:none;
  }

  .only-print{
    display:inline-block;
  }

  .smaller-carre{
    width:30%;
  }

  .dos p{
    margin-bottom: 0.1cm;
  }

} */

/*Plus de 69*/
@media print and (min-width: 50cm)
{

  #atlas-hyp{
    margin-top: 7%;
  }

  .t1, .t2, .t3, .t4 {
    width:5%;
  }

  .poster-margin{
    margin-top:20%;
  }

  .titreCouv{
    display:none !important;
  }

  .titre-print{
    display:none !important;
  }

  .chapitre, .fiche{
    clear: none;
  }
  .chapitre{
    width:80%;
    margin-left:0;
    float: right;
  }
   .fiche{
    width:20%;
    margin-left:0;
    float:left !important;
  }

  aside .col12{
    width:100%;
  }

  aside .colimg{
    width:100%;
    height:auto;
  }

  aside .colimg figure{
    width:100%;
    height:auto;
  }

  .hypothese{
    margin-left: 1cm;
    width:100%;
    overflow:hidden;
    width:31%;
    display:inline-block!important;
    vertical-align: top;
    float:left !important;
  }

  .hyp1{
    display:none;
  }

  aside .col12 p{
    font-size:18px;
    width:100%;
  }

  aside h1{
    font-size:40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    width:100%;
    text-align:left;
  }


  .w1{
    width:10cm;
  }

  .w11{
    width:10cm;
  }

  .w10{
    width:10cm;
  }

  .w89{
    width:15cm;
  }

  .w78{
    width:10cm;
  }

  .w45{
    width:10cm;
  }

  .w34{
    width:10cm;
  }

  .w23{
    width:12cm;
  }

  .w36{
    width:6cm;
  }

  .w12{
    width:4cm;
  }

  .w14{
    width:3cm;
  }

  .wP12{
    width:15cm;
  }

  .wp1{
    width:25cm;
  }

  .break-before{
    page-break-before:avoid;
    break-before:avoid;
    height:auto;
  }

  .quote{
    font-family:'TGL 0-16', arial, sans-serif;
    letter-spacing: 0.5px;
    font-size:15px;

  }
  h3{
    font-family:'autopia', times, serif;
    text-transform: uppercase;
    font-size:15px;
    text-align: right;
  }

  section a{
    font-family:'autopia', times, serif;
    font-size:15px;
    color:black;
  }
  section a p{
    text-align: right;
    display: block !important;
    float: none;
  }

  ul{
    display: block;
  }

  li{
    font-family:'TGL 0-16', arial, sans-serif;
    letter-spacing: 0.5px;
    font-size:15px;
  }

  figcaption{
    font-family:'TGL 0-17', arial, sans-serif;
    font-size:15px;
  /*     text-align:left; */
  }
}

.col.fr{
  display:none !important;
}

/* Pour l'impression en anglais : */

.index-part .fr, #about-print.fr{
  display:none !important;
}
