/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */

html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fr, section.fr{
  display:none;
}


/* COMMUN */

body{
  height:100%;
}

.titreCouv{
  display:none;
}

.titre-print{
  display:none;
}

.intro{
  display:none;
}

.thumb-fin{
  display:none;
}

.only-print{
  display:none;
}

#about-print{
  display:none;
}

.dos{
  display:none;
}

.menu{
  background-image:linear-gradient(to right, #fbff00 ,rgba(255, 255, 255, 0));
  color:black;
  bottom:5%;
  position: fixed;
  height:100%;
  width:1.5%;
  text-align:center;
  border:none;
  z-index:200;
  top:0;
  padding-bottom: 0.5%;
}

.menu:hover{
  background-image:linear-gradient(to right, #fbff00 ,rgba(255, 255, 255, 0));
  width:2%;
}

.menu p{
  font-family:'tgl', arial, sans-serif;
  letter-spacing: 20px;
  font-size:10px;
  text-align:center;
  top:47%;
  position:fixed;
  margin-left: -67px;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  text-transform: uppercase;
}

.accueil p{
  font-family:'tgl', arial, sans-serif;
  letter-spacing: 20px;
  font-size:10px;
  text-align:center;
  top:47%;
  position:fixed;
  margin-left: -67px;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  text-transform: uppercase;
}

#index-print{
  display:none;
}

.english{
  top:0px;
  right:7%;
  float:right;
  cursor:pointer;
  margin-left: 15px;
  border-bottom:1px solid black;
}

.francais{
  border-bottom:1px solid black;
  float:right;
  margin-left: 15px;
  cursor:pointer;
}

.bar{
  right:7%;
  position: fixed;
  z-index:2000;
  font-family:'tgl', arial, sans-serif;
  letter-spacing:2px;
  font-size:10px;
  border:none;
  top:0;
  width:50%;
  margin-top:2px;
}

.bar-top{
  background-image:linear-gradient(white, rgba(255, 255, 255, 0));
  width:100%;
  position: fixed;
  right:0;
  top:0;
  height:4%;
}

.documentation{
  cursor:pointer;
  float:right;
  margin-left: 15px;
  border-bottom:1px solid black;
}

.documentation2{
  cursor:pointer;
  float:right;
  border-bottom:1px solid black;
}


.accueil{
  background-image:linear-gradient(to right, rgba(255, 255, 255, 0) ,rgb(223, 223, 223));
  color:black;
  bottom:0;
  right: 0px;
  position: fixed;
  height:100%;
  width:1.5%;
  text-align:center;
  vertical-align: bottom;
  display: inline-block;
  font-family:'tgl', arial, sans-serif;
  letter-spacing: 12px;
  font-size:12px;
  padding-top: 0.5%;
  z-index:200;
  text-transform: uppercase;
}

.accueil:hover{
  background-image:linear-gradient(to right, rgba(255, 255, 255, 0) ,rgb(223, 223, 223));
  position: fixed;
  vertical-align: bottom;
  width:2%;
}

aside{
  z-index:-10;
  blackground-color:white;
  width:88%;
  margin-left:6%;
  margin-top:1.5%;
}

.fiche{
  height:100%;
  position:fixed;
}

main{
  display: block;
  z-index:10;
  overflow: hidden;
  padding-top:1000px;
  width:88%;
  margin:6%;
}

#main-1{
  padding-top:250px;
}


.fiche{
  display:none;
  top:0;
}

.shown{
  display: block;
  height:100%;
}

.shown2{
  display: block;
}

.top{
  position:fixed;
  z-index:-100;
  height:100%;
  width:100%;
}

.quote{
  font-family:'tgl', arial, sans-serif;
  letter-spacing: 0.5px;
  font-size:14px;
  letter-spacing: 0.5px;
}
h3{
  font-family:'autopia', times, serif;
  text-transform: uppercase;
  font-size:12px;
  text-align: right;
}

section a{
  font-family:'autopia', times, serif;
  font-size:12px;
  color:black;
}
section a p{
  text-align: right;
  display: block;
  float: none;
}

section a:hover{
  text-transform: uppercase;
  font-size:14px;
  color:black;
}

a, section a p{
  text-align: right;
  display: block;
  float: none;
  text-decoration: none;
  color:black;
}

a:hover, section a:hover{
  color:black;
}

ul{
  display: block;
}

li{
  font-family:'tgl', arial, sans-serif;
  letter-spacing: 0.5px;
  font-size:14px;

}

.box-phrase{
  background-color: white;
  margin:10px;
  box-shadow: -10px 10px 15px -10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding:20px;
}

.phrase{
  font-family:'autopia', arial, sans-serif;
  letter-spacing: 0.5px;
  font-size:20px;
}

#diabolo{
  display: block;
}

#relief{
  height:100%;
  display: block;
}

#global{
  height:100%;
  display: block;
}

#gravite{
  height:100%;
  display: block;
}

.separateur{
  width:100%;
  height:500px;
}

.s2{
  border-bottom: 1px solid black;
  overflow: hidden;
}

figure{
  width:100%;
  margin:0px;
}

img{
  width:100%;
  display:block;
}

.img-inline{
  display:inline-block;
}

.border{
  border:1px dotted black;
  background-color: white;
}

.txt{
  width:40%;
  float:left;
}

section p{
  font-family:'autopia', times, serif;
  font-size:15px;
  float:left;
  padding:0px 2px;
}

p{
  display:inline-block;
  font-family:'autopia', times, serif;
  font-size:25px;
  padding:0px 2px;
  line-height: 140%;
}

aside p{
  display:inline-block;
  float:left;
  font-family:'autopia', times, serif;
  font-size:1.5vw;
  margin-bottom:20px;
  line-height: 140%;
}


.txt-petit p{
  font-size:25px !important;
}

figcaption{
  font-family:'tgl', arial, sans-serif;
  font-size:14px;
  text-align:center;
}
.capVideo{
  border:1px solid black;
  padding-bottom: 8px;
  background:white;
}

h1{
  font-family:'autopia', times, serif;
  display:block;
  font-size:1.5vw;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 20px;
}

.hyp1 .col1 h2{
    font-size:1.3vw;
    letter-spacing: 10px;
    text-align: center;
}

.intro2{
  margin-top: 50px;
}


i{
  font-style: normal;
  border-bottom: 1px solid #00ba21;
  font-family:'tgl';
  display:inline-block;
  font-size:17px;
  padding:0px 2px;
}

em{
  font-style: normal;
  border-bottom: 1px solid black;
  font-family:'autopia';
  letter-spacing: 10px;
}

p.ind-1{
  margin-left: 15px;
}

li:before {
  content: "→ "; /* caractère UTF-8 */
}

.gCap{
  color:#00af1f;
}

.bCap{
  color:#2338bd;
}

.rCap{
  color:red;
}

p.ind-2{
  margin-left: 50px;
}

p.encadre{
  font-family:'tgl';
  font-size: 14px;
  text-align: left;
}

h2{
  font-family:'autopia';
  font-size: 24px;
}

section{
  display:inline-block;
  padding:0px;
  margin:3px;
}

video{
  display:inline-block;
}


.right{
  float:right;
}

.left{
  float:left;
}

.block{
  display:block;
}


.w10{
  width:900px;
}

.w89{
  width:800px;
}

.w78{
  width:700px;
}

.w45{
  width:600px;
}

.w34{
  width:500px;
}

.w23{
  width:400px;
}

.w36{
  width:300px;
}

.w12{
  width:200px;
}

.wP12{
  width:50%;
}

.w14{
  width:150px;
}

.wmin{
  width:90px;
}

.m{
  margin:-20px;
}

.d1{
  margin-top:-130px;
}

.w1{
  width:100%;
}

aside.img-fiche{
  height:100%;
}

.fiche .col1 h1{
  margin-bottom:10px;
  padding:0;
}

.col{
  float:left;
  padding:4px;
}

.col1{
  width:100%;
  clear: both;
}

.col12{
  width:50%;
}

.colimg{
  width:50%;
  height:90%;
}

.colimg figure{
  height:100%;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

.colimg figure img{
  margin-left: auto;
  margin-right: auto;
  display:block;
  overflow: hidden;
  height:100%;
  max-width: 100%;
  width:auto;
}

.col23{
  width:66%;
}

.col13{
  width:30%;
}

.b4{
  background-color: white;
  padding:20px;
  border: 1px dotted black;
}

.b8{
  background-color: white;
  border: 1px solid black;
  padding:5px;
}


.b6{
  background-color: white;
}
.b7{
  background-color: rgba(255, 255, 255, 0.97);
  -moz-box-shadow: 1px 1px 10px 0px #cfcfcf;
  -webkit-box-shadow: 1px 1px 10px 0px #cfcfcf;
  -o-box-shadow: 1px 1px 10px 0px #cfcfcf;
  box-shadow: 1px 1px 10px 0px #cfcfcf;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=10);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.b5{
  background-color: #eaeaea;
  padding:20px;
  border: 1px dotted #00af1f;
}

.b1{
  background-image: linear-gradient(white, rgba(240, 240, 240, 0.48));
}

.b2{
  background-image: linear-gradient(white, rgba(225, 225, 225, 0.65));
}

.b3{
  background-image: linear-gradient(white, rgba(237, 237, 237, 0.3));
}


/* Style cascade */


video{
  width:100%;
}

.video-img{
  display:none;
}

.ombre{
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.background{
  border:1px solid black;
}

.images{
  border:1px solid black;
  width:30%;
  position:absolute;
  right:60px;
  top:10px;
}

#img1{
  right:60px;
  top:10px;
}

#img2{
  right:540px;
  top:80px;
}

.box{
  width:300px;
  height:auto;
  position:absolute;
  display:none;
}

.head,.body{
  display:block;
}

.body{
  position:relative;
}

.hidden{
  display:none !important;
}

/* POP UP */

.white-popup{
  position: relative;
  width: auto;
  height:100%;
  max-width: 97%;
  margin:0px auto;
	color:black;
	font-size: 40px;
	line-height: 130%;
}

.index-colonne{
  margin-top: 2%;
  width:11.5%;
  float:left;
  margin-right:1%;

}

.index-colonne .index-part{
  width:100%;
  float:left;
}


.index-colonne .index-part .img-fiche{
  width:100%;
  float:left;
}

.part-txt{
  width:100%;
  float:left;
}

.part-img{
  width:100%;
  float:left;
}

.white-popup h1{
  font-size:1vw;
  letter-spacing: 4px;
  color:black;
  text-decoration: none;
  font-family:'autopia';
  text-align:left;
  border:none;
  margin:10px 0 0 0;
  padding:0px;
  display:block;
  line-height:110%;
}
.white-popup p{
  font-size:14px;
  display:block;
  float:none;
  padding:0px;
  line-height:100%;
}

.white-popup .footer{
  width:100%;
}

.white-popup .footer p{
  float:left;
  font-family:'tgl', arial, sans-serif;
  font-size: 14px;
}
.about{
  margin-top: 3%;
}

.about h1{
  letter-spacing: 5px;
  line-height: 120%;
  font-size: 25px;
}

.about h2{
  letter-spacing: 5px;
  line-height: 120%;
  font-size: 15px;
}

.about h6{
  font-family:'tgl', arial, sans-serif !important;
  margin-top: 20px !important;
}

.about h6 a, .about .footer a{
  font-family:'tgl', arial, sans-serif !important;
}

.about h6 a:hover, .about .footer a:hover{
  font-family:'tgl', arial, sans-serif !important;
}

.about .first{
  margin-top: 100px;
}


.about .col{
  padding:0;
}

.about .col1{
  width:60%;
  font-size: 25px;
}

.about .col13{
  width:100%;
}
.about select{
  margin-top: 50px;
}

.about h6{
  font-family:'tgl', arial, sans-serif;
  font-size: 14px;
  margin:0;
  padding:0;
  line-height: 120%;
}

.about #merci{
  padding-top: 30px;
}

.about p{
  margin-bottom: 10px;
}

.about-txt{
    width:40%;
    float:left;
}
.about-img{
    width:55%;
    margin-left: 5%;
    float:left;
}

.about-img img{
  margin-bottom: 40px;
}

/* .about p{
  color:red;
  font-family:'tgl', arial, sans-serif;
}

 */

/* #upM {
  margin-top: 3%;
}

#upM p{
  margin-bottom: 20px;
}
 */
.white-popup a{
  color:black;
  text-decoration: none;
  font-family:'autopia';
  border-bottom:1px solid black;
  float:none;
  display:inline-block;
}
.white-popup a:hover{
  text-transform:uppercase;
}

.thumb{
  width:6%;
  position:fixed;
  z-index:1000;
}
.t1{
  top:0;
  left:0;
}
.t2{
  top:0;
  right:0;
}
.t3{
  bottom:0;
  right:0;

}
.t4{
  bottom:0;
  left:0;
}

.about p{
  font-size:16px;
  line-height: 140%;
}

/* Lazy Load XT 1.0.6 | MIT License */
.lazy-hidden{}



@media screen and (min-width: 800px) and (max-width: 1000px) {

  /* Taille des images SMARTPHONE*/
  .w10, .w89{
    width:100%;
  }

}

@media screen and (min-width: 640px) and (max-width: 800px) {

  /* Taille des images SMARTPHONE*/
  .w10, .w89, .w78, {
    width:100%;
  }

}

@media screen and (min-width: 200px) and (max-width: 640px) {

  .thumb img:nth-child(1),#thumbnails img:nth-child(2),#thumbnails img:nth-child(3),#thumbnails img:nth-child(4){
    display:block;
  }

/* .menu{
  width:80%;
  left:10%;
} */

/* .menu:hover{
  width:80%;
  left:10%;
} */


/* .index-colonne{
  width:100%;
  float:left;
} */

/* .white-popup{
  position: relative;
  width: auto;
  height:100%;
  max-width: 97%;
  margin:0px auto;
  color:black;
  font-size: 40px;
  line-height: 130%;
  overflow: hidden;
} */

/* .index-colonne{
  width:100%;
  float:left;
} */

/* .c1{
margin:30px 0 0 0;
} */

/* .c2{
  margin:0%;
} */

/* .c3{
  margin:0%;
} */

/* .white-popup h1{
  font-size:4vw;
  letter-spacing: 1px;
  color:black;
  text-decoration: none;
  font-family:'autopia';
  text-align:left;
  border:none;
  margin:15px 0 0 0;
  padding:0px;
  display:block;
  line-height:100%;
} */
/* .white-popup p{
  display: none;
  } */

/* .white-popup a{
  color:black;
  text-decoration: none;
  font-family:'autopia';
  border:none;
  margin:0;
  padding:0px;
} */

/* .accueil{
  width:80%;
  left:10%;
} */

/* main{
  display:block;
  position:static;
  z-index:0;
  overflow: visible;
  padding-top:0px;
  width:80%;
  margin:10%;
} */

/* aside{
  overflow: visible;
  display:block;
  position:static;
  width:80%;
  margin:10%;
  z-index:0;
} */

aside p{
  font-size:2.5vw;
  line-height: 140%;
}

aside h1{
  margin-top: 20px;
  font-size:2.5vw;
  letter-spacing: 2px;
}


/* .fiche{
  display:block;
  width:80%;
  position:relative;
} */

/* .col12{
  width:100%;
} */

/* .colimg{
  width:100%;
}  */

/*   .b4, .b5, .b6, .b7 {
  border: none;
} */

  /* Quand la video est fullscreen*/
/* Styling HTML element */
	video:-webkit-full-screen { background: #333; }
	video:-moz-full-screen { background: #333; }
	video:full-screen { background: #333; }
	video:fullscreen { background: #333; }

	:-webkit-full-screen body { background: #66d; }
	:-moz-full-screen body { background: #66d; }
	:full-screen body { background: #66d; }
	:fullscreen body { background: #66d; }


  /* Taille des images SMARTPHONE*/
  .w10, .w89, .w78, .w45, .w34, .w23, .w36, .w12, .wP12, .w14{
    width:48%;
  }

  .t1, .t2, .t3, .t4 {
    width:10%;
  }



}
