@charset "UTF-8";
/*!
Theme Name: sleek2017
Theme URI: http://underscores.me/
Author: Sleek
Author URI: http://www.sleek-mag.com
Description: Sleek!
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: sleek
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

sleek2016 is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 2em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Sleek Structural Additions
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/*
.rsUni .rsGCaption {
	width: 100%;
	
	text-align: center;
	z-index: 90;
}
*/
a.rsLink,
.rsSubhed {
  text-align: center;
  left: 0;
  right: 0;
  height: auto;
  font-family: "favoritmedium", sans-serif;
  color: white;
  text-decoration: none;
}
a.rsLink:visited, a.rsLink:hover,
.rsSubhed:visited,
.rsSubhed:hover {
  color: #FFF;
  text-decoration: none;
}
a.rsLink:hover,
.rsSubhed:hover {
  cursor: pointer;
}

a.rsLink {
  top: 37.5%;
  margin: 0 auto;
  width: 90%;
  white-space: normal;
  font-size: 4.5rem;
  line-height: 5.5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  text-indent: 0;
}

.rsSubhed {
  display: block;
  top: 53.5%;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 20;
  outline: none;
  overflow: hidden;
  font-size: 2.25rem;
  line-height: 1.25;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  -webkit-backface-visibility: hidden;
}

.royalSlider {
  margin: 20px auto 1.5rem auto;
  max-width: 1260px;
}

.rsUni {
  background: #FFF;
}
.rsUni .rsArrowIcn {
  width: 3.5em;
  height: 3.5em;
}
.rsUni .rsSlide,
.rsUni .rsOverflow {
  background: #FFF;
}
.rsUni .rsBullets {
  display: none;
}
.rsUni.rsHor .rsArrowLeft .rsArrowIcn,
.rsUni.rsHor .rsArrowRight .rsArrowIcn {
  background-repeat: no-repeat;
  margin-left: 0;
  left: 0;
}
.rsUni.rsHor .rsArrowLeft .rsArrowIcn {
  background-position: center right;
}
.rsUni.rsHor .rsArrowRight .rsArrowIcn {
  background-position: center left;
}

.home .rsArrowLeft .rsArrowIcn {
  background: url("images/leftarrow.svg");
}
.home .rsArrowRight .rsArrowIcn {
  background: url("images/rightarrow.svg");
}

.single .royalSlider {
  margin-bottom: 1rem;
}
.single .royalSlider .rsBullets {
  padding-top: 0;
}
.single .royalSlider .rsThumbs {
  background: #FFF;
  padding: 0.5rem 0;
}

.rsArrowLeft .rsArrowIcn {
  background: url("images/leftarrow_black.svg");
}

.rsArrowRight .rsArrowIcn {
  background: url("images/rightarrow_black.svg");
}

@media screen and (max-width: 1024px) {
  a.rsLink {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }

  .rsSubhed {
    font-size: 1.75rem;
    top: 55%;
  }
}
@media screen and (max-width: 768px) {
  .royalSlider {
    margin-top: 0;
  }

  a.rsLink {
    font-size: 1.75rem;
    line-height: 1;
    top: 45%;
  }
  a.rsLink.rsCat {
    display: none;
  }

  .rsSubhed {
    display: none;
  }
}
@media screen and (max-width: 568px) {
  a.rsLink {
    font-size: 1.25rem;
    width: 75%;
  }

  .rsSubhed {
    font-size: 0.625rem;
    top: 75%;
  }
}
@media screen and (max-width: 480px) {
  .rsUni .rsBullets {
    display: block;
  }
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #000;
  font-family: "Sabon LT W01 Roman", "Georgia", serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.35;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
}

p {
  margin-bottom: 1.5em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  font: italic 1.25rem/calc(34/19) "Sabon LT W01 Roman", "Georgia", serif;
  margin: 2rem 0 2rem 0;
}
blockquote p {
  margin: 0;
  font: normal 1.5rem/calc(34/19) "Sabon LT W01 Roman", "Georgia", serif;
}
@media screen and (max-width: 480px) {
  blockquote {
    font-size: 1.5rem;
  }
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

p {
  font-family: "Sabon LT W01 Roman", "Georgia", serif;
  font-size: 1.125rem;
  line-height: calc(30/18);
}

@font-face {
  font-family: 'favoritmedium';
  src: url("fonts/favorit-medium-webfont.woff2") format("woff2"), url("fonts/favorit-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Baskerville W01 Regular_705699";
  src: url("fonts/8dc59876-75a4-4e80-bd1a-735d5f043beb.eot?#iefix");
  src: url("fonts/8dc59876-75a4-4e80-bd1a-735d5f043beb.eot?#iefix") format("eot"), url("fonts/9d829c2e-8420-477a-8b80-803b796e3253.woff2") format("woff2"), url("fonts/9df317a3-a79e-422e-b4e2-35ccd29cd5b7.woff") format("woff"), url("fonts/32d18512-4cc1-4c1c-a041-e595f26d1b96.ttf") format("truetype"), url("fonts/cf682c43-15a5-45c0-934e-8f899e561e1f.svg#cf682c43-15a5-45c0-934e-8f899e561e1f") format("svg");
}
@font-face {
  font-family: "Sabon LT W01 Roman";
  src: url("fonts/d30018fa-c2be-4921-a779-0a9b8db54fe7.eot?#iefix");
  src: url("fonts/d30018fa-c2be-4921-a779-0a9b8db54fe7.eot?#iefix") format("eot"), url("fonts/17ca8435-8c30-45f1-9c59-a7f27b7905f1.woff2") format("woff2"), url("fonts/d93bebe4-cefa-455e-8b51-eaae50be173e.woff") format("woff"), url("fonts/7849e7c1-08a0-4e13-a6cd-d2900c236af5.ttf") format("truetype"), url("fonts/d1246e5a-1d35-4bc9-b785-d05e0408a757.svg#d1246e5a-1d35-4bc9-b785-d05e0408a757") format("svg");
}
@font-face {
  font-family: "Sabon LT W01 Italic";
  src: url("fonts/72d35842-98bb-422e-8e0a-686bfbabb630.eot?#iefix");
  src: url("fonts/72d35842-98bb-422e-8e0a-686bfbabb630.eot?#iefix") format("eot"), url("fonts/637fbfae-c5e3-451b-a783-c1a9acca093f.woff2") format("woff2"), url("fonts/a9baeb23-afc5-4d93-bf9f-b83fd44a2220.woff") format("woff"), url("fonts/bc89f8d2-4ac8-4c99-aa40-a31cea6d7b5a.ttf") format("truetype"), url("fonts/6bde6158-cef2-4c4f-b120-4e8b482c742d.svg#6bde6158-cef2-4c4f-b120-4e8b482c742d") format("svg");
}
@font-face {
  font-family: "Sabon ET W01 Roman";
  src: url("fonts/d05a88aa-aae3-484a-8696-caf2a2371035.eot?#iefix");
  src: url("fonts/d05a88aa-aae3-484a-8696-caf2a2371035.eot?#iefix") format("eot"), url("fonts/ef12a52c-a47f-49fe-b5bb-ee15aa7b5377.woff2") format("woff2"), url("fonts/13b0a4ee-3238-4837-bb6e-162ae2990401.woff") format("woff"), url("fonts/39085db1-1140-43b6-bd13-a6f8a8d99ea7.ttf") format("truetype"), url("fonts/dfc709c9-7a96-49b3-81ae-c491019772a7.svg#dfc709c9-7a96-49b3-81ae-c491019772a7") format("svg");
}
@font-face {
  font-family: "Sabon ET W01 Italic";
  src: url("fonts/b5a69a96-ee12-4c32-af29-71aca8591511.eot?#iefix");
  src: url("fonts/b5a69a96-ee12-4c32-af29-71aca8591511.eot?#iefix") format("eot"), url("fonts/ec595c98-49a2-4f80-bbc5-01a8ad28b526.woff2") format("woff2"), url("fonts/89d9019b-be0f-4f4a-ac69-a68ea4da7c55.woff") format("woff"), url("fonts/f8f78b98-38cd-4e10-bdaa-e6df674c72ac.ttf") format("truetype"), url("fonts/a9897054-4854-410a-a9cd-34e332de5715.svg#a9897054-4854-410a-a9cd-34e332de5715") format("svg");
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 0;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: black;
  transition: .1s;
}
a:visited {
  color: black;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  max-width: 1260px;
  margin: 0 auto;
}
.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
}
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
  left: 100%;
}
.main-navigation ul ul a {
  width: 200px;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}
.main-navigation li {
  float: left;
  position: relative;
}
.main-navigation a {
  text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: block;
  }
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before::after,
.clear:after::after,
.entry-content:before::after,
.entry-content:after::after,
.comment-content:before::after,
.comment-content:after::after,
.site-header:before::after,
.site-header:after::after,
.site-content:before::after,
.site-content:after::after,
.site-footer:before::after,
.site-footer:after::after {
  clear: both;
  content: "";
  display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 auto 1.5rem auto;
  /* Make sure select elements fit in widgets. */
}
.widget select {
  max-width: 100%;
}

.widget-area {
  text-align: center;
}
.widget-area h2 {
  display: inline-block;
  font: normal 1rem/1.25rem "favoritmedium", sans-serif;
  margin: 1rem auto;
  border-bottom: 2px solid #000;
}
.widget-area h2:first-child {
  margin-top: 0;
}
.widget-area a {
  text-decoration: none;
}

.widget_text {
  max-width: 300px;
}

.fb-link {
  display: block;
  width: 100%;
  padding-bottom: 90%;
  background-image: url("images/fb_sidebar_layer.jpg");
  background-size: cover;
  position: relative;
  float: left;
  clear: both;
  margin-bottom: 1rem;
}
.fb-link p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  color: white;
  font-family: "favoritmedium", sans-serif;
  font-size: 0.8rem;
}

.widget_text a img {
  width: 100%;
}

.page-id-1563 #text-47,
.page-id-1563 #text-25 {
  display: none;
}

.twitter-link {
  font-family: "favoritmedium", sans-serif;
  font-size: 1.25rem;
}
.twitter-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .widget-area {
    /*
    		h2 {
    			width: 85%;	
    		}
    */
  }
  .widget-area ul {
    width: 85%;
  }
  .widget-area li {
    width: 85%;
    margin: 0 auto;
  }
  .widget-area img,
  .widget-area ul {
    margin: 0 auto 1rem auto;
  }

  .widget_text a img {
    width: auto;
  }
}
@media screen and (max-width: 480px) {
  .widget-area {
    margin-top: 2rem;
  }
}
.widget_wmp_widget {
  width: 300px;
  margin: 0 auto;
}

.wp-most-popular {
  list-style: none;
  list-style-type: none;
  margin: 0 0 1.5em 0;
  overflow: auto;
  padding: 0;
}
.wp-most-popular li {
  float: left;
  display: block;
  margin-right: 6.66667%;
  width: 100%;
  margin-right: 0;
  margin-bottom: 1rem;
}
.wp-most-popular li:last-child {
  margin-right: 0;
}
.wp-most-popular a {
  font: normal 1rem/1.25 "favoritmedium", sans-serif;
  text-align: left;
  display: inline-block;
  overflow: hidden;
}
.wp-most-popular img {
  vertical-align: middle;
  width: 100%;
  margin-bottom: 0.1rem;
}
@media screen and (max-width: 960px) {
  .wp-most-popular img {
    height: auto;
    max-height: none;
  }
}

@media screen and (max-width: 768px) {
  .widget_wmp_widget {
    width: auto;
  }
  .widget_wmp_widget h2 {
    width: auto;
  }
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.content-area {
  float: left;
  margin: 0 0% 0 0;
  width: 100%;
}

.site-main {
  margin: 0 0% 0 0;
}

.site-content .widget-area {
  float: right;
  overflow: hidden;
  width: 0%;
}

.site-footer {
  clear: both;
  width: 100%;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1rem 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5rem;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 2em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.375rem;
}
.wp-caption .wp-caption-text {
  margin: 0;
  text-align: right;
  font: normal 0.875rem/1.0625rem "favoritmedium", sans-serif;
}
.wp-caption .wp-caption-text:before {
  content: "– ";
}

.wp-caption-text {
  font-size: .75rem;
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 2em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Sleek Style Additions
--------------------------------------------------------------*/
.site {
  margin: 0 auto;
}

.logged-in .site-content {
  margin-top: 120px;
}

.site-content {
  width: 100%;
  max-width: 1260px;
  margin-top: 150px;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}
.site-content::after {
  clear: both;
  content: "";
  display: table;
}

.site-main {
  width: 100%;
}

.home #primary,
.category #primary,
.page.page-template-page-contributors #primary {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%;
  margin-right: 0;
}
.home #primary:last-child,
.category #primary:last-child,
.page.page-template-page-contributors #primary:last-child {
  margin-right: 0;
}

.single #primary.gallery {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%;
  margin-right: 0;
}
.single #primary.gallery:last-child {
  margin-right: 0;
}
.single .related div article {
  float: left;
  display: block;
  margin-right: 3.22581%;
  width: 48.3871%;
}
.single .related div article:last-child {
  margin-right: 0;
}
.single .related div article:nth-child(2n) {
  margin-right: 0;
}
.single .related div article:nth-child(2n+1) {
  clear: left;
}

.single #primary,
.page #primary,
.author #primary {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 65.95745%;
}
.single #primary:last-child,
.page #primary:last-child,
.author #primary:last-child {
  margin-right: 0;
}

.home article,
.category article,
.page.page-template-page-contributors article {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 31.91489%;
}
.home article:last-child,
.category article:last-child,
.page.page-template-page-contributors article:last-child {
  margin-right: 0;
}
.home article:nth-child(3n),
.category article:nth-child(3n),
.page.page-template-page-contributors article:nth-child(3n) {
  margin-right: 0;
}
.home article:nth-child(3n+1),
.category article:nth-child(3n+1),
.page.page-template-page-contributors article:nth-child(3n+1) {
  clear: left;
}

.author article {
  float: left;
  display: block;
  margin-right: 3.22581%;
  width: 48.3871%;
}
.author article:last-child {
  margin-right: 0;
}
.author article:nth-child(2n) {
  margin-right: 0;
}
.author article:nth-child(2n+1) {
  clear: left;
}

/*
.category {
	article {
		@include span-columns(3 of 12);
		@include omega(4n);
	}
}
*/
#secondary {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 31.91489%;
}
#secondary:last-child {
  margin-right: 0;
}

footer {
  margin-top: 1rem;
}

@media screen and (max-width: 960px) {
  .single #primary,
  .page #primary,
  .author #primary {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 61.29032%;
  }
  .single #primary:last-child,
  .page #primary:last-child,
  .author #primary:last-child {
    margin-right: 0;
  }

  .category article {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 31.91489%;
  }
  .category article:last-child {
    margin-right: 0;
  }
  .category article:nth-child(4n) {
    margin-right: 2.12766%;
  }
  .category article:nth-child(4n+1) {
    clear: none;
  }
  .category article:nth-child(3n) {
    margin-right: 0;
  }
  .category article:nth-child(3n+1) {
    clear: left;
  }

  #secondary {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 35.48387%;
  }
  #secondary:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .logged-in .site-content {
    margin-top: 10px;
  }

  .site-content {
    margin-top: 53px;
  }

  .single #primary,
  .page #primary,
  .author #primary {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 100%;
  }
  .single #primary:last-child,
  .page #primary:last-child,
  .author #primary:last-child {
    margin-right: 0;
  }

  .home article,
  .category article,
  .page.page-template-page-contributors article {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 48.3871%;
  }
  .home article:last-child,
  .category article:last-child,
  .page.page-template-page-contributors article:last-child {
    margin-right: 0;
  }
  .home article:nth-child(3n),
  .category article:nth-child(3n),
  .page.page-template-page-contributors article:nth-child(3n) {
    margin-right: 3.22581%;
  }
  .home article:nth-child(3n+1),
  .category article:nth-child(3n+1),
  .page.page-template-page-contributors article:nth-child(3n+1) {
    clear: none;
  }
  .home article:nth-child(2n),
  .category article:nth-child(2n),
  .page.page-template-page-contributors article:nth-child(2n) {
    margin-right: 0;
  }
  .home article:nth-child(2n+1),
  .category article:nth-child(2n+1),
  .page.page-template-page-contributors article:nth-child(2n+1) {
    clear: left;
  }

  #secondary {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 100%;
  }
  #secondary:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 568px) {
  .home article,
  .category article,
  .author article,
  .single .related div article,
  .page.page-template-page-contributors article {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
    margin-right: 0;
  }
  .home article:last-child,
  .category article:last-child,
  .author article:last-child,
  .single .related div article:last-child,
  .page.page-template-page-contributors article:last-child {
    margin-right: 0;
  }

  .home article:nth-child(2n),
  .category article:nth-child(2n),
  .page.page-template-page-contributors article:nth-child(2n) {
    margin-right: 6.66667%;
  }
  .home article:nth-child(2n+1),
  .category article:nth-child(2n+1),
  .page.page-template-page-contributors article:nth-child(2n+1) {
    clear: none;
  }

  .author article:nth-child(2n),
  .single .related div article:nth-child(2n) {
    margin-right: 3.22581%;
  }
  .author article:nth-child(2n+1),
  .single .related div article:nth-child(2n+1) {
    clear: none;
  }
}
.home article.social-tile {
  display: block;
  color: #000;
  height: 402px;
  margin-bottom: 2rem;
  text-align: center;
}
.home article.social-tile a {
  display: inline-block;
  background: #F7F7F7;
  width: 100%;
  min-height: 300px;
  height: 100%;
  overflow: auto;
  text-decoration: none;
}
.home article.social-tile h2,
.home article.social-tile strong {
  height: auto;
  vertical-align: middle;
  text-align: center;
}
.home article.social-tile h2 {
  font: normal 1rem/1.25 "favoritmedium", sans-serif;
  display: inline-block;
  line-height: 1.2;
  margin: 7.25rem auto 0 auto;
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}
.home article.social-tile strong {
  display: block;
  margin: 0.5rem auto 0 auto;
  font-family: "favoritmedium", sans-serif;
  font-size: 0.75rem;
  font-weight: normal;
  text-align: center;
}
.home article.social-tile .entry-content {
  overflow: auto;
  margin-top: 0;
  height: 100%;
}
@media screen and (max-width: 568px) {
  .home article.social-tile .entry-content {
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .home article.social-tile .entry-content br {
    display: none;
  }
  .home article.social-tile .entry-content a {
    height: auto;
  }
}
@media screen and (max-width: 568px) {
  .home article.social-tile {
    margin-top: 2rem;
    height: auto;
  }
}
.home article.tile-newsletter, .home article.tile-contrib {
  background: #FFF;
  color: black;
}
.home article.tile-newsletter .entry-content, .home article.tile-contrib .entry-content {
  background: #FFF;
  overflow: hidden;
}
.home article.tile-newsletter {
  height: 402px;
}
.home article.tile-newsletter .entry-content {
  background: #F7F7F7;
  height: 100%;
}
.home article.tile-newsletter h2,
.home article.tile-newsletter a {
  color: black;
}
@media screen and (max-width: 1024px) {
  .home article.tile-newsletter h2 {
    font-size: 1.5rem;
  }
}
.home article.tile-contrib .entry-content {
  height: auto;
}
.home article.tile-contrib a {
  display: block;
  margin: 0 auto 1rem auto;
  width: 65%;
  background: #FFF;
  height: auto;
}
.home article.tile-contrib img:hover {
  transform: none;
}

.tile-newsletter #mc_embed_signup {
  width: 80%;
  margin: 1.66rem auto 0 auto;
  clear: left;
  font: 2rem 'favorit', Arial, sans-serif;
}
.tile-newsletter #mc_embed_signup form {
  padding: 0;
}
.tile-newsletter #mc_embed_signup .mc-field-group {
  width: 100%;
  overflow: auto;
}
.tile-newsletter #mc_embed_signup .mc-field-group label,
.tile-newsletter #mc_embed_signup .mc-field-group input {
  height: 2rem;
  line-height: 2rem;
  font: 1.25rem 'favorit', Arial, sans-serif;
}
.tile-newsletter #mc_embed_signup .mc-field-group input {
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  text-shadow: none;
  margin-top: 1.66rem;
}
.tile-newsletter #mc_embed_signup .mc-field-group label,
.tile-newsletter #mc_embed_signup .mc-field-group input[type="email"] {
  float: left;
  padding: 0;
}
.tile-newsletter #mc_embed_signup .mc-field-group label {
  margin: .75rem 0 0 10%;
  width: 20%;
}
@media screen and (max-width: 1024px) {
  .tile-newsletter #mc_embed_signup .mc-field-group label {
    margin-top: 0.25rem;
  }
}
.tile-newsletter #mc_embed_signup .mc-field-group input[type="email"] {
  width: 100%;
  height: 3.25rem;
  margin: 0 auto;
  border: 1px solid #999;
  box-shadow: none;
  border-radius: 2px;
  vertical-align: center;
  text-align: center;
}
.tile-newsletter #mc_embed_signup .mc-field-group div.mce_inline_error,
.tile-newsletter #mc_embed_signup .mc-field-group #mce-error-response {
  display: none !important;
}
.tile-newsletter #mc_embed_signup #mc-embedded-subscribe {
  display: block;
  margin: 1.5rem auto 0 auto;
  text-align: center;
  background: #000;
  color: #FFF;
  cursor: pointer;
  box-shadow: none;
  font: normal 1rem/3rem 'favorit', Arial, sans-serif;
  height: 3rem;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0 2rem;
}
.tile-newsletter #mc_embed_signup #mc-embedded-subscribe:hover {
  outline: 1px solid black;
  background: #FFF;
  color: #000;
}
.tile-newsletter #mc_embed_signup div#mce-responses {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.tile-newsletter #mc_embed_signup div#mce-responses #mce-success-response,
.tile-newsletter #mc_embed_signup div#mce-responses #mce-error-response {
  font: 0.75rem 'Times New Roman', serif;
  font-size: 0.5rem;
  color: #000;
  margin: 0 auto;
  padding: 0 0 500px 0;
  width: 100%;
  text-align: center;
}

.home article.tile-ads .entry-content {
  margin-top: 0;
}
.home article.tile-ads a {
  background: #FFF;
}
.home article.tile-ads img {
  margin: 0 auto;
  display: block;
}

.sleek-homepage-wide-ads {
  display: block;
  width: 100%;
  clear: left;
  margin: 2rem auto 4rem auto;
  text-align: center;
}
.sleek-homepage-wide-ads a {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 960px) {
  .sleek-homepage-wide-ads a {
    width: 85%;
  }
}
@media screen and (max-width: 568px) {
  .sleek-homepage-wide-ads {
    margin: 2rem auto 0 auto;
    float: left;
  }
}

.single .site-content,
.page .site-content,
.author .site-content {
  margin-top: 175px;
}
.single article .entry-header,
.page article .entry-header,
.author article .entry-header {
  text-align: left;
}
.single article .entry-header a,
.page article .entry-header a,
.author article .entry-header a {
  text-decoration: none;
}
.single article .post-categories,
.page article .post-categories,
.author article .post-categories {
  width: 100%;
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}
.single article .post-categories li,
.page article .post-categories li,
.author article .post-categories li {
  display: inline-block;
  width: auto;
  border-bottom: 2px solid black;
  font: normal 1rem/1.25 "favoritmedium", sans-serif;
}
.single article .post-categories li + li,
.page article .post-categories li + li,
.author article .post-categories li + li {
  margin-left: 0.5rem;
}
.single article .post-categories li a,
.page article .post-categories li a,
.author article .post-categories li a {
  text-transform: uppercase;
}
.single article .post-categories li a:hover,
.page article .post-categories li a:hover,
.author article .post-categories li a:hover {
  text-decoration: none;
}
.single article .credits,
.page article .credits,
.author article .credits {
  overflow: auto;
  padding-bottom: 1.666rem;
}
.single article .credits hr,
.page article .credits hr,
.author article .credits hr {
  margin: 4rem 0 1.666rem 0;
}
.single article .credits p,
.page article .credits p,
.author article .credits p {
  text-align: center;
  font: normal 1rem/1.666rem "favoritmedium", sans-serif;
  margin: 0;
}
.single article img,
.page article img,
.author article img {
  display: block;
  margin: 0 auto 0.5rem auto;
}
.single article p,
.page article p,
.author article p {
  display: block;
  margin: 0 0 2rem 0;
  max-width: 750px;
  text-align: justify;
}
.single article h1,
.single article h2,
.single article h3,
.page article h1,
.page article h2,
.page article h3,
.author article h1,
.author article h2,
.author article h3 {
  font-family: "Baskerville W01 Regular_705699", serif;
  display: block;
  margin: 0;
}
.single article h1,
.page article h1,
.author article h1 {
  font-size: 3rem;
  line-height: 3rem;
  width: 75%;
}
.single article h2,
.page article h2,
.author article h2 {
  font-size: 1.75rem;
  line-height: 2rem;
  margin: 1.5rem 0;
  width: 66.66667%;
}
.single article h3,
.page article h3,
.author article h3 {
  width: 100%;
  font-size: 2.25rem;
  line-height: calc(50/36);
  margin-bottom: 2rem;
}
.single article p + h3,
.page article p + h3,
.author article p + h3 {
  margin-top: 3rem;
}
.single article ul,
.single article ol,
.page article ul,
.page article ol,
.author article ul,
.author article ol {
  width: 75%;
  margin: 0 0 2rem 0;
  padding-left: 2rem;
}
.single article li,
.page article li,
.author article li {
  font-size: 1.125rem;
  line-height: calc(30/18);
  margin: 0 0 0.5rem 0;
}
.single article blockquote,
.page article blockquote,
.author article blockquote {
  width: 75%;
}
.single article blockquote p,
.page article blockquote p,
.author article blockquote p {
  width: 100%;
}
.single article .written-by,
.page article .written-by,
.author article .written-by {
  border: 1px solid #CCC;
  border-left: 0;
  border-right: 0;
  overflow: auto;
  padding: 1.666rem 0;
}
.single article .written-by .headshot,
.page article .written-by .headshot,
.author article .written-by .headshot {
  width: 50px;
  border-radius: 25px;
  border: 1px solid transparent;
  overflow: auto;
  display: inline-block;
}
.single article .written-by .headshot img,
.page article .written-by .headshot img,
.author article .written-by .headshot img {
  width: 50px;
  margin: 0;
}
.single article .written-by div,
.page article .written-by div,
.author article .written-by div {
  width: 75%;
  float: left;
  margin-left: 1rem;
}
.single article .written-by a,
.single article .written-by p,
.page article .written-by a,
.page article .written-by p,
.author article .written-by a,
.author article .written-by p {
  display: inline-block;
  float: left;
  clear: left;
  width: auto;
}
.single article .written-by h2,
.page article .written-by h2,
.author article .written-by h2 {
  font-size: 2rem;
  width: 100%;
  margin: 0;
}
.single article .written-by a,
.page article .written-by a,
.author article .written-by a {
  text-decoration: none;
}
.single article .written-by a.hashtag,
.page article .written-by a.hashtag,
.author article .written-by a.hashtag {
  font-family: "favoritmedium", sans-serif;
}
.single article .written-by p,
.page article .written-by p,
.author article .written-by p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: italic;
  margin: 0.25rem 0;
}
.single .entry-footer,
.page .entry-footer,
.author .entry-footer {
  margin-bottom: 1rem;
}

#sleek-next-post {
  position: fixed;
  z-index: 99;
  top: 20px;
  left: 50%;
  max-width: 500px;
  max-height: 55px;
  margin-left: -630px;
  font: normal 0.75rem/1.25 "favoritmedium", sans-serif;
  opacity: 0;
  transition: 0.5s all ease-out;
  overflow: hidden;
}
#sleek-next-post.reveal {
  opacity: 1;
}
#sleek-next-post img {
  width: 100px;
  float: left;
}
#sleek-next-post div {
  float: left;
}
#sleek-next-post span,
#sleek-next-post h5 {
  margin: 0 0 0 0.5rem;
}
#sleek-next-post span {
  text-transform: uppercase;
}
#sleek-next-post h5 {
  font-size: 1rem;
}
#sleek-next-post:hover {
  cursor: pointer;
}
#sleek-next-post:hover h5 {
  text-decoration: underline;
}
#sleek-next-post.sticky {
  top: 7.5px;
}

.single .gallery h1 {
  margin-bottom: 1rem;
}
.single .related {
  overflow: auto;
  margin-bottom: 8rem;
}
.single .related h3 {
  margin: 1.5rem 0 1.25rem 0;
}
.single .related img {
  margin-bottom: 0;
}

.type-page img,
.article-page img {
  vertical-align: middle;
  transition: none;
}
.type-page img:hover,
.article-page img:hover {
  transform: none;
}

.author .auth-header {
  width: 95.2381%;
  margin: 0 auto;
}
.author .auth-header .cat {
  margin: 0 auto inherit auto;
}
.author h1 {
  font: normal 1.875rem "Baskerville W01 Regular_705699", serif;
  margin: 1rem auto;
}
.author .cat {
  font-family: "favoritmedium", sans-serif;
  font-size: 0.8rem;
  margin: 0.25rem auto 1rem auto;
}
.author h1,
.author .cat {
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
}
.author p.bio {
  margin: 1rem auto;
}

.tags-links {
  font-family: "favoritmedium", sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.tags-links a {
  text-decoration: none;
  margin-right: 1.5rem;
}
.tags-links a:hover {
  text-decoration: underline;
}

#content .share-end {
  display: none;
}

@media screen and (max-width: 1260px) {
  .single article .entry-content,
  .single article .entry-header,
  .single article .entry-footer,
  .page article .entry-content,
  .page article .entry-header,
  .page article .entry-footer,
  .author article .entry-content,
  .author article .entry-header,
  .author article .entry-footer {
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .single article .post-categories,
  .page article .post-categories,
  .author article .post-categories {
    margin: 0 auto 1rem auto;
  }
  .single article blockquote p,
  .page article blockquote p,
  .author article blockquote p {
    margin: 0 0 1rem 0;
  }
  .single article ul,
  .single article ol,
  .page article ul,
  .page article ol,
  .author article ul,
  .author article ol {
    padding-left: 3.5rem;
  }
  .single article .related .entry-header,
  .single article .related .entry-content,
  .page article .related .entry-header,
  .page article .related .entry-content,
  .author article .related .entry-header,
  .author article .related .entry-content {
    width: 100%;
  }
  .single article .related img,
  .page article .related img,
  .author article .related img {
    margin-bottom: 0;
  }

  .author article .entry-header,
  .author article .entry-content {
    width: 100%;
  }

  .single .gallery p {
    width: 85%;
    margin: 0 auto;
  }

  .gallery .entry-content {
    margin-left: 0;
  }

  #sleek-next-post {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .single article h1,
  .page article h1,
  .author article h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .single .site-content,
  .page .site-content,
  .author .site-content {
    margin-top: 60px;
  }
  .single article .post-categories,
  .page article .post-categories,
  .author article .post-categories {
    margin-top: 2rem;
    margin-bottom: 0.375rem;
  }
  .single article .post-categories li,
  .page article .post-categories li,
  .author article .post-categories li {
    float: none;
  }
  .single article .post-categories li:first-child,
  .page article .post-categories li:first-child,
  .author article .post-categories li:first-child {
    margin-left: 0;
  }
  .single article h1,
  .page article h1,
  .author article h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .single article h2,
  .page article h2,
  .author article h2 {
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0.75rem 0 1.875rem 0;
  }
  .single article h3,
  .page article h3,
  .author article h3 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin-bottom: 1.75rem;
  }
  .single article img,
  .single article p,
  .single article ul,
  .page article img,
  .page article p,
  .page article ul,
  .author article img,
  .author article p,
  .author article ul {
    margin: 0 auto 1rem auto;
  }
  .single article p,
  .page article p,
  .author article p {
    text-align: left;
  }
  .single article h2,
  .single article ul,
  .single article ol,
  .single article .figure,
  .single article figure,
  .page article h2,
  .page article ul,
  .page article ol,
  .page article .figure,
  .page article figure,
  .author article h2,
  .author article ul,
  .author article ol,
  .author article .figure,
  .author article figure {
    width: 100%;
  }
  .single article ul,
  .single article ol,
  .page article ul,
  .page article ol,
  .author article ul,
  .author article ol {
    padding: 0;
  }
  .single article li,
  .page article li,
  .author article li {
    width: 75%;
    margin-left: 1.5rem;
    float: left;
  }

  .author h1,
  .author article h2,
  .author p.bio {
    width: 85%;
  }
  .author article.tile h2 {
    margin-left: auto;
    margin-right: auto;
  }

  .single .entry-content,
  .page .entry-content {
    margin: 1rem 0 0;
  }

  .single .related {
    margin-bottom: 2rem;
  }

  .sleek-fb {
    width: 85%;
    margin: 0 auto 1rem auto;
  }
}
@media screen and (max-width: 568px) {
  .single article blockquote,
  .page article blockquote,
  .author article blockquote {
    width: 90%;
  }
  .single article .written-by h2,
  .page article .written-by h2,
  .author article .written-by h2 {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .single .gallery .royalSlider {
    margin-bottom: 2rem;
  }
}
/*
.page {
	article {

		.entry-header {
			text-align: center;
			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}

		@include media($break_480){
			p {
				width: 90%;  // NOT CONFIRMED
				margin: 0 auto;
			}
		}
		h1 {
			font-family: $font__head;
			font-size: 2rem;
			line-height: 2.5rem;
			text-transform: uppercase;
		}
		
		h2 {
			font-family: $font__head;
			text-transform: uppercase;
			display: block;
			width: 100%;
		}
		ul {
			width: 80%;
			margin: 0 auto;
			padding: 0;
		}
		li {
			font-weight: bold;
			width: 80%;
			margin: 0;
		}
	}
}
*/
.tile {
  margin-bottom: 2rem;
}
.tile header {
  display: inline-block;
  width: 100%;
  height: 190px;
}
.tile .entry-cat {
  font-family: "favoritmedium", sans-serif;
  font-size: 0.8rem;
  margin: 0.5rem 0 0 0;
  text-transform: uppercase;
}
.tile h2 {
  font: normal 1.25rem/1.25 "favoritmedium", sans-serif;
  margin: 1.25rem 0 0.625rem 0;
}
.tile h2,
.tile .entry-cat {
  display: block;
  width: 100%;
  text-align: left;
}
.tile p {
  overflow: hidden;
  margin: 0;
  font-size: 1.1rem;
}

.related .tile {
  margin-bottom: 1rem;
}
.related .tile h2 {
  font: normal 1.25rem/1.25 "favoritmedium", sans-serif;
  margin: 1.25rem 0 0.625rem 0;
  width: 100%;
}

.tile .entry-content,
.category .entry-content {
  line-height: 0;
  margin: 0;
}
.tile .entry-content a:first-of-type,
.category .entry-content a:first-of-type {
  display: inline-block;
  overflow: hidden;
  max-height: 212px;
}
.tile a,
.category a {
  text-decoration: none;
}
.tile a:hover,
.category a:hover {
  cursor: pointer;
}
.tile img,
.category img {
  vertical-align: middle;
  transition: all .2s ease-in-out;
  width: 100%;
  backface-visibility: hidden;
}
.tile img:hover,
.category img:hover {
  transform: scale(1.1);
}

/*
.category {
	.tile {
		.entry-content {
			a:first-of-type {
				//max-height: 163px;//make it so big images do not show
				//height: 120px;
				//max-height: 120px;//make it so big images do not show
				max-height: 212px;
			}
		}
		header {
			margin: 0.25rem 0 0 0;
		}
		.entry-cat {
			margin: 0.25rem auto 1rem auto;
		}
		h2 {
			margin: 0 0 1rem 0;
			width: 100%;
			font: normal normal 1.5rem/1.5rem $font__alt;
			text-decoration: none;
			//text-transform: uppercase;
			//text-align: center;
			a {
				text-decoration: none;
			}
		}
	}
}
*/
.search,
.tag,
.category {
  margin-top: 1rem;
}
.search h1,
.tag h1,
.category h1 {
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-size: 2rem;
  font-family: "favoritmedium", sans-serif;
  font-weight: normal;
  display: none;
  margin: 3.75% auto 2rem auto;
}

.author .tile header {
  height: auto;
}
.author .tile h2 {
  font: normal 1.25rem/1.25 "favoritmedium", sans-serif;
  margin: 1.25rem 0 0.625rem 0;
}
.author .tile img {
  margin-bottom: 0;
}

.contributors article {
  /*
  		.entry-header {
  			img {  // Contributors image
  				margin: 0 auto;
  				&:hover {
  					transform: none;	
  				}
  			}
  		}
  */
  padding-bottom: 5%;
}
.contributors article .entry-content a:first-of-type,
.contributors article .entry-header a:first-of-type {
  max-height: 400px;
  display: block;
  text-align: center;
}
.contributors article .entry-content img,
.contributors article .entry-header img {
  margin: 1rem auto;
  width: 50%;
}
.contributors article .entry-content img:hover,
.contributors article .entry-header img:hover {
  transform: none;
}
.contributors article p {
  margin: 1rem auto;
  text-align: left;
}
.contributors article h2 {
  margin: 0 auto;
}

@media screen and (max-width: 1260px) {
  .tile h2,
  .tile p,
  .tile .entry-cat {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .category .tile h2 {
    width: 85%;
    margin: 1rem auto;
  }

  .contributors article h2,
  .contributors article p {
    width: 85%;
  }
}
@media screen and (max-width: 960px) {
  .tile header {
    height: auto;
  }
  .tile p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .tile .entry-content a:first-of-type {
    max-height: 120px;
  }

  .tile h2 p,
  .search h1,
  .tag h1,
  .category h1 {
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 568px) {
  .site-main .tile:first-of-type {
    margin-top: 0;
  }
  .site-main .after-ad > .tile:first-of-type {
    margin-top: 2rem;
  }

  .tile {
    margin: 2rem 0 0 0;
  }
  .tile header {
    height: auto;
  }
  .tile .entry-cat {
    margin-top: 0.5rem;
  }
  .tile img:hover {
    transform: none;
  }
  .tile .entry-content {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .tile .entry-content a:first-of-type {
    height: auto;
    max-height: none;
  }

  .related .tile {
    margin: 2rem 0 0 0;
  }
  .related .tile h2 {
    line-height: 1.25;
    width: 100%;
  }
  .related .tile p {
    width: 100%;
    margin: 0;
  }

  .category .tile .entry-content a:first-of-type {
    max-height: none;
  }

  .search h1,
  .tag h1,
  .category h1 {
    margin-top: 2rem;
  }
}
/* -----------------------------------------------------------------------------

  HAMBURGER ICONS COMPONENT
  
----------------------------------------------------------------------------- */
.burger-toggle {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 52px;
  height: 52px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  background: transparent;
}
@media screen and (max-width: 480px) {
  .burger-toggle {
    display: block;
  }
}
.burger-toggle span {
  display: block;
  position: absolute;
  top: 25px;
  left: 14px;
  right: 14px;
  height: 2px;
  border-radius: 0;
  background: #000;
}
.burger-toggle span::before, .burger-toggle span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  content: "";
  transition-duration: 0.2s, 0.2s;
  transition-delay: 0.2s, 0s;
}
.burger-toggle span::before {
  top: -6px;
  transition-property: top, transform;
}
.burger-toggle span::after {
  bottom: -6px;
  transition-property: bottom, transform;
}
.burger-toggle.is-active {
  background: #000;
  border-radius: 0;
}
.burger-toggle.is-active span {
  background: transparent;
}
.burger-toggle.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-toggle.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.burger-toggle.is-active span::before, .burger-toggle.is-active span::after {
  transition-delay: 0s, 0.2s;
  background-color: White;
}
.burger-toggle.is-active:focus span {
  background: transparent;
}
.burger-toggle:focus {
  outline: none;
  box-shadow: none;
  border-radius: 0;
}
.burger-toggle:focus span {
  background: #FFF;
}
.burger-toggle:focus span::before, .burger-toggle:focus span::after {
  background: #FFF;
}

@media screen and (max-width: 768px) {
  .burger-toggle span::before {
    top: -9px;
  }
  .burger-toggle span::after {
    bottom: -9px;
  }
}
@media screen and (max-width: 568px) {
  .burger-toggle span {
    left: 14px;
    right: 14px;
  }
}
#wpadminbar {
  display: none !important;
}

.site-header,
.site-footer {
  text-align: center;
  transition: all 0.3s;
  overflow: hidden;
}
.site-header ul,
.site-footer ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}
.site-header li,
.site-footer li {
  flex: 1;
  font-family: "favoritmedium", sans-serif;
  text-align: center;
}
.site-header li.current-menu-item a,
.site-footer li.current-menu-item a {
  border-bottom-color: black;
}
.site-header li a,
.site-footer li a {
  width: 100%;
  text-decoration: none;
}

.site-header {
  width: 100%;
  display: block;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  top: 0;
  z-index: 50;
  background: #FFF;
}
.site-header.full-height-absolute {
  overflow-y: hidden;
  height: auto;
}
.site-header li a {
  display: block;
  padding: 0;
  line-height: 50px;
  font-size: 1rem;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}
.site-header li a:hover {
  border-bottom-color: black;
}
.site-header a img {
  margin: 1.5rem 0;
  width: 15.87302%;
  transition: all 0.25s;
}
.site-header p {
  font-family: "favoritmedium", sans-serif;
  font-size: 0.65rem;
  letter-spacing: 1px;
  margin: 0.4rem 0 1.25rem 0;
}
.site-header.sticky {
  overflow: hidden;
  border-bottom: 1px solid #EEE;
}
.site-header.sticky p {
  display: none;
}
.site-header.sticky .site-branding a img {
  width: 8%;
}
.site-header.sticky ul {
  margin-bottom: 0;
}
.site-header.sticky .social-links {
  display: none;
}
.site-header.sticky .nav-wrap {
  display: none;
}

.site-branding {
  max-width: 1260px;
  margin: 0 auto;
  text-align: center;
  line-height: 0;
}
.site-branding a {
  max-width: 400px;
}

.nav-wrap {
  width: 100%;
  border: 1px solid #EFEFEF;
  border-left: 0;
  border-right: 0;
  overflow: auto;
}

#sleek-logo {
  display: none;
}

.search-burger {
  width: 105px;
  float: right;
}
.search-burger a {
  width: 50%;
  float: left;
  box-shadow: none;
  border-radius: 0;
}

.search-toggle {
  cursor: pointer;
  height: 52px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.search-toggle.is-active .cls-3 {
  stroke: #FFF;
}
.search-toggle.is-active {
  background: #000;
  border-radius: 0;
}

#search_svg {
  width: 35%;
}

.social-links {
  position: absolute;
  top: 21px;
  left: 50%;
  margin-left: 498px;
  width: 132px;
  transform: none;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}
.social-links ul {
  max-width: 132px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.social-links li {
  padding: 2%;
  border: 0;
}
.social-links li:hover {
  border: 0;
  text-decoration: none;
}
.social-links li a {
  border: none;
}
.social-links a {
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.social-links a:hover {
  text-decoration: none;
}
.social-links a.facebook {
  width: 40%;
}
.social-links a.tumblr {
  width: 100%;
}
.social-links a.twitter {
  width: 80%;
}
.social-links a.instagram {
  width: 80%;
}
.social-links a img {
  vertical-align: middle;
  margin: 0;
  border: 0;
  width: 100%;
}

#drop-menu,
#search-overlay {
  visibility: hidden;
  border-radius: 0;
  opacity: 0;
  height: 0;
  z-index: 99;
  width: 100%;
  transition: all 0.25s;
  background: #FFF;
}
#drop-menu.toggled,
#search-overlay.toggled {
  border-bottom: 1px solid #EEE;
  visibility: visible;
  opacity: 1;
  height: auto;
}

#drop-menu div {
  visibility: inherit;
  margin: 0 auto;
  max-width: 1260px;
}
#drop-menu .submenus {
  display: none;
}
#drop-menu h3 {
  margin: 0;
}
#drop-menu .menu-dropdown_primary-container {
  display: none;
}
#drop-menu.toggled {
  overflow: auto;
}
#drop-menu.toggled .submenus {
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
  display: block;
}
#drop-menu.toggled .submenus > div {
  width: 25%;
  float: left;
  overflow: auto;
}
#drop-menu.toggled .submenus h3 {
  margin: 1rem 0 .5rem 0;
  font-family: "favoritmedium", sans-serif;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: normal;
  width: 100%;
  float: left;
  display: block;
}
#drop-menu.toggled .submenus ul {
  display: block;
  margin: 0 0 .5rem 0;
  width: 100%;
}
#drop-menu.toggled .submenus ul li {
  width: 100%;
  display: block;
  line-height: auto;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
  font-family: "Times New Roman", serif;
  text-align: left;
  text-transform: none;
}
#drop-menu.toggled .submenus ul li:hover {
  border: 0;
}
#drop-menu.toggled .submenus ul li a {
  display: inline;
  border: 0;
  line-height: inherit;
}
#drop-menu.toggled .submenus ul li a:hover {
  border: 0;
  text-decoration: underline;
}

#social-footer {
  opacity: 0;
  visibility: hidden;
  display: none;
}

#dropdown-menu {
  visibility: inherit;
  display: inline-block;
  width: 100%;
  height: auto;
}
#dropdown-menu ul {
  display: block;
  width: 100%;
}
#dropdown-menu li {
  display: block;
  width: 50%;
  padding: 0;
  margin: 0;
  float: left;
  clear: left;
}
#dropdown-menu li a {
  text-align: left;
}

.site-footer {
  max-width: 1260px;
  margin: 1rem auto 0 auto;
  border-top: 1px solid #EEE;
}
.site-footer ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  list-style: none;
  width: 35%;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem auto 3.125rem auto;
  padding: 0;
}
.site-footer ul li {
  flex: none;
}
.site-footer ul li a {
  display: block;
  padding: 0.5em 0;
  font-size: 0.75rem;
}

#scrolltop {
  margin-top: 1em;
  width: 1.5%;
  height: 20px;
  float: right;
  background: url("images/scrollup.svg") no-repeat 0 0;
}

@media screen and (max-width: 1260px) {
  .search-burger {
    border-right: 0;
  }

  #drop-menu.toggled .submenus {
    max-width: 85%;
  }

  .social-links {
    margin-left: 0;
    left: inherit;
    top: 30px;
    right: 0;
  }

  #scrolltop {
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .site-footer ul {
    width: 72%;
  }
}
@media screen and (max-width: 960px) {
  .site-header li a {
    font-size: 0.75rem;
  }

  .social-links {
    top: 13.5px;
  }

  #scrolltop {
    width: 5%;
  }
}
@media screen and (max-width: 768px) {
  .site-header a img {
    width: 50%;
  }

  .site-branding {
    display: none;
  }

  .nav-wrap {
    border-top: 0;
  }

  .menu-new_main_nav-container {
    display: none;
  }

  .toggled {
    border-bottom: 1px solid #EEE;
    overflow: auto;
  }

  #drop-menu.toggled .menu-dropdown_primary-container {
    display: block;
  }
  #drop-menu.toggled.toggled .submenus {
    height: 1650px;
    padding-bottom: 50px;
  }
  #drop-menu.toggled.toggled .submenus h3,
  #drop-menu.toggled.toggled .submenus li a {
    text-indent: 1rem;
  }
  #drop-menu.toggled.toggled .submenus li a {
    display: block;
    font-size: 1.2rem;
    line-height: 2.4rem;
  }
  #drop-menu.toggled.toggled .submenus > div {
    height: auto;
    width: 50%;
  }

  .search-burger {
    width: 100%;
  }
  .search-burger .search-toggle,
  .search-burger .burger-toggle {
    width: 52px;
  }
  .search-burger .search-toggle {
    float: left;
  }
  .search-burger .burger-toggle {
    float: right;
  }

  .social-links {
    display: none;
  }

  #sleek-logo {
    display: block;
    position: absolute;
    left: 50%;
    margin: .8rem 0 0 -9.5%;
    width: 19%;
  }
  #sleek-logo img {
    margin: 0;
    width: 100%;
  }

  #dropdown-primary {
    display: block;
    z-index: 90;
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    background-color: #FFF;
    margin: 0;
  }
  #dropdown-primary li {
    float: none;
    display: block;
    width: 100%;
  }
  #dropdown-primary li:hover {
    border: none;
  }
  #dropdown-primary li a {
    font-size: 1rem;
    border: 0;
    border-bottom: 1px solid #CCC;
  }

  .full-height-absolute #drop-menu {
    display: block;
    overflow-y: scroll;
    min-height: 568px;
    max-height: 1600px;
    width: 100%;
  }

  #social-footer {
    opacity: 0;
    visibility: hidden;
  }
  #social-footer.toggled {
    border: 0;
    border-top: 2px solid #CCC;
    display: block;
    visibility: visible;
    opacity: 1;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    overflow: hidden;
    background: #FFF;
  }
  #social-footer.toggled ul {
    margin: 0;
    width: 100%;
  }
  #social-footer.toggled li {
    border-left: 2px solid #EFEFEF;
    width: 25%;
  }
  #social-footer.toggled li:hover {
    text-decoration: none;
    border-bottom: none;
    padding: 0;
  }
  #social-footer.toggled li:first-child {
    border-left: 0;
  }
  #social-footer.toggled img {
    transition: none;
    width: 20px;
    vertical-align: middle;
  }
  #social-footer.toggled .facebook img {
    width: 15px;
  }
  #social-footer.toggled .tumblr img {
    width: 45px;
  }
  #social-footer.toggled .twitter img {
    width: 35px;
  }
  #social-footer.toggled .instagram img {
    width: 30px;
  }
  #social-footer.toggled a {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 80px;
    border: 0;
  }
  #social-footer.toggled a:hover {
    border: 0;
  }

  .site-footer ul {
    display: block;
    width: 85%;
  }
  .site-footer ul li {
    float: left;
  }

  #scrolltop {
    display: none;
  }
}
@media screen and (max-width: 568px) {
  #sleek-logo {
    margin-top: 1rem;
  }

  .site-footer ul {
    overflow: auto;
    width: 85%;
  }
  .site-footer ul li {
    width: 100%;
    display: block;
    text-align: left;
    font-size: 0.75rem;
  }
  .site-footer ul li a {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 480px) {
  .site-header a img {
    width: 50%;
  }

  .social-links {
    display: none;
  }

  #sleek-logo {
    margin: 1.1rem 0 0 .75rem;
    width: 25%;
    margin-left: -12.5%;
  }

  .site-footer ul li a {
    padding: 0.5em;
  }
}
#search-overlay {
  /*
  	display: none;
  	position: fixed;
  	z-index: 99;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	background: #FFF;
  	opacity: 0;
  */
  visibility: inherit;
  text-align: center;
}
#search-overlay form {
  height: 100%;
}
#search-overlay.show {
  display: block;
}
#search-overlay input[type="search"] {
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  width: 100%;
  border: none;
  padding: 0;
  outline: none;
  height: 4.5rem;
  line-height: 4.5rem;
  color: #999;
  font-family: "favoritmedium", sans-serif;
  font-size: 1.5rem;
  color: black;
  text-transform: uppercase;
}
#search-overlay input[type="submit"] {
  display: none;
}
@media screen and (max-width: 768px) {
  #search-overlay input[type="search"] {
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
  }
}

#share-box-fixed {
  position: fixed;
  top: 200px;
  left: 50%;
  width: 40px;
  padding: 0;
  margin-left: -695px;
  z-index: 20;
}
@media screen and (max-width: 1320px) {
  #share-box-fixed {
    display: none;
  }
}
#share-box-fixed .share-box {
  display: block;
  height: 40px;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  opacity: 1;
}
#share-box-fixed .share-box:last-child {
  border: 0;
}
#share-box-fixed .share-box a {
  display: block;
  width: 100%;
  height: 100%;
}
#share-box-fixed .share-box a i {
  font-size: 1.25rem;
  line-height: 40px;
}
#share-box-fixed .share-box a .fa-facebook-f {
  font-size: 1.5rem;
}
#share-box-fixed .share-box a .fa-envelope {
  font-size: 1rem;
}

.page #mc_embed_signup .mc-field-group {
  padding-bottom: 0;
  margin-bottom: 1rem;
  width: 100%;
}
.page #mc_embed_signup .mc-field-group label {
  width: 100%;
  text-transform: uppercase;
  margin: 0;
}
.page #mc_embed_signup .mc-field-group p {
  width: 100%;
  margin: 0;
}
.page #mc_embed_signup .mc-field-group input {
  width: 100%;
  float: none;
}
.page #mc_embed_signup h2 {
  font-size: 2rem;
}
.page #mc_embed_signup .asterisk {
  font-size: inherit;
}
.page #mc_embed_signup .indicates-required {
  font-size: 1rem;
  margin: 1rem 0 0 0;
  float: right;
}

@media screen and (max-width: 1260px) {
  .page #mc_embed_signup .mc-field-group {
    margin: 0 auto 1rem auto;
  }
  .page #mc_embed_signup h2 {
    width: 100%;
    font-size: 1.5rem;
    margin: inherit auto;
  }
  .page #mc_embed_signup p {
    width: 100%;
  }
}
#ajax-load-more,
.alm-btn-wrap {
  display: block;
  width: 100%;
  clear: left;
}

.alm-btn-wrap {
  text-align: center;
}

#load-more {
  font-family: "favoritmedium", sans-serif;
  font-size: 1.25em;
  margin: 7.5rem auto;
  width: 185px;
  height: 60px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background: none;
  text-shadow: none;
  transition: .1s;
  text-align: center;
}
#load-more.done {
  color: #EEE;
}
